<template>
	<view class="containner">
		<commonTop :show='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<span class="center" style="margin-left: 30px;">消息</span>
		</commonTop>
		<view class="top-wrapper">
			<view class="item" @click="go(1)">
				<image class="src" src="../../static/icon_focus@2x.png"></image>
				新增关注
				<view class="dot" v-if="countDetail.follow>0">{{getCount(countDetail.follow)}}</view>
			</view>
			<view class="item" @click="go(2)">
				<image class="src" src="../../static/icon_like56@2x.png"></image>
				赞和收藏
				<view class="dot" v-if="countDetail.likeAndCollect>0">{{getCount(countDetail.likeAndCollect)}}</view>
			</view>
			<view class="item" @click="go(3)">
				<image class="src" src="../../static/icon_Comment@2x.png"></image>
				评论
				<view class="dot" v-if="countDetail.commentAndAt>0">{{getCount(countDetail.commentAndAt)}}</view>
			</view>
			<view class="item" @click="go(4)">
				<image class="src" src="../../static/icon_notify@2x.png"></image>
				系统通知
				<view class="dot" v-if="countDetail.system>0">{{getCount(countDetail.system)}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	import { unreadCount } from "@/config/vmeitime-http/login.js";
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				countDetail: {
					commentAndAt: 0,
					follow: 0,
					likeAndCollect: 0,
					system: 0
				}
			}
		},
		
		onShow() {
			this.unreadCountFn()
		},
		
		methods:{
			
			getCount(num) {
				return num > 99 ? '99+' : num
			},
			
			// 跳转
			go(type) {
				uni.navigateTo({
					url: `/pagesA/public/message?type=${type}`
				})
			},
			
			// 获取消息未读数
			unreadCountFn() {
				unreadCount().then((e)=> {
					console.log(e)
					this.countDetail = e
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	page, .containner {
		background-color: #fff;
		height: 100vh;
		padding: 20rpx 0rpx;
		box-sizing: border-box;
	}
	.center {
		margin-left: 20rpx;
	}
	.top-wrapper {
		display: flex;
		align-items: center;
		.item {
			display: flex;
			justify-content: center;
			flex-direction: column;
			color: #333;
			font-size: 24rpx;
			width: 25%;
			align-items: center;
			position: relative;
			.dot {
				display: block;
				border-radius: 50%;
				background-color: #f40;
				color: #fff;
				min-width: 20px;
				min-height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				right: 15px;
				top: -5px;
				position: absolute;
				padding: 0px 6rpx;
				box-sizing: border-box;
				font-size: 22rpx;
			}
			image {
				width: 112rpx;
				height: 112rpx;
				margin-bottom: 10rpx;
			}
			
		}
	}
</style>