<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				全部订单
			</template>
		</commonTop>
		<uvSticky>
			<view class="subTabs">
				<view class="sub-item" v-for="(item,index) in subTabLsit" :class="subActiveIndex==index?'aciveColor':''"
					@click.stop="clickSub(item,index)" v-bind:key="index">{{item.name}}</view>
			</view>
		</uvSticky>


		<!-- 团购 -->
		<OrderList v-if='subActiveIndex==0' ref="orderList" @reload='reload'></OrderList>
		<!-- 宠物打车 -->
		<PettaxiList v-else-if="subActiveIndex==1" type='user'></PettaxiList>
		<!-- 上门喂养 -->
		<HomefeedOrder v-else-if="subActiveIndex==2"></HomefeedOrder>
		<!-- 云喂养 -->
		<!-- <CloudFeedOrder  v-else-if="subActiveIndex==3"></CloudFeedOrder> -->
		</mescroll-body>

		
	</view>
</template>

<script>
	import commonTop from "@/components/CommonTop";
	import uvSticky from "@/uni_modules/uv-sticky/components/uv-sticky/uv-sticky.vue";
	import uvTabs from "@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue";
	import OrderList from "../components/orderlist.vue";
	import PettaxiList from "../components/pettaxiList.vue";
	import HomefeedOrder from "../components/homefeedOrder.vue";
	import CloudFeedOrder from "../components/cloudFeedOrder.vue";
	export default {
		components: {
			commonTop,
			uvSticky,
			uvTabs,
			OrderList,
			PettaxiList,
			HomefeedOrder,
			CloudFeedOrder,
		},
		data() {
			return {
				totalPage: 0,

				subTabLsit: [{
						name: "团购",
					},
					{
						name: "宠物打车",
					},
					{
						name: "上门喂养",
					},
					// {
					//   name: "云喂养",
					// }
				],
				// 状态
				status: "",
				subActiveIndex: 0,
				orderList: []
			};
		},

		onLoad(options) {
			let that = this
			console.log('wuyu++++===============')
			setTimeout(() => {
				that.$refs.orderList.statusCurrentTab = options.index
				that.$refs.orderList.changeTab(options.name)
			}, 500)


		},
		
		methods: {
			// 刷新页面
			reload() {
				this.mescroll.resetUpScroll();
			},

			// 一级切换状态
			clickSub(item, index) {
				this.subActiveIndex = index;
			},
		},
	};
</script>

<style scoped lang="scss">
	.subTabs {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 24rpx 0px;
		background-color: #f6f6f6;

		.aciveColor {
			color: #fd611e !important;
		}

		.sub-item {
			width: 22%;
			text-align: center;
			padding: 8rpx 16rpx;
			box-sizing: border-box;
			color: #999999;
			font-size: 28rpx;
			background-color: #f3f3f3;
			border-radius: 12rpx;
		}
	}
</style>