<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				设置
			</template>
		</commonTop>
		<uv-form labelPosition="left" :model="model" ref="form">
			
			<view class="pets-card">
				<uv-form-item label="允许他人查看我的主页" labelWidth='240'>
					<template v-slot:right><uv-switch size="24" v-model="model.sixin"
							activeColor="#FD611E"></uv-switch></template>
				</uv-form-item>
				<uv-form-item label="允许他人查看我赞过的内容" labelWidth='240'>
					<template v-slot:right><uv-switch size="24" v-model="model.sixin"
							activeColor="#FD611E"></uv-switch></template>
				</uv-form-item>
				<uv-form-item label="允许他人查看我收藏过的内容" labelWidth='240'>
					<template v-slot:right><uv-switch size="24" v-model="model.sixin"
							activeColor="#FD611E"></uv-switch></template>
				</uv-form-item>
				<uv-form-item label="允许他人查看我的寻宠的内容" labelWidth='240'>
					<template v-slot:right><uv-switch size="24" v-model="model.sixin"
							activeColor="#FD611E"></uv-switch></template>
				</uv-form-item>
				<uv-form-item label="允许他人查看我的寻主的内容" labelWidth='240'>
					<template v-slot:right><uv-switch size="24" v-model="model.sixin"
							activeColor="#FD611E"></uv-switch></template>
				</uv-form-item>
				<uv-form-item label="允许他人查看我的云喂养的内容" labelWidth='240'>
					<template v-slot:right><uv-switch size="24" v-model="model.sixin"
							activeColor="#FD611E"></uv-switch></template>
				</uv-form-item>
			</view>

		</uv-form>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				
				model: {
					name: 'uv-ui',
					sex: '',
					sixin: true
				},

			}
		},
		methods: {
			
		}
	}
</script>

<style scoped lang="scss">
	::v-deep .uv-form {
		background-color: #F9F9F9;
	}

	.arrow-right {
		margin-left: 16rpx;
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}


	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 0rpx 28rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;

		.avator {
			width: 72rpx;
			height: 72rpx;
			border-radius: 50%;
		}

		.flex {
			display: flex;
			align-items: center;
			color: #666666;
			font-size: 32rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}
	}
</style>