<template>
	<view class="containner">
		<view class="home-wraper">
			<image class="home-top-bg" mode="aspectFill" src="../static/img/background4@2x.png"></image>
			<commonTop :show='true' :isBack='false' :isFixed='false' :onlyCenter='true' :opacity='0'>
				<template slot="left">
					<view class="top-nav">
						<image class="left-array" mode="widthFix" src="../static/img/icon_return_white@2x.png"
							@click.stop="goBack"></image>
						<!-- <image class="set-img" mode="widthFix" src="../static/img/icon_settings_white@2x.png" @click.stop="goPage('/pagesA/mine/personalhomeSet')"></image> -->
					</view>
				</template>
				<view class="title-center">个人中心</view>
			</commonTop>
		</view>
		<view class="homeinfo-wrapper">
			<view class="top-wrapper">
				<image class="home-avator" v-if="avatar" :src="avatar"></image>
				<image v-if="avatar=='null'|| !avatar" src="@/static/avatar.png" mode="" class="home-avator">
					<view class="data-wrapper">
						<view class="data-item">
							<view class="count">{{userPetNodeCount2.receiveLikes || 0}}</view>
							<view class="name">获赞</view>
						</view>
						<view class="data-item">
							<view class="count">{{userPetNodeCount2.receiveCollects || 0}}</view>
							<view class="name">收藏</view>
						</view>
						<view class="data-item">
							<view class="count">{{userPetNodeCount2.receiveFollows || 0}}</view>
							<view class="name">关注</view>
						</view>

						<view class="data-item">
							<view class="count">{{userPetNodeCount2.receiveFans || 0}}</view>
							<view class="name">粉丝</view>
						</view>
					</view>
					<view class="nick-wraaper ajbetween">
						<view class="ttile f32C6">{{ nickName }}</view>
						<view class="right" v-if="userId!=loginUserId">
							<view class="btn" style="color: #FD611E;" @click.stop="followFn">{{hasFollow? '已关注': '关注'}}
							</view>
							<!-- <view class="btn">私聊</view> -->
						</view>
					</view>

					<!-- <view class="brief-info f28C3">
						简介简介简介简介
						简介简介简介简介简介简介介简介
						简介简介
					</view> -->
					<view class="sex-adr" v-if="city">
						<!-- <view class="item">
							<image class="src" src="../static/img/icon_female20@2x.png"></image> 男
						</view> -->
						<view class="item">
							{{city}}
						</view>
					</view>

					<uvTabs :list="tablist" style="margin-top: 20rpx;" v-model="changeTabIndex" lineWidth="28"
						lineColor="#FFC93F" @change='changeTab' :activeStyle="{
						color: '#333333',
						fontWeight: 'bold',
						transform: 'scale(1)'
			    	}" :inactiveStyle="{
						color: '#999999',
						transform: 'scale(1)'
					}" itemStyle=" padding-right: 15px; height: 88rpx;fontSize:32rpx"></uvTabs>
			</view>

			<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
				<view class="lineHeight"></view>
				<!-- 宠物笔记 -->
				<NotesCard :petsList="datasList" v-if="changeTabIndex==0" :tabindex='0'></NotesCard>
				<!-- 寻宠寻主 -->
				<LookForList :lookForListData='datasList' v-else-if="changeTabIndex==1 || changeTabIndex==2"
					:tabindex='changeTabIndex==1?0:1'></LookForList>
				<!-- 团购 -->
				<PetsCard :petsList='datasList' v-else-if="changeTabIndex==3"></PetsCard>
			</mescroll-body>
		</view>
	</view>
</template>
<script>
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import commonTop from '@/components/transparentHead'
	import NotesCard from "@/components/notesCard.vue";
	import PetsCard from '@/components/pets.vue'
	import {
		notePage,
		follow,
		followCancel
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		groupBuyGoodsPage
	} from "@/config/vmeitime-http/groupBuy.js";
	import LookForList from '../components/lookForList.vue'
	import {
		findPetsPage
	} from "@/config/vmeitime-http/findPets.js";
	import {
		findMasterPage
	} from "@/config/vmeitime-http/findMaster.js";
	import {
		getUserInfoById,
		userPetNodeCount2
	} from "@/config/vmeitime-http/login.js";
	import storage from "@/utils/storage.js";

	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			commonTop,
			NotesCard,
			PetsCard,
			LookForList

		},
		data() {
			return {
				// 头像
				avatar: null,
				city: '',
				datasList: [],
				tablist: [{
						name: '萌宠笔记'
					}, {
						name: '寻宠',
					}, {
						name: '寻主',
					}, {
						name: '团购'
					},
					// {
					// 	name: '赞过',
					// },{
					// 	name: '收藏'
					// },{
					// 	name: '云喂养',
					// }
				],
				changeTabIndex: 0,
				// 主页的用户id
				userId: '',
				// 登录人的id
				loginUserId: storage.get("loginInfo").userId,
				nickName: '',
				hasFollow: false,
				userPetNodeCount2: {
					receiveLikes: 0,
					receiveCollects: 0,
					receiveFollows: 0,
					receiveFans: 0
				}
			}
		},
		onLoad(options) {
			if (options.avatar) {
				this.avatar = options.avatar
				this.userId = options.userId
				this.nickName = options.nickName
			}
		},

		mounted() {
			// 监听笔记刷新
			uni.$on('reloadHome', (e) => {
				this.changeTabIndex = e
				this.mescroll.resetUpScroll()
			})

			// 监听寻主寻宠刷新
			uni.$on('reloadLookfor', (e) => {
				this.changeTabIndex = e
				this.mescroll.resetUpScroll()
			})
			this.getmerchantInfo()
			this.getUserPetNodeCount2()
		},

		methods: {

			// 获取点赞，关注、收藏数 粉丝
			getUserPetNodeCount2() {
				userPetNodeCount2({
					id: this.userId
				}).then((res) => {
					console.log(res)
					this.userPetNodeCount2 = res
					console.log('++++++++++++++++')
				})
			},


			// 获取普通用户信息
			getmerchantInfo() {
				if (this.userId) {
					getUserInfoById({
						id: this.userId
					}).then((res) => {
						this.hasFollow = res.hasFollow || false
						this.city = res.city
					})
				}
			},

			// 关注用户
			followFn() {
				if (this.hasFollow) {
					followCancel({
						id: this.userId
					}).then((res) => {
						this.hasFollow = false
					});
				} else {
					follow({
						id: this.userId
					}).then((res) => {
						this.hasFollow = true
					});
				}
			},
			// 返回
			goBack() {
				uni.navigateBack()
			},

			// 跳转
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			// tab切换处理
			changeTab(data) {
				this.changeTabIndex = data.index;
				uni.pageScrollTo({
					duration: 200,
				});
				this.mescroll.resetUpScroll();
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					userId: this.userId,
					isAsc: "desc",
					status: 1
				};
				if (page.num == 1) this.datasList = []; //如果是第一页需手动置空列表
				let Fn = this.changeTabIndex == 0 ? notePage : this.changeTabIndex == 1 ? findPetsPage : this
					.changeTabIndex == 2 ? findMasterPage : this.changeTabIndex == 3 ? groupBuyGoodsPage : ''
				Fn(param).then((res) => {
					if (res) {
						console.log(res);
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数

						this.datasList = this.datasList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);

						// if(this.datasList.length == 0 && pageNum==0) {
						//  this.adressData = {}
						//  this.mescroll.resetUpScroll();
						// }
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.lineHeight {
		width: 100%;
		height: 10rpx;
	}

	.nick-wraaper {
		.ttile {
			width: 200rpx;
			text-align: center;
		}

		.right {
			display: flex;
			align-items: center;
			font-size: 28rpx;

			.btn {
				width: 112rpx;
				height: 64rpx;
				background: #FFFFFF;
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				border: 2rpx solid #EEEEEE;
				line-height: 64rpx;
				text-align: center;
				margin-right: 16rpx;
			}
		}

		.edite-zl {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #F3F3F3;
			padding: 8rpx 16rpx;
			box-sizing: border-box;
			font-weight: 500;

			.edite-img {
				width: 40rpx;
				height: 40rpx;
			}
		}
	}

	.brief-info {
		margin: 28rpx 0px 44rpx;
	}

	.sex-adr {
		display: flex;
		align-items: center;
		padding-left: 30rpx;
		box-sizing: border-box;
		margin-top: 20rpx;

		.item {
			padding: 8rpx 20rpx;
			box-sizing: border-box;
			background: #F3F3F3;
			border-radius: 8rpx;
			margin-right: 28rpx;
			display: flex;
			align-items: center;

			image {
				width: 34rpx;
				height: 34rpx;
				margin-right: 8rpx;
			}
		}

	}

	.homeinfo-wrapper {
		width: 100%;
		height: 560rpx;
		background: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
		position: absolute;
		margin-top: 0rpx;
		padding: 0px 0rpx;
		box-sizing: border-box;

		.top-wrapper {
			padding: 0px 20rpx;
			box-sizing: border-box;
		}

		.home-avator {
			position: absolute;
			width: 160rpx;
			height: 160rpx;
			border-radius: 50%;
			margin-left: 20rpx;
			margin-top: -40rpx;
		}

		.data-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 28rpx 20rpx 32rpx 200rpx;
			box-sizing: border-box;
			flex-wrap: wrap;

			.data-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.count {
					color: #333333;
					font-size: 36rpx;
					font-weight: 500;
				}

				.name {
					color: #333333;
					font-size: 24rpx;
					margin-top: 8rpx;
				}

			}
		}

	}

	.home-wraper {
		width: 100%;
		height: calc(var(--status-bar-height) + 200rpx);
		;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: relative;

		.title-center {
			color: #fff;
		}

		.home-top-bg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		.top-nav {
			width: 100%;
			height: 60rpx;
			display: flex;
			padding: 0px 30% 0px 28rpx;
			box-sizing: border-box;
			z-index: 99;

			.left-array {
				width: 90rpx;
				height: 90rpx;
			}

			.set-img {
				width: 80rpx;
				height: 80rpx;
			}
		}

	}
</style>