<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				设置
			</template>
		</commonTop>
		<uv-form labelPosition="left" :model="model" ref="form">
			<view class="pets-card">
				<uv-form-item label="头像" labelWidth='140' prop="userInfo.sex" borderBottom>
					<template v-slot:right>
						<view class="flex" @click="choseLogo">
							<image class="avator" :src="model.avatar? model.avatar : '../../static/avatar.png'">
							</image>
							<uv-icon name="arrow-right" class="arrow-right"></uv-icon>
						</view>
					</template>
				</uv-form-item>
				<uv-form-item label="昵称" labelWidth='140' prop="userInfo.sex" borderBottom @click="openModal">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="model.nickName" disabled
						disabledColor="#ffffff" placeholder="请输入" border="none" inputAlign='right'>
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="手机号" labelWidth='140' prop="userInfo.sex" borderBottom>
					<template v-slot:right>
						<view class="flex">
							{{model.userPhone}}
						</view>
					</template>
				</uv-form-item>

				<uv-form-item label="所在城市" labelWidth='140' prop="userInfo.sex" @click="openAdress">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="model.city" disabled
						disabledColor="#ffffff" placeholder="请输入" border="none" inputAlign='right'>
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<!-- <uv-form-item label="实名认证" labelWidth='140'>
					<template v-slot:right>
						<view class="flex">
							已认证
							<uv-icon name="arrow-right" class="arrow-right"></uv-icon>
						</view>
					</template>
				</uv-form-item> -->
			</view>

			<!-- <view class="pets-card">
				<uv-form-item label="允许陌生人私信我" labelWidth='200'>
					<template v-slot:right><uv-switch size="24" v-model="model.sixin"
							activeColor="#FD611E"></uv-switch></template>
				</uv-form-item>
				<uv-form-item label="黑名单" labelWidth='140'>
					<template v-slot:right>
						<uv-icon name="arrow-right" class="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</view> -->

			<view class="pets-card">
				<!-- <uv-form-item label="清除缓存" labelWidth='140'>
					<template v-slot:right>
						<view class="flex">
							123 MB
							<uv-icon name="trash" class="arrow-right" size="26"></uv-icon>
						</view>
					</template>
				</uv-form-item> -->
				<uv-form-item label="法律条款与隐私政策" labelWidth='200' @click="goPage('/pagesA/treaty/privacy')">
					<template v-slot:right>
						<uv-icon name="arrow-right" class="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="关于滳滴宠宠" labelWidth='140' @click="goPage('/pagesA/treaty/insuranceServices')">
					<template v-slot:right>
						<uv-icon name="arrow-right" class="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</view>

		</uv-form>

		<view class="log-out f32C3" @click="logoutFn">
			退出登录
		</view>
		<!-- <view class="main-sales">注销账号</view> -->

		<!-- 弹框 -->
		<uv-modal ref="modal" title="修改昵称" :showCancelButton='true' @confirm="confirm" confirmColor='#FD611E'>
			<view class="slot-content">
				<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="nickName" disabledColor="#ffffff"
					placeholder="请输入" border="surround" customStyle='width:450rpx'>
				</uv-input>
			</view>
		</uv-modal>

		<uv-popup ref="popup" mode="bottom" :round='40'>
			<view class="pop-wrapper">
				<view class="pop-title">
					省市
					<view class="close" @click.stop="$refs.popup.close()">
						<image src="../../pagesA/static/img/icon_closure@2x.png" mode="widthFix"></image>
					</view>
				</view>
				<areaSelect @change="changeArea" :level='3' :data='all'></areaSelect>
			</view>
		</uv-popup>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import AreaSelect from 'uni_modules/leo-area-select/components/leo-area-select/index.vue';
	import {
		chooseAndUploadImage,
		showToast
	} from '../../utils/util.js'
	import storage from '../../utils/storage.js';
	import {
		getUserInfo,
		editUserInfo,
		logout
	} from "@/config/vmeitime-http/login.js";
	const all = require('../../uni_modules/leo-area-select/citys.json');

	export default {
		components: {
			commonTop,
			AreaSelect
		},
		data() {
			return {
				all: all,
				array:[],
				chooseAndUploadImage: chooseAndUploadImage,
				nickName: '',
				model: {
					avatar: '',
					nickName: '',
					userPhone: '',
					province: '',
					city: ''
				},

			}
		},
		created() {
			this.getUserInfoFn()
		},
		methods: {

			// 省市区地址回调
			changeArea(result) {
				console.log('area change', result);
				this.model.province = result[0].name
				this.model.city = result[1].name
				this.$refs.popup.close()
				this.editeUser()
			},
			// 打开地址
			openAdress() {
				this.$refs.popup.open()
			},

			logoutFn() {
				logout().then((res) => {
					storage.clear()
					uni.reLaunch({
						url: '/pagesA/login/login'
					})
				})
			},

			// 跳转
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},

			openModal() {
				this.$refs.modal.open();
			},

			confirm() {
				if (!this.nickName) {
					showToast('请输入昵称')
					return false
				}
				this.$refs.modal.close();
				this.editeUser()
			},

			// 修改昵称
			async editeUser() {
				editUserInfo({
					avatar: this.model.avatar,
					nickName: this.nickName,
					province: this.model.province,
					city: this.model.city
				}).then((res) => {
					showToast('修改成功')
					this.getUserInfoFn()
				})
			},

			// 获取商户信息
			getUserInfoFn() {
				getUserInfo().then((res) => {
					this.model.nickName = res.nickName
					this.model.userPhone = res.userPhone
					this.model.avatar = res.avatar
					this.model.province = res.province
					this.model.city = res.city
					this.nickName = this.model.nickName
					console.log(res)
				})
			},
			// 选择logo
			async choseLogo() {
				let img = await this.chooseAndUploadImage()
				if (img) {
					this.model.avatar = img
					this.editeUser()
				}
			},
		}
	}
</script>

<style scoped lang="scss">
	.pop-wrapper {
		background-color: #fff;
		height: 800rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding-top: 120rpx;
		box-sizing: border-box;
		padding-bottom: 20rpx;

		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 90rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			z-index: 99;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	
	::v-deep .leo-area-select .list:last-child {
		display: none !important;
	}
	
	::v-deep .twoColor {
		background-color: transparent !important;
		color: #333333 !important;
	}


	::v-deep .uv-form {
		background-color: #F9F9F9;
	}

	.arrow-right {
		margin-left: 16rpx;
	}

	.log-out {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 110rpx;
		background: #FFFFFF;
		border-radius: 20rpx 20rpx 20rpx 20rpx;

	}

	.main-sales {
		text-align: center;
		color: #999999;
		font-size: 28rpx;
		margin-top: 76rpx;
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}


	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 0rpx 28rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;

		.avator {
			width: 72rpx;
			height: 72rpx;
			border-radius: 50%;
		}

		.flex {
			display: flex;
			align-items: center;
			color: #666666;
			font-size: 30rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}
	}
</style>