<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},

		mounted() {

		},
		onShareAppMessage() {
			return {}
		},
		created() {

		},
		methods: {

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #F9F9F9;
	}


	.noData {
		display: flex;
		justify-content: center;
		margin-top: 200rpx;
		width: 100%;

		image {
			width: 400rpx;
		}
	}

	/*每个页面公共css */

	.uv-popup .uv-popup__content {
		overflow: initial !important;
	}


	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	/*每个页面公共css */
	.uni-tabbar__item:nth-child(4) .uni-tabbar__icon {
		width: 40px !important;
		height: 40px !important;
	}

	.containner {
		background-color: #F9F9F9;
		width: 100%;
		position: absolute;
	}

	.mescroll-body {
		background-color: #F9F9F9;
	}

	.line1Es {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.line2Es {
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		display: -webkit-box;
	}

	.public-topsearch {
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;

		.search {
			padding-left: 70rpx;
			box-sizing: border-box;
			width: 100%;
			height: 68rpx;
			background: #FFFFFF;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			border: 2rpx solid #EEEEEE;

		}

		.search-img {
			position: absolute;
			width: 34rpx;
			height: 34rpx;
			left: 28rpx;
			top: 0px;
			bottom: 0px;
			margin: auto;
		}
	}

	::v-deep .uv-form-item__body {
		padding: 34rpx 0px !important;
	}

	.f32C3 {
		font-size: 32rpx;
		color: #333;
	}

	.f28C6 {
		font-size: 28rpx;
		color: #666;
	}

	.f32C0 {
		font-size: 32rpx;
		color: #000;
	}

	.f28C3 {
		font-size: 28rpx;
		color: #333;
	}

	.f28C9 {
		font-size: 28rpx;
		color: #999;
	}

	.f32C3 {
		font-size: 32rpx;
		color: #333;
	}

	.f32C6 {
		font-size: 32rpx;
		color: #666;
	}

	.f24C6 {
		font-size: 24rpx;
		color: #666;
	}

	.f24C9 {
		font-size: 24rpx;
		color: #999;
	}

	.f32C9 {
		font-size: 32rpx;
		color: #999;
	}

	.borderBtm {
		border-bottom: 1rpx solid #EEEEEE;
	}

	.ajbetween {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.columnCenter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.pop-title {
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		width: 100%;
		height: 116rpx;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		color: #333333;
		font-size: 32rpx;
		position: relative;
		background-color: #F9F9F9;
		position: fixed;
		top: 0px;
		left: 0px;

		image {
			width: 48rpx;
			height: 48rpx;
		}

		.close {
			position: absolute;
			right: 28rpx;
			top: 0rpx;
			bottom: 0px;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.beforeDot {
		padding-left: 18rpx;
		box-sizing: border-box;

		&:before {
			content: '*';
			position: absolute;
			color: #FF4646;
			left: 0px;
		}
	}

	.nodata-img {
		position: fixed;
	}

	::v-deep .pop-wrapper {
		.mescroll-body {
			min-height: inherit !important;
		}
	}
</style>