<template>
	<view class="containner">
		<commonTop :show='true' pageName='cutePetNotes' :isFixed='true' bgColor='#FCF4A9' @notesChangeTab='notesChangeTab'></commonTop>
	<!-- 	<uvTabs :list="tablist" lineWidth="0" lineColor="#f56c6c" @change='changeTab' :activeStyle="{
        			color: '#FD611E',
        			fontWeight: 'bold',
        			transform: 'scale(1)'
            	}" :inactiveStyle="{
        			color: '#999999',
        			transform: 'scale(1)'
        		}" itemStyle="padding-left: 18px; padding-right: 15px; height: 88rpx;fontSize:32rpx"></uvTabs> -->

		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback" top='20'>
			<NotesCard  :petsList='petsList'></NotesCard>
			<!-- <view class="noData" v-if="petsList.length==0">
				<image src="../../pagesA/static/img/nodata@2.png"  mode="widthFix" class="src" />
			</view> -->
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/pages/components/homeTop.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import NotesCard from '@/components/notesCard.vue'
	import {
	 purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	import {
	 notePage
	} from "@/config/vmeitime-http/cutePetNotes.js";
import storage from '../../utils/storage';
	
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			NotesCard
		},
		data() {
			return {
				tablist: [{
					name: '全部'
				}, {
					name: '跳蚤市场',
				}, {
					name: '分类',
				}, {
					name: '分类',
				}],
				petsList: [],
				city: '',
				name: '萌宠笔记',
				param: {
					isAsc: "desc"
				}
			}
		},
		
		mounted() {
			uni.$on('reloadcutePetNotesList',()=> {
				this.mescroll.resetUpScroll();
			})
		},
		methods: {
			// 切换
			notesChangeTab(name) {
				let param = {}
				if(name == '同城') {
					let adr = storage.get('currentLocation')
					console.log(adr)
					param = {
						isAsc: "desc",
						city: adr?.addressComponent?.city	
					};
					
				}
				
				if(name == '萌宠笔记') {
					param = {
						isAsc: "desc"
					}
				}
				
				if(name == '收藏') {
					param = {
						isAsc: "desc",
						hasCollect: true
					}
				}
				this.param = param
				
				this.mescroll.resetUpScroll();
			},
			// 上拉加载的回调
			upCallback(page) {
				let that = this
				console.log('哈哈哈')
				if (page.num == 1) that.petsList = []; //如果是第一页需手动置空列表
				
				let data = {
					...that.param,
					pageNum: page.num,
					pageSize: page.size
				}
				
				notePage(data).then((res) => {
					if (res) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						let list = curPageData.map((item)=> {
							item.userInfo.nickName = item.userInfo.nickName.length > 12 ? item.userInfo.nickName.slice(0,12) +'...' : item.userInfo.nickName
						    return {
								...item,
								picture: item.picture.split(',')[0],
								title: item.title.length > 20 ? item.title.slice(0,20) +'...' : item.title,
								
							}
							
							    
						})
				
						that.petsList = that.petsList.concat(list); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						that.mescroll.endByPage(curPageLen, totalPage);
					} else {
						that.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
  ::v-deep .pets-card {
	  padding-top: 10rpx;
	  box-sizing: border-box;
  }
  .mescrollBox {
	  margin-top: 10rpx;
  }
</style>