<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				认证
			</template>
		</commonTop>

		<view class="entry-process">
			<view class="pro-item" v-for="(item,index) in steps" :class="stepsIndex==index?'active':''"
				v-bind:key="index">
				<view class="step">{{index + 1}}</view>
				<span>{{item}}</span>
			</view>
		</view>

		<uv-form labelPosition="left" :model="model" ref="form">
			<!-- 第一步 -->
			<view class="step1" v-show="stepsIndex==0">
				<view class="pets-card">
					<view class="title beforeDot">请上传身份证</view>
					<view class="pics-card">
						<uv-form-item prop="idCardPicture">
							<view class="card-row">
								<uploadImg v-model="model.idCardPicture" :maxCount='1' width='150' height="100"
									:imgUrlType='1' @updateImg="(e)=>model.idCardPicture=e"></uploadImg>
								<view class="card-title">身份证正面</view>
							</view>
						</uv-form-item>
						<uv-form-item prop="idCardPicture2">
							<view class="card-row">
								<uploadImg v-model="model.idCardPicture2" :maxCount='1' width='150' height="100"
									:imgUrlType='1' @updateImg="(e)=>model.idCardPicture2=e"></uploadImg>
								<view class="card-title">身份证反面</view>
							</view>
						</uv-form-item>
					</view>
				</view>

				<view class="pets-card">
					<view class="title beforeDot">请上传手持身份证照片</view>
					<view class="pics-card">
						<uv-form-item prop="handIdCardPicture">
							<uploadImg v-model="model.handIdCardPicture" @updateImg="(e)=>model.handIdCardPicture=e"
								:maxCount='1' width='104' height="104"></uploadImg>
						</uv-form-item>
					</view>
				</view>

				<view class="pets-card">
					<uv-form-item label="真实姓名" labelWidth='200' required>
						<uv-input v-model="model.driverName" placeholder="请输入" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>
					<uv-form-item label="身份证号" labelWidth='100' required>
						<uv-input v-model="model.idCard" placeholder="请输入身份证号"  maxlength="18" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>
					<uv-form-item label="所属城市" labelWidth='100' required @click="onOpenCity">
						<uv-input v-model="model.city" disabled placeholder="请选择" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item>

					<uv-form-item label="紧急联系人" labelWidth='100' required>
						<uv-input v-model="model.emergencyContact" placeholder="请输入" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>

					<uv-form-item label="紧急联系人电话" labelWidth='200' required>
						<uv-input v-model="model.emergencyContactTelephone" type='number' maxlength='11' placeholder="请输入"
							fontSize='14px' inputAlign='right' border="none">
						</uv-input>
					</uv-form-item>
					<uniRegionSheet :showSheetView="showSheetView" :defaultIndexs="[0,0,0]"
						@onSelected="onSelectedCity"></uniRegionSheet>
				</view>

				<view class="pets-card">
					<uv-form-item label="认证类型" labelWidth='140'>
						<template v-slot:right>
							<uv-radio-group v-model="authType" @change="changeauthType" :disabled="authType!=null">
								<uv-radio activeColor="#FD611E" shape="square" :customStyle="{margin: '8px'}"
									label="认证司机" :name="0">
								</uv-radio>
								<uv-radio activeColor="#FD611E" shape="square" :customStyle="{margin: '8px'}"
									label="宠物管家" :name="1">
								</uv-radio>
							</uv-radio-group>
						</template>
					</uv-form-item>
				</view>
				<view v-if="authType==0">
					<view class="pets-card">
						<view class="title beforeDot">请上传驾驶证和行驶证照片</view>
						<view class="pics-card">
							<uv-form-item prop="idCardPicture">
								<view class="card-row">
									<uploadImg v-model="model.driverLicense" :maxCount='1' width='155' height="100"
										:imgUrlType='1' imgUrl='@/static/Photo_Front@2x.png'
										@updateImg="(e)=>model.driverLicense=e"></uploadImg>
									<view class="card-title">驾驶证照片</view>
								</view>
							</uv-form-item>
							<uv-form-item prop="vehicleLicense">
								<view class="card-row">
									<uploadImg v-model="model.vehicleLicense" @updateImg="(e)=>model.vehicleLicense=e"
										:maxCount='1' width='155' height="100">
									</uploadImg>
									<view class="card-title">行驶证照片</view>
								</view>
							</uv-form-item>

						</view>
					</view>

					<view class="pets-card">
						<uv-form-item label="车牌号码" labelWidth='100' required>
							<uv-input v-model="model.carNum" placeholder="请输入车牌号码" fontSize='14px' inputAlign='right'
								border="none">
							</uv-input>
						</uv-form-item>
						<uv-form-item label="车辆类型" labelWidth='100' required
							@click="showCarTypeSelect('carTypeSelect')">
							<uv-input v-model="model.carType" readonly placeholder="请选择车辆类型" fontSize='14px' inputAlign='right'
								border="none">
							</uv-input>
						</uv-form-item>

						<uv-action-sheet ref="carTypeSelect" :actions="carTypeList" title="请选择车辆类型"
							@select="(e)=> carTypeSelect(e,'carType')">
						</uv-action-sheet>
						<uv-form-item label="车辆准驾车型" labelWidth='100' required
							@click="showCarTypeSelect('licenseTypeSelect')">
							<uv-input v-model="model.licenseType" readonly placeholder="请选择车辆类型" fontSize='14px'
								inputAlign='right' border="none">
							</uv-input>
						</uv-form-item>

						<uv-action-sheet ref="licenseTypeSelect" :actions="licenseTypeList" title="请选择准驾车型"
							@select="(e)=> carTypeSelect(e,'licenseType')">
						</uv-action-sheet>

						<view class="title beforeDot" style="margin-left: -10px;">请上传车辆照片</view>
						<view class="card-row" style="margin: 40rpx 0px">
							<uploadImg v-model="model.carPicture" @updateImg="(e)=>model.carPicture=e" :maxCount='1'
								width='155' height='100' />
						</view>
					</view>
					<view class="pets-card">
						<uv-form-item label="是否双证司机" labelWidth='140'>
							<template v-slot:right>
								<uv-radio-group v-model="model.hasCertificates" @change="changeHasCertificates">
									<uv-radio activeColor="#FD611E" shape="square" :customStyle="{margin: '8px'}"
										label="否" name="0">
									</uv-radio>
									<uv-radio activeColor="#FD611E" shape="square" :customStyle="{margin: '8px'}"
										label="是" name="1">
									</uv-radio>
								</uv-radio-group>
							</template>
						</uv-form-item>
					</view>

					<view class="pets-card" v-if="model.hasCertificates==1">
						<view class="title beforeDot">请上传网络预约出租车证和道路运输从业资格证</view>
						<view class="pics-card">
							<uv-form-item prop="certificatesPicture">
								<view class="card-row">
									<uploadImg v-model="model.certificatesPicture" :maxCount='1' width='155'
										height="100" :imgUrlType='1' imgUrl='@/static/Photo_Front@2x.png'
										@updateImg="(e)=>model.certificatesPicture=e"></uploadImg>
									<view class="card-title">网络预约出租车证</view>
								</view>
							</uv-form-item>
							<uv-form-item prop="certificatesPicture2">
								<view class="card-row">
									<uploadImg v-model="model.certificatesPicture2"
										@updateImg="(e)=>model.certificatesPicture2=e" :maxCount='1' width='155'
										height="100">
									</uploadImg>
									<view class="card-title">道路运输从业资格证</view>
								</view>
							</uv-form-item>

						</view>
					</view>
				</view>
			</view>


			<view class="step4" v-show="stepsIndex==1">
				<!-- 审核中 -->
				<view class="under-review" v-if="model.driverState==0">
					<view class="pets-card auditing">
						<image class="src" src="../static/icon_Review@2x.png"></image>
						<view class="sh-title">平台正在审核中</view>
						<view class="sh-subtitle">预计3个工作日左右审核</view>
					</view>
					<view class="goBack" @click="goBack()">返回</view>
				</view>

				<!-- 审核未通过 -->
				<view class="under-review" v-else-if="model.driverState==2">
					<view class="pets-card auditing">
						<image class="src" src="../static/icon_Review_failed@2x.png"></image>
						<view class="sh-title">审核未通过</view>
					</view>
					<!-- <view class="pets-card fail">
						<view class="fail-title">未通过原因</view>
						<view class="reson">原因原因原因原因原因原因原因原因原</view>
					</view> -->
					<view class="goBack" @click="reEdite">重新编辑</view>
				</view>

				<view class="under-review" v-else-if="model.driverState==1">
					<view class="pets-card auditing">
						<image class="src" src="../static/icon_Review@2x.png"></image>
						<view class="sh-title">认证通过</view>
					</view>
					<view class="goBack" @click="goBack()">返回</view>
				</view>
			</view>
		</uv-form>
		<view class="btm-pay" v-if="stepsIndex == 0">
			<view class="right" @click="submit">提交</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '../components/uploadDriverImg.vue'

	import uvTags from '@/uni_modules/uv-tags/components/uv-tags/uv-tags.vue'
	import uniRegionSheet from '../components/zxp-uniRegionSheet.vue'
	import storage from '@/utils/storage.js'
	import {
		saveDriver,
		myDriverInfo
	} from "@/config/carride-http/newclient.js";
	import {
		showToast,
		licenseTypeList
	} from '@/utils/util.js'
	import { isValidPhoneNumber, isValidIDCard } from '@/utils/check.js'
	export default {
		components: {
			commonTop,
			uploadImg,
			uvTags,
			uniRegionSheet
		},
		data() {
			return {
				showSheetView: false,
				stepsIndex: 0,
				carTypeList: [{
					name: '宠物专车'
				}, {
					name: '宠物顺风车'
				}],


				licenseTypeList: licenseTypeList,
				steps: ['实名认证', '平台审核'],
				imgfont: 'http://biaodi.oss-cn-beijing.aliyuncs.com/image/bdsy/',
				model: {
					carPicture: '',
					hasButler: 0, // 0是司机  1是管家
					idCardPicture: '',
					idCardPicture2: '',
					handIdCardPicture: '',
					driverLicense: '',
					vehicleLicense: '',
					idCard: '',
					city: '',
					emergencyContact: '',
					emergencyContactTelephone: '',
					carNum: '',
					carType: '',
					hasCertificates: '0',
					certificatesPicture: '',
					certificatesPicture2: ''
				},
				// 0 司机认证  1是宠物管家
				authType: null
			}
		},
		onLoad(options) {
			if (options.authType) {
				this.model.hasButler = options.authType
				this.authType = parseInt(options.authType)
				this.getMyDriverInfo()
			}
		},

		created() {
			this.getMyDriverInfo()
		},
		methods: {

			changeHasCertificates(e) {
				console.log(e)
				this.model.hasCertificates = e
			},
			// 切换认证类型
			changeauthType(e) {
				this.authType = e
				this.$forceUpdate()
			},
			// 重新编辑
			reEdite() {
				this.stepsIndex = 0
			},
			// 提交
			submit() {
				console.log(this.model)
				if (!this.model.idCardPicture) {
					showToast('请上传身份证正面')
					return false
				}else if (!this.model.idCardPicture2) {
					showToast('请上传身份证反面')
					return false
				}  else if (!this.model.handIdCardPicture) {
					showToast('请上传手持身份证照片')
					return false
				} else if (!this.model.idCard) {
					showToast('请输入身份证号')
					return false
				}else if(!isValidIDCard(this.model.idCard)) {
					uni.showToast({
						icon: 'none',
						title: '身份证号格式不正确',
						duration: 1500
					})
					return false
				} else if (!this.model.city) {
					showToast('请选择所属城市')
					return false
				} else if (!this.model.emergencyContact) {
					showToast('请输入紧急联系人')
					return false
				} else if (!this.model.emergencyContactTelephone) {
					showToast('请输入紧急联系人电话')
					return false
				}else if(!isValidPhoneNumber(this.model.emergencyContactTelephone)) {
					uni.showToast({
						icon: 'none',
						title: '手机号格式不正确',
						duration: 1500
					})
					return false
				} else if (!this.model.driverLicense && this.authType === 0) {
					showToast('请上传驾驶证')
					return false
				} else if (!this.model.vehicleLicense && this.authType === 0) {
					showToast('请上传行驶证')
					return false
				} else if (!this.model.carNum && this.authType === 0) {
					showToast('请输入车牌号码')
					return false
				} else if (!this.model.carType && this.authType === 0) {
					showToast('请选择车辆类型')
					return false
				} else if (!this.model.licenseType && this.authType === 0) {
					showToast('请选择车辆准驾车型')
					return false
				} else if (!this.model.carPicture && this.authType === 0) {
					showToast('请上传车辆照片')
					return false
				} else if (this.model.hasCertificates == 1 && this.model.certificatesPicture == '') {
					showToast('请上传网络预约出租车证')
					return false
				} else if (this.model.hasCertificates == 1 && this.model.certificatesPicture2 == '') {
					showToast('请上传道路运输从业资格证')
					return false
				}

				let model = {
					...this.model,
					city: this.model.city,
					idCard: this.model.idCard,
					emergencyContact: this.model.emergencyContact,
					emergencyContactTelephone: this.model.emergencyContactTelephone,
					carNum: this.model.carNum,
					carType: this.model.carType == '宠物专车' ? 1 : 9,
					hasButler: this.authType,
					hasDriver: this.authType == 0 ? 1 : 0,
					userId: storage.get('userInfo').userId,
				}

				console.log(model)
				saveDriver(model).then((res) => {
					showToast('提交成功')
					this.getMyDriverInfo()

				})
			},

			// 获取认证信息
			getMyDriverInfo() {
				myDriverInfo().then((res) => {
					if (res) {
						this.model = res
						this.model.hasButler = parseInt(this.model.hasButler)
						this.model.carType = this.model.carType == 1 ? '宠物专车' : this.model.carType == 9 ? '宠物顺风车' :
							''
						this.model.hasCertificates = this.model.hasCertificates ? this.model.hasCertificates : 0
						this.model.certificatesPicture = this.model.certificatesPicture || ''
						this.model.certificatesPicture2 = this.model.certificatesPicture2 || ''

						// this.authType = parseInt(this.authType) || parseInt(this.model.hasButler)
						if (this.model.hasButler == 1 && this.authType == 1) {
							console.log('哈哈')
							this.stepsIndex = 1
						} else if (this.model.hasDriver == 1 && this.authType == 0) {
							console.log('哈哈1')
							this.stepsIndex = 1
						} else if ((this.model.hasButler == 1 || this.model.hasDriver == 1) && this.authType ==
							null) {
							console.log('哈哈222' + this.authType == '')
							this.stepsIndex = 1
						}
					}
				})
			},

			// 选择车辆类型
			carTypeSelect(e, name) {
				this.$set(this.model, name, e.name)
				this.$forceUpdate()
			},
			showCarTypeSelect(name) {
				this.$refs[name].open();
			},
			// 打开城市选择
			onOpenCity() {
				this.showSheetView = true
			},
			// 返回
			goBack() {
				uni.navigateBack()
			},

			// 选中城市
			onSelectedCity(row) {
				if (row.data?.city) {
					this.model.city = row.data?.city || ''
				}

				this.showSheetView = false
			},
		}
	}
</script>

<style scoped lang="scss">
	.uv-form-item__body,
	.upimg-warper {
		margin: 0px !important;
		padding: 0px !important;
		box-sizing: border-box;
	}

	::v-deep .uv-form {
		background-color: #F9F9F9;

		.uv-action-sheet__item-wrap {
			max-height: 200px;
			overflow-y: scroll;
		}

		.uv-textarea {
			padding: 10px 0px !important;
		}

		.uv-input__content {
			background-color: #fff;
		}

		.uv-upload__deletable {
			z-index: 0 !important;
		}
	}

	.under-review {
		padding-top: 20rpx;
		box-sizing: border-box;

		.fail {
			font-size: 32rpx;
			padding: 36rpx 20rpx;
			box-sizing: border-box;

			.fail-title {
				color: #333;
				margin-bottom: 28rpx;
			}

			.reson {
				color: #666;
			}
		}

		.goBack {
			width: 100%;
			height: 116rpx;
			line-height: 116rpx;
			background: #FFFFFF;
			border-radius: 20rpx;
			color: #333333;
			font-size: 32rpx;
			text-align: center;
		}

		.auditing {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 56rpx 0px !important;
			box-sizing: border-box;

			image {
				width: 120rpx;
				height: 120rpx;
			}

			.sh-title {
				color: #333333;
				font-size: 32rpx;
				margin: 28rpx 0px 8rpx;
			}

			.sh-subtitle {
				color: #999999;
				font-size: 28rpx;
			}

		}
	}

	.pop-wrapper {
		background-color: #F9F9F9;

		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding: 120rpx 28rpx 200rpx;
		box-sizing: border-box;
		position: relative;

		.selected {
			color: #333333;
			font-size: 32rpx;
			margin: 28rpx 0px;
		}

		.tag-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.ipt-wrapper {
			width: 100%;
			height: 100rpx;
			background: #FFFFFF;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			position: relative;

			.ipt-sr {
				width: 100%;
				height: 100%;
				padding-left: 20rpx;

				font-size: 32rpx;
			}

			.btn {
				width: 140rpx;
				color: #FD611E;
				font-size: 32rpx;
				position: absolute;
				right: 0rpx;
				top: 0px;
				bottom: 0px;
				margin: auto;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}


		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: absolute;
			background-color: #F9F9F9;
			top: 0px;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				left: -80%;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.confirm-btn {
				width: 112rpx;
				height: 56rpx;
				background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				color: #fff;
				font-size: 28rpx;
				text-align: center;
				line-height: 56rpx;
				position: absolute;
				right: 35rpx;
			}
		}
	}

	.pics-card {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.card-row {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.card-title {
				text-align: center;
				font-size: 24rpx;
				color: #666;
				margin-top: 16rpx;
			}
		}
	}

	.active {
		.step {
			border: 2rpx solid #1C92FF !important;
			color: #1C92FF !important;
		}

		span {
			color: #333333 !important;
		}
	}

	.entry-process {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 40rpx 0px 28rpx;

		.pro-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 25%;

			&:not(:last-child)::after {
				width: 200rpx;
				position: absolute;
				content: '';
				border-bottom: 1rpx dashed #CCCCCC;
				bottom: 70%;
				left: 96%;


			}

			.step {
				text-align: center;
				line-height: 60rpx;
				width: 60rpx;
				height: 60rpx;
				border-radius: 50%;
				background: #FFFFFF;
				border: 2rpx solid #CCCCCC;
				font-size: 32rpx;
				color: #999999;
				margin-bottom: 12rpx;
			}

			span {
				font-size: 24rpx;
				color: #999999;
			}
		}
	}

	.btm-pay {
		display: flex;
		align-items: center;
		padding: 14rpx 28rpx;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		position: fixed;
		z-index: 99;
		width: 100%;
		bottom: 0px;
		left: 0px;
		font-size: 28rpx;

		.right {
			flex: 1;
			height: 92rpx;
			background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
			border-radius: 20rpx;
			color: #fff;
			text-align: center;
			line-height: 92rpx;
			margin-left: 28rpx;
		}
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 28rpx !important;
	}

	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 0rpx 28rpx 0px;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;

		.title {
			font-size: 32rpx;
			color: #333333;
			margin-top: 28rpx;
			position: relative;
		}

		.flex {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 28rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}

		.title {
			color: #333333;
			font-size: 28rpx;
			font-weight: 500;
		}
	}
</style>