<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			<template slot="left">
				优惠券
			</template>
		</commonTop>

		<view class="coupon-list">
			<view class="item" v-for="(item,index) in couponList" v-bind:key="index">
				<image class="bk-img" src="../static/coupon@2x.png"></image>
				<view class="left">
					<view class="title">宠物打车优惠券</view>
					<view class="time">2024-12-22到期</view>
				</view>
				<view class="right">
					<view class="price"><span>￥</span> 12</view>
					<view class="dis">满¥40可用</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				couponList: [{},{}]
			}
		},
		onLoad() {

		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	.coupon-list {
		display: flex;
		flex-direction: column;
		padding: 28rpx;
		box-sizing: border-box;

		.item {
			border-radius: 20rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 166rpx;
			padding: 0px 20rpx;
			box-sizing: border-box;
			background: #FFF9F9;
			position: relative;
			margin-bottom: 28rpx;

			.bk-img {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0px;
			}

			.left {
				flex: 1;
				display: flex;
				flex-direction: column;
				position: absolute;

				.title {
					color: #000;
					font-size: 32rpx;
				}

				.time {
					color: #999999;
					font-size: 24rpx;
					margin-top: 16rpx;
				}
			}

			.right {
				position: absolute;
				right: 0rpx;
				width: 200rpx;
				display: flex;
				align-items: center;
				flex-direction: column;
				color: #FF4646;

				.price {
					font-size: 48rpx;

					span {
						font-size: 32rpx;
					}
				}

				.dis {
					font-size: 24rpx;
					margin-top: 10rpx;
				}
			}
		}
	}
</style>