<!-- 保价 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			<template slot="left">
				保价
			</template>
		</commonTop>
		<view class="card">
			<uv-form labelPosition="left">
				<uv-form-item label="宠物价值" labelWidth='140' borderBottom>
					<template v-slot:right>
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="price" inputAlign='right'
							disabledColor="#ffffff" placeholder="请输入" border="none">
							<template v-slot:suffix><span class="f32C6"
									style="margin-left: 10rpx;margin-bottom: 5rpx;">元</span></template>
						</uv-input>
					</template>
				</uv-form-item>
				<view class="fee"> 费用:<span class="unit">￥</span><span class="price">{{total}}</span> </view>
			</uv-form>
		</view>
		<view class="card sm-wrapper">
			<view class="title">说明</view>
			<view class="sm-text f28C6">
				<p>1、如您的宠物为名贵品种，请事先声明，否则视为价值不超过1000元。</p>
				<p>2、名贵品种宠物建议保价，若您未保价，则在三倍订单费的限额向您赔偿。</p>
				<p>3、若您已选择保价且支付保价费用的，则公司按照保价金额和损失的比例向您赔偿，最高不超过被接送宠物的实际损失金额。</p>
				<p>4、如果被接送的宠物存在老弱病残、在国家禁养宠物名单等问题，则不在本保价的赔偿范围内。</p>
			</view>
		</view>

		<view class="btn-wrapper" @click="submit">
			<view class="btn">保价</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import {
		getInsurance
	} from "@/config/carride-http/client.js";
	import {
		debounce, showToast
	} from '@/utils/util.js'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				price: '',
				total: 0
			}
		},
		watch: {
			price(newValue, oldValue) {
				this.getInsuranceFn()

			}
		},


		methods: {
			// 提交保价
			submit() {
				if(!this.price) {
					showToast('请输入宠物价值')
					return false
				}
				uni.$emit('setInsuredValue', this.total)
				uni.navigateBack()
			},

			// 防抖
			debounce(fn, delay) {
				let timer = null //借助闭包
				return function() {
					if (timer) {
						clearTimeout(timer)
					}
					timer = setTimeout(fn, delay)
				}
			},

			// 获取保费
			getInsuranceFn: debounce(function() {
				getInsurance({
						commodityMoney: this.price
					})
					.then(data => {
						this.total = data
					})
			}, 1000)

		}
	}
</script>

<style lang="scss" scoped>
	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.btn-wrapper {
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
			background-color: #fff;
			height: 120rpx;
			background: #FFFFFF;
			padding: 14rpx 28rpx;
			box-sizing: border-box;

			.btn {
				width: 100%;
				text-align: center;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 20rpx 20rpx 20rpx 20rpx;
				font-size: 28rpx;
				color: #fff;
			}
		}

		.sm-wrapper {
			padding: 36rpx 20rpx !important;
			box-sizing: border-box;

			.title {
				margin-bottom: 28rpx;
			}

			.sm-text {
				line-height: 50rpx;
			}
		}

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 0px 20rpx;
			box-sizing: border-box;
			margin-bottom: 28rpx;

			.fee {
				display: flex;
				justify-content: flex-end;
				padding: 36rpx 0px;
				box-sizing: border-box;
				font-size: 28rpx;
				align-items: baseline;

				.unit {
					color: #FD611E;
					margin-left: 10rpx;
				}

				.price {
					font-size: 44rpx;
					color: #FD611E;
				}
			}
		}
	}
</style>