<template>
	<view class="containner">
		<commonTop :show="true" :isBack="true" :isFixed="true" bgColor="#F9F9F9">
			<template slot="left"> 我的 </template>
		</commonTop>
		<view class="top">
			<view class="userinfo">
				<image class="avator" :src="userinfo.avatar || '../../static/avatar.png'" mode="widthFix"></image>
				<view class="name-rz">
					<view class="nick f32C3">{{userinfo.nickName}}</view>
					<view class="phone">{{userinfo.userPhone}}</view>
				</view>
				<!-- <view class="user-home">
					编辑
					<image class="src" src="../../static/icon_arrow_right14.png" mode="widthFix"></image>
				</view> -->
			</view>
		</view>
		<view class="data-list" v-if="switchDriver==true">
			<view class="item columnCenter" v-for="(item, index) in dataList" :key="index"
				@click.stop="goUrlByName(item.name)">
				<view class="count f32C3">{{
          item.count < 10000 ? item.count : "9999+"
        }}</view>
				<view class="name f24C9">{{ item.name }}</view>
			</view>
		</view>

		<view class="order-wrapper">
			<view class="data-item" @click="goOrderPage('全部')">
				<image class="count" mode="widthFix" src="../../static/icon_Order@2x.png"></image>
				<view class="name">全部</view>
			</view>
			<view class="data-item" @click="goOrderPage('进行中')">
				<image class="count" mode="widthFix" src="../../static/icon_Waitingfororders@2x.png">
				</image>
				<view class="name">进行中</view>
			</view>

			<view class="data-item" @click="goOrderPage('已完成')">
				<image class="count" mode="widthFix" src="../../static/icon_Beevaluated@2x.png"></image>
				<view class="name">已完成</view>
			</view>

			<view class="data-item" @click="goOrderPage('已取消')">
				<image class="count" mode="widthFix" src="../../static/icon_Refund@2x.png"></image>
				<view class="name">已取消</view>
			</view>
		</view>
       
		<view v-if="switchDriver==true">
			<view class="card">
				<view class="money-wraaper">
					<view class="money-title ajbetween f32C3" @click.stop="goPage('/pagesB/merchant/wallet')">
						<view class="title">钱包
							<image class="eys" v-if="eyes.showWallet" src="../static/open.png" mode="widthFix"
								@click="eyes.showWallet = false"></image>
							<image class="eys" v-else src="../static/close.png" mode="widthFix"
								@click="eyes.showWallet = true"></image>
						</view>
						<image class="right-icon" src="@/static/icon_More24@2x.png" mode="widthFix"></image>
					</view>
					<view class="money" v-if="eyes.showWallet"><span>￥</span>9999</view>
					<view class="money" v-else>******</view>
					<view class="withdrawn f28C9"><span>已提现：</span>{{ eyes.showWallet ? 9999 : "******" }}</view>
				</view>
			</view>

			<view class="card">
				<view class="money-wraaper">
					<view class="money-title ajbetween f32C3" @click.stop="goPage('/pagesB/merchant/margin')">
						<view class="title">保证金
							<image class="eys" v-if="eyes.showMargin" src="../static/open.png" mode="widthFix"
								@click.stop="eyes.showMargin = false"></image>
							<image class="eys" v-else src="../static/close.png" mode="widthFix"
								@click="eyes.showMargin = true"></image>
						</view>
						<image class="right-icon" src="@/static/icon_More24@2x.png" mode="widthFix"></image>
					</view>
					<view class="money" v-if="eyes.showMargin"><span>￥</span>9999</view>
					<view class="money" v-else>******</view>
					<view class="withdrawn f28C9"><span>需缴保证金：</span>{{ eyes.showMargin ? 9999 : "******" }}</view>
				</view>
			</view>
		</view>
		<view class="card">
			<uv-form>
				<uv-form-item label="用户手册" labelWidth="140" borderBottom @click="gopage('/pagesA/treaty/service')">
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="法律条款与隐私政策" labelWidth="180" @click="gopage('/pagesA/treaty/privacy')">
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</uv-form>
		</view>

		<view class="card btn" v-if="driverState == 1" @click="switchDriverFn">切换角色</view>
		<view v-else class="card btn" style="color: #1c92ff" @click="gopage('/pagesC/petTaxi/authentication')">认证司机或宠物管家
		</view>

		<view class="card btn" @click="logoutFn">退出</view>
	</view>
</template>

<script>
	import commonTop from "@/components/CommonTop";
	import { logout } from "@/config/vmeitime-http/login.js";
	import { gopage } from "@/utils/util.js";
	import { myDriverInfo } from "@/config/carride-http/newclient.js";
	import storage from "../../utils/storage";
	import { getUserInfo } from "@/config/vmeitime-http/login.js";

	export default {
		components: {
			commonTop,
		},
		data() {
			return {
				userinfo: {},
				gopage: gopage,
				dataList: [{
						count: 99999,
						name: "出行待服务",
					},
					{
						count: 0,
						name: "出行已完成",
					},
					{
						count: 0,
						name: "上门待服务",
					},
					{
						count: 0,
						name: "上门已完成",
					},
				],
				eyes: {
					showWallet: false,
					showMargin: false,
				},
				// 是否已经认证？
				driverState: '',
				// true 司机个人中心 false用户个人中心
				switchDriver: storage.get("switchDriver")
			};
		},
		
		onLoad(options) {
			if(options.switchDriver) {
				this.switchDriver = options.switchDriver=='true'? true: false
					console.log(this.switchDriver==true)
			}
		},

		created() {
			this.getMyDriverInfo();
			this.getUserInfoFn()
		
		},
	
		methods: {
			
			logoutFn() {
				logout().then((res) => {
					storage.clear()
					uni.reLaunch({
						url: '/pagesA/login/login'
					})
				})
			},
			// 跳转订单页面
			goOrderPage(statusName) {
				let identity = this.switchDriver ? 'driver': 'user'
				uni.navigateTo({
					url: `/pagesA/components/pettaxiList?statusName=${statusName}&identity=${identity}&showHeader=true`
				})
			},

			// 获取普通用户信息
			getUserInfoFn() {
				getUserInfo().then((res) => {
					this.userinfo = res
				})
			},

			// 切换角色
			switchDriverFn() {
				let switchDriver = storage.get("switchDriver") ? storage.get("switchDriver") : false;
				console.log('切换' + switchDriver)
				uni.redirectTo({
					url: switchDriver == false ? "/pagesC/driverEnd/index" : "/pagesC/petTaxi/petTravel?payType=1",
				});
				storage.set('switchDriver', switchDriver== true ? false : true)
			},

			// 获取认证信息
			getMyDriverInfo() {
				myDriverInfo().then((res) => {
					console.log(res);
					this.driverState = res.driverState;
					console.log("信息+++++++++++");
				});
			},

			goPage(url) {
				uni.navigateTo({
					url: url,
				});
			},
		},
	};
</script>

<style scoped lang="scss">
	.containner {
		padding: 0px 28rpx 160rpx;
		box-sizing: border-box;

		.btn {
			text-align: center;
			height: 116rpx;
			line-height: 116rpx;
		}
	}

	.order-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: #ffffff;
		border-radius: 20rpx;
		padding: 32rpx 0px;
		box-sizing: border-box;
		margin: 28rpx 0px;

		.data-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.count {
				width: 68rpx;
				height: 68rpx;
			}

			.name {
				color: #333333;
				font-size: 24rpx;
				margin-top: 8rpx;
			}
		}
	}

	.money-wraaper {
		display: flex;
		flex-direction: column;
		padding: 28rpx 0px;
		box-sizing: border-box;

		.money-title {
			.title {
				display: flex;
				align-items: center;
				font-weight: 500;

				.eys {
					width: 48rpx;
					margin-left: 16rpx;
				}
			}

			.right-icon {
				width: 48rpx;
				height: 48rpx;
			}
		}

		.money {
			color: #1c92ff;
			font-size: 48rpx;
			margin: 16rpx 0px;

			span {
				font-size: 32rpx;
			}
		}
	}

	.card {
		padding: 1rpx 20rpx;
		box-sizing: border-box;
		background-color: #ffffff;
		margin-bottom: 28rpx;
		border-radius: 20rpx;
	}

	.data-list {
		display: flex;
		flex-wrap: wrap;
		padding-top: 28rpx;
		box-sizing: border-box;

		.item {
			width: 25%;
			margin-bottom: 28rpx;

			.count {}

			.name {
				margin-top: 12rpx;
			}
		}
	}

	.top {
		padding: 0px 28rpx;
		box-sizing: border-box;

		.userinfo {
			display: flex;
			align-items: center;
			padding: 40rpx 0rpx;
			box-sizing: border-box;
			position: relative;

			.avator {
				width: 136rpx;
				height: 136rpx;
				border-radius: 28rpx;
				margin-right: 28rpx;
			}

			.name-rz {
				.nick {
					font-weight: 500;
				}

				.phone {
					margin-top: 14rpx;
					color: #666666;
					font-size: 32rpx;
				}
			}

			.user-home {
				width: 120rpx;
				height: 48rpx;
				background: #ffffff;
				border-radius: 24rpx 24rpx 24rpx 24rpx;
				opacity: 0.8;
				color: #666666;
				font-size: 24rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 54rpx;
				right: 0rpx;

				image {
					width: 22rpx;
					height: 22rpx;
				}
			}
		}
	}
</style>