<!-- 宠物打车 -->
<template>
	<view class="container">
		<view class="topBg">
			<view class="top-wrapper">
				<view class="back" @click="goBack">
					<uv-icon name="arrow-left" size="20"></uv-icon>
				</view>
				<view class="title">宠物出行</view>
				<image class="guanliyuan" src="../static/icon_mine@2x.png" mode="widthFix"
					@click="gopage('/pagesC/petTaxi/mine?switchDriver=false')"></image>
			</view>
			<image class="banner" src="../static/banner2@2x.png" mode="widthFix"></image>
		</view>
		<view class="tabs">
			<uvTabs :list="tablist" lineWidth="28" :current="current"
				lineColor="linear-gradient(90deg, rgba(28, 146, 255, 1), rgba(28, 78, 255, 1)) 4 4" @change='changeTab'
				:activeStyle="{
						color: '#333333',
						fontWeight: 'bold',
						transform: 'scale(1)'
			    	}" :inactiveStyle="{
						color: '#999999',
						transform: 'scale(1)'
					}" itemStyle="padding-left: 100rpx; padding-right: 100rpx; height: 88rpx;fontSize:36rpx" customStyle='flex:1'>
			</uvTabs>
		</view>
		<view class="form-wrapper">
			<uv-form>
				<view class="card address">
					<input type="text" class="ipt" v-model="startAdressData.sendAddress" placeholder="宠物接送起始点"
						@click="goChoseAdr(0)">
					<input type="text" class="ipt" v-model="endAdressData.sendAddress" placeholder="宠物接送目的地"
						@click="goChoseAdr(1)">
				</view>
				<view class="card">
					<uv-form-item label="宠物照片" labelWidth='140' labelPosition='top' required borderBottom>
						<uploadImg maxCount='3' @updateImg='(e)=>imgPath=e'></uploadImg>
					</uv-form-item>
					<uv-form-item label="重量" labelWidth='120' required>
						<template v-slot:right>
							<view class="weight-flex">
								<uv-number-box button-size="26" v-model="model.weight"></uv-number-box>
								<span>公斤</span>
							</view>
						</template>
					</uv-form-item>
					<uv-form-item label="期待上门时间" labelWidth='140' prop="date" @click="openDate" borderBottom required>
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="appointmentDate"
							inputAlign='right' readonly disabledColor="#ffffff" placeholder="请选择" border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>

						<uv-datetime-picker ref="datetimePicker" v-model="nowDate" :formatter="formatter"
							mode="datetime" @confirm="dateConfirm">
						</uv-datetime-picker>
					</uv-form-item>

					<uv-form-item label="是否跟车" labelWidth='140' prop="date" borderBottom required>
						<template v-slot:right>
							<uv-radio-group v-model="model.followNo">
								<uv-radio shape="square" name='1' label="是" activeColor="#FD611E" customStyle='margin-right:20rpx'></uv-radio>
								<uv-radio shape="square" name='0' label="否" activeColor="#FD611E"></uv-radio>
							</uv-radio-group>
						</template>
					</uv-form-item>
					<!-- <uv-form-item label="优惠券" labelWidth='140' @click="gopage('/pagesC/petTaxi/coupon')" borderBottom>
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.beizhu"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item> -->
					<uv-form-item label="加小费" labelWidth='140' prop="date" @click="openTip" borderBottom>
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="tipAmount"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
						<uv-picker ref="tipSelect" :columns="xiaoFeiList" @confirm="tipConfirm"></uv-picker>
					</uv-form-item>

					<uv-form-item label="保价" labelWidth='140' prop="date"
						@click="gopage('/pagesC/petTaxi/insuredValue')">
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.insuranceMoney"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="未保价宠物最高赔3倍运费"
							border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item>
				</view>
				<view class="card">
					<uv-form-item label="备注" labelWidth='140' labelPosition='top'>
						<uv-textarea customStyle='padding:20rpx 0px' border="none" v-model="model.goods" placeholder="请输入（4-500字）"></uv-textarea>
					</uv-form-item>
					<view class="tags-wrapper">
						<view class="tag" @click="clickTag(qitem)" v-for="(qitem,qindex) in quickWords"
							v-bind:key="qindex">{{qitem}}</view>
					</view>
				</view>
			</uv-form>
		</view>
		<view class="btm-wrapper">
			<uv-radio-group v-model="isRead" size='14'>
				<view class="radio-flex">
					<uv-radio name="苹果" labelColor='#999999' activeColor='#FD611E' shape='square'
						labelSize='12'></uv-radio>
					<view class="treaty">我已阅读并同意 <span
							@click="gopage('/pagesA/treaty/electronicWaybill')">《电子运单契约条款》</span>和<span
							@click="gopage('/pagesA/treaty/insuranceServices')">《保价服务条款与条件》</span></view>
				</view>
			</uv-radio-group>
			<view class="btm-row">
				<view class="left">
					<view class="price"> <span
							style="font-size: 24rpx;">￥</span>{{model.orderMoney?model.orderMoney:'--'}}</view>
					<!-- <view class="oldprice f32C9">￥124</view> -->
					<view class="detail"
						@click="gopage(`/pagesC/petTaxi/priceBreakdown?totalMileage=${totalMileage}&&orderMoney=${model.orderMoney}`)">
						价格明细</view>
				</view>
				<view class="right" @click="submitOrder">提交订单</view>
			</view>
		</view>
	</view>

</template>

<script>
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import uploadImg from '@/components/feedUploadImgs.vue'
	import storage from '@/utils/storage.js'
	import {
		gopage,
		formatTime,
		showToast
	} from '@/utils/util.js'
	import {
		calcOrderPrice
	} from "@/config/carride-http/client.js";
	import {
		createOrder
	} from "@/config/carride-http/newclient.js";
	import {
		getOpenId
	} from "@/config/vmeitime-http/login.js";
	import QQMapWX from "@/utils/qqmap-wx-jssdk.js"


	export default {
		components: {
			uvTabs,
			uploadImg
		},
		data() {
			return {
				imgPath: [],
				nowDate: new Date(),
				current: 0,
				gopage: gopage,
				isRead: false,
				tablist: [{
					name: '宠物专车',
					value: 1
				}, {
					name: '宠物顺风车',
					value: 9
				}],
				quickWords: ['上门前请提前电话联系', '出发时间可商量', '愿意承担高速费', '不愿意承担高速费', '宠物禁止放后备箱'],
				xiaoFeiList: [
					['不加了', '1元', '2元', '3元', '4元', '5元', '6元', '7元', '8元', '9元', '10元', '11元', '12元', '13元',
						'14元', '15元', '16元', '17元', '18元', '19元', '20元', '21元', '22元', '23元', '24元', '25元', '26元',
						'27元',
						'28元', '29元', '30元', '31元', '32元', '33元', '34元', '35元', '36元', '37元', '38元', '39元', '40元',
						'41元',
						'42元', '43元', '44元', '45元', '46元', '47元', '48元', '49元', '50元', '51元', '52元', '53元', '54元',
						'55元',
						'56元', '57元', '58元', '59元', '60元', '61元', '62元', '63元', '64元', '65元', '66元', '67元', '68元',
						'69元',
						'70元', '71元', '72元', '73元', '74元', '75元', '76元', '77元', '78元', '79元', '80元', '81元', '82元',
						'83元',
						'84元', '85元', '86元', '87元', '88元', '89元', '90元', '91元', '92元', '93元', '94元', '95元', '96元',
						'97元',
						'98元', '99元', '100元'
					]
				],
				// 总里程
				totalMileage: '',
				startAdressData: {},
				endAdressData: {},
				appointmentDate: '',
				// 小费
				tipAmount: '',
				model: {
					followNo: 0,
					orderMoney: '', // 订单总金额
					orderType: '', // 1是专车  2是顺风车
					goodsPicture1: '',
					appointmentDate: '',
					weight: 1,
					insuranceMoney: '',
					goods: '', // 备注
					tradeType: "JSAPI",
					openid: storage.get('openId')
				}
			}
		},

		watch: {
			'startAdressData': {
				handler: function(newVal, oldVal) {
					this.calCulateOrder()
				},
				deep: true
			},
			'endAdressData': {
				handler: function(newVal, oldVal) {
					this.calCulateOrder()
				},
				deep: true
			},
			'model': {
				handler: function(newVal, oldVal) {
					this.calCulateOrder()
				},
				deep: true
			},
			'tipAmount': {
				handler: function(newVal, oldVal) {
					this.calCulateOrder()
				},
				deep: true
			}
		},

		onLoad(options) {
			this.model.orderType = options.orderType
			this.current = options.orderType == 1 ? 0 : 1
			this.getOpenIdFn()
		},

		//上级页面
		onShow() {
			uni.$once('setStartAdressData', (data) => {
				console.log('监听返回的参数：' + data)
				this.startAdressData = data
			})
			uni.$once('setEndAdressData', (data) => {
				console.log('监听返回的参数：' + data)
				this.endAdressData = data
			})
			uni.$once('setInsuredValue', (data) => {
				console.log('监听返回的参数：' + data)
				this.model.insuranceMoney = data
			})
		},

		methods: {
			goBack() {
				uni.navigateBack()
			},

			// 获取openid
			getOpenIdFn() {
				wx.login({
					success: (res) => {
						let code = res.code
						getOpenId({
							appid: 'wx1e4a01e2ea967cd8',
							code: code
						}).then((res) => {
							storage.set('openId', res.openid)
						});
					}
				})
			},

			// 提交订单
			submitOrder() {
				let that = this
				if (this.startAdressData.sendLatitude == undefined) {
					showToast('请选择宠物接送起始点')
					return false
				}
				if (this.endAdressData.sendLatitude == undefined) {
					showToast('请选择宠物接送起始点')
					return false
				}
				if (this.imgPath.length == 0) {
					showToast('请上传宠物照片')
					return false
				}
				if (this.appointmentDate == '') {
					showToast('请选择上门时间')
					return false
				}

				if (!this.isRead) {
					showToast('请先同意条款')
					return false
				}
				let result = {
					...this.model,
					...this.startAdressData,
					recipientName: this.endAdressData.sendName,
					recipientPhone: this.endAdressData.sendPhone,
					recipientHouseNum: this.endAdressData.sendHouseNum,
					recipientAddress: this.endAdressData.sendAddress,
					recipientLongitude: this.endAdressData.sendLongitude,
					recipientLatitude: this.endAdressData.sendLatitude,
					recipientCity: this.endAdressData.sendCity,
					recipientCounty: this.endAdressData.sendCounty,
					goodsPicture1: this.imgPath[0] || '',
					goodsPicture2: this.imgPath[1] || '',
					goodsPicture3: this.imgPath[2] || '',
					orderType: this.current == 0 ? 1 : 9,
					payType: 2,
					mailId: storage.get('userInfo').userId,
					orderDistance: this.totalMileage,
					gratuity: parseFloat(this.tipAmount.replace('元', '')) || 0,
					isAppointment: 0

				}

				console.log(result)
				console.log('最终数据')
				
				uni.showLoading({
					title: '请稍后',
					 mask: true
				})

				createOrder(result).then((res) => {
					console.log(res)
					console.log('最终数11据')
					console.log(res.data)
					uni.requestPayment({
						provider: 'wxpay', // 服务提提供商
						timeStamp: res.timeStamp, // 时间戳
						nonceStr: res.nonceStr, // 随机字符串
						package: res.packageValue,
						signType: "MD5", // 签名算法
						paySign: res.paySign, // 签名
						success: function(res) {
							uni.setStorageSync("order", res.orderNo)
							showToast('支付成功')
							uni.switchTab({
								url: '/pages/home/index'
							})
						},
						fail: function(err) {
							console.log('支付失败', err);
						},
						complete() {
                           uni.hideLoading()
						}
					});
				})
			},

			// 小费确认
			tipConfirm(e) {
				console.log(e.value[0])
				//parseFloat(e.value[0].replace('元', ''))
				this.tipAmount = e.value[0] === '不加了' ? '' : e.value[0]
			},

			// 打开小费
			openTip() {
				this.$refs.tipSelect.open();
			},

			formatter(type, value) {
				if (type === 'year') {
					return `${value}年`
				}
				if (type === 'month') {
					return `${value}月`
				}
				if (type === 'day') {
					return `${value}日`
				}
				if (type === 'hour') {
					return `${value}时`
				}
				if (type === 'minute') {
					return `${value}分`
				}
				return value
			},
			// 打开日期
			openDate() {
				this.$refs.datetimePicker.open();
			},

			// 确认时间
			dateConfirm(e) {
				console.log('confirm', formatTime(e.value, 'dateTime'));
				this.appointmentDate = formatTime(e.value, 'dateTimex')
				this.model.appointmentDate = formatTime(e.value, 'dateTime') + ':00'
			},

			// 跳转
			goChoseAdr(type) {
				uni.navigateTo({
					url: `/pagesC/petTaxi/startPoint?type=${type}`
				})
				uni.setStorageSync('adrInfo', type == 0 ? this.startAdressData : this.endAdressData);
			},

			// 起始点和终点赋值
			setAdress(data, type) {
				if (type == 0) {
					this.startAdressData = data
				} else {
					this.endAdressData = data
				}
			},

			// 切换打车类型
			changeTab(e) {
				console.log(e)
				this.model.orderType = e.value
				this.current = e.index
			},

			// 点击标签
			clickTag(text) {
				this.model.goods += (this.model.goods ? ',' : '') + text
			},

			// 计算价格
			calCulateOrder() {
				if (this.endAdressData.sendLatitude == undefined || this.startAdressData.sendLatitude == undefined || this
					.appointmentDate == '') {
					return false
				}
				console.log(this.endAdressData.sendLatitude)
				console.log('hahahah+++++++++++++++++')
				return new Promise((resolve, reject) => {
					let qqmapsdk = new QQMapWX({
						// 填写自己的Key值，这个值是与AppID绑定的
						key: '5CKBZ-CRFKJ-6U7FE-XYJJ5-M3KZ6-7DBED'
					});
					qqmapsdk.calculateDistance({
						mode: 'driving',
						from: {
							latitude: this.startAdressData.sendLatitude,
							longitude: this.startAdressData.sendLongitude
						},
						to: [{
							latitude: this.endAdressData.sendLatitude,
							longitude: this.endAdressData.sendLongitude
						}],
						success: (res, data) => {
							let distance = parseFloat(res.result.elements[0].distance / 1000).toFixed(
								3);
							this.totalMileage = distance
							let param = {
								distance: distance,
								date: this.appointmentDate,
								userId: storage.get('userInfo').userId,
								orderType: this.current == 0 ? 1 : 9,
								insuranceMoney: this.model.insuranceMoney,
								weight: this.model.weight,
								gratuity: parseFloat(this.tipAmount.replace('元', '')) || 0,
								cityName: this.startAdressData.sendCity

							}
							calcOrderPrice(param).then(data => {
								console.log('订单价格明细及计算：' + JSON.stringify(data));
								// 价格规则计算
								this.model.orderMoney = data.orderMoney
							})
							resolve(distance);
						},
						fail: function(error) {
							reject(error); // 如果距离计算失败，reject这个Promise  
						}
					});
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.container {
		padding-bottom: env(safe-area-inset-bottom);
		/* 底部安全区域 */
	}

	::v-deep .uv-textarea {
		padding: 20rpx 0px;
		box-sizing: border-box;
	}

	.btm-wrapper {
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		padding: 12rpx 0px 14rpx;
		box-sizing: border-box;
		z-index: 99;

		.btm-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.left {
				display: flex;
				align-items: baseline;

				.price {
					color: #FD611E;
					font-size: 44rpx;

				}

				.oldprice {
					margin: 0px 16rpx;
				}

				.detail {
					color: #3FA3FF;
					font-size: 28rpx;
					margin-left: 20rpx;
				}
			}

			.right {
				width: 280rpx;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				font-weight: 500;
				font-size: 32rpx;
				color: #fff;
				text-align: center;
			}
		}

		.radio-flex {
			display: flex;
			align-items: baseline;
			padding: 0px 40rpx;
			box-sizing: border-box;

			.treaty {
				color: #999999;
				font-size: 24rpx;

				span {
					color: #3FA3FF;
				}
			}
		}
	}

	.form-wrapper {
		padding: 0px 28rpx 300rpx;
		box-sizing: border-box;

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 0px 28rpx;
			box-sizing: border-box;
			margin-bottom: 20rpx;

			.weight-flex {
				display: flex;
				align-items: center;

				span {
					margin-left: 8rpx;
					color: #666;
					font-size: 30rpx;
				}
			}

			.tags-wrapper {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.tag {
					padding: 8rpx 20rpx;
					box-sizing: border-box;
					color: #333333;
					font-size: 24rpx;
					border: 2rpx solid #EEEEEE;
					border-radius: 8rpx;
					margin-right: 16rpx;
					margin-bottom: 16rpx;
				}
			}
		}

		.address {
			padding: 28rpx 20rpx 12rpx !important;
			box-sizing: border-box;

			.ipt {
				width: 100%;
				height: 116rpx;
				background: #F8F8F8;
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				margin-bottom: 16rpx;
				padding-left: 56rpx;
				box-sizing: border-box;
				position: relative;

				&:before {
					position: absolute;
					content: '';
					width: 12rpx;
					height: 12rpx;
					background: #31D15B;
					border-radius: 50%;
					top: 0px;
					bottom: 0px;
					margin: auto;
					left: 28rpx;
				}


				&:last-child::before {
					background-color: #FF4646 !important;
				}
			}
		}
	}

	.tabs {
		display: flex;
		justify-content: center;
		margin: 28rpx 0px;
	}

	.topBg {
		display: flex;
		align-items: center;
		background: linear-gradient(to bottom, #D5E1F7, #D2EEFB, #CBF2FB, #fff);
		background-size: 100% 100%;
		flex-direction: column;
		padding: 0px 28rpx;
		box-sizing: border-box;

		padding-top: var(--status-bar-height);
		/* 添加状态栏的高度 */

		.top-wrapper {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			margin-top: var(--status-bar-height);
			padding: 6rpx 0px;
			box-sizing: border-box;

			.back {
				margin-top: 8rpx;
			}

			.title {
				color: #333333;
				font-size: 32rpx;
				margin-left: 30rpx;
			}

			.guanliyuan {
				width: 40rpx;
				height: 40rpx;
				position: absolute;
				right: 170rpx;
			}
		}

		.banner {
			width: 100%;
			margin-top: 40rpx;
		}
	}
</style>