<!-- 价格明细 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#fff'>
			<template slot="left">
				价格明细
			</template>
		</commonTop>
		<view class="detail">
			<view class="price-row">
				<view class="price"><span>￥</span>{{orderPrice}}</view>
				<view class="lic">（总里程{{orderMoney}}公里）</view>
			</view>

			<view class="text-wrapper">
				<div class="row-text">滈滴宠物专车价格计费明细：5公里内起步价30元，5公里以上每增加1公里加收3元/公里，按公里数累积计费，5公里以上不足1公里按1公里计费。</div>
				 <div class="row-text">
					重量：5公斤以上每增加1公斤+0.5元/公斤累积计费，用户根据实际下单情况添加重量并备注数量下单。如未选择宠物重量或备注宠物数量，接单司机有权无责取消订单，可与用户协商重新选择重量下单。  
				</div>
				<div class="row-text"> 额外需求：订单接送免费等候时间为20分钟，20分钟以上加收1元/分钟等候费，不足一分钟按1分钟计算，以此类推，等候费用由用户单独支付给接送司机。  </div>
				<div class="row-text">（宠物专车）如接送服务过程中实际产生的停车费、高速费、过路过桥费等额外第三方费用由发货人或者收货人单独支付给接送司机。</div>
				<div class="row-text"> 
					友情提示：宠物打车出行请做好安全防护措施，根据各地政策要求并提供动物检疫免疫证证明，有条件的情况下请将您的宠物装在宠物包（箱）里，如您对宠物没有任何安全防护措施，司机有权拒绝接单。如您对宠物无任何的安全防护措施下交由司机接送，在此过程中出现任何意外由发货人和司机自行承担责任。
				</div>
				<div class="row-text">  滈滴宠物顺风车价格计费明细：5公里内起步价16元，5公里以上每增加1公里加收2元/公里，按公里数累积计费，5公里以上不足1公里按1公里计费。  
					重量：5公斤以上每增加1公斤+0.5元/公斤累积计费，用户根据实际下单情况添加重量并备注数量下单。如未选择宠物重量或备注宠物数量，接单司机有权无责取消订单，可与用户协商重新选择重量下单。 </div>
				<div class="row-text">  额外需求：订单接送免费等候时间为20分钟，20分钟以上加收1元/分钟等候费，不足一分钟按1分钟计算，以此类推，等候费用由用户单独支付给接送司机。  </div>
				<div class="row-text">
					（宠物顺风车）如接送服务过程中实际产生的停车费除外，高速费、过路过桥费等额外第三方费用提前与接单司机沟通（或者下单时在备注不承担高速费等），平台默认宠物顺风车不承担高速费。  </div>
				<div class="row-text">
					友情提示：宠物打车出行请做好安全防护措施，根据各地政策要求并提供动物检疫免疫证证明，有条件的情况下请将您的宠物装在宠物包（箱）里，如您对宠物没有任何安全防护措施，司机有权拒绝接单。如您对宠物无任何的安全防护措施下交由司机接送，在此过程中出现任何意外由发货人和司机自行承担责任。
				</div>
			</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
               orderMoney: '--',
			   orderPrice: '--'
			}
		},
		onLoad(options) {
           if(options.orderMoney) {
			   this.orderMoney = options.orderMoney
			    this.orderPrice = options.orderPrice
		   }
		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	:v-deep page {
		background-color: #fff;
	}

	.containner {
		background-color: #fff;
		height: 100vh;

		.detail {
			padding: 40rpx 0px 120rpx;
			box-sizing: border-box;

			.price-row {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;

				.price {
					color: #FD611E;
					font-size: 52rpx;

					span {
						font-size: 36rpx;
					}
				}

				.lic {
					margin: 16rpx 0px 80rpx;
				}
			}

			.text-wrapper {
				color: #666666;
				font-size: 28rpx;
				padding: 0px 28rpx;
				box-sizing: border-box;

				.row-text {
					margin-bottom: 40rpx;
				}
			}
		}
	}
</style>