<!-- 保价 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			<template slot="left">
				{{type == 0 ? '宠物接送起始点': '宠物接送目的地'}}
			</template>
		</commonTop>
		<view class="info-wrapper">
			<view class="row">
				<input type="text" class="ipt name" v-model="startAdressData.sendName" placeholder="请输入姓名">
				<input type="text" class="ipt phone" v-model="startAdressData.sendPhone"  maxlength="11" placeholder="请输入手机号">
			</view>
			<view class="row">
				<input type="text" class="ipt" v-model="startAdressData.sendAddress" disabled placeholder="请输入地址"
					@click="chosePoint">
			</view>
			<view class="row">
				<input type="text" class="ipt" v-model="startAdressData.sendHouseNum" placeholder="请输入单元、楼层、门牌号">
			</view>
			<view class="currentLocation">
				<view class="point line1Es" @click="setCurrentLocation">当前位置：{{currentLocation.sendAddress}}</view>
				<view class="reload" @click="reloadAdr">
					<image class="reload-img" src="../static/icon_Location@2x.png"></image>刷新
				</view>
			</view>
			<view class="card" v-if="sendAdressList.length > 0">
				<view class="title f32C3">历史</view>
				<view class="history line1Es" v-for="(item,index) in sendAdressList" @tap="addressHandler(item)" v-bind:key="index">{{item.sendAddress}}</view>
			</view>
		</view>


		<view class="btn-wrapper" @click.stop="submit">
			<view class="btn">确定</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import {
		doGetLocation,
		chooseLocation
	} from '@/utils/getLocation.js';
	import {
		currentLocation
	} from '@/utils/util.js'
	import QQMapWX from '@/utils/qqmap-wx-jssdk';

	export default {
		components: {
			commonTop
		},
		data() {
			return {
				type: 0, // 0是起点选择  1是终点选择
				// 当前定位
				currentLocation: {
					sendAddress: '',
					sendLongitude: '',
					sendLatitude: '',
					sendCity: '',
					sendCounty: '',
				},
				sendAdressList: uni.getStorageSync('sendAdressList') || [],
				// 起点地址
				startAdressData: {
					sendName: '',
					sendPhone: '',
					sendHouseNum: '',
					sendAddress: '',
					sendLongitude: '',
					sendLatitude: '',
					sendCity: '',
					sendCounty: ''
				}
			}
		},
		onLoad(options) {
			this.type = options.type
		},
		created() {
			this.reloadAdr()
			let adrInfo = uni.getStorageSync("adrInfo")
			console.log(adrInfo)
			console.log('66666666666')
			if(adrInfo.sendAddress) {
				this.startAdressData = adrInfo
			}
		},
		methods: {


			// 确认
			submit() {
				if (!this.startAdressData.sendName) {
					uni.showToast({
						title: '请输入姓名',
						icon: 'none'
					})
					return;
				}
				if (!this.startAdressData.sendPhone) {
					uni.showToast({
						title: '请输入手机号',
						icon: 'none'
					})
					return;
				}
				if (!this.vailPhone(this.startAdressData.sendPhone)) {
					uni.showToast({
						title: '请输入正确的手机号',
						icon: 'none'
					})
					return;
				}
				if (!this.startAdressData.sendAddress) {
					uni.showToast({
						title: '请选择地址',
						icon: 'none'
					})
					return;
				}
				if (!this.startAdressData.sendHouseNum) {
					uni.showToast({
						title: '请输入单元、楼层、门牌号',
						icon: 'none'
					})
					return;
				}
				console.log(this.startAdressData)
				console.log('++++++++++++++++++++++')
				
				
				
				if (this.type == 0) {
					uni.$emit('setStartAdressData', this.startAdressData)
					uni.navigateBack()
				} else {
					uni.$emit('setEndAdressData', this.startAdressData)
					uni.navigateBack()
				}
				this.setStorageSyncList()

			},
			
			addressHandler(item) {
				this.startAdressData = item
			},
			
			// 存储数据
			setStorageSyncList() {
				let list = uni.getStorageSync('sendAdressList') || []
				if(list) {
					list.push(this.startAdressData)
					const map = new Map();
					const newArr = list.filter(v => !map.has(v.sendAddress) && map.set(v.sendAddress, v));
					let result = newArr.splice(-5)
					console.log(result)
					console.log('=====================')
					uni.setStorageSync('sendAdressList',  result)
				}
				
			},

			// 校验手机号
			vailPhone(num) {
				var phonereg = /^1[3,4,5,6,7,8,9][0-9]{9}$/;
				if (!phonereg.test(num)) {
					return false;
				}
				return true;
			},

			// 使用当前地址
			setCurrentLocation() {
				if (this.currentLocation.sendAddress) {
					this.startAdressData = Object.assign(this.startAdressData, this.currentLocation)
					console.log(this.startAdressData)
				}
			},

			// 获取当前位置
			async reloadAdr() {
				let that = this
				let adr = await currentLocation()
				if (adr) {
					this.currentLocation = {
						sendAddress: adr.formatted_address,
						sendLongitude: adr.location.lon,
						sendLatitude: adr.location.lat,
						sendCity: adr.addressComponent.city,
						sendCounty: adr.addressComponent.county
					}
				}
			},

			// 选择地址
			chosePoint(e) {
				console.log('chooseLocation')
				uni.chooseLocation({
					keyword: "天安门",
					success: res => {
						console.log('success>>>>>>>>>>', res)
						this.startAdressData.sendAddress = res.name;
						this.startAdressData.sendLatitude = res.latitude;
						this.startAdressData.sendLongitude = res.longitude;
						
						let reg = /.+?(省|市|自治区|自治州|县|区)/g;
						let ssq = res.address.match(reg) || []

						if (ssq[0] && ssq[0].slice(-1) === '省') {
							// this.query.province = ssq[0] || ''
							this.startAdressData.sendCity = ssq[1] || ''
							this.startAdressData.sendCounty = ssq[2] || ''
						} else {
							// this.query.province = ssq[0] || ''
							this.startAdressData.sendCity = ssq[1] || ''
							this.startAdressData.sendCounty = ssq[2] || ''
						}
						// 兜底处理,不是市结尾,就调接口获取省市区
						if (ssq.length == 1 || !this.startAdressData.sendCity || this.startAdressData.sendCity
							.slice(-1) !== '市') {
							let qqmapsdk = new QQMapWX({
								key: '5CKBZ-CRFKJ-6U7FE-XYJJ5-M3KZ6-7DBED'
							});
							qqmapsdk.reverseGeocoder({
								location: {
									latitude: this.query.latitude,
									longitude: this.query.longitude
								},
								success: (res2) => {
									// 省
									//this.query.province = res2.result.ad_info.province;
									// 市
									this.startAdressData.sendCity = res2.result.ad_info.city;
									// 区
									this.startAdressData.sendCounty = res2.result.ad_info.district;
								},
								fail: (res) => {
									uni.showToast({
										title: `获取位置失败[${res}]`,
										icon: 'none'
									})
								}
							})
						}
						console.log(this.startAdressData)
					},
					fail: res => {
						console.log('fail >>>>>>>>>>> ', res)
					}
				});
			}
		}
	}
</script>

<style lang="scss" scoped>
	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 32rpx 20rpx 0px;
			box-sizing: border-box;
			margin-bottom: 28rpx;
			margin-top: 32rpx;

			.title {
				font-weight: 500;
				font-size: 32rpx;
				color: #333333;
			}

			.history {
				color: #666666;
				font-size: 32rpx;
				height: 100rpx;
				line-height: 100rpx;

				&:not(:last-child) {
					border-bottom: 1rpx solid #EEEEEE;
				}
			}

		}

		.info-wrapper {
			.currentLocation {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0px 20rpx;
				box-sizing: border-box;

				.point {
					width: 80%;
					color: #333333;
					font-size: 28rpx;
				}

				.reload {
					display: flex;
					align-items: center;
					color: #1C92FF;
					font-size: 28rpx;

					.reload-img {
						width: 40rpx;
						height: 40rpx;
						margin-right: 6rpx;
					}
				}
			}

			.row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 28rpx;

				.ipt {
					padding-left: 20rpx;
					box-sizing: border-box;
					width: 100%;
					height: 116rpx;
					background: #FFFFFF;
					border-radius: 20rpx 20rpx 20rpx 20rpx;
				}

				.name {
					width: 240rpx;
				}

				.phone {
					flex: 1;
					margin-left: 28rpx;
				}
			}
		}

		.btn-wrapper {
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
			background-color: #fff;
			height: 120rpx;
			background: #FFFFFF;
			padding: 14rpx 28rpx;
			box-sizing: border-box;

			.btn {
				width: 100%;
				text-align: center;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 20rpx 20rpx 20rpx 20rpx;
				font-size: 28rpx;
				color: #fff;
			}
		}
	}
</style>