<template>
	<view class="move-path" @touchend="handleOnTouchEnd">
		<movable-area :animation="true">
			<movable-view class="move-view" :x="x" direction="horizontal" @change="handleOnMoving" :disabled="vertify">
				<view class="row-movable">
					{{status==0?'右滑确认接单': status==5?'右滑到达起点':status==6?'右滑到达终点':'已完成'}}
					<image class="arrow-right" src="../../static/icon_arrow_right@2x.png" mode="widthFix"></image>
				</view>
			</movable-view>
		</movable-area>
	</view>
</template>

<script>
	export default {
		props: {
			status: {
				type: Number,
				default: 0
			}
		},
		data() {
			return {
				moveStatus: this.status,
				text: '右滑确认接单',
				x: 0,
				oldx: 0,
				vertify: false,
				size: {},
				isMove: false,
			};
		},
		mounted() {
			this.init()
		},
		methods: {
			init() {
				this.getSize(".move-path").then((pathway) => {
					this.size.pathway = pathway;
					this.getSize(".move-view").then((track) => {
						this.size.track = track;
					});
				})
			},
			/**
			 * 获取元素宽度
			 */
			getSize(selector) {
				return new Promise((resolve, reject) => {
					const view = uni.createSelectorQuery().in(this).select(selector);
					view.fields({
						size: true,
					}, (res) => {
						resolve(res.width);
					}).exec();
				});
			},
			/**
			 * 滑动过程
			 */
			handleOnMoving(e) {
				this.oldx = e.detail.x;
			},
			/**
			 * 滑动结束
			 */
			handleOnTouchEnd() {
				if (this.vertify || this.oldx < 1) return;
				this.x = this.oldx;
				if ((this.oldx + 2) > (this.size.pathway - this.size.track)) {
					this.vertify = true
				} else {
					this.$nextTick(() => {
						this.x = 0;
						this.oldx = 0;
					});
				}
				let that = this
				// 滑动终点
				if (this.vertify) {
					if (this.moveStatus == 2) {
						this.moveStatus = 0
					} else {
						this.moveStatus++
					}
					
					that.$nextTick(() => {
						that.x = 0;
						console.log('进来' + that.x)
						that.oldx = 0;
						setTimeout(()=> {
							that.vertify = false
						},1000)

					});
				}

				this.$emit("vertify", this.vertify);
			},
		}
	}
</script>

<style scoped lang="scss">
	.row-movable {
		display: flex;
		align-items: center;
		justify-content: center;

		.arrow-right {
			width: 28rpx;
			height: 28rpx;
		}
	}

	.move-path {
		color: #333;
		height: 92rpx;
		width: 100%;
		border-radius: 20rpx;
		background: #EFF7FF;
		position: relative;
		overflow: hidden;
		margin-top: 0px !important;

		.move-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			line-height: 80rpx;
			text-align: center;
			color: #666;
			font-size: 32rpx;
			z-index: 3;

			.success {
				color: #fff;
			}
		}

		movable-area {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: none;
			z-index: 5;
		}

		movable-view {
			width: 245rpx;
			box-sizing: border-box;
			height: 84rpx;
			background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			font-size: 28rpx;
			color: #fff;
			text-align: center;
			line-height: 84rpx;
		}
	}
</style>