<template>
	<view class="evaluateCard">
		<view class="evaluate-item" v-for="(item, index) in evaluateList" :key="index">
			<view class="title">
				<view class="left">
					<image class="img1" src="../static/Group_purchase_management@2x.png" mode="widthFix"></image>
					<view class="eva-title line1Es">团购名称名称名称名称名称名称名称名称...</view>
				</view>
				<image class="arr-right" src="@/static/icon_More24@2x.png" mode="widthFix"></image>
			</view>
			<view class="top">
				<view class="left">
					<image src="../static/Merchant_management@2x.png" mode="" class="avator"></image>
					<view class="name">名称名称名称名称</view>
				</view>
				<view class="right">2023-12-22 <span v-if="isEdite">编辑</span> </view>
			</view>
			<view class="bottom">
				<view class="rate-wrap">
					<uv-rate active-color="#FFED3F" size='20' :allowHalf='true' inactive-color="#b2b2b2"></uv-rate>
					<view class="rate">4.5</view>
				</view>
				<view class="cnt">评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评</view>
				<view class="imgs">
					<image src="../static/Add_group_purchase@2x.png" mode=""></image>
					<image src="../static/Add_group_purchase@2x.png" mode=""></image>
					<image src="../static/Add_group_purchase@2x.png" mode=""></image>
					<image src="../static/Add_group_purchase@2x.png" mode=""></image>
				</view>
			</view>
			<view class="caozuo">
				<view class="c-left">
					<image src="../static/icon_like1.png" mode=""></image>12
				</view>
				<view class="c-left" @click="openEvaluate">
					<image src="../static/icon_Comment@2x.png" mode=""></image>45
				</view>
			</view>
		</view>


		<uv-popup ref="popup" :round='40' mode="bottom">
			<view class="pop-wrapper">
				<view class="pop-title">
					评价
					<view class="close" @click.stop="closeEvaluate">
						<image src="../static/icon_closure@2x.png" mode="widthFix"></image>
					</view>

				</view>
				<view class="question-wrapper">
					<view class="evaluate-item" v-for="(item, index) in evaluateList" :key="index">
						<view class="top">
							<view class="left">
								<image src="../../static/dog.png" mode="" class="avator"></image>
								<view class="name">名称名称名称名称</view>
							</view>
							<view class="right">2023-12-22</view>
						</view>
						<view class="bottom">
							<view class="cnt">评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评</view>
						</view>
						<view class="caozuo">
							<view class="c-left">
								<image src="../static/icon_like2.png" mode=""></image>12
							</view>
						</view>
					</view>
				</view>

				<view class="btn-wrpper">
					<input placeholder="说点什么吧～" border="surround" class="send-ipt" v-model="sendInfo"
						@change="changeSend"></input>
					<image src="../static/icon_send@2x.png" mode="widthFix" class="send-img"></image>
				</view>
			</view>

		</uv-popup>

	</view>
</template>

<script>
	export default {
		props: {
			evaluateList: {
				type: Array,
				default: []
			},
			isEdite: {
				type: Boolean,
				default: false
			}
		},
		components: {

		},
		data() {
			return {
				sendInfo: ''
			}
		},
		methods: {
			openEvaluate() {
				this.$refs.popup.open();
			},
			closeEvaluate() {
				this.$refs.popup.close();
			},
		}
	}
</script>

<style scoped lang="scss">
	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1rpx solid #EEEEEE;
		padding-bottom: 28rpx;
		margin-bottom: 28rpx;
		box-sizing: border-box;

		.left {
			display: flex;
			align-items: center;
			.img1 {
				width: 40rpx;
				height: 40rpx;
				margin-right: 20rpx;
			}

			.eva-title {
				font-size: 28rpx;
				color: #666666;
			}
		}

		.arr-right {
			width: 28rpx;
			height: 28rpx;

		}
	}

	.question-wrapper {
		margin-top: -28rpx;
		display: flex;
		flex-direction: column;
		background-color: #F9F9F9;
		padding: 0rpx 28rpx 188rpx;
		box-sizing: border-box;
	}

	.btn-wrpper {
		width: 100%;
		height: 120rpx;
		background: #FFFFFF;
		border-radius: 0rpx 0rpx 0rpx 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0px;

		.send-ipt {
			width: 80% !important;
			height: 92rpx;
			background: #F5F5F5;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			background-color: #F5F5F5;
			font-size: 28rpx;
			padding-left: 28rpx;
			box-sizing: border-box;
		}

		.send-img {
			width: 49rpx;
			height: 41rpx;
			margin-left: 40rpx;
		}
	}

	.pop-wrapper {
		background-color: #F9F9F9;
		max-height: 900rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding-top: 120rpx;
		box-sizing: border-box;
		padding-bottom: 100rpx;

		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.ask-question {
		width: 280rpx;
		height: 88rpx;
		background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
		border-radius: 76rpx 76rpx 76rpx 76rpx;
		position: fixed;
		bottom: 40rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 50%;
		margin-left: -140rpx;
		color: #fff;

		image {
			width: 40rpx;
			height: 40rpx;
			margin-right: 8rpx;
			border-radius: 10rpx;
		}
	}



	.evaluateCard {
		.caozuo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 12rpx 0px 28rpx;

			.c-left {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 28rpx;
				padding-left: 74rpx;

				image {
					width: 48rpx;
					height: 48rpx;
					margin-right: 8;
				}
			}

		}

		.evaluate-item {
			padding: 28rpx 28rpx 0px;
			box-sizing: border-box;
			background-color: #fff;
			padding-bottom: 12rpx;
			box-sizing: border-box;
			margin-bottom: 28rpx;
			border-radius: 20rpx;

			&:last-child {
				border-bottom: none !important;
				margin-bottom: 0px !important;
			}

			.bottom {
				padding-left: 80rpx;
				box-sizing: border-box;
			}

			.top {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.left {
					display: flex;
					align-items: center;

					.avator {
						width: 76rpx;
						height: 76rpx;
						border-radius: 50%;
					}

					.name {
						color: #666666;
						font-size: 28rpx;
						margin: 0px 24rpx 0px 16rpx;
					}

					.certification {
						width: 127rpx;
						height: 40rpx;
					}
				}

				.right {
					font-size: 24rpx;
					color: #999999;

					span {
						color: #1C92FF;
						margin-left: 8rpx;
					}
				}
			}

			.rate-wrap {
				margin: 18rpx 0px 20rpx;
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				.rate {
					color: #FD611E;
				}
			}

			.cnt {
				font-size: 28rpx;
				color: #333333;
				margin-bottom: 16rpx;
			}

			.imgs {
				display: flex;
				flex-wrap: wrap;

				image {
					margin-right: 2%;
					width: 32%;
					height: 188rpx;
					border-radius: 16rpx;
					margin-bottom: 16rpx;

					&:nth-child(3n) {
						margin-right: 0px !important;
					}
				}
			}
		}
	}
</style>