<template>
	<view class="tabbar">
		<view v-for="(item, index) in tabbarList" v-bind:key="index" class="tabbar-item" @click="switchTab(index, item.url)">
			<image :src="index === currentIndex ? item.aimg : item.img" class="img"></image>
			<text :class="{active: index === currentIndex}">{{item.text}}</text>
		</view>
	</view>
</template>

<script>
	import tab1img from '../static/Organizational_Management2@2x.png';
	import atab1img from '../static/Organizational_Management1@2x.png';
	import tab2img from '../static/pet_management2@2x.png';
	import atab2img from '../static/pet_management1@2x.png';
	import tab3img from '../static/dynamic_management2@2x.png';
	import atab3img from '../static/dynamic_management1@2x.png';
	export default {
		props: {
			currentIndex: Number
		},
		data() {
			return {
				tabbarList: [{
					url: '/pagesB/reliefagency/index',
					text: '机构管理',
					img: tab1img,
					aimg: atab1img
				},{
					url: '/pagesB/reliefagency/petMng',
					text: '宠物管理',
					img: tab2img,
					aimg: atab2img
				},{
					url: '/pagesB/reliefagency/dynamicMng',
					text: '动态管理',
					img: tab3img,
					aimg: atab3img
				}]
			}
		},

		methods: {
			switchTab(index, url) {
				uni.redirectTo({
					url: url
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.tabbar {
		padding: 10rpx 0px;
		box-sizing: border-box;
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
	}

	.tabbar-item {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-direction: column;

		.img {
			width: 56rpx;
			height: 56rpx;
		}
	}

	.tabbar-item text {
		padding: 5px;
		font-size: 20rpx;
		color: #333;
	}

	.tabbar-item text.active {
		color: #333;
	}
</style>