<template>
	<view class="homeFeed-card">
		<view class="homeFeed-item" v-for="(item, index) in groupbuyList" v-bind:key="index">
			<view class="top">
				<image class="avator" :src="item.picture"></image>
				<view class="top-right">
					<view class="title">{{item.name}}</view>
					<view class="dataList">
						<view class="item columnCenter">
							<view class="name">成交额</view>
							<view class="count">¥{{item.transactionVolume || 0}}</view>
						</view>
						<view class="item columnCenter">
							<view class="name">订单量</view>
							<view class="count">{{item.orderQuantity || 0}}</view>
						</view>
						<view class="item columnCenter">
							<view class="name">浏览量</view>
							<view class="count">{{item.viewVolume || 0}}</view>
						</view>
					</view>
				</view>
			</view>
			<view class="bottom ajbetween">
				<view class="b-left">
					<view class="money"><span>￥</span>{{item.realAmount}}</view>
					<view class="discount">{{item.discount}}折</view>
					<view class="surplus">剩余：{{item.numberReleases - item.numberSales}}张</view>
				</view>
				<view class="b-right">
					<view class="btn" @click="delGroupBuyGoodsFn(item.id)">删除</view>
					<view class="btn" @click="upDownShelves(item)">{{item.status == 1 ? '下架': '上架'}} </view>
					<view class="btn" @click='goEdite(item.id)'>编辑</view>
				</view>
			</view>
		</view>


	</view>
</template>

<script>
	import {
		delGroupBuyGoods,
		editGroupBuyGoods
	} from "@/config/vmeitime-http/groupBuy.js";
	import {
		showToast
	} from '../../utils/util.js';

	export default {
		props: {
			groupbuyList: {
				type: Array,
				default: [],
			},
		},
		data() {
			return {};
		},
		onLoad() {},
		methods: {

			// 上下架
			upDownShelves(item) {
				let data = JSON.parse(JSON.stringify(item))
				data.status = data.status == 1 ? 2: 1
				editGroupBuyGoods(data).then((res) => {
					this.$emit('reload')
					setTimeout(()=> {
						showToast(data.status == 1 ? '上架成功': '下架成功')
					},500)
				})
			},

			// 跳转编辑
			goEdite(id) {
				uni.navigateTo({
					url: '/pagesB/merchant/newGroupBuy?id=' + id
				})
			},

			// 删除团购
			delGroupBuyGoodsFn(id) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '您确定要删除吗？',
					success: function(res) {
						if (res.confirm) {
							delGroupBuyGoods({
								id: id
							}).then((res) => {
								showToast('删除成功')
								that.$emit('reload')
							})
						}
					}
				});
			}
		},
	};
</script>

<style scoped lang="scss">
	.homeFeed-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0rpx 28rpx;
		box-sizing: border-box;

		.homeFeed-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 20rpx 20rpx;
			box-sizing: border-box;
			position: relative;
			border-radius: 20rpx;

			&:first-child {
				border-radius: 0px;
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.top {
				display: flex;

				.avator {
					width: 180rpx;
					height: 180rpx;
					background: #f4f4f4;
					border-radius: 16rpx 16rpx 16rpx 16rpx;
				}

				.top-right {
					flex: 1;
					margin-left: 20rpx;

					.title {
						font-size: 28rpx;
						color: #333;
					}

					.dataList {
						margin-top: 32rpx;
						width: 100%;
						display: flex;
						justify-content: space-around;
						align-items: center;

						.name {
							color: #999;
							font-size: 24rpx;
							margin-bottom: 8rpx;
						}

						.count {
							color: #333;
							font-size: 28rpx;
						}
					}
				}
			}

			.bottom {
				margin-top: 32rpx;

				.b-left {
					font-size: 24rpx;
					color: 666;
					display: flex;
					align-items: center;

					.money {
						color: #FD611E;
						font-size: 32rpx;

						span {
							font-size: 24rpx;
						}
					}

					.discount {
						width: 48rpx;
						height: 32rpx;
						background: #FFEFE9;
						border-radius: 8rpx 8rpx 8rpx 8rpx;
						color: #FD611E;
						font-size: 20rpx;
						margin: 0px 16rpx;
						text-align: center;
						line-height: 32rpx;
					}

					.surplus {
						color: #999999;
						font-size: 24rpx;
					}
				}

				.b-right {
					display: flex;
					align-items: center;

					.btn {
						text-align: center;
						width: 90rpx;
						height: 64rpx;
						line-height: 64rpx;
						background: #ffffff;
						border-radius: 12rpx 12rpx 12rpx 12rpx;
						border: 2rpx solid #eeeeee;
						font-size: 28rpx;
						color: #333;
						margin-left: 16rpx;
					}
				}
			}
		}
	}
</style>