<template>
	<view class="homeFeed-card">
		<view class="homeFeed-item" v-for="(item, index) in detailList" v-bind:key="index">
			<view class="top ajbetween">
				<view class="title">{{item.billType=='int' ? '充值': item.billType=='out' ? '提现':'' }}</view>
				<view class="price">{{item.billType=='int' ? '+': item.billType=='out' ? '-':'' }}{{item.money || 0}}</view>
			</view>
			<view class="time">{{item.createTime}}</view>

		</view>


	</view>
</template>

<script>
	export default {
		props: {
			detailList: {
				type: Array,
				default: [],
			},
		},
		data() {
			return {};
		},
		onLoad() {},
		methods: {},
	};
</script>

<style scoped lang="scss">
	.homeFeed-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		box-sizing: border-box;
		background-color: #fff;
		padding: 0rpx 20rpx;
		box-sizing: border-box;

		.homeFeed-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 20rpx 0rpx;
			box-sizing: border-box;
			position: relative;
			border-bottom: 1rpx solid #eee;
			&:last-child {
				border-bottom: none !important;
			}

			.top {
				color: #333;
				font-size: 28rpx;
			}
			.time {
				color: #999;
				font-size: 24rpx;
				margin-top: 8rpx;
			}
		}
	}
</style>