<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in orderList" :key="index" @click="goDetail(item.id)">
			<view class="shop-title ajbetween borderBtm">
				<view class="s-right f32C9">{{item.status == 1 ? '待使用' : statusMap[item.status]}}</view>
			</view>
			<view class="top">
				<image :src="item.goodsInfo.picture.split(',')[0]" mode="widthFix" class="pet-img"></image>
				<view class="right">
					<view class="ms ajbetween">
						<view class="title">{{item.goodsInfo.name}}</view><span>￥{{item.money || 0}}</span>
					</view>
					<view class="time-wrap ajbetween">
						<span class="title">下单时间：{{item.createTime}}</span><span>x{{item.quantity || 0}}</span>
					</view>
				</view>
			</view>
			<view class="bottom">
				<!-- <div class="btn" v-if="item.status == 9">删除</div> -->
<!-- 				<div class="btn" v-if="item.status == 1" @click.stop="goPage(`/pagesA/public/reasonForCancel?id=${item.id}&type=refund`)">申请退款</div>
				<div class="btn" v-if="item.status == 9" @click.stop="goPage(`/pagesA/public/subEvaluation?goodsId=${item.goodsId}`)">评价</div>
				<div class="btn" v-if="item.status == 0" @click.stop="goPage(`/pagesA/public/reasonForCancel?id=${item.id}&type=cancel`)">取消订单</div> -->
			</view>
		</view>
	</view>
</template>

<script>
	import { groupStatusMap } from '../../utils/util.js'
	export default {
		props: {
			orderList: {
				type: Array,
				default: []
			}
		},
		data() {
			return {
				title: 'Hello',
				// 订单状态status
				// 0-待支付, 1-已支付, 2-已支付取消退款中, 3-已支付取消退款(完成), 4-待支付超时取消(完成), 5-待支付用户取消(完成), 6-售后中, 7-售后取消退款中,
				// 8-售后取消退款(完成), 9-已使用(完成)
				statusMap: groupStatusMap
			}
		},
		onLoad() {

		},
		methods: {
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 跳转详情
			goDetail(id) {
				uni.navigateTo({
					url: `/pagesA/public/verificationDetails?id=${id}&fomIn='merchant'`
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding:0px 20rpx 32rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;
			.shop-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 108rpx;
				.s-left {
					display: flex;
					align-items: flex-end;
					color: #333333;
					font-size: 32rpx;
					.shop-img {
						width: 40rpx;
					    height: 40rpx;
						border-radius: 12rpx;
						margin-right: 16rpx;
					}
					.shop-right {
						width: 28rpx;
						height: auto;
						margin-left: 10rpx;
						margin-bottom: 5rpx;
					}
				}
			}

			.top {
				display: flex;
				padding-top: 32rpx;
				box-sizing: border-box;
			}

			.bottom {
				display: flex;
				justify-content: flex-end;
				margin-top: 16rpx;
				color: #333333;
				font-size: 28rpx;

				.btn {
					margin-left: 16rpx;
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					line-height: 64rpx;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
				}
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;
				border-radius: 16rpx;
			}

			.right {
				flex: 1;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					font-size: 32rpx;

					.title {
						width: 76%;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}
				}

				.time-wrap {
					margin: 20rpx 0px 32rpx;
					display: flex;
					align-items: center;
					color: #999999;
					font-size: 24rpx;

				}
			}
		}
	}
</style>