<template>
	<view class="homeFeed-card">
		<view class="homeFeed-item" v-for="(item, index) in numberFeeds" v-bind:key="index"
			@click.stop="goPage(item.id)">
			<view class="top">
				<image class="avator" src="../../static/dog.png"></image>
				<view class="top-right">
					<view class="row ajbetween">
						<view class="title">宠物名称</view>
						<view class="time">2023-12-22 12:22</view>
					</view>
					<view class="feed-count">被喂养了12次，共123天</view>

				</view>
			</view>

		</view>

	</view>
</template>

<script>
	export default {
		props: {
			numberFeeds: {
				type: Array,
				default: [],
			},
		},
		data() {
			return {};
		},
		onLoad() {},
		methods: {
			goPage(id) {
				uni.navigateTo({
					url: `/pagesA/homeFeed/feedOrderDetails?id=${id}`,
				});
			},
		},
	};
</script>

<style scoped lang="scss">
	.homeFeed-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0rpx 0px 16rpx;
		padding: 0rpx 28rpx;
		box-sizing: border-box;

		.homeFeed-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 20rpx 20rpx;
			box-sizing: border-box;
			position: relative;
			border-radius: 20rpx;
			margin-top: 28rpx;
			.top {
				display: flex;
				.avator {
					width: 96rpx;
					height: 96rpx;
					border-radius: 50%;
				}
				.top-right {
					flex: 1;
					margin-left: 20rpx;
					.row {
						.title {
							color: #000000;
							font-size: 32rpx;
						}
						.time {
							color: #999999;
							font-size: 24rpx;
						}
					}
					.feed-count {
						color: #FD611E;
						font-size: 24rpx;
						margin-top: 8rpx;
					}


				}
			}
		}
	}
</style>