<template>
	<view class="homeFeed-card">
		<view class="homeFeed-item" v-for="(item, index) in petList" v-bind:key="index">
			<view class="top">
				<image class="avator" src="../../static/dog.png"></image>
				<view class="top-right">
					<view class="title">宠物名称</view>
					<view class="dataList">
						<view class="item columnCenter">
							<view class="name">成交额</view>
							<view class="count">¥12223</view>
						</view>
						<view class="item columnCenter">
							<view class="name">被喂养数</view>
							<view class="count">¥12223</view>
						</view>
						<view class="item columnCenter">
							<view class="name">浏览量</view>
							<view class="count">¥12223</view>
						</view>
					</view>
				</view>
			</view>
			<view class="bottom ajbetween">
				<view class="b-left">待喂养</view>
				<view class="b-right">
					<view class="btn">删除</view>
					<view class="btn">编辑</view>
				</view>
			</view>
		</view>


	</view>
</template>

<script>
	export default {
		props: {
			petList: {
				type: Array,
				default: [],
			},
		},
		data() {
			return {};
		},
		onLoad() {},
		methods: {
		},
	};
</script>

<style scoped lang="scss">

	.homeFeed-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0rpx 28rpx;
		box-sizing: border-box;

		.homeFeed-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 20rpx 20rpx;
			box-sizing: border-box;
			position: relative;
			border-radius: 20rpx;
			margin-top: 28rpx;

			.top {
				display: flex;

				.avator {
					width: 180rpx;
					height: 180rpx;
					background: #f4f4f4;
					border-radius: 16rpx 16rpx 16rpx 16rpx;
				}

				.top-right {
					flex: 1;
					margin-left: 20rpx;

					.title {
						font-size: 28rpx;
						color: #333;
					}

					.dataList {
						margin-top: 32rpx;
						width: 100%;
						display: flex;
						justify-content: space-around;
						align-items: center;

						.name {
							color: #999;
							font-size: 24rpx;
							margin-bottom: 8rpx;
						}

						.count {
							color: #333;
							font-size: 28rpx;
						}
					}
				}
			}

			.bottom {
				margin-top: 32rpx;

				.b-left {
					font-size: 24rpx;
					color: 666;
				}

				.b-right {
					display: flex;
					align-items: center;

					.btn {
						text-align: center;
						width: 104rpx;
						height: 64rpx;
						line-height: 64rpx;
						background: #ffffff;
						border-radius: 12rpx 12rpx 12rpx 12rpx;
						border: 2rpx solid #eeeeee;
						font-size: 28rpx;
						color: #333;
						margin-left: 16rpx;
					}
				}
			}
		}
	}
</style>