<template>
	<view class="homeFeed-card">
		<view class="homeFeed-item" v-for="(item, index) in petList" v-bind:key="index">
			<view class="row">
				<view class="left line1Es">推广商户主页</view>
				<view class="right pay" :class="!item.isGeneralization? 'finished':''">{{item.isGeneralization ? '已完成推广':'正在推广'}}</view>
			</view>
			<view class="row">
				<view class="left line1Es">
					<span class="zhuan-piao">专票</span> 单位名位称单位名称单位名称名称位名位称单位名称单位名称
				</view>
				<view class="right money">¥30</view>
			</view>
			<view class="row">
				<view class="time">
					2024-12-22 12:00
				</view>
				<view class="btn" v-if="item.isGeneralization" style="color: #999999;">发票已开</view>
				<view class="btn" v-else @click="goDetail(item.id)">开发票</view>
			</view>
		</view>


	</view>
</template>

<script>
	export default {
		props: {
			petList: {
				type: Array,
				default: [],
			},
		},
		data() {
			return {};
		},
		onLoad() {},
		methods: {
			goDetail(id) {
				uni.navigateTo({
					url: '/pagesB/merchant/invoiceDetails'
				})
			}
		},
	};
</script>

<style scoped lang="scss">
	.finished {
		color: #FD611E !important;
	}
	.homeFeed-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0rpx 28rpx;
		box-sizing: border-box;

		.homeFeed-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 0rpx 20rpx;
			box-sizing: border-box;
			position: relative;
			border-radius: 20rpx;
			margin-top: 28rpx;

			.row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #eee;
				height: 96rpx;

				.left {
					width: 80%;
					color: #333333;
					font-size: 28rpx;

					.zhuan-piao {
						color: #333333;
						margin-right: 20rpx;
					}
				}

				.right {
					margin-left: 28rpx;
				}

				.pay {
					text-align: right;
					width: 300rpx;
					color: #999999;
					font-size: 28rpx;
				}

				.money {
					color: #FD611E;
					font-size: 28rpx;
				}

				.time {
					font-size: 24rpx;
					color: #999999;
				}

				.btn {
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					line-height: 64rpx;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
					font-size: 28rpx;
				}
			}

		}
	}
</style>