<template>
	<!-- 团购 -->
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsList" :key="index">
			<view class="top">
				<image src="../../static/dog.png" mode="" class="pet-img"></image>
				<view class="right">
					<view class="ms">小狗洗澡洗澡洗澡洗澡小狗洗澡洗澡洗澡洗澡洗</view>
					<view class="shop">
						<view class="shop-one">
							<view class="price"> <span style="font-size: 24rpx;">￥</span>122</view>
							<view class="oldprice">￥124</view>
							<view class="Discounts">9折</view>
							<view class="name" v-if="!isViolation">
								x1
							</view>
						</view>
					</view>
				</view>
			</view>
			<view class="bottom" v-if="isViolation">违规违规违规违规违规违规违规违规违规违规违规违规违规违规违规违规违规违规违规违规违规</view>
		</view>
	</view>
</template>

<script>
	export default {

		props: {
			petsList: {
				type: Array,
				default: []
			},
			isViolation: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;


		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 20rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;
			
			.top {
				display: flex;
			}
			
			.bottom {
				color: #FF4646;
				font-size: 28rpx;
				padding-top: 20rpx;
				box-sizing: border-box;
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}

			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}


				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					text-decoration: line-through;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					padding: 4rpx;
					box-sizing: border-box;
					height: 32rpx;
					font-size: 20rpx;
					margin: 0px 12rpx;

				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					flex-direction: column;

					.shop-one {
						width: 100%;
						font-size: 24rpx;
						display: flex;
						align-items: baseline;
						margin-bottom: 12rpx;
						position: relative;

						.price {
							font-size: 32rpx;
							color: #FD611E;
							margin: 0px 12rpx;

						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}

					.name {
						display: flex;
						justify-content: flex-end;
						color: #666666;
						font-size: 32rpx;
						align-items: center;
						flex: 1;
					}
				}
			}
		}
	}
</style>