<template>
	<view class="homeFeed-card">
		<view class="homeFeed-item" v-for="(item, index) in detailList" v-bind:key="index">
			<view class="top ajbetween">
				<view class="title">{{item.remark}}</view>
				<view class="price">-{{item.money}}</view>
			</view>
			<view class="time">
				<view class="left">{{item.createTime}}</view>
				<!-- <view class="iskp">已开发票</view> -->
			</view>

		</view>


	</view>
</template>

<script>
	export default {
		props: {
			detailList: {
				type: Array,
				default: [],
			},
		},
		data() {
			return {};
		},
		onLoad() {},
		methods: {},
	};
</script>

<style scoped lang="scss">
	.homeFeed-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0px 20rpx;
		box-sizing: border-box;
		background-color: #fff;

		.homeFeed-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			
			padding: 20rpx 20rpx;
			box-sizing: border-box;
			position: relative;
			border-bottom: 1rpx solid #eee;
			&:last-child {
				border-bottom: none !important;
			}

			.top {
				color: #333;
				font-size: 28rpx;
			}
			.time {
				color: #999;
				font-size: 24rpx;
				display: flex;
				justify-content: space-between;
				margin-top: 8rpx;
			}
		}
	}
</style>