<template>
	<view class="containner">
		<view class="home-wraper">
			<image class="home-top-bg" mode="aspectFill" src="../static/img/Background_Certified_Merchant@2x.png">
			</image>
			<view class="top-nav" @click="goBack">
				<image class="left-array" mode="widthFix" src="../static/img/icon_return_white@2x.png"></image>
			</view>
			<view class="welcome-in">欢迎入驻 滳滴宠宠</view>
		</view>

		<view class="wrapper">
			<view class="setted-types">
				<view class="seted" @click="goPage('/pagesA/settled/merchantsetd?type=1')">
					<image class="img" src="../static/img/icon_company@2x.png" mode="widthFix"></image>
					<view class="info">
						<view class="name f32C3">企业/公司</view>
						<view class="sub-name f28C9">营业执照类型为公司</view>
					</view>
					<image class="array-right" src="../static/img/icon_More24@2x.png" mode="widthFix"></image>
				</view>

				<view class="seted" @click="goPage('/pagesA/settled/merchantsetd?type=2')">
					<image class="img" src="../static/img/icon_self-employed@2x.png" mode="widthFix"></image>
					<view class="info">
						<view class="name f32C3">个体工商户</view>
						<view class="sub-name f28C9">营业执照类型个体工商户</view>
					</view>
					<image class="array-right" src="../static/img/icon_More24@2x.png" mode="widthFix"></image>
				</view>

				<view class="seted" @click="goPage('/pagesA/settled/personaltd')">
					<image class="img" src="../static/img/icon_personal@2x.png" mode="widthFix"></image>
					<view class="info">
						<view class="name f32C3">个人身份</view>
							<view class="sub-name f28C9">无营业执照个人身份开店</view>
						</view>
						<image class="array-right" src="../static/img/icon_More24@2x.png" mode="widthFix"></image>
					</view>
				</view>
				<view class="entry-process">入驻流程</view>
				<view class="card">
					<uvTabs :list="tablist" lineWidth="28" style='margin-left: 10rpx;' lineColor="#FFC93F"
						@change='changeTab' :activeStyle="{
						color: '#333333',
						fontWeight: 'bold',
						transform: 'scale(1)'
					}" :inactiveStyle="{
						color: '#999999',
						transform: 'scale(1)'
					}" itemStyle="padding-left:28rpx; padding-right: 28rpx; height: 88rpx;fontSize:28rpx"></uvTabs>

					<uv-steps direction="column" inactiveColor='#FD611E' activeColor='#FD611E' current='-1'
						v-if="index!=2">
						<uv-steps-item v-for="(item,index1) in company" :key="index1">
							<template v-slot:title>
								<div class="title">{{item.title}}</div>
							</template>
							<template v-slot:desc>
								<div class="desc">{{item.desc}}</div>
							</template>
						</uv-steps-item>
					</uv-steps>

					<uv-steps direction="column" inactiveColor='#FD611E' activeColor='#FD611E' current='-1' v-else>
						<uv-steps-item v-for="(item,index) in person">
							<template v-slot:title>
								<div class="title">{{item.title}}</div>
							</template>
							<template v-slot:desc>
								<div class="desc">{{item.desc}}</div>
							</template>
						</uv-steps-item>
					</uv-steps>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	export default {
		components: {
			uvTabs
		},
		data() {
			return {
				tablist: [{
					name: '企业/公司'
				}, {
					name: '个体工商户',
				}, {
					name: '个人身份',
				}],
				company: [{
					title: '身份认证',
					desc: '上传法定代表人身份证证件以及照片、经营者 身份证证件以及照片进行验证'
				}, {
					title: '提交材料',
					desc: '上传营业执照等相关资质材料'
				}, {
					title: '平台审核',
					desc: '平台进行资质审核'
				}],
				person: [{
					title: '身份认证',
					desc: '上传人身份证证件以及照片进行验证，填写商 户信息'
				}, {
					title: '平台审核',
					desc: '平台进行资质审核'
				}],
				index: 0
			}
		},
		onLoad() {

		},
		methods: {
			changeTab(item) {
				this.index = item.index
			},
			goBack() {
				uni.navigateBack()
			},
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	
	::v-deep .uv-steps-item__wrapper__circle__text {
		font-size: 32rpx;
	}
	::v-deep .uv-steps {
		margin-left: 30rpx;
		margin-top: 40rpx;

		.uv-steps-item__wrapper__circle {
			width: 60rpx;
			height: 60rpx;
		}


		.uv-steps-item__content {
			margin-top: 0px !important;
			margin-left: 28rpx !important;

		}

		.title {
			color: #333 !important;
			font-size: 28rpx !important;
			font-weight: 500;
			margin-bottom: 8rpx;
		}

		.desc {
			color: #999 !important;
			font-size: 24rpx !important;
			height: 110rpx;

		}
	}

	.containner {
		padding-bottom: 100rpx;
		box-sizing: border-box;

		.wrapper {
			padding: 0px 28rpx;
			box-sizing: border-box;
			margin-top: -160rpx;

			.card {
				background-color: #fff;
				border-radius: 20rpx;
				padding: 28rpx 54rpx;
				box-sizing: border-box;
			}

			.setted-types {
				width: 100%;
				display: flex;
				flex-direction: column;

				.seted {
					width: 100%;
					height: 160rpx;
					background: #FFFFFF;
					border-radius: 20rpx 20rpx 20rpx 20rpx;
					display: flex;
					align-items: center;
					padding: 42rpx 20rpx;
					box-sizing: border-box;
					position: relative;
					margin-bottom: 20rpx;

					.img {
						width: 76rpx;
						height: 76rpx;
						margin-right: 28rpx;
					}

					.info {
						.name {
							margin-bottom: 4rpx;
						}
					}

					.array-right {
						width: 48rpx;
						height: 48rpx;
						position: absolute;
						right: 20rpx;
						top: 56rpx;
					}
				}
			}

			.entry-process {
				color: #333333;
				font-size: 32rpx;
				width: 100%;
				text-align: center;
				margin: 60rpx 0px 28rpx;
			}
		}

		.home-wraper {
			width: 100%;
			height: 400rpx;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			position: relative;

			.welcome-in {
				width: 100%;
				position: absolute;
				text-align: center;
				font-size: 48rpx;
				color: #fff;
				margin-top: calc(var(--status-bar-height) + 54px);
			}

			.home-top-bg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
			}

			.top-nav {
				width: 100%;
				height: 60rpx;
				display: flex;
				align-items: center;
				padding: 0px 30% 0px 28rpx;
				box-sizing: border-box;
				position: absolute;
				z-index: 99;
				margin-top: var(--status-bar-height);
				justify-content: space-between;

				.left-array {
					width: 48rpx;
					height: 48rpx;
				}

				.set-img {
					width: 40rpx;
					height: 40rpx;
				}
			}

		}
	}
</style>