<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				{{model.type == 1 ? '企业/公司': model.type == 2 ? '个体工商户':  model.type == 3 ? '个人身份' : ''  }}入驻
			</template>
		</commonTop>

		<view class="entry-process">
			<view class="pro-item" v-for="(item,index) in steps" :class="stepsIndex==index?'active':''"
				v-bind:key="index">
				<view class="step">{{index + 1}}</view>
				<span>{{item}}</span>
			</view>
		</view>

		<uv-form labelPosition="left" :model="model" ref="form">
			<!-- 第一步 -->
			<view class="step1" v-show="stepsIndex==0">
				<view class="pets-card">
					<view class="title beforeDot">请上传法定代表人身份证</view>
					<view class="pics-card">
						<uv-form-item>
							<view class="card-row">
								<uploadImg v-model="model.corporateIdCardFront" :maxCount='1'
									@updateImg="(e)=>updateImg(e,'corporateIdCardFront')" :width='155' :height="100"
									:imgUrlType='1' imgUrl='@/static/Photo_Front@2x.png'></uploadImg>
								<view class="card-title">身份证正面</view>
							</view>
						</uv-form-item>
						<uv-form-item>
							<view class="card-row">
								<uploadImg v-model="model.corporateIdCardBack" :maxCount='1'
									@updateImg="(e)=>updateImg(e,'corporateIdCardBack')" width='155' height="100"
									:imgUrlType='2'>
								</uploadImg>
								<view class="card-title">身份证反面</view>
							</view>
						</uv-form-item>
					</view>
				</view>

				<view class="pets-card">
					<view class="title beforeDot">请上传法定代表人真实照片</view>
					<view class="pics-card">
						<uv-form-item>
							<uploadImg v-model="model.corporatePicture" :maxCount='1'
								@updateImg="(e)=>updateImg(e,'corporatePicture')" width='104' height="104"></uploadImg>
						</uv-form-item>
					</view>
				</view>

				<view class="pets-card">
					<uv-form-item label="真实姓名" labelWidth='150' :required="true" prop="corporateRealName">
						<uv-input v-model="model.corporateRealName" placeholder="请输入" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>
					<uv-form-item label="身份证号" labelWidth='150' :required="true">
						<uv-input v-model="model.corporateIdCard" placeholder="请输入" maxlength="18" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>
					<uv-form-item label="手机号" labelWidth='150' :required="true">
						<uv-input v-model="model.corporatePhone" type='number' maxlength="11" placeholder="请输入" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>
				</view>

				<view class="pets-card" v-if="model.type==1">
					<uv-form-item label="是否有经营者" labelWidth='140' prop="hasManage">
						<template v-slot:right><uv-switch size="24" v-model="model.hasManage" activeColor="#FD611E"
								:activeValue='1' :inactiveValue='0'></uv-switch></template>
					</uv-form-item>
				</view>
				<view v-if="model.hasManage==1 && model.type==1">
					<view class="pets-card">
						<view class="title beforeDot">请上传经营者身份证</view>
						<view class="pics-card">
							<uv-form-item prop="manageIdCardFront">
								<view class="card-row">
									<uploadImg v-model="model.manageIdCardFront" :maxCount='1'
										@updateImg="(e)=>updateImg(e,'manageIdCardFront')" width='155' height="100"
										:imgUrlType='1' imgUrl='@/static/Photo_Front@2x.png'></uploadImg>
									<view class="card-title">身份证正面</view>
								</view>
							</uv-form-item>
							<uv-form-item prop="manageIdCardBack">
								<view class="card-row">
									<uploadImg v-model="model.manageIdCardBack" :maxCount='1'
										@updateImg="(e)=>updateImg(e,'manageIdCardBack')" width='155' height="100"
										:imgUrlType='2'>
									</uploadImg>
									<view class="card-title">身份证反面</view>
								</view>
							</uv-form-item>
						</view>
					</view>
					<view class="pets-card">
						<view class="title beforeDot">请上传经营者真实照片</view>
						<view class="pics-card">
							<uv-form-item prop="managePicture">
								<uploadImg v-model="model.managePicture" :maxCount='1'
									@updateImg="(e)=>updateImg(e,'managePicture')" width='104' height="104"></uploadImg>
							</uv-form-item>
						</view>
					</view>

					<view class="pets-card">
						<uv-form-item label="真实姓名" labelWidth='150' :required="true">
							<uv-input v-model="model.manageRealName" placeholder="请输入" fontSize='14px'
								inputAlign='right' border="none">
							</uv-input>
						</uv-form-item>
						<uv-form-item label="身份证号" labelWidth='150' :required="true">
							<uv-input v-model="model.manageIdCard" placeholder="请输入"  maxlength="18" fontSize='14px' inputAlign='right'
								border="none">
							</uv-input>
						</uv-form-item>
						<uv-form-item label="手机号" labelWidth='150' :required="true">
							<uv-input v-model="model.managePhone" placeholder="请输入" maxlength="11" fontSize='14px' inputAlign='right'
								border="none">
							</uv-input>
						</uv-form-item>
					</view>

				</view>
			</view>

			<!-- 第二步 -->
			<view class="step2" v-show="stepsIndex==1">
				<view class="pets-card">
					<view class="title beforeDot">请上传营业执照</view>
					<view class="pics-card">
						<uv-form-item prop="zspic">
							<uploadImg v-model="model.businessLicense" :maxCount='1'
								@updateImg="(e)=>updateImg(e,'businessLicense')" width='104' height="104"></uploadImg>
						</uv-form-item>
					</view>
				</view>

				<view class="pets-card">
					<uv-form-item label="选择经营类目" :required="true" labelWidth='140' prop="businessCategory"
						@click="showinvoiceType">
						<uv-input v-model="model.businessCategoryTip" inputAlign='right' readonly="readonly"
							disabledColor="#ffffff" placeholder="请选择" border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item>

					<BusinessCategoryPopup ref="businessCategoryPopup" @fbok='businessCategoryOk'>
					</BusinessCategoryPopup>

				</view>
				<view class="pets-card">
					<view class="title">行业资质</view>
					<view class="pics-card">
						<uv-form-item prop="industryCertificate">
							<uploadImg v-model="model.industryCertificate"
								@updateImg="(e)=>updateImg(e,'industryCertificate')" :maxCount='1' width='104'
								height="104"></uploadImg>
						</uv-form-item>
					</view>
				</view>
				<view class="pets-card">
					<view class="title">品牌商标认证</view>
					<view class="pics-card">
						<uv-form-item prop="brandTrademark">
							<uploadImg v-model="model.brandTrademark" :maxCount='1'
								@updateImg="(e)=>updateImg(e,'brandTrademark')" width='104' height="104"></uploadImg>
						</uv-form-item>
					</view>
				</view>
			</view>

			<!-- 第三步 -->
			<view class="step3" v-show="stepsIndex==2">
				<view class="pets-card">
					<view class="title beforeDot">上传商户logo</view>
					<view class="pics-card">
						<uv-form-item prop="logo">
							<uploadImg v-model="model.logo" :maxCount='1' @updateImg="(e)=>updateImg(e,'logo')"
								width='104' height="104"></uploadImg>
						</uv-form-item>
					</view>
				</view>
				<view class="pets-card">
					<view class="title beforeDot">上传门店照片</view>
					<view class="pics-card">
						<uv-form-item prop="photo">
							<uploadImg v-model="model.photo" :maxCount='6' :multiple='true'  @updateImg="(e)=>updateImg(e,'photo')"
								width='90' height="90"></uploadImg>
						</uv-form-item>
					</view>
				</view>

				<view class="pets-card">
					<uv-form-item label="商户名称" labelWidth='150' prop="name" :required="true" borderBottom>
						<uv-input v-model="model.name" placeholder="请输入" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>
					<uv-form-item label="商户简介" labelWidth='150' prop="info" labelPosition="top" :required="true">
						<uv-textarea v-model="model.info" placeholder="请输入（4-500字）" maxlength="500" fontSize='16px' border="none">
						</uv-textarea>
					</uv-form-item>
				</view>

				<view class="pets-card">
					<uv-form-item label="联系电话" labelWidth='150' prop="phone" :required="true">
						<uv-input v-model="model.phone" type='number' placeholder="请输入" fontSize='14px' inputAlign='right'
							border="none">
						</uv-input>
					</uv-form-item>

					<uv-form-item label="地点" labelWidth='140' prop="address" @click="chooseLocation" :required="true">
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.address"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item>

					<uv-form-item label="营业时间" labelWidth='100' prop="businessHours" @click="openbusinessHours"
						:required="true">
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.businessHours"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item>

					<uv-form-item label="服务关键词" labelWidth='100' prop="keyword" @click="open">
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.keyword"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
						</uv-input>
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item>

					<uv-picker ref="timepicker" :columns="timeColumns" @confirm="timeConfirm"></uv-picker>

					<uv-popup ref="popup" :round='40' mode="center">
						<view class="pop-wrapper">
							<view class="pop-title">
								<view class="close" @click.stop="close">
									<image src="../static/img/icon_closure@2x.png" mode="widthFix"></image>
								</view>
								服务关键词
								<view class="confirm-btn" @click.stop="confirmKeyword">
									确认
								</view>
							</view>
							<view class="ipt-wrapper">
								<input type="text" class="ipt-sr" v-model="keyword" placeholder="请输入（建议2-6字关键词）">
								<view class="btn" @click="addTags">确定</view>
							</view>
							<view class="selected" v-if="tags.length > 0">已选择</view>
							<view class="tag-wrapper">
								<uvTags :text="item" type="warning" color="#333333" bgColor='#fff' borderColor='#eeeeee'
									closable @close="tagClose(index)" v-for="(item,index) in tags" :key="index">
								</uvTags>
							</view>
						</view>
					</uv-popup>

				</view>
			</view>

			<view class="step4" v-show="stepsIndex==3">
				<!-- 审核中 -->
				<view class="under-review" v-if="model.status == 1">
					<view class="pets-card auditing">
						<image class="src" src="../static/img/icon_Review@2x.png"></image>
						<view class="sh-title">平台正在审核中</view>
						<view class="sh-subtitle">预计3个工作日左右审核</view>
					</view>
					<view class="goBack" @click="goBack()">返回</view>
				</view>

				<!-- 审核未通过 -->
				<view class="under-review" v-else-if="model.status == 3">
					<view class="pets-card auditing">
						<image class="src" src="../static/img/icon_Review_failed@2x.png"></image>
						<view class="sh-title">审核未通过</view>
					</view>
					<view class="pets-card fail">
						<view class="fail-title">未通过原因</view>
						<view class="reson">{{model.reject}}</view>
					</view>
					<view class="goBack" @click="reEdite">重新编辑</view>
				</view>

				<!-- 审核通过 -->
				<view class="under-review" v-else-if="model.status == 2">
					<view class="pets-card auditing">
						<image class="src" src="../static/img/pass.png"></image>
						<view class="sh-title">审核通过</view>
					</view>
					<!-- <view class="goBack" @click="reEdite">查看</view> -->
				</view>
			</view>
		</uv-form>
		<view class="btm-pay" v-if="stepsIndex < 3">
			<view class="left" @click="preStep" v-if="stepsIndex > 0">
				上一步
			</view>
			<view class="right" @click="nextStep">{{stepsIndex == 2 ? '提交': '下一步'}} </view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import BusinessCategoryPopup from '@/components/businessCategoryPopup.vue'
	import uploadImg from '@/components/uploadImg.vue'
	import uvTags from '@/uni_modules/uv-tags/components/uv-tags/uv-tags.vue'
	import uvCheckboxGroup from '@/uni_modules/uv-checkbox/components/uv-checkbox-group/uv-checkbox-group.vue'
	import uvCheckbox from '@/uni_modules/uv-checkbox/components/uv-checkbox/uv-checkbox.vue'
	import {
		businessCategory
	} from "@/config/vmeitime-http/common.js";
	import {
		showToast,
		getLocation
	} from '@/utils/util.js'
	import {
		merchantRegister,
		registerInfo,
		merchantRegisterEdit
	} from "@/config/vmeitime-http/merchant.js";
	import {
		isValidIDCard,
		isValidPhoneNumber
	} from '@/utils/check.js'

	export default {
		components: {
			commonTop,
			uploadImg,
			uvTags,
			uvCheckboxGroup,
			uvCheckbox,
			BusinessCategoryPopup
		},
		data() {
			return {
				keyword: '',
				stepsIndex: 0,
				steps: ['实名认证', '上传证件', '填写商户信息', '平台审核'],
				timeColumns: [
					['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
					['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
					['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
						'11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
						'21:00', '22:00', '23:00', '24:00'
					],
					['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
						'11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
						'21:00', '22:00', '23:00', '24:00'
					],
				],
				rules: {},
				model: {
					"name": "",
					"logo": "",
					"phone": "",
					"info": "",
					"address": "",
					"businessHours": "",
					"keyword": "",
					"photo": "",
					"type": "",
					"realName": "",
					"idCard": "",
					"idCardFront": '',
					"idCardBack": "",
					"businessLicense": "",
					"corporateIdCardFront": "",
					"corporateIdCardBack": "",
					"corporatePicture": "",
					"corporateRealName": "",
					"corporateIdCard": "",
					"corporatePhone": "",
					"hasManage": 0,
					"manageIdCardFront": "",
					"manageIdCardBack": "",
					"managePicture": "",
					"manageRealName": "",
					"manageIdCard": "",
					"managePhone": "",
					"industryCertificate": "",
					"brandTrademark": "",
					"businessCategory": [],
					"businessCategoryTip": ''
				},
				tags: []
			}
		},
		onLoad(options) {
			this.model.type = options.type
		},
		created() {
			this.registerInfo()
		},
		methods: {

			// 选中经营类目
			businessCategoryOk(e) {
				console.log(e)
				this.model.businessCategory = e
				this.$set(this.model, 'businessCategoryTip', `共选中${this.model.businessCategory.length}项`)
			},

			// 打开经营类目选择
			showinvoiceType() {
				this.$refs.businessCategoryPopup.open(this.model.businessCategory);
			},


			// 重新编辑
			reEdite() {
				this.stepsIndex = 0
			},
			// 获取详情
			async registerInfo() {
				let that = this
				registerInfo().then((res) => {
					this.model = res
					this.model.hasManage = parseInt(this.model.hasManage)
					this.tags = this.model.keyword.split(',')
					this.model.businessCategory = this.model.businessCategory.map(Number)
					this.$set(this.model, 'businessCategoryTip', `共选中${this.model.businessCategory.length}项`)
					if (this.model.status != 0) {
						this.stepsIndex = 3
					}

				})

			},

			updateImg(img, name) {
				this.model[name] = img
			},
			goBack() {
				uni.navigateBack()
			},
			// 确认关键词
			confirmKeyword() {
				if (this.tags.length == 0) {
					uni.showToast({
						title: '没有关键词',
						icon: 'none'
					})
					return false
				}
				this.model.keyword = this.tags.join(',')
				this.close()
			},
			// 添加关键词标签
			addTags() {
				if (!this.keyword) {
					uni.showToast({
						title: '请输入关键词',
						icon: 'none'
					})
					return false
				}
				let isAdd = this.tags.includes(this.keyword.trim())
				if (!isAdd) {
					this.tags.push(this.keyword)
					this.keyword = ''
				} else {
					uni.showToast({
						title: '关键词已存在',
						icon: 'none'
					})
					this.keyword = ''
				}
			},

			// 删除关键词标签
			tagClose(index) {
				this.tags.splice(index, 1)
			},
			open() {
				this.$refs.popup.open();
			},
			close() {
				this.$refs.popup.close();
			},

			openbusinessHours() {
				this.$refs.timepicker.open();
			},

			timeConfirm(e) {
				let data = e.value
				let time = `${data[0]} - ${data[1]}  ${data[2]}:${data[3]}`
				console.log(time)
				this.model.businessHours = time
			},

			// 选择位置
			async chooseLocation() {
				let adr = await getLocation()
				if (adr) {
					let data = Object.assign(this.model, adr)
				}
				this.model = data
			},

			// 如果选择友好场所二级,清除其他
			changePlaces() {
				this.model.businessCategory = [1]
			},


			// 提交审核
			submitFrom(model) {
				merchantRegister(model).then((res) => {
					showToast('提交成功')
					this.stepsIndex = 3
				})
			},
			// 修改审核
			editeSumitFrom(model) {
				merchantRegisterEdit(model).then((res) => {
					// showToast('提交成功')
					this.stepsIndex = 3
				})
			},

			// 上一步
			preStep() {
				if (this.stepsIndex == 0) {
					return false
				}
				this.stepsIndex--
			},

			// 下一步
			nextStep() {
				console.log(isValidIDCard(this.model.corporateIdCard))
				if (this.stepsIndex == 3) {
					return false
				}
				// 第一步验证 
				if (this.stepsIndex === 0) {
					if (!this.model.corporateIdCardFront) {
						showToast('请上传法人身份证正面')
						return false
					} else if (!this.model.corporateIdCardBack) {
						showToast('请上传法人身份证反面')
						return false
					} else if (!this.model.corporatePicture) {
						showToast('请上传法人真实照片')
						return false
					} else if (!this.model.corporateRealName) {
						showToast('请输入法人真实姓名')
						return false
					} else if (!this.model.corporateIdCard) {
						showToast('请输入法人身份证号')
						return false
					} else if (!isValidIDCard(this.model.corporateIdCard)) {
						showToast('法人身份证号格式不正确')
						return false
					} else if (!this.model.corporatePhone) {
						showToast('请输入法人手机号')
						return false
					}else if (!isValidPhoneNumber(this.model.corporatePhone)) {
						showToast('法人手机号格式不正确')
						return false
					} else if (this.model.hasManage == 1 && !this.model.manageIdCardFront) {
						showToast('请上传经营者身份证正面')
						return false
					} else if (this.model.hasManage == 1 && !this.model.manageIdCardBack) {
						showToast('请上传经营者身份证反面')
						return false
					} else if (this.model.hasManage == 1 && !this.model.managePicture) {
						showToast('请上传经营者真实照片')
						return false
					} else if (!this.model.corporateRealName) {
						showToast('请输入经营者真实姓名')
						return false
					} else if (!this.model.corporateIdCard) {
						showToast('请输入经营者身份证号')
						return false
					} else if (!this.model.corporatePhone) {
						showToast('请输入经营者手机号')
						return false
					} else {
						this.stepsIndex++
						return true
					}
				} else if (this.stepsIndex == 1) {
					if (!this.model.businessLicense) {
						showToast('请上传营业执照')
						return false
					} else if (this.model.businessCategory.length == 0) {
						showToast('请选择经营类目')
						return false
					} else {
						this.stepsIndex++
						return true
					}
				} else if (this.stepsIndex == 2) {
					if (!this.model.logo) {
						showToast('请上传商户logo')
						return false
					} else if (!this.model.photo) {
						showToast('请上传门店照片')
						return false
					} else if (!this.model.name) {
						showToast('请输入商户名称')
						return false
					} else if (!this.model.info) {
						showToast('请输入简介')
						return false
					} else if (!this.model.phone) {
						showToast('请输入电话')
						return false
					} else if (!this.model.address) {
						showToast('请选择地址')
						return false
					} else if (!this.model.businessHours) {
						showToast('请选择营业时间')
						return false
					} else {
						// status 认证状态;0-未提交 1-待认证 2-已通过 3-驳回
						this.model.status = 1
						if (this.model.id) {
							this.editeSumitFrom(this.model)
						} else {
							this.submitFrom(this.model)
						}

					}
				}

			}
		}
	}
</script>

<style scoped lang="scss">
	::v-deep .uv-form {
		background-color: #F9F9F9;

		.uv-textarea {
			padding: 10px 0px !important;
		}
	}

	.under-review {
		padding-top: 20rpx;
		box-sizing: border-box;

		.fail {
			font-size: 32rpx;
			padding: 36rpx 20rpx;
			box-sizing: border-box;

			.fail-title {
				color: #333;
				margin-bottom: 28rpx;
			}

			.reson {
				color: #666;
			}
		}

		.goBack {
			width: 100%;
			height: 116rpx;
			line-height: 116rpx;
			background: #FFFFFF;
			border-radius: 20rpx;
			color: #333333;
			font-size: 32rpx;
			text-align: center;
		}

		.auditing {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 56rpx 0px !important;
			box-sizing: border-box;

			image {
				width: 120rpx;
				height: 120rpx;
			}

			.sh-title {
				color: #333333;
				font-size: 32rpx;
				margin: 28rpx 0px 8rpx;
			}

			.sh-subtitle {
				color: #999999;
				font-size: 28rpx;
			}

		}
	}

	.pop-wrapper {
		background-color: #F9F9F9;
		width: 800rpx;
		min-height: 600rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding: 120rpx 50rpx 200rpx;
		box-sizing: border-box;
		position: relative;

		.selected {
			color: #333333;
			font-size: 32rpx;
			margin: 28rpx 0px;
		}

		.tag-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.ipt-wrapper {
			width: 100%;
			height: 100rpx;
			background: #FFFFFF;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			position: relative;

			.ipt-sr {
				width: 80%;
				height: 100%;
				padding-left: 20rpx;

				font-size: 32rpx;
			}

			.btn {
				width: 140rpx;
				color: #FD611E;
				font-size: 32rpx;
				position: absolute;
				right: 0rpx;
				top: 0px;
				bottom: 0px;
				margin: auto;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}


		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: absolute;
			background-color: #F9F9F9;
			top: 0px;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				left: -80%;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.confirm-btn {
				width: 112rpx;
				height: 56rpx;
				background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				color: #fff;
				font-size: 28rpx;
				text-align: center;
				line-height: 56rpx;
				position: absolute;
				right: 50rpx;
			}
		}
	}

	.pics-card {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.card-row {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.card-title {
				text-align: center;
				font-size: 24rpx;
				color: #666;
				margin-top: 16rpx;
			}
		}
	}

	.active {
		.step {
			border: 2rpx solid #FD611E !important;
			color: #FD611E !important;
		}

		span {
			color: #333333 !important;
		}
	}

	.entry-process {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 40rpx 0px 28rpx;

		.pro-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 25%;

			&:not(:last-child)::after {
				width: 88rpx;
				position: absolute;
				content: '';
				border-bottom: 1rpx dashed #CCCCCC;
				bottom: 70%;
				left: 74%;


			}

			.step {
				text-align: center;
				line-height: 60rpx;
				width: 60rpx;
				height: 60rpx;
				border-radius: 50%;
				background: #FFFFFF;
				border: 2rpx solid #CCCCCC;
				font-size: 32rpx;
				color: #999999;
				margin-bottom: 12rpx;
			}

			span {
				font-size: 24rpx;
				color: #999999;
			}
		}
	}

	.btm-pay {
		display: flex;
		align-items: center;
		padding: 14rpx 28rpx;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		z-index: 9;
		font-size: 28rpx;

		.left {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #333333;
			width: 226rpx;
			height: 92rpx;
			background: #FFFFFF;
			border-radius: 20rpx;
			border: 2rpx solid #CCCCCC;
			margin-right: 28rpx;
		}

		.right {
			flex: 1;
			height: 92rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 20rpx;
			color: #fff;
			text-align: center;
			line-height: 92rpx;
		}
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 28rpx !important;
	}

	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 0rpx 28rpx 0px;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;

		.title {
			font-size: 32rpx;
			color: #333333;
			margin-top: 28rpx;
			position: relative;
		}

		.flex {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 28rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}

		.title {
			color: #333333;
			font-size: 28rpx;
			font-weight: 500;
		}
	}
</style>