<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in orderList" :key="index">
			<view class="shop-title ajbetween borderBtm" @click="goDetail">
				<view class="s-left">
					<image src="../static/img/icon_feed22_1@2x.png" mode="widthFix" class="shop-img"></image>
					云喂养
					<image src="../static/img/icon_arrow_right14.png" mode="widthFix" class="shop-right"></image>
				</view>
				<view class="s-right f32C9">已喂养</view>
			</view>
			<view class="top">
				<view class="ms ajbetween">
					<view class="row">
						<view class="title" style="color: #333;font-size: 28rpx;">宠物名称名称：</view>
						<span class="f28C3">￥122</span>
					</view>
					<view class="row">
						<view class="title">喂养天数：</view>
						<view class="text"> 20天 </view>
					</view>
					<view class="row">
						<view class="title">救助机构：</view>
						<view class="text"> 地名称名称名称名称名称名称</view>
					</view>
				</view>

			</view>


			<view class="bottom">
				<div class="btn">删除</div>
				<div class="btn">去喂养</div>
				<div class="btn" style="color: #FD611E;" @click="goPage('/pagesA/public/subEvaluation')">评价</div>
				
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			orderList: {
				type: Array,
				default: []
			}
		},
		data() {
			return {
				title: 'Hello'
			}
		},
		onLoad() {

		},
		methods: {
			// 跳转详情
			goDetail() {
				uni.navigateTo({
					url: '/pagesA/public/merchantDetails'
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 0px 20rpx 32rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;

			.shop-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 108rpx;

				.s-left {
					display: flex;
					align-items: center;
					color: #333333;
					font-size: 32rpx;

					.shop-img {
						width: 50rpx;
						height: 50rpx;
						border-radius: 12rpx;
						margin-right: 16rpx;
						margin-top: 6rpx;
					}

					.shop-right {
						width: 28rpx;
						height: auto;
						margin-left: 10rpx;
						margin-top: 5rpx;
					}
				}
			}

			.top {
				display: flex;
				padding-top: 32rpx;
				box-sizing: border-box;
				flex-direction: column;
			}

			.bottom {
				display: flex;
				justify-content: flex-end;
				margin-top: 16rpx;
				color: #333333;
				font-size: 28rpx;

				.btn {
					margin-left: 16rpx;
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					line-height: 64rpx;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
				}
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}



			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				font-size: 32rpx;
				display: flex;
				flex-direction: column;

				.row {
					display: flex;
					width: 100%;
					font-size: 28rpx;
					margin-bottom: 16rpx;
					span {
						flex: 1;
						text-align: right;
					}

					.title {
						color: #999999;
					}

					.text {
						color: #666;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
</style>