<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsList" :key="index" @click="goPage">
			<image src="@/static/dog.png" mode="" class="pet-img"></image>

			<view class="mear-count">
				<image src="@/static/icon_position16_2@2x.png" mode="" class="point-img"></image>
				900米
			</view>
			<view class="shop">
				<image src="@/static/dog.png" mode="" class="company-img"></image>
				<view class="name">
					有猫腻宠物工作室有猫腻宠物工作室有猫腻宠物工作室
				</view>
			</view>
			<span class="ms">123只待喂养</span>

		</view>
	</view>
</template>

<script>
	export default {
		props: ["petsList"],
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {
			goPage() {
				uni.navigateTo({
					url: '/pagesA/cloudFeed/mechanismDetail'
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0rpx 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 49%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 8rpx;
			box-sizing: border-box;
			position: relative;


			.mear-count {

				padding: 4rpx 16rpx;
				box-sizing: border-box;
				color: #fff;
				box-sizing: border-box;
				height: 40rpx;
				font-size: 32rpx;
				border-radius: 12rpx;
				background-color: rgba(0, 0, 0, 0.4);
				display: flex;
				align-items: center;
				position: absolute;
				left: 26rpx;
				top: 270rpx;
				font-size: 22rpx;
				justify-content: center;

				.point-img {
					width: 32rpx;
					height: 32rpx;
				}
			}


			.pet-img {
				width: 100%;
				height: 322rpx;
				margin-bottom: 16rpx;
			}

			.ms {
				width: 200rpx;
				padding: 8rpx 20rpx;
				box-sizing: border-box;
				background: #FFEFE9;
				border-radius: 8rpx 8rpx 8rpx 8rpx;
				opacity: 0.8;
				color: #FD611E;
				font-size: 24rpx;
			}

			.old-price {
				color: #CCCCCC;
				font-size: 24rpx;
				text-decoration: line-through;
				margin-left: 12rpx;
			}

			.shop {
				display: flex;
				align-items: center;
				color: #666666;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 22rpx;
				margin-bottom: 16rpx;

				.company-img {
					width: 56rpx;
					height: 56rpx;
					border-radius: 50%;
					margin-right: 12rpx;
				}

				.name {
					flex: 1;
					color: #666;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					font-size: 28rpx;
				}
			}
		}
	}
</style>