<template>
	<!-- 团购 -->
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsList" :key="index">
			<image :src="item.picture.split(',')[0] || item.picture" mode="aspectFill" class="pet-img"></image>
			<view class="right">
				<view class="ms">{{item.name}}</view>
				<view class="shop">
					<view class="shop-one">
						<view class="flex" v-if="item.realAmount && item.realAmount!='0.00' ">
							<view class="price">￥{{item.realAmount || 0}}</view>
							<view class="oldprice">￥{{item.totalAmount || 0}}</view>
							<view class="Discounts" v-if="item.discount && item.discount!=1">{{item.discount}}折</view>
							<view class="name">
								已售 {{item.numberSales || 0}}
								<view class="buy-btn" @click="goGroupBuyDetails(item.id)">团购</view>
							</view>
						</view>
						<view class="free" v-else>免费</view>
					</view>


				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {

		props: ["petsList", 'merchantDetail'],
		data() {
			return {
				title: 'Hello'
			}
		},
		created() {

		},
		methods: {
			goGroupBuyDetails(id) {
				uni.navigateTo({
					url: `/pagesA/public/groupBuyDetails?id=${id}&merchantDetail=${ JSON.stringify(this.merchantDetail)}`
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;


		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 20rpx;
			box-sizing: border-box;
			border-radius: 20rpx;

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}

			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}


				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					text-decoration: line-through;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					padding: 4rpx;
					box-sizing: border-box;
					height: 32rpx;
					font-size: 20rpx;
					margin: 0px 12rpx;

				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					flex-direction: column;

					.shop-one {
						width: 100%;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						margin-bottom: 16rpx;
						position: relative;

						.flex {
							width: 100%;
							display: flex;
							align-items: center;
						}

						.free {
							color: #FD611E;
							margin-right: 10rpx;
						}

						.price {
							color: #FD611E;
							margin: 0px 12rpx;

						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}

					.name {
						display: flex;
						justify-content: flex-end;
						color: #666666;
						font-size: 20rpx;
						align-items: center;
						flex: 1;

						.buy-btn {
							width: 112rpx;
							height: 56rpx;
							color: #FFFFFF;
							font-size: 28rpx;
							background: #FD611E;
							border-radius: 12rpx 12rpx 12rpx 12rpx;
							display: flex;
							align-items: center;
							justify-content: center;
							margin-left: 16rpx;
						}
					}
				}
			}
		}
	}
</style>