<template>
	<view class="homeFeed-card">
		<view class="homeFeed-item" v-for="(item, index) in homeFeedList" v-bind:key="index" @click="gopage(item.id)">
			<view class="row-top ajbetween borderBtm">
				<view class="left f32C3">{{item.serviceType}} <span class="f32C9">{{statusMap[item.state]}}</span>
				</view>
				<view class="right">¥{{item.money || 0}}</view>
			</view>
			<view class="row-bottom">
				<span>服务时间：</span>{{item.serviceTime}}
			</view>
			<view class="row-bottom line1Es">
				<span>服务目的地：</span>{{item.address}}
			</view>
		</view>
	</view>
</template>

<script>
	import {
		feedStatusMap
	} from '../../utils/util'
	export default {
		props: {
			homeFeedList: {
				type: Array,
				default: []
			}
		},
		data() {
			return {
				statusMap: feedStatusMap
			}
		},
		onLoad() {

		},
		methods: {
			gopage(id) {
				uni.navigateTo({
					url: `/pagesC/driverEnd/feedorderDetail?id=${id}&type=user`
				})

			}
		}
	}
</script>

<style scoped lang="scss">
	.homeFeed-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0rpx 28rpx;
		box-sizing: border-box;


		.homeFeed-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 0px 20rpx;
			box-sizing: border-box;
			position: relative;
			border-radius: 20rpx;
			margin-top: 28rpx;

			.row-top {
				font-size: 32rpx;
				height: 108rpx;
				line-height: 108rpx;

				.left {
					span {
						margin-left: 16rpx;
					}
				}

				.right {
					color: #1C92FF;
				}
			}

			.row-bottom {
				width: 100%;
				height: 80rpx;
				display: flex;
				align-items: center;
				font-size: 28rpx;

				span {
					color: #999;

				}
			}

		}
	}
</style>