<template>


	<view>
		<uvSticky offsetTop='50' bgColor="#f6f6f6">
			<uvTabs :list="tablist" lineWidth="28" :current='statusCurrentTab' lineColor="#FFC93F" @change='changeTab'
				:activeStyle="{
		 		color: '#333333',
		 		fontWeight: 'bold',
		 		transform: 'scale(1)'
		 	}" :inactiveStyle="{
		 		color: '#999999',
		 		transform: 'scale(1)'
		 	}" itemStyle="padding-left: 15px; padding-right: 15px; height: 88rpx;fontSize:32rpx"></uvTabs>
		</uvSticky>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<view class="pets-card">
				<view class="pets-item" v-for="(item, index) in orderList" :key="index">
					<view class="shop-title ajbetween borderBtm" @click="gopage(`/pagesC/driverEnd/feedorderDetail?id=${item.id}&type=user`)">
						<view class="s-left">
							<image src="../static/img/icon_feed22@2x.png" mode="widthFix" class="shop-img"></image>
							{{item.serviceType}}
							<image src="../static/img/icon_arrow_right14.png" mode="widthFix" class="shop-right">
							</image>
						</view>
						<view class="s-right f32C9">{{statusMap[item.state]}}</view>
					</view>
					<view class="top">
						<view class="ms ajbetween">
							<view class="row">
								<view class="title" style="color: #333;font-size: 28rpx;">下单时间：{{item.payTime}}</view>
								<span class="f28C3">￥{{item.payMoney}}</span>
							</view>
							<view class="row">
								<view class="title">服务时间：</view>
								<view class="text"> {{item.serviceTime}}</view>
							</view>
							<view class="row">
								<view class="title" style="width: 200rpx;">服务目的地：</view>
								<view class="text"> {{item.address}}</view>
							</view>
						</view>

					</view>


					<view class="bottom">
						<!-- <div class="btn">删除</div>
						<div class="btn" @click="goPage('/pagesA/public/report')">投诉</div> -->
						<div class="btn">再来一单</div>
						<div class="btn" v-if="item.state==1" style="color: #FD611E;" @click="cancelOrder(item.id)">取消订单
						</div>
						<div class="btn" v-if="item.state==8" style="color: #FD611E;" @click="gopage(`/pagesA/homeFeed/subEvaluation?id=${item.id}`)">评价
						</div>

					</view>
				</view>
			</view>
		</mescroll-body>
	</view>
</template>

<script>
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvSticky from '@/uni_modules/uv-sticky/components/uv-sticky/uv-sticky.vue'
	import { homeFeedPage } from "@/config/vmeitime-http/feed.js";
	import { feedStatusMap, gopage } from '../../utils/util.js'
	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			uvSticky
		},

		data() {
			return {
				gopage: gopage,
				statusCurrentTab: 0,
				tablist: [{
					name: '全部'
				}, {
					name: '待支付',
				}, {
					name: '进行中',
				}, {
					name: '评价',
				}, {
					name: '退款/取消',
				}],
				// 订单状态status
				// 0-待支付, 1-已支付(待接单), 2-已支付取消退款中, 3-已支付取消退款(完成), 4-待支付超时取消(完成), 5-待支付用户取消(完成),
				// 6-已接单, 7-服务中, 8-已完成(完成), 9-已完成评价(完成)
				statusMap: feedStatusMap,
				orderList: [],
				states: '',
			}
		},
		onLoad() {

		},
		methods: {
			// 取消订单
			cancelOrder(id) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确定取消订单吗？',
					success: function(res) {
						if (res.confirm) {
							cancelHomeFeed({
								id: id
							}).then((res) => {
								showToast('取消成功')
								that.mescroll.resetUpScroll();
							})
						}
					}
				});
			
			
			},

			// 一级切换状态
			changeTab(item) {
				this.states = item.name == '全部' ? '' : item.name == '待支付' ? '0' : item.name ==
					'进行中' ? '6,7' : item.name == '评价' ? '8' : item
					.name == '退款/取消' ? '2,3,4,5' : ''

				this.mescroll.resetUpScroll();
				console.log(item)
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc"
				};
				if(this.states) {
					param.states = this.states
				}
				if (page.num == 1) this.orderList = []; //如果是第一页需手动置空列表
				homeFeedPage(param).then((res) => {
					if (res) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						this.totalPage = res.total;
						this.orderList = this.orderList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			}
		}
	}
</script>

<style scoped lang="scss">
	
	
	
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 0px 20rpx 32rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;

			.shop-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 108rpx;

				.s-left {
					display: flex;
					align-items: center;
					color: #333333;
					font-size: 32rpx;

					.shop-img {
						width: 48rpx;
						height: 48rpx;
						border-radius: 12rpx;
						margin-right: 16rpx;
					}

					.shop-right {
						width: 28rpx;
						height: auto;
						margin-left: 10rpx;
						margin-top: 5rpx;
					}
				}
			}

			.top {
				display: flex;
				padding-top: 32rpx;
				box-sizing: border-box;
				flex-direction: column;
			}

			.bottom {
				display: flex;
				justify-content: flex-end;
				margin-top: 16rpx;
				color: #333333;
				font-size: 28rpx;

				.btn {
					margin-left: 16rpx;
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					line-height: 64rpx;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
				}
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}



			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				font-size: 32rpx;
				display: flex;
				flex-direction: column;

				.row {
					display: flex;
					width: 100%;
					font-size: 28rpx;
					margin-bottom: 16rpx;

					span {
						flex: 1;
						text-align: right;
					}

					.title {
						color: #999999;
						
					}

					.text {
						color: #666;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
</style>