<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in lookForListData" :key="index">
			<view @click="goPage(item.id)">
				<image :src="item.picture" mode="" class="pet-img"></image>
				<!-- <view class="mear-count">
					<image src="@/static/icon_position16_2@2x.png" mode="" class="point-img"></image>
					900米
				</view> -->
				<view class="ms line1Es">{{item.content}}</view>
				<view class="shop">
					<view class="left">
						<image v-if='item.userInfo && item.userInfo.avatar' :src="item.userInfo.avatar" mode="" class="company-img"></image>
						<image v-else src="@/static/avatar@2x.png" mode="" class="company-img"></image>
						<view class="name line1Es">
							{{item.userInfo && item.userInfo.nickName}}
						</view>
					</view>
					<view class="like-img" v-if="item.gratitudeType==0 && tabindex==0"><span>￥</span> {{item.gratitude}}</view>
					<view class="like-img" v-else-if="item.gratitudeType==1 && tabindex==0">面议</view>
				</view> 
				<view class="opcity" v-if='item.status == 1'></view>
				<image class="found-img" v-if='item.status == 1' mode="widthFix" src="../static/img/stamp1@2x.png"></image>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			lookForListData: {
				type: Array,
				default: []
			},
			tabindex: {
				type: Number || String,
				default: 0
			}
		},
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {
			// 跳转页面
			goPage(id) {
				uni.navigateTo({
					url: `/pagesA/lookFor/petSeekdetails?id=${id}&tabindex=${this.tabindex}`
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0rpx 28rpx;
		box-sizing: border-box;


		.pets-item {
			width: 49%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 8rpx;
			box-sizing: border-box;
			position: relative;
			margin-top: 16rpx;
			border-radius: 16rpx;
			overflow: hidden;
			.opcity {
				top: 0px;
				left: 0px;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.4);
				z-index: 9;
			}

			.found-img {
				position: absolute;
				width: 240rpx;
				left: 0px;
				right: 0px;
				margin: auto;
				top: 66rpx;
				z-index: 99;
			}

			.mear-count {

				padding: 4rpx 16rpx;
				box-sizing: border-box;
				color: #fff;
				box-sizing: border-box;
				height: 40rpx;
				font-size: 32rpx;
				border-radius: 12rpx;
				background-color: rgba(0, 0, 0, 0.4);
				display: flex;
				align-items: center;
				position: absolute;
				left: 26rpx;
				top: 270rpx;
				font-size: 22rpx;
				justify-content: center;

				.point-img {
					width: 32rpx;
					height: 32rpx;
				}
			}


			.pet-img {
				width: 100%;
				height: 322rpx;
				margin-bottom: 16rpx;
				border-radius: 16rpx;
			}

			.ms {
				width: 100%;
				color: #333333;
				font-size: 28rpx;
				margin-bottom: 16rpx;
			}

			.old-price {
				color: #CCCCCC;
				font-size: 24rpx;
				text-decoration: line-through;
				margin-left: 12rpx;
			}

			.shop {
				display: flex;
				align-items: center;
				color: #666666;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 22rpx;
				justify-content: space-between;

				.left {
					display: flex;
					align-items: center;
					margin-right: 30rpx;
				}

				.like-img {
					color: #FD611E;
					font-size: 32rpx;
					span {
						font-size: 22rpx;
					}
				}

				.company-img {
					width: 40rpx;
					height: 40rpx;
					border-radius: 50%;
					margin-right: 12rpx;
					
				}

				.name {
					width: 125rpx;
					margin-right: 5rpx;
				}
			}
		}
	}
</style>