<template>
	<!-- 团购 -->
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsList" :key="index">
			<image @click.stop='personalhome(item.sourceUser)' v-if="item.sourceUser && item.sourceUser.avatar" :src="item.sourceUser.avatar" mode="aspectFill" class="pet-img">
			</image>
			<image @click.stop='personalhome(item.sourceUser)' v-if="!item.sourceUser || item.sourceUser.avatar=='null'|| !item.sourceUser.avatar" src="@/static/avatar@2x.png"
				class="pet-img">
				<view class="right" @click.stop="gopage(item)">
					<view class="ms">{{item.sourceUser && item.sourceUser.nickName}}</view>
					<view class="shop">
						{{item.messageContent}}
					</view>
				</view>
				<view class="name" v-if="item.messageType==1">
					<view class="buy-btn" :class="item.sourceUser.hasFollow?'gray':''"
						@click.stop="followFn(item.sourceUser, index)">{{item.sourceUser.hasFollow ? '已关注': '回关'}}
					</view>
					<image src="../static/img/icon_delete20@2x.png" mode="aspectFill" class="del-btn"
						@click.stop="del(item.id)"></image>
				</view>
				
				<image @click.stop="gopage(item)" v-if="item.messageType == 2 || item.messageType == 3 || item.messageType == 4" :src="item.picture" mode="aspectFill" class="note"></image>
				
				
		</view>
	</view>
</template>

<script>
	import {
		follow,
		followCancel,
	
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		noticeDel
	} from "@/config/vmeitime-http/login.js";
	import { showToast } from '@/utils/util.js'
	export default {

		props: ["petsList", 'merchantDetail'],
		data() {
			return {
				title: 'Hello'
			}
		},
		created() {

		},
		methods: {
			
			// 跳转个人主页
			personalhome(detail) {
				uni.navigateTo({
					url: `/pagesA/mine/personalhome?avatar=${detail.avatar}&userId=${detail.userId}&nickName=${detail.nickName}`
				})
			},
			// 跳转笔记
			gopage(item) {
				if(item.messageType == 2 || item.messageType == 3 || item.messageType == 4 ) {
					uni.navigateTo({
						url: `/pagesA/public/noteDetails?id=${item.sourceId}`
					})
				}
			},
			// 删除
			del(id) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确定删除吗？',
					success: function(res) {
						if (res.confirm) {
							noticeDel({
								id: id
							}).then((res) => {
								that.$emit('reload')
							});
						}
					}
				});
			},

			// 关注用户
			followFn(user, index) {
				let that = this
				if (user.hasFollow) {
					followCancel({
						id: user.userId
					}).then((res) => {
						that.$emit('reload')
					});
				} else {
					follow({
						id: user.userId
					}).then((res) => {
						that.$emit('reload')
					});
				}
			},

			goGroupBuyDetails(id) {
				uni.navigateTo({
					url: `/pagesA/public/groupBuyDetails?id=${id}&merchantDetail=${ JSON.stringify(this.merchantDetail)}`
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;

		.gray {
			color: #666666;
		}

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 20rpx;
			box-sizing: border-box;


			.pet-img {
				width: 112rpx;
				height: 112rpx;
				margin-right: 20rpx;
				border-radius: 50%;

			}

			.right {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-right: 10rpx;
				padding: 6rpx 0px;
				box-sizing: border-box;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
					margin-top: 5rpx;
				}

				.shop {
					display: flex;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #999999;
					font-size: 28rpx;
				}
			}

			.name {
				display: flex;
				justify-content: flex-end;
				color: #666666;
				font-size: 20rpx;
				align-items: center;
				flex: 1;

				.buy-btn {
					width: 112rpx;
					height: 56rpx;
					font-size: 28rpx;
					color: #FD611E;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: 16rpx;
					border: 1px solid #EEEEEE;
				}

				.del-btn {
					width: 40rpx;
					height: 40rpx;
					margin-left: 28rpx;
				}
			}
		}
	}
	.note {
		width: 112rpx;
		height: 112rpx;
		border-radius: 28rpx;
		position: absolute;
		right: 10rpx;
	}
</style>