<template>

	<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
		<uvTabs :list="tablist" lineWidth="28" :current='statusCurrentTab' lineColor="#FFC93F" @change='changeTab'
			:activeStyle="{
				color: '#333333',
				fontWeight: 'bold',
				transform: 'scale(1)'
			}" :inactiveStyle="{
				color: '#999999',
				transform: 'scale(1)'
			}" itemStyle="padding-left: 15px; padding-right: 15px; height: 88rpx;fontSize:32rpx"></uvTabs>
		<view class="pets-card">
			<view class="pets-item" v-for="(item, index) in orderList" :key="index" @click.stop="goDetail(item.id)">
				<view class="shop-title ajbetween borderBtm">
					<view class="s-left"
						@click.stop="goPage(`/pagesA/public/merchantDetails?id=${item.merchantInfo.id}`)">
						<image :src="item.merchantInfo.logo" mode="widthFix" class="shop-img"></image>
						{{item.merchantInfo.name}}
						<image src="../static/img/icon_arrow_right14.png" mode="widthFix" class="shop-right"></image>
					</view>
					<view class="s-right f32C9">{{item.status == 1 ? '已支付，待使用' : statusMap[item.status]}}</view>
				</view>
				<view class="top">
					<image :src="item.goodsInfo.picture.split(',')[0]" mode="aspectFill" class="pet-img"></image>
					<view class="right">
						<view class="ms ajbetween">
							<view class="title">{{item.goodsInfo.name}}</view><span>￥{{item.money || 0}}</span>
						</view>
						<view class="time-wrap ajbetween">
							<span class="title">下单时间：{{item.createTime}}</span><span>x{{item.quantity || 0}}</span>
						</view>
					</view>
				</view>
				<view class="bottom">
					<!-- <div class="btn" v-if="item.status == 9 || item.status == 3">删除</div> -->
					<div class="btn" v-if="item.status == 1"
						@click.stop="goPage(`/pagesA/public/orderDetails?id=${item.id}`)">查看券码</div>
					<div class="btn" v-if="item.status == 1"
						@click.stop="goPage(`/pagesA/public/reasonForCancel?id=${item.id}&type=refund`)">申请退款</div>
					<div class="btn" v-if="item.status == 9"
						@click.stop="goPage(`/pagesA/public/subEvaluation?goodsId=${item.goodsId}`)">评价</div>
					<div class="btn" v-if="item.status == 0"
						@click.stop="goPage(`/pagesA/public/reasonForCancel?id=${item.id}&type=cancel`)">取消订单</div>
					<div class="btn borderColor" v-if="item.status == 9"
						@click.stop="goGroupBuyDetails(item.goodsId,item.merchantInfo)">再来一单</div>
					<div class="btn borderColor" v-if="item.status == 0" @click.stop="goPay(item.id)">去支付</div>
				</view>
			</view>
		</view>
	</mescroll-body>
</template>

<script>
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		groupStatusMap
	} from '../../utils/util.js'
	import {
		pay,
		orderPage
	} from '@/config/vmeitime-http/groupBuy.js'
	import storage from '../../utils/storage.js'


	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs
		},
		data() {
			return {
				statusCurrentTab: 0,
				tablist: [{
					name: '全部'
				}, {
					name: '待支付',
				}, {
					name: '待使用',
				}, {
					name: '待评价',
				}, {
					name: '退款/取消',
				}],
				// 订单状态status
				// 0-待支付, 1-已支付, 2-已支付取消退款中, 3-已支付取消退款(完成), 4-待支付超时取消(完成), 5-待支付用户取消(完成), 6-售后中, 7-售后取消退款中,
				// 8-售后取消退款(完成), 9-已使用(完成)
				statusMap: groupStatusMap,
				orderList: [],
				status: '',
			}
		},
		mounted() {
			uni.$on('reload', (event) => {
				this.mescroll.resetUpScroll();
			});
		},
		methods: {
			// 一级切换状态
			changeTab(item) {
				let name = item.name || item
				this.status = (name == '全部' || name == '全部订单') ? '' : name == '待支付' ? '0' : name ==
					'待使用' ? '1' : name == '待评价' ? '9' :
					name == '退款/取消' ? '2,3,4,5,6,7,8' : ''
				this.mescroll.resetUpScroll();

			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					status: this.status
				};
				if (page.num == 1) this.orderList = []; //如果是第一页需手动置空列表
				orderPage(param).then((res) => {
					if (res) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						this.totalPage = res.total;
						this.orderList = this.orderList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},


			// 请求支付接口并支付
			goPay(outTradeNo) {
				let that = this
				pay({
					openid: storage.get('openId'),
					id: outTradeNo,
					payType: 'wx_web'
				}).then((res) => {
					let paymentParams = res
					uni.requestPayment({
						provider: 'wxpay',
						timeStamp: paymentParams.timeStamp,
						nonceStr: paymentParams.nonceStr,
						package: paymentParams.packageValue,
						signType: paymentParams.signType,
						paySign: paymentParams.paySign,
						success(res) {
							console.log('支付成功' + res)
							that.mescroll.resetUpScroll();

						},
						fail(err) {
							// 支付失败回调
							console.log(err)
						}
					})
				})
			},

			goGroupBuyDetails(goodsId, merchantInfo) {
				uni.navigateTo({
					url: `/pagesA/public/groupBuyDetails?id=${goodsId}&merchantDetail=${ JSON.stringify(merchantInfo)}`
				})
			},
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 跳转详情
			goDetail(id) {
				uni.navigateTo({
					url: `/pagesA/public/orderDetails?id=${id}`
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 0px 20rpx 32rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;

			.shop-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 108rpx;

				.s-left {
					display: flex;
					align-items: flex-end;
					color: #333333;
					font-size: 32rpx;

					.shop-img {
						width: 40rpx;
						height: 40rpx;
						border-radius: 12rpx;
						margin-right: 16rpx;
					}

					.shop-right {
						width: 28rpx;
						height: auto;
						margin-left: 10rpx;
						margin-bottom: 5rpx;
					}
				}
			}

			.top {
				display: flex;
				padding-top: 32rpx;
				box-sizing: border-box;
			}

			.bottom {
				display: flex;
				justify-content: flex-end;
				margin-top: 16rpx;
				color: #333333;
				font-size: 28rpx;

				.btn {
					margin-left: 16rpx;
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
				}

				.borderColor {
					color: #FD611E;
					border: 2rpx solid #FD611E !important;
				}
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;
				border-radius: 16rpx;
			}

			.right {
				flex: 1;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					font-size: 32rpx;

					.title {
						width: 76%;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}
				}

				.time-wrap {
					margin: 20rpx 0px 32rpx;
					display: flex;
					align-items: center;
					color: #999999;
					font-size: 24rpx;

				}
			}
		}
	}
</style>