<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsList" :key="index" @click="goPage">
			<image src="@/static/dog.png" mode="" class="pet-img"></image>

			<view class="mear-count">
				待投喂
			</view>

			<view class="ms">名称名称</view>
			<view class="shop">
				<view class="item">
					<image src="../static/img/icon_Birthday@2x.png" mode="widthFix"></image>12岁
				</view>
				<view class="item">
					<image src="../static/img/icon_female20@2x.png" mode="widthFix"></image>男
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: ["petsList"],
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {
			// 跳转
			goPage() {
				uni.navigateTo({
					url: '/pagesA/cloudFeed/cloudFeeddetails'
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 16rpx 28rpx 0px;
		box-sizing: border-box;

		.pets-item {
			width: 49%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 8rpx;
			box-sizing: border-box;
			position: relative;


			.mear-count {

				padding: 4rpx 16rpx;
				box-sizing: border-box;
				color: #fff;
				box-sizing: border-box;
				height: 40rpx;
				font-size: 32rpx;
				border-radius: 12rpx;
				background-color: rgba(0, 0, 0, 0.4);
				display: flex;
				align-items: center;
				position: absolute;
				left: 26rpx;
				top: 270rpx;
				font-size: 22rpx;
				justify-content: center;
			}


			.pet-img {
				width: 100%;
				height: 322rpx;
				margin-bottom: 16rpx;
			}

			.ms {
				text-align: center;
				width: 100%;
				color: #333333;
				font-weight: 500;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				font-size: 28rpx;
				margin-bottom: 16rpx;
			}

			.old-price {
				color: #CCCCCC;
				font-size: 24rpx;
				text-decoration: line-through;
				margin-left: 12rpx;
			}

			.shop {
				display: flex;
				align-items: center;
				color: #666666;
				font-size: 22rpx;

				.item {
					width: 50%;
					display: flex;
					align-items: center;
					color: #666666;
					font-size: 28rpx;
					justify-content: center;
					position: relative;

					image {
						width: 32rpx;
						height: 28rpx;
						margin-right: 4rpx;
					}

					&:first-child::before {
						content: '';
						display: block;
						position: absolute;
						height: 20rpx;
						width: 2rpx;
						right: 0rpx;
						background-color: #EEEEEE;
					}
				}
			}
		}
	}
</style>