<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsList" :key="index" @click.stop="goDetail(item.id)">
			<image :src="isValidImageUrl(item.logo)" mode="scaleToFill" class="pet-img"></image>
			<view class="right">
				<view class="ms">{{item.name}}</view>
				<!-- <view class="rate-wrap">
					<uv-rate active-color="#FFED3F" size='20' disabled :allowHalf='true'
						inactive-color="#b2b2b2"></uv-rate>
					<view class="rate">4.5</view>
					12条评论
				</view> -->
				<view class="price-row">
					<view class="price">
						<image src="../static/img/icon_position16@2x.png" mode="" class="point"></image>
						{{item.address}}
					</view>
					<!-- <view class="old-price">1*0米 </view> -->
				</view>
				<view class="shop" v-if="showGroupBuy">
					<view class="shop-one" v-for="(gitem, gindex) in item.groupBuyGoodsList">
						<view class="flex" v-if="gitem.realAmount && gitem.realAmount!='0.00' ">
							<view class="coupon">团</view>
							<view class="price">￥{{gitem.realAmount}}</view>
							<view class="oldprice">￥{{gitem.totalAmount}}</view>
							<view class="Discounts" v-if="gitem.discount && gitem.discount!=1">{{gitem.discount || 1}}折</view>
						</view>
						<view class="free" v-else>免费</view>
						<view class="name">
							{{gitem.name}}
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			petsList: {
				type: Array,
				default: []
			},
			showGroupBuy: {
				type: Boolean,
				default: true
			}
		},
		data() {
			return {
				title: 'Hello'
			}
		},
		created() {},
		methods: {
			// 校验地址
			isValidImageUrl(url) {
				const regex =
					/^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$/;
				return regex.test(url) ? url : '../../static/avatar@2x.png';
			},

			// 跳转详情
			goDetail(id) {
				uni.navigateTo({
					url: '/pagesA/public/merchantDetails?id=' + id
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;
		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 20rpx;
			box-sizing: border-box;
			border-radius: 20rpx;

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}

			.right {
				flex: 1;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}

				.rate-wrap {
					margin: 12rpx 0px 32rpx;
					display: flex;
					align-items: center;
					color: #999999;
					font-size: 24rpx;

					.rate {
						color: #FD611E;
					}
				}

				.price-row {
					display: flex;
					align-items: center;
					margin: 12rpx 0px;

					.price {
						color: #999999;
						font-size: 26rpx;
						display: flex;
						align-items: center;
						width: 80%;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;

						.point {
							width: 32rpx;
							height: 32rpx;
							vertical-align: middle;
						}

					}
				}

				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					box-sizing: border-box;
					padding: 0px 10rpx;
					height: 32rpx;
					font-size: 24rpx;
					margin: 0px 12rpx;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					flex-direction: column;

					.shop-one {
						width: 100%;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						margin-bottom: 16rpx;
						font-size: 26rpx;

						.flex {
							width: 100%;
							display: flex;
							align-items: center;
						}
						.free {
							color: #FD611E;
							margin-right: 10rpx;
						}

						.coupon {
							padding: 2rpx 4rpx;
							box-sizing: border-box;
							background: #FD611E;
							color: #fff;
							border-radius: 8rpx;
							text-align: center;
							font-size: 22rpx;
						}

						.price {
							color: #FD611E;
							margin: 0px 12rpx;

						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}

					.name {
						flex: 1;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
		}
	}
</style>