<template>
	<view>
		<commonTop :show='true' :isBack='true' :isFixed='true' v-if="showHeader" :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				全部订单
			</template>
		</commonTop>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<uvTabs :list="tablist" lineWidth="28" :current='statusCurrentTab' lineColor="#FFC93F" @change='changeTab'
				:activeStyle="{
				color: '#333333',
				fontWeight: 'bold',
				transform: 'scale(1)'
			}" :inactiveStyle="{
				color: '#999999',
				transform: 'scale(1)'
			}" itemStyle="padding-left: 52rpx; padding-right: 52rpx; height: 88rpx;fontSize:32rpx"></uvTabs>
			<view class="pets-card">
				<view class="pets-item" v-for="(item, index) in orderList" :key="index" @click.stop="goDetail(item)">
					<view class="shop-title ajbetween borderBtm">
						<view class="s-left">
							<image src="../static/img/icon_taxi16@2x.png" mode="widthFix" class="shop-img"></image>
							{{item.orderType==9 ? '宠物顺风车': '宠物专车'}}
							<image src="../static/img/icon_arrow_right14.png" mode="widthFix" class="shop-right">
							</image>
						</view>
						<view class="s-right f32C9">{{orderStatusMap[item.orderStatus]}}</view>
					</view>
					<view class="top">
						<view class="ms ajbetween">
							<view class="row">
								<view class="title">出发时间：</view>
								<view class="text"> {{item.appointmentDate}}</view>
								<span>￥{{item.orderMoney}}</span>
							</view>
							<view class="row">
								<view class="title">接送起始点：</view>
								<view class="text"> {{item.sendAddress}}</view>
							</view>

							<view class="row">
								<view class="title">接送目的地：</view>
								<view class="text">{{item.recipientAddress}}</view>
							</view>
						</view>

					</view>


					<view class="bottom">
						 <div class="btn" @click.stop="goDetail(item)">查看订单</div>
						<!-- <div class="btn" v-if="item.orderStatus==1">删除</div>
						<div class="btn" v-if="item.orderStatus==1" @click="gopage('/pagesA/public/report')">投诉</div>
						<div class="btn" v-if="item.orderStatus==1"
							@click="gopage(`/pagesC/petTaxi/petTravel?payType=${item.orderType}`)">再来一单</div>
						<div class="btn" style="color: #FD611E;" @click.stop="cancelOrder(item.orderNo)"
							v-if="item.orderStatus==0 || item.orderStatus==3">取消订单</div> -->
					</view>
				</view>
			</view>
		</mescroll-body>
	</view>
</template>

<script>
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import commonTop from "@/components/CommonTop";
	import {
		queryOrdersByReceiveId,
		queryOrdersByMailId,
		userCancelOrder,
		driverCancelOrder
	} from '@/config/vmeitime-http/feed.js'
	import {
		gopage,
		showToast
	} from '../../utils/util';


	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			commonTop
		},
		props: {
			type: {
				type: String,
				default: 'user'
			}
		},
		data() {
			return {
				gopage: gopage,
				statusCurrentTab: '',
				tablist: [{
					name: '全部'
				}, {
					name: '进行中',
				}, {
					name: '已完成',
				}, {
					name: '已取消',
				}],
				orderList: [],
				orderStatusMap: {
					0: '进行中',
					1: '已完成',
					2: '已取消',
					3: '待接单'
				},
				showHeader: false,
				orderStatus: '',
				// 身份标识  user  driver
				identity: this.type || 'user'
			}
		},
		onLoad(options) {
			if (options.identity) {
				this.identity = options.identity
			}
			if (options.statusName) {
				this.changeTab({
					name: options.statusName
				})

			}
			console.log(options.showHeader + '1233')
			this.showHeader = options.showHeader || false
		},
		methods: {
			// 取消订单
			cancelOrder(orderNo) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确定取消订单吗？',
					success: function(res) {
						if (res.confirm) {
							if (that.identity == 'user') {
								userCancelOrder({
									orderNo: orderNo
								}).then((res) => {
									showToast('取消成功')
									that.mescroll.resetUpScroll();
								})
							}else if(that.identity == 'driver') {
								driverCancelOrder({
									orderNo: orderNo
								}).then((res) => {
									showToast('取消成功')
									that.mescroll.resetUpScroll();
								})
							}
						}
					}
				});
			},


			// 一级切换状态
			changeTab(item) {
				this.orderStatus = item.name == '全部' ? '' : item.name == '进行中' ? 0 : item.name == '已完成' ? 1 : item.name ==
					'已取消' ? 2 : ''
				this.statusCurrentTab = item.name == '全部' ? 0 : item.name == '进行中' ? 1 : item.name == '已完成' ? 2 : item
					.name == '已取消' ? 3 : 0
				this.mescroll.resetUpScroll();
				console.log(item)
			},


			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					orderStatus: this.orderStatus
				};
				if (page.num == 1) this.orderList = []; //如果是第一页需手动置空列表
				let Fn = this.type == 'user' ? queryOrdersByMailId : queryOrdersByReceiveId
				Fn(param).then((res) => {
					if (res) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						this.totalPage = res.total;

						curPageData.map((item) => {
							item.orderStatus = (item.orderStatus == 0 && item.receiveId == null) ? 3 : item.orderStatus
						})

						this.orderList = this.orderList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},

			// 跳转详情
			goDetail(item) {
				uni.navigateTo({
					url: `/pagesC/driverEnd/orderDetails?orderNo=${item.orderNo}&type=${this.type}`
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 0px 20rpx 32rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;

			.shop-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 108rpx;

				.s-left {
					display: flex;
					align-items: center;
					color: #333333;
					font-size: 32rpx;

					.shop-img {
						width: 48rpx;
						height: 48rpx;
						border-radius: 12rpx;
						margin-right: 16rpx;
					}

					.shop-right {
						width: 28rpx;
						height: auto;
						margin-left: 10rpx;
						margin-bottom: 5rpx;
					}
				}
			}

			.top {
				display: flex;
				padding-top: 32rpx;
				box-sizing: border-box;
				flex-direction: column;
			}

			.bottom {
				display: flex;
				justify-content: flex-end;
				margin-top: 16rpx;
				color: #333333;
				font-size: 28rpx;

				.btn {
					margin-left: 16rpx;
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					line-height: 64rpx;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
				}
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}



			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				font-size: 32rpx;
				display: flex;
				flex-direction: column;

				.row {
					display: flex;
					width: 100%;
					font-size: 28rpx;
					margin-bottom: 16rpx;

					span {
						flex: 1;
						text-align: right;
					}

					.title {
						color: #999999;
					}

					.text {
						color: #666;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
</style>