<template>
	<uv-popup ref="popup" :round='40' mode="bottom">
		<view class="pop-wrapper">
			<view class="pop-title">
				发布评价
				<view class="close" @click.stop="close">
					<image src="../static/img/icon_closure@2x.png" mode="widthFix"></image>
				</view>

			</view>
			<view class="up-pics">
				<view class="title">上传照片</view>
				<uploadImg v-model="model.picture" :maxCount='6' :multiple='true' @updateImg="(e)=>model.picture=e" :width='104'
					:height="104">
				</uploadImg>
			</view>
			<view class="ms-title beforeDot">
				内容
			</view>
			<view class="pets-card">
				<view class="pingjia">
					<uv-textarea v-model="model.content" border='none' height='150' customStyle='padding: 0px'
						placeholder="请输入内容" maxlength="1000"></uv-textarea>
				</view>


				<view class="submit" @click="submit">发布评论</view>
			</view>
		</view>
	</uv-popup>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import storage from "@/utils/storage.js";
	import {
		showToast
	} from '../../utils/util.js'
	import {
		findPetsEvaluate
	} from "@/config/vmeitime-http/findPets.js";
	import {
		findMasterEvaluate
	} from "@/config/vmeitime-http/findMaster.js";

	export default {
		components: {
			commonTop,
			uploadImg
		},
		data() {
			return {
				detailId: '',
				detailTabindex: '',
				model: {
					picture: '',
					content: ''
				}
			}
		},


		created(options) {
			console.log(storage.get('loginInfo').userId)
			console.log('哈哈哈哈')
		},
		methods: {
			// 提交
			submit() {
				let that = this
				if (!this.model.content) {
					showToast('请输入描述')
					return false
				}

				let Fn = this.detailTabindex == 0 ? findPetsEvaluate({
					findPetsId: this.detailId,
					userId: storage.get('loginInfo').userId,
					...this.model
				}) : findMasterEvaluate({
					findMasterId: this.detailId,
					userId: storage.get('loginInfo').userId,
					...this.model
				})

				Fn.then((res) => {
					showToast('发布成功')
					setTimeout(() => {
						that.model = {
							picture: '',
							content: ''
						}
						that.close()
						that.$emit('fbok')
					}, 1000)

				})
			},

			open(data) {
				this.detailId = data.detailId
				this.detailTabindex = data.tabindex
				console.log(data)
				console.log('哈哈哈哈++++++++++')
				this.$refs.popup.open();

			},
			close() {
				this.$refs.popup.close();
			},
		}
	}
</script>

<style scoped lang="scss">
	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 90rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	.pop-wrapper {
		background-color: #fff;
		height: 1200rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 150rpx 28rpx 100rpx;
		position: relative;


		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			z-index: 99;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}



	.ms-title {
		color: #333333;
		font-size: 32rpx;
		font-weight: 500;
		padding-left: 18rpx;
		box-sizing: border-box;
		position: relative;
		margin: 40rpx 0px 20rpx;
	}

	.up-pics {
		.title {
			color: #333333;
			font-size: 32rpx;
			margin-bottom: 28rpx;
			font-weight: 500;
			position: relative;
		}
	}

	.submit {
		width: 92%;
		left: 4%;
		text-align: center;
		color: #fff;
		margin-top: 100rpx;
		height: 80rpx;
		line-height: 80rpx;
		background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
		border-radius: 12rpx 12rpx 12rpx 12rpx;
		position: absolute;
		bottom: 20rpx;

	}



	:v-deep page {
		background-color: #F9F9F9;
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-bottom: 128rpx;
		border-radius: 20rpx;

		.pingjia {
			display: flex;
			flex-direction: column;
			border-bottom: 1rpx solid #EEEEEE;

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
			}
		}

	}
</style>