<template>
	<!-- 团购 -->
	<view class="pets-card">
		<view class="card" v-for="(item, index) in petsList" :key="index">
			<view class="time">{{item.createTime}}</view>
			<view class="pets-item">
				<image v-if="item.messagePicture" :src="item.messagePicture" mode="aspectFill" class="img">
				</image>
				<view class="title">{{item.messageTitle}}</view>
				<view class="messageContent">{{item.messageContent}}</view>
			</view>
		</view>
		
	</view>
</template>

<script>
	export default {
		props: ["petsList"],
		data() {
			return {

			}
		},
		created() {

		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0rpx 20rpx;
		box-sizing: border-box;
         .card {
			 display: flex;
			 flex-direction: column;
			 width: 100%;
			 &:not(:last-child) {
			 	margin-bottom: 28rpx;
			 }
			 
			 .time {
				 width: 100%;
				 text-align: center;
				 color: #999999;
				 margin-bottom: 20rpx;
			 }
		 }

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 20rpx;
			box-sizing: border-box;
			.img {
				width: 100%;
				height: 300rpx;
				border-radius: 20rpx;
			}

			.title {
				color: #333333;
				font-size: 30rpx;
				font-weight: 600;
				margin: 16rpx 0px;
			}

			.messageContent {
				color: #999999;
				font-size: 24rpx;
			}


		}
	}
</style>