<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">{{type=='add'? '添加': '编辑'}}银行卡</span>
			</template>
		</commonTop>
		<uv-form labelPosition="left" :model="model" ref="form">
			<view class="card">
				<uv-form-item label="银行名称" labelWidth='140'>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.bankName"
						inputAlign='right' disabledColor="#ffffff" border="none" placeholder="请输入银行名称">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="银行卡号" labelWidth='140'>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.bankCard"
						inputAlign='right' disabledColor="#ffffff" border="none" placeholder="请输入银行卡号">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="持卡人姓名" labelWidth='140'>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.bankUser"
						inputAlign='right' disabledColor="#ffffff" border="none" placeholder="请输入持卡人姓名">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="开户行" labelWidth='140' >
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.bankAddress"
						inputAlign='right' disabledColor="#ffffff" border="none" placeholder="请输入开户行">
					</uv-input>
				</uv-form-item>
			</view>



			<view class="invoice-issued">
				<view class="btn" @click="submit">提交</view>
			</view>
		</uv-form>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uvCode from '@/uni_modules/uv-code/components/uv-code/uv-code.vue'
	import { addBank, updateBank } from "@/config/vmeitime-http/merchant.js";
	import { showToast } from '@/utils/util.js'
	export default {
		components: {
			commonTop,
			uvCode
		},
		data() {
			return {
				model: {
					bankName: '',
					bankCard: '',
					bankUser: '',
					bankAddress: ''
				},
				type: 'add'
			}
		},
		onLoad(options) {
			if(options.item) {
				this.model = JSON.parse(options.item)
				this.type = 'edite'
			}
		},
		methods: {
			
			submit() {
				if (!this.model.bankName) {
					showToast('银行名称不能为空')
					return false
				}
				if (!this.model.bankCard) {
					showToast('银行卡号不能为空')
					return false
				}
				if (!this.model.bankUser) {
					showToast('持卡人姓名不能为空')
					return false
				}
				if (!this.model.bankAddress) {
					showToast('开户行不能为空')
					return false
				}
				let that = this
				let fn = that.type=='add' ? addBank: updateBank
				fn(that.model).then((e)=> {
					let msg = that.type=='add'?'添加成功':'编辑成功'
					showToast(msg)
					setTimeout(()=> {
						uni.navigateBack()
					},1000)
					
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.invoice-issued {
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 120rpx;
			background: #FFFFFF;
			display: flex;
			align-items: center;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.btn {
				width: 100%;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 20rpx 20rpx 20rpx 20rpx;
				color: #FFFFFF;
				font-size: 28rpx;
				text-align: center;
			}
		}
	}

	.card {
		background-color: #fff;
		border-radius: 20rpx;
		padding: 0px 20rpx;
		box-sizing: border-box;
		margin-bottom: 20rpx;
	}
</style>