<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				添加分类
			</template>
		</commonTop>


		<view class="ipt-wrapper">
			<input type="text" class="ipt-sr" v-model="keywords" placeholder="请请输入分类名称（最长4字）">
			<view class="btn" @click="addTags">添加</view>
		</view>
		<view class="card">
			<view class="selected">已添加分类 <span>最多可添加8个分类</span></view>
			<view class="tag-wrapper">
				<uvTags :text="item" type="warning" color="#333333" bgColor='#fff' borderColor='#eeeeee' closable
					@close="tagClose(index)" v-for="(item,index) in tags" :key="index">
				</uvTags>
			</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uvTags from '@/uni_modules/uv-tags/components/uv-tags/uv-tags.vue'
	export default {
		components: {
			commonTop,
			uvTags
		},
		data() {
			return {
				keywords: '',
				tags: ['关键一', '关键二', '关键三', '关键四', '关键五']
			}
		},
		methods: {
			// 添加关键词标签
			addTags() {
				if (!this.keywords) {
					uni.showToast({
						title: '请输入关键词',
						icon: 'none'
					})
					return false
				}
				let isAdd = this.tags.includes(this.keywords.trim())
				if (!isAdd) {
					this.tags.push(this.keywords)
					this.keywords = ''
				} else {
					uni.showToast({
						title: '关键词已存在',
						icon: 'none'
					})
					this.keywords = ''
				}
				console.log(isAdd)
			},
			// 删除关键词标签
			tagClose(index) {
				this.tags.splice(index, 1)
			},

		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 0px 28rpx;
		box-sizing: border-box;

		.ipt-wrapper {
			width: 100%;
			height: 116rpx;
			background: #FFFFFF;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			position: relative;
			margin-top: 28rpx;

			.ipt-sr {
				width: 100%;
				height: 100%;
				padding-left: 20rpx;

				font-size: 32rpx;
			}

			.btn {
				width: 140rpx;
				color: #1C92FF;
				font-size: 32rpx;
				position: absolute;
				right: 0rpx;
				top: 0px;
				bottom: 0px;
				margin: auto;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.selected {
			color: #333333;
			font-size: 32rpx;
			margin-bottom: 28rpx;

			span {
				color: #999;
				font-size: 24rpx;
				margin-left: 8rpx;
			}
		}

		.tag-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.card {
			background-color: #FFFFFF;
			padding: 28rpx 20rpx;
			box-sizing: border-box;
			margin-top: 28rpx;
			border-radius: 20rpx;
		}
	}
</style>