<!-- 银行卡管理 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			<template slot="left">
				银行卡管理
			</template>
		</commonTop>
		<view class="list">
			<view class="item ajbetween" v-for="(item,index) in banklist" v-bind:key="index">
				<view class="left line1Es" @click.stop="goEdite(item)">
					<image class="bank-img" src="../static/bank.png"></image>
					<span>{{item.bankName}}{{(maskIdNumber(item.bankCard))}}</span>
				</view>
				<image class="delete" src="../static/icon_delete20@2x.png" @click.stop="delBank(item.id)"></image>
			</view>
			<view class="add-bank" @click="addBank">
				<image class="src" src="../static/icon_Add20_blue@2x.png"></image>
				添加银行卡
			</view>
		</view>
	</view>
</template>


<script>
	import commonTop from '@/components/CommonTop'
	import {
		delBank,
		bankList
	} from "@/config/vmeitime-http/merchant.js";
		import { showToast } from '@/utils/util.js'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				banklist: []
			}
		},
		created() {
			this.bankListFn()
		},
		onShow() {
			this.bankListFn()
		},
		methods: {
			
			goEdite(item) {
				uni.navigateTo({
					url: `/pagesB/merchant/addbankCard?item=${JSON.stringify(item)}`
				})
			},
			
            // 删除银行卡
			delBank(id) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确定删除吗？',
					success: function(res) {
						if (res.confirm) {
							delBank({
								id: id
							}).then((e)=> {
								showToast('删除成功')
								that.bankListFn()
							}).catch(()=> {
								showToast('删除失败')
							})
						}
					}
				});
			},

			// 银行卡列表
			bankListFn() {
				bankList().then((e) => {
					console.log(e.records)
					this.banklist = e.records || []
				})
			},

			// 添加银行卡
			addBank() {
				uni.navigateTo({
					url: '/pagesB/merchant/addbankCard'
				})
			},
			maskIdNumber(idNumber) {
				if (idNumber) {
					// 将身份证号码的前6位和最后1位用星号(*)替换
					return idNumber.replace(/^(.{5})(.*)(.{3})$/, '$1******$3');
				}
			}
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx 0px;
		box-sizing: border-box;

		.add-bank {
			display: flex;
			align-items: center;
			color: #1C92FF;
			font-size: 32rpx;
			justify-content: center;
			background-color: #fff;
			padding: 36rpx 0px;
			box-sizing: border-box;
			border-radius: 20rpx;

			image {
				width: 40rpx;
				height: 40rpx;
				margin-right: 8rpx;
			}
		}

		.list {
			display: flex;
			flex-direction: column;

			.item {
				background-color: #fff;
				display: flex;
				align-items: center;
				padding: 20rpx 36rpx;
				box-sizing: border-box;
				border-radius: 20rpx;
				color: #333333;
				font-size: 32rpx;
				margin-bottom: 28rpx;

				.left {
					display: flex;
					align-items: center;

					.bank-img {
						width: 44rpx;
						height: 44rpx;
						margin-right: 28rpx;
					}
				}

				.delete {
					width: 40rpx;
					height: 40rpx;
				}
			}
		}
	}
</style>