<!-- 有效订单数 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			<template slot="left">
				评论量
			</template>
		</commonTop>
		<view class="cnt">
			<view class="date-row">
				<view class="dateSelect" @click.stop="openDate">
					<image src="../static/date.png" class="date-img" mode="widthFix"></image>
					<span>{{date}}</span>
					<image class="date-right" src="../../static/icon_More24@2x.png" mode="widthFix"></image>
				</view>
				<span>2343 评论</span>
			</view>
			<!-- 日期控件 -->
			<uv-datetime-picker :formatter="formatter" ref="datePicker" mode="year-month" @confirm="confirmDate">
			</uv-datetime-picker>

			<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
				<EvaluateCard :evaluateList='evaluateList'></EvaluateCard>

			</mescroll-body>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import EvaluateCard from '../components/commentVolumeList.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	import {
		formatter,
		formatTime
	} from '@/utils/util.js'

	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			EvaluateCard
		},
		data() {
			return {
				formatter: formatter,
				evaluateList: [],
				date: formatTime(new Date(), 'year-month'),
			}
		},
		onLoad() {

		},
		methods: {

			// 打开时间搜索
			openDate() {
				this.$refs.datePicker.open();
			},
			confirmDate(e) {
				this.date = formatTime(e.value, 'year-month')
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					queryType: this.queryType,
					keywords: this.keywords,
					sort: "bookTime,desc",
				};
				if (page.num == 1) this.evaluateList = [{}, {}]; //如果是第一页需手动置空列表
				purchaseOrderList(param).then((res) => {
					if (res) {
						let curPageData = res.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数

						this.evaluateList = this.evaluateList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	

	page,
	.containner {
		background-color: #F9F9F9;

		.cnt {
			padding: 0px 28rpx;
			box-sizing: border-box;

			.date-row {
				display: flex;
				justify-content: space-between;
				align-items: center;

				span {
					margin: 0px 16rpx;
					font-size: 28rpx;
					color: #666666;
				}
			}
		}
	}

	.dateSelect {
		display: flex;
		align-items: center;
		color: #666666;
		font-size: 28rpx;
		height: 96rpx;
		display: flex;
		align-items: center;
		border-bottom: 1rpx solid #EEEEEE;

		.date-img {
			width: 34rpx;
			height: auto;
		}

		.date-right {
			width: 28rpx;
			height: 28rpx;
		}

		span {
			margin: 0px 16rpx;

		}
	}
</style>