<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">联系电话</span>
			</template>
		</commonTop>
		<uv-form labelPosition="left" :model="model" ref="form">
			<view class="card">
				<uv-form-item label="旧联系电话" labelWidth='140'>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.oldPhone"
						inputAlign='right' disabled disabledColor="#ffffff" border="none" type='number'>
					</uv-input>
				</uv-form-item>
			</view>

			<view class="card">
				<uv-form-item>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.phone"
						disabledColor="#ffffff" border="none" placeholder="请输入新联系电话" type='number'>
					</uv-input>
				</uv-form-item>
			</view>

			<view class="card">
				<uv-form-item>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.yzm"
						disabledColor="#ffffff" border="none" placeholder="请输入验证码" type='number'>
						<template v-slot:suffix>
							<uvCode ref="uCode" @change="codeChange" seconds="20" changeText="X秒重新获取"></uvCode>
							<uv-text  @click="getCode" :text="tips" color="#1C92FF" size="normal"></uv-text>
						</template>
					</uv-input>
				</uv-form-item>
			</view>
			
			<view class="invoice-issued">
				<view class="btn">保存</view>
			</view>
		</uv-form>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
		import uvCode from '@/uni_modules/uv-code/components/uv-code/uv-code.vue'
	export default {
		components: {
			commonTop,
			uvCode
		},
		data() {
			return {
				model: {
					oldPhone: '13071890323',
					phone: '',
					yzm: ''
				},
				tips: ''
			}
		},
		methods: {
			codeChange(text) {
				this.tips = text;
			},
			getCode() {
				if (this.$refs.uCode.canGetCode) {
					// 模拟向后端请求验证码
					uni.showLoading({
						title: '正在获取验证码'
					})
					setTimeout(() => {
						uni.hideLoading();
						// 这里此提示会被this.start()方法中的提示覆盖
						uni.showToast({
							title: '验证码已发送',
							icon: 'none'
						})
						// 通知验证码组件内部开始倒计时
						this.$refs.uCode.start();
					}, 2000);
				} else {
					toast('倒计时结束后再发送');
				}
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		
		.invoice-issued {
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 120rpx;
			background: #FFFFFF;
			display: flex;
			align-items: center;
			padding: 0px 28rpx;
			box-sizing: border-box;
		
			.btn {
				width: 100%;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 20rpx 20rpx 20rpx 20rpx;
				color: #FFFFFF;
				font-size: 28rpx;
				text-align: center;
			}
		}
	}

	.card {
		background-color: #fff;
		border-radius: 20rpx;
		padding: 0px 20rpx;
		box-sizing: border-box;
		margin-bottom: 20rpx;
	}
</style>