<!-- 保证金充值 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">保证金充值</span>
			</template>
		</commonTop>
		<view class="margin-balance">
			<view class="withdrawable-amount">应缴保证金</view>
			<view class="money">¥ {{needDepositMoney}}</view>
			<!-- <view class="tx-money">充值金额</view>
			<view class="ipt-row">
				<span class="unit">￥</span> <uv-input placeholder="请输入金额" fontSize='26' type='number' customStyle='font-size:52rpx'
					border="none" class="sr-money" v-model="amount" @change="change"></uv-input>
				<span class="all-tx" @click.stop="amount=needDepositMoney">缴满</span>
			</view> -->
		</view>
		<view class="tip">请遵守平台各项规范，保持良好的商品分享行为。充值成功后若用户发起保证金退款申请，经平台审核后，可将剩余保证金退还至相应账户。</view>
		<view class="tixian">
			<view class="btn" @click="go">确认充值</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MarginRecordList from '../components/marginRecordList.vue'
	import storage from '../../utils/storage'
	import {
		depositRecharge
	} from '@/config/vmeitime-http/merchant.js'
	export default {
		components: {
			commonTop,
			MarginRecordList
		},
		data() {
			return {
				smlxType: [{
					name: '上门类型1',
				}, {
					name: '上门类型2',
				}],
				needDepositMoney: 0,
				amount: '',
				bank: ''
			}
		},
		onLoad(options) {
			if (options.needDepositMoney) {
				this.needDepositMoney = options.needDepositMoney
			}
		},
		methods: {
			go() {
				uni.showModal({
					title: '提示',
					content: '确定充值吗？',
					success: function(res) {
						if (res.confirm) {
							depositRecharge({
								openid: storage.get('openId'),
							}).then((res) => {
								let paymentParams = res
								uni.requestPayment({
									provider: 'wxpay',
									timeStamp: paymentParams.timeStamp,
									nonceStr: paymentParams.nonceStr,
									package: paymentParams.packageValue,
									signType: paymentParams.signType,
									paySign: paymentParams.paySign,
									success(res) {
										console.log('支付成功' + res)
										uni.redirectTo({
											url: '/pagesB/merchant/withdrawalReview'
										})

									},
									fail(err) {
										// 支付失败回调
										console.log(err)
									}
								})
							})
						}
					}
				})
				
			},
			// 打开选择银行
			showBank() {
				this.$refs.banksSelect.open();
				this.hideKeyboard();
			},
			banksSelect(e) {
				this.bank = e.name;

			},
			hideKeyboard() {
				uni.hideKeyboard()
			},
			change() {

			}
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx;
		box-sizing: border-box;

		.tixian {

			width: 100%;
			left: 0px;
			height: 120rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.btn {
				width: 100%;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				text-align: center;
				font-size: 32rpx;
				color: #fff;
			}
		}

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 0px 20rpx 0px 40rpx;
			box-sizing: border-box;
			margin-top: 28rpx;
		}

		.tip {
			color: #999999;
			font-size: 24rpx;
			padding: 20px 20rpx 120rpx;
			box-sizing: border-box;
		}

		.margin-balance {
			padding: 36rpx 28rpx;
			box-sizing: border-box;
			background-color: #fff;
			border-radius: 20rpx;
			display: flex;
			flex-direction: column;

			.money {
				font-size: 52rpx;
				color: #333;
				padding: 8rpx 0px 36rpx;
				box-sizing: border-box;
				// border-bottom: 1rpx solid #EEEEEE;
			}

			.tx-money {
				font-size: 28rpx;
				color: #666;
				margin: 36rpx 0px 8rpx;
			}

			.ipt-row {
				display: flex;
				align-items: center;

				.unit {
					color: #333333;
					font-size: 52rpx;
				}

				.sr-money {
					font-size: 52rpx;
				}

				.all-tx {
					color: #1C92FF;
					font-size: 32rpx;
				}
			}
		}
	}
</style>