<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				编辑资料
			</template>
		</commonTop>
		<uv-form labelPosition="left"  ref="form">
			<view class="pets-card">
				<uv-form-item label="商户logo" labelWidth='140' prop="" >
					<template v-slot:right>
						<view class="avator-flex" @click="choseLogo">
							<image :src="merchantInfo.logo" class="avator"></image>
							<uv-icon name="arrow-right"></uv-icon>
						</view>
					</template>
				</uv-form-item>
				<uv-form-item label="商户名称" labelWidth='110' prop="">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="merchantInfo.name" inputAlign='right'
						 disabledColor="#ffffff" placeholder="请选择" border="none" maxlength='12'>
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="商户简介" labelWidth='140' prop="" @click="openTime">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="merchantInfo.info" inputAlign='right'
						 disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<!-- <uv-form-item label="联系电话" labelWidth='140' prop="" @click="gopage('/pagesB/merchant/contactPhone')">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' readonly v-model="merchantInfo.phone" type='number' inputAlign='right'
						 disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item> -->
				<uv-form-item label="联系电话" labelWidth='140' prop="">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' readonly v-model="merchantInfo.phone" type='number' inputAlign='right'
						 disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="营业时间" labelWidth='100' prop="yytime" @click="openyytime">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="merchantInfo.businessHours" inputAlign='right'
						 disabledColor="#ffffff" placeholder="请选择" border="none" readonly>
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-form-item label="地址" labelWidth='80' prop="" @click="chooseLocation">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="merchantInfo.address" inputAlign='right'
						 disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-form-item label="服务关键词" labelWidth='100' prop="keyword" @click="open">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="merchantInfo.keyword"
						inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-popup ref="popup" :round='40' mode="center">
					<view class="pop-wrapper">
						<view class="pop-title">
							<view class="close" @click.stop="close">
								<uv-icon name="close" size="20"></uv-icon>
							</view>
							服务关键词
							<view class="confirm-btn" @click.stop="confirmKeyword">
								确认
							</view>
						</view>
						<view class="ipt-wrapper">
							<input type="text" class="ipt-sr" v-model="keyword" placeholder="请输入（建议2-6字关键词）">
							<view class="btn" @click="addTags">确定</view>
						</view>
						<view class="selected" v-if="tags.length > 0">已选择</view>
						<view class="tag-wrapper">
							<uvTags :text="item" type="warning" color="#333333" bgColor='#fff' borderColor='#eeeeee'
								closable @close="tagClose(index)" v-for="(item,index) in tags" :key="index">
							</uvTags>
						</view>
					</view>
				</uv-popup>
				

			</view>

			<view class="pets-card">
				<view class="up-pics">
					<view class="title">商户照片 <span>建议尺寸为750*750</span></view>
					<uploadImg v-model="merchantInfo.photo" @updateImg="(e)=>merchantInfo.photo=e" :multiple='true' :maxCount='6' width='90' height="90"></uploadImg>
				</view>
			</view>

			<!-- <view class="pets-card">
				<uv-form-item label="法定代表人实名认证" labelWidth='160' prop="">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="info.isrz" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="经营者实名认证" labelWidth='160' prop="" @click="gopage('/pagesB/merchant/realNameAuth')">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="info.isrz" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</view>

			<view class="pets-card">
				<uv-form-item label="自动回复设置" labelWidth='140' prop="">
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</view> -->
		</uv-form>
		<view class="submit" @click="submit">确认编辑</view>
		<!-- <view class="cancel-account" @click="$refs.logout.open()">注销账号</view> -->
		<uv-picker ref="timepicker" :columns="timeColumns" @confirm="timeConfirm"></uv-picker>
		<uv-modal ref="logout" :showCancelButton='true' title="注销商户"
			content='注销商户需在近30天内无违规记录以及下架所有团购，钱包以及保证金金额全部提现。 注销后将在7个工作日内进行注销，不可恢复。' @confirm="logoutConfirm"></uv-modal>
		<editeModel ref="editeModel" @modelConfig='modelConfig'></editeModel>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import uvTags from '@/uni_modules/uv-tags/components/uv-tags/uv-tags.vue'
	import editeModel from '@/components/editeModel.vue'
	import { chooseAndUploadImage, getLocation } from '../../utils/util.js'
	import {
		registerInfo, editMerchantInfo
	} from "@/config/vmeitime-http/merchant.js";
	export default {
		components: {
			commonTop,
			uploadImg,
			uvTags,
			editeModel
		},
		data() {
			return {
				chooseAndUploadImage: chooseAndUploadImage,
				merchantInfo: {
					status: 2
				},
				rules: {},
				timeColumns: [
					['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
					['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
					['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
						'11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
						'21:00', '22:00', '23:00', '24:00'
					],
					['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
						'11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
						'21:00', '22:00', '23:00', '24:00'
					],
				],
				tags: [],
				keyword: ''
			}
		},
		onLoad(options) {
			console.log(this.$upImgURL)
		},
		created() {
			this.getmerchantInfo()
		},
		methods: {
			
			// 提交
			submit() {
				editMerchantInfo(this.merchantInfo).then((res) => {
					uni.showToast({
						title: '编辑成功',
						icon: 'none',
						duration: 1500
					})
				    
					setTimeout(()=> {
						uni.navigateBack({
							delta: 1
						})
					},500)
					this.getmerchantInfo()
				})
			},
			
			// 选择logo
			async choseLogo() {
				let img = await this.chooseAndUploadImage()
				if(img) {
					this.merchantInfo.logo = img
					console.log(this.merchantInfo.logo + 'logo')
				}
			},
			
			// 获取商户信息
			getmerchantInfo() {
				registerInfo().then((res) => {
					this.merchantInfo = res
					if(this.merchantInfo.keyword) {
						this.tags = this.merchantInfo.keyword.split(',')
					}
				})
			},
			
			// 跳转
			gopage(url) {
				uni.navigateTo({
					url: url
				})
			},
			
			// 确定弹框
			modelConfig(data) {
				console.log(data)
			},

			// 确定注销
			logoutConfirm() {
				uni.navigateTo({
					url: '/pagesB/merchant/logoffDetail'
				})
			},

			// 确认关键词
			confirmKeyword() {
				if (this.tags.length == 0) {
					uni.showToast({
						title: '没有关键词',
						icon: 'none'
					})
					return false
				}
				this.merchantInfo.keyword = this.tags.join(',')
				this.close()
			},
			
			// 添加关键词标签
			addTags() {
				if (!this.keyword) {
					uni.showToast({
						title: '请输入关键词',
						icon: 'none'
					})
					return false
				}
				let isAdd = this.tags.includes(this.keyword.trim())
				if (!isAdd) {
					this.tags.push(this.keyword)
					this.keyword = ''
				} else {
					uni.showToast({
						title: '关键词已存在',
						icon: 'none'
					})
					this.keyword = ''
				}
				console.log(isAdd)
			},
			

			// 删除关键词标签
			tagClose(index) {
				this.tags.splice(index, 1)
			},

			openyytime() {
				this.$refs.timepicker.open();
			},

			open() {
				this.$refs.popup.open();
			},
			close() {
				this.$refs.popup.close();
			},
			// 营业时间
			timeConfirm(e) {
				let data = e.value
				let time = `${data[0]} - ${data[1]}  ${data[2]}:${data[3]}`
				this.merchantInfo.businessHours = time
			},

			// 选择位置
			async chooseLocation() {
				let adr = await getLocation()
				
				let data = Object.assign(this.merchantInfo, adr)
				console.log(data)
				console.log('0000000000000000000000')
				this.merchantInfo = data
			},

		}
	}
</script>

<style scoped lang="scss">
	.pop-wrapper {
		background-color: #F9F9F9;
		width: 800rpx;
		min-height: 600rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding: 120rpx 40rpx 200rpx;
		box-sizing: border-box;
		position: relative;

		.selected {
			color: #333333;
			font-size: 32rpx;
			margin: 28rpx 0px;
		}

		.tag-wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.ipt-wrapper {
			width: 100%;
			height: 100rpx;
			background: #FFFFFF;
			border-radius: 20rpx;
			position: relative;

			.ipt-sr {
				width: 80%;
				height: 100%;
				padding-left: 20rpx;

				font-size: 32rpx;
			}

			.btn {
				width: 140rpx;
				color: #FD611E;
				font-size: 32rpx;
				position: absolute;
				right: 0rpx;
				top: 0px;
				bottom: 0px;
				margin: auto;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}


		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: absolute;
			background-color: #F9F9F9;
			top: 0px;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				left: -80%;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.confirm-btn {
				width: 112rpx;
				height: 56rpx;
				background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				color: #fff;
				font-size: 28rpx;
				text-align: center;
				line-height: 56rpx;
				position: absolute;
				right: 40rpx;
			}
		}
	}

	
	.submit {
		width: 694rpx;
		height: 92rpx;
		line-height: 92rpx;
		text-align: center;
		background: linear-gradient( 180deg, #3FA3FF 0%, #3F69FF 100%);
		border-radius: 20rpx 20rpx 20rpx 20rpx;
		margin: 84rpx 0px 40rpx;
		text-align: center;
		font-size: 28rpx;
		color: #fff;
	}

	.cancel-account {
		margin: 50rpx 0px 40rpx;
		width: 100%;
		text-align: center;
		font-size: 28rpx;
		color: #999999;
	}

	.avator-flex {
		display: flex;
		align-items: center;

		.avator {
			width: 72rpx;
			height: 72rpx;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			margin-right: 16rpx;
		}
	}

	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 120rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	::v-deep .uv-input__content__field-wrapper__field {
		color: #666666;
		font-size: 32rpx !important;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		background-color: #F8F8F8 !important;

		.up-pics {
			padding: 28rpx 0px;
			box-sizing: border-box;

			.title {
				color: #333333;
				font-size: 32rpx;
				margin-bottom: 28rpx;
				font-weight: 500;

				span {
					color: #999999;
					font-size: 24rpx;
					margin-left: 8rpx;
				}

			}
		}
	}

	:v-deep page {
		background-color: #F9F9F9;
	}

	.pets-card {
		background-color: #fff;
		padding: 0rpx 20rpx 0rpx;
		box-sizing: border-box;
		margin-bottom: 28rpx;
		border-radius: 20rpx;

	}
</style>