<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				团购管理
			</template>
		</commonTop>
		<view class="up-down-shelves">
			<view class="title-row">
				<view class="t-item leftTopRadius" :class="typeSettlement==1?'rz-img1':''" @click.stop="choseRZ(1)">
					已上架({{onOffShelf.onShelf || 0}})</view>
				<view class="t-item rightTopRadius" :class="typeSettlement==2?'rz-img2':''" @click.stop="choseRZ(2)">
					未上架({{onOffShelf.offShelf || 0}})</view>
			</view>
		</view>
		<view class="search-wrapper">
			<view class="serch" style="padding-bottom: 6rpx;box-sizing: border-box;">
				<uv-input customStyle="background-color:#fff;border-radius:20rpx;" @confirm='confirmSearch'
					v-model="goodsName" placeholder="搜索" prefixIcon="search"
					prefixIconStyle="font-size: 22px;color: #909399"></uv-input>
			</view>
		</view>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<GroupbuyList :groupbuyList='groupbuyList' @reload='mescroll.resetUpScroll()'></GroupbuyList>
		</mescroll-body>
		<tabBar :currentIndex="1"></tabBar>

		<image class="addBtn" mode="widthFix" src="../static/Add_group_purchase@2x.png"
			@click.stop="go('/pagesB/merchant/newGroupBuy')"></image>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import GroupbuyList from '@/pagesB/components/groupbuyList.vue'
	import tabBar from '@/pagesB/components/merchant-custom-tabbar.vue'

	import {
		groupBuyGoodsPage,
		shelfProductStatistics
	} from "@/config/vmeitime-http/groupBuy.js";
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			GroupbuyList,
			tabBar
		},
		data() {
			return {
				groupbuyList: [],
				tablist: [{
					name: '全部'
				}, {
					name: '待接单',
				}, {
					name: '待使用',
				}, {
					name: '退款/取消',
				}, {
					name: '待评价',
				}],
				typeSettlement: 1,
				goodsName: '',
				// 上下架数量
				onOffShelf: {}
			}
		},
		mounted() {
			uni.$on('reload', ()=> {
				this.funLoad()
			})
		},
		methods: {
			// 刷新列表
			funLoad() {
				this.mescroll.resetUpScroll();
			},

			shelfProductStatisticsFn() {
				shelfProductStatistics().then((res) => {
					this.onOffShelf = res
				})
			},

			// 确定搜索
			confirmSearch() {
				this.mescroll.resetUpScroll();
			},
			choseRZ(type) {
				this.typeSettlement = type
				this.mescroll.resetUpScroll();
			},
			// 跳转发布
			go(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					status: this.typeSettlement,
					goodsName: this.goodsName,
					merchantId: uni.getStorageSync('merchantId')
				};
				if (page.num == 1) this.groupbuyList = []; //如果是第一页需手动置空列表
				groupBuyGoodsPage(param).then((res) => {
					if (res) {
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						curPageData = curPageData.map((item) => {
							return {
								...item,
								discount:parseInt(item.discount),
								picture: item.picture.split(',')[0]
							}
						})

						this.groupbuyList = this.groupbuyList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
						this.shelfProductStatisticsFn()
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding-bottom: 150rpx;
		box-sizing: border-box;

		.addBtn {
			width: 108rpx;
			height: 108rpx;
			position: fixed;
			right: 0px;
			bottom: 172rpx;
		}

		.up-down-shelves {
			padding: 0px 28rpx;
			box-sizing: border-box;
			border-radius: 10rpx 10rpx 0px 0px;
			overflow: hidden;

			.title-row {
				border-top-left-radius: 20rpx;
				border-top-right-radius: 20rpx;
				display: flex;
				align-items: center;

				.leftTopRadius {
					border-top-left-radius: 20rpx;
				}

				.rightTopRadius {
					border-top-right-radius: 20rpx;
				}

				.rz-img1 {
					background-image: url('../../static/Merchant_selected@2x.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					width: 70% !important;
				}

				.rz-img2 {
					background-image: url('../../static/Institution_selected@2x.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					width: 65% !important;
				}

				.t-item {
					font-size: 32rpx;
					color: #999999;
					height: 92rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 50%;
					background-color: #EAEAEA;

				}


			}
		}

		.search-wrapper {
			padding: 0rpx 28rpx;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;

			.serch {
				padding: 20rpx 20rpx 0px;
				background-color: #fff;
			}


			.tab-wrapper {
				background-color: #fff;
				display: flex;
				align-items: center;
				padding: 20rpx 0px;
				box-sizing: border-box;


				.add-btn {
					display: flex;
					justify-content: center;
					font-size: 30rpx;
					width: 100rpx;
					height: 88rpx;
					background: #FAFAFA;
					box-shadow: -16rpx 0rpx 20rpx -16rpx rgba(0, 0, 0, 0.14);
					border-radius: 0rpx 0rpx 0rpx 0rpx;
				}
			}
		}
	}

	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
	}
</style>