<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				商户管理
			</template>
		</commonTop>
		<view class="top">
			<view class="userinfo">
				<image class="avator" :src="merchantInfo.logo" mode="scaleToFill"></image>
				<view class="name-rz">
					<view class="nick f32C3">{{merchantInfo.name}}</view>
					<image class="rz" src="../static/icon_Merchant_certification@2x.png" mode="widthFix"></image>
				</view>
				<view class="user-home" @click.stop="goPage('/pagesB/merchant/editeInfor')">
					编辑 <image class="src" src="../../static/icon_arrow_right14.png" mode="widthFix"></image>
				</view>
			</view>
		</view>
		<view class="card">
			<view class="dateSelect" @click.stop="openDate">
				<image src="../static/date.png" class="date-img" mode="widthFix"></image>
				<span>{{date}}</span>
				<image class="date-right" src="../../static/icon_More24@2x.png" mode="widthFix"></image>
			</view>
			<view class="data-list">
				<view class="item columnCenter" v-for="(item, index) in dataList" :key="index"
					@click.stop="goUrlByName(item.name)">
					<view class="count f32C3">{{item.count < 10000 ? item.count: '9999+'}}</view>
					<view class="name f24C9">{{item.name}}</view>
				</view>
			</view>
			<!-- 日期控件 -->
			<uv-datetime-picker :formatter="formatter" ref="datePicker" mode="year-month" :value="todayTime"
				:maxDate="todayTime" @confirm="confirmDate">
			</uv-datetime-picker>
		</view>

		<view class="card">
			<view class="money-wraaper">
				<view class="money-title ajbetween f32C3" @click.stop="goPage('/pagesB/merchant/wallet')">
					<view class="title">钱包
						<image class="eys" v-if="eyes.showWallet" src="../static/open.png" mode="widthFix"
							@click.stop="eyes.showWallet=false"></image>
						<image class="eys" v-else src="../static/close.png" mode="widthFix"
							@click.stop="eyes.showWallet=true"></image>
					</view>
					<image class="right-icon" src="../../static/icon_More24@2x.png" mode="widthFix"></image>
				</view>
				<view class="money" v-if="eyes.showWallet"><span>￥</span>{{merchantMoneyInfo.walletMoney || 0}}</view>
				<view class="money" v-else>******</view>
				<view class="withdrawn f28C9"><span>已提现：</span>{{eyes.showWallet ? merchantMoneyInfo.withdrawMoney || 0: '******'}}</view>
			</view>
		</view>

		<view class="card">
			<view class="money-wraaper">
				<view class="money-title ajbetween f32C3" @click.stop="goPage('/pagesB/merchant/margin')">
					<view class="title">保证金
						<image class="eys" v-if="eyes.showMargin" src="../static/open.png" mode="widthFix"
							@click.stop="eyes.showMargin=false"></image>
						<image class="eys" v-else src="../static/close.png" mode="widthFix"
							@click.stop="eyes.showMargin=true"></image>
					</view>
					<image class="right-icon" src="../../static/icon_More24@2x.png" mode="widthFix"></image>
				</view>
				<view class="money" v-if="eyes.showMargin"><span>￥</span>{{merchantMoneyInfo.depositMoney || 0}}</view>
				<view class="money" v-else>******</view>
				<view class="withdrawn f28C9"><span>需缴保证金：</span>{{eyes.showMargin ? merchantMoneyInfo.needDepositMoney || 0: '******'}}</view>
			</view>
		</view>

		<view class="card">
			<view class="common-title">常用功能</view>
			<view class="common-list">
				<view class="common-item columnCenter" @click="goPage('/pagesB/merchant/toHomePage')">
					<image class="src" src='../static/icon_publicity@2x.png'></image>
					<span>我要上首页</span>
				</view>
				<view class="common-item columnCenter" @click="goPage('/pagesB/merchant/invoicing')">
					<image class="src" src='../static/icon_Invoice@2x.png'></image>
					<span>开发票</span>
				</view>
			</view>
		</view>
		<tabBar :currentIndex="0"></tabBar>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop';
	import tabBar from '@/pagesB/components/merchant-custom-tabbar.vue'
	import {
		registerInfo,
		merchantMoneyInfo,
		goodsSaleStatistics
	} from "@/config/vmeitime-http/merchant.js";
	import {
		formatter,
		formatTime,
		showToast
	} from '@/utils/util.js'
	import storage from '../../utils/storage';
	export default {
		components: {
			commonTop,
			tabBar
		},
		data() {
			return {
				todayTime: Number(new Date()),
				formatter: formatter,
				dataList: [{
					count: 0,
					name: '成交额'
				}, {
					count: 0,
					name: '有效订单数'
				}, {
					count: 0,
					name: '总订单数'
				}, {
					count: 0,
					name: '访客数'
				}, {
					count: 0,
					name: '浏览量'
				}, {
					count: 0,
					name: '收藏量'
				}, {
					count: 0,
					name: '评论量'
				}, {
					count: 0,
					name: '商户违规'
				}],
				date: formatTime(new Date(), 'year-month'),
				eyes: {
					showWallet: false,
					showMargin: false
				},
				// 商户详情
				merchantInfo: {},
				// 资金明细
				merchantMoneyInfo:{
					walletMoney: 0,
					canWithdrawMoney: 0,
					withdrawMoney: 0,
					depositMoney: 0,
					needDepositMoney: 0
				}
			}
		},
		created() {
			// console.log(formatTime(new Date(), 'year-month'))
			// this.getmerchantInfo()
			// this.getMerchantMoneyInfo()
		},
		onShow() {
			this.getmerchantInfo()
			this.getMerchantMoneyInfo()
			this.goodsSaleStatisticsFn()
		},
		methods: {
			
			// 获取统计
			goodsSaleStatisticsFn() {
				let beginTime = this.date+'-01 00:00:00'
				let endTime = this.date+'-31 23:59:59'
				console.log(beginTime + ',' + endTime)
				goodsSaleStatistics({
					beginTime: beginTime,
					endTime: endTime
				}).then((res) => {
					console.log(res)
					if(res) {
						this.dataList[0].count = res.turnover
						this.dataList[1].count = res.validOrderCount
						this.dataList[2].count = res.totalOrderCount
						this.dataList[3].count = res.visitorCount
						this.dataList[4].count = res.pageViewCount
						this.dataList[5].count = res.collectCount
						this.dataList[6].count = res.commentCount
						this.dataList[7].count = res.merchantViolationCount
					}
				})
			},

			// 获取商户信息
			getmerchantInfo() {
				registerInfo().then((res) => {
					this.merchantInfo = res
					uni.setStorageSync('merchantId', this.merchantInfo.id)
					storage.set('merchantInfo', this.merchantInfo)
				})
			},

			// 获取资金明细
			getMerchantMoneyInfo() {
				merchantMoneyInfo().then((res) => {
					this.merchantMoneyInfo = res
				})
			},


			goUrlByName(name) {
				if (name === '有效订单数') {
					uni.navigateTo({
						url: '/pagesB/merchant/validOrders'
					})
				} else if (name === '商户违规') {
					uni.navigateTo({
						url: '/pagesB/merchant/merchantViolation'
					})
				} else if (name === '评论量') {
					uni.navigateTo({
						url: '/pagesB/merchant/commentVolume'
					})
				}
			},

			goPage(url) {
				if (url == '/pagesB/merchant/toHomePage' || url == '/pagesB/merchant/invoicing') {
					showToast('敬请期待')
					return false
				}
				uni.navigateTo({
					url: url
				})
			},
			// 打开时间搜索
			openDate() {
				this.$refs.datePicker.open();
			},
			confirmDate(e) {
				this.date = formatTime(e.value, 'year-month')
				this.goodsSaleStatisticsFn()
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 0px 28rpx 160rpx;
		box-sizing: border-box;
	}

	.common-title {
		color: #333333;
		font-size: 32rpx;
		font-weight: 500;
		margin: 28rpx 0px;
	}

	.common-list {
		display: flex;
		align-items: center;
		padding-left: 42rpx;
		padding-bottom: 28rpx;
		box-sizing: border-box;

		.common-item {
			margin-right: 76rpx;

			image {
				width: 56rpx;
				height: 56rpx;
				margin-bottom: 8rpx;
			}

			span {
				font-size: 24rpx;
				color: #333;
			}
		}
	}

	.money-wraaper {
		display: flex;
		flex-direction: column;
		padding: 28rpx 0px;
		box-sizing: border-box;

		.money-title {
			.title {
				display: flex;
				align-items: center;
				font-weight: 500;

				.eys {
					width: 48rpx;
					margin-left: 16rpx;
				}
			}

			.right-icon {
				width: 48rpx;
				height: 48rpx;
			}
		}

		.money {
			color: #1C92FF;
			font-size: 48rpx;
			margin: 16rpx 0px;

			span {
				font-size: 32rpx;
			}
		}
	}

	.card {
		padding: 1rpx 20rpx;
		box-sizing: border-box;
		background-color: #FFFFFF;
		margin-bottom: 28rpx;
		border-radius: 20rpx;
	}

	.dateSelect {
		display: flex;
		align-items: center;
		color: #666666;
		font-size: 28rpx;
		height: 96rpx;
		display: flex;
		align-items: center;
		border-bottom: 1rpx solid #EEEEEE;

		.date-img {
			width: 34rpx;
			height: auto;
		}

		.date-right {
			width: 28rpx;
			height: 28rpx;
		}

		span {
			margin: 0px 16rpx;
		}
	}

	.data-list {
		display: flex;
		flex-wrap: wrap;
		padding-top: 28rpx;
		box-sizing: border-box;

		.item {
			width: 25%;
			margin-bottom: 28rpx;

			.count {}

			.name {
				margin-top: 12rpx;
			}
		}
	}


	.top {
		padding: 0px 28rpx;
		box-sizing: border-box;

		.userinfo {
			display: flex;
			align-items: center;
			padding: 40rpx 0rpx;
			box-sizing: border-box;
			position: relative;

			.avator {
				width: 136rpx;
				height: 136rpx;
				border-radius: 28rpx;
				margin-right: 28rpx;
			}

			.name-rz {
				.nick {
					font-weight: 500;
				}

				.rz {
					height: 40rpx;
					width: 152rpx;
					margin-top: 14rpx;
				}
			}

			.user-home {
				width: 120rpx;
				height: 48rpx;
				background: #FFFFFF;
				border-radius: 24rpx 24rpx 24rpx 24rpx;
				opacity: 0.8;
				color: #666666;
				font-size: 24rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 54rpx;
				right: 0rpx;

				image {
					width: 22rpx;
					height: 22rpx;
				}
			}
		}
	}
</style>