<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">发票详情</span>
			</template>
		</commonTop>
		<uv-form labelPosition="left" :model="model"  ref="form">
			<view class="card">
				<uv-form-item label="发票类型" labelWidth='140'   borderBottom @click="showinvoiceType">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.invoiceType" inputAlign='right'
						 disabled disabledColor="#ffffff" placeholder="请选择(普票/专票)" border="none" >
					</uv-input>
				</uv-form-item>
				<uv-form-item label="发票抬头" labelWidth='140'   borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.fptt" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="发票抬头" border="none" >
					</uv-input>
				</uv-form-item>
				<uv-form-item label="税号" labelWidth='140'   borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.fptt" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="税号" border="none" >
					</uv-input>
				</uv-form-item>
				<uv-form-item label="发票内容" labelWidth='140'   borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.fptt" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="发票内容" border="none" >
					</uv-input>
				</uv-form-item>
				<uv-form-item label="注册地址" labelWidth='140'   borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.fptt" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="注册地址" border="none" >
					</uv-input>
				</uv-form-item>
				<uv-form-item label="开户银行" labelWidth='140'   borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.fptt" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="开户银行" border="none" >
					</uv-input>
				</uv-form-item>
				<uv-form-item label="银行账号" labelWidth='140'>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.fptt" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="银行账号" border="none" >
					</uv-input>
				</uv-form-item>
			</view>
			<view class="card">
				<uv-form-item label="邮箱地址" labelWidth='140'>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.fptt" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="邮箱地址" border="none" >
					</uv-input>
				</uv-form-item>
			</view>
			<view class="copy">复制全部内容</view>
		</uv-form>
		
		<view class="invoice-issued">
			<view class="btn">发票已开</view>
		</view>
		
		<uv-action-sheet ref="invoiceTypeSelect" :actions="invoiceType" title="请选择发票类型" @select="invoiceTypeSelect">
		</uv-action-sheet>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'

	export default {

		components: {
			commonTop
		},
		data() {
			return {
				invoiceType: [{
					name: '男',
				}, {
					name: '女',
				}, {
					name: '保密',
				}],
				model: {
					invoiceType: '',
					fptt:'',	
				}
			}
		},
		onLoad() {

		},
		methods: {
			showinvoiceType() {
				this.$refs.invoiceTypeSelect.open();
				this.hideKeyboard();
			},
			// 发票类型返回结果
			invoiceTypeSelect(e) {
				this.model.invoiceType = e.name;
			},
			hideKeyboard() {
				uni.hideKeyboard()
			}
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx 160rpx;
		box-sizing: border-box;
		.card {
			border-radius: 20rpx;
			background-color: #fff;
			padding: 0px 40rpx;
			box-sizing: border-box;
			margin-bottom: 28rpx;
		}
		.copy {
			text-align: right;
			font-size: 32rpx;
			color: #1C92FF;
		}
		.invoice-issued {
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 120rpx;
			background: #FFFFFF;
			display: flex;
			align-items: center;
			padding: 0px 28rpx;
			box-sizing: border-box;
			.btn {
				width: 100%;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient( 180deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 20rpx 20rpx 20rpx 20rpx;
				color: #FFFFFF;
				font-size: 28rpx;
				text-align: center;
			}
		}
	}
</style>