<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">注销详情</span>
			</template>
		</commonTop>
		<view class="card">
			<image class="img" src="../static/icon_Review@2x.png"></image>
			<view class="title f32C3">正在注销商户</view>
			<view class="subtitle f28C9">7个工作日内将注销此商户</view>
		</view>
		<view class="invoice-issued">
			<view class="btn">恢复商户</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {

			}
		}
	}
</script>

<style lang="scss" scoped>
	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 56rpx 0px;
			box-sizing: border-box;

			.img {
				width: 120rpx;
				height: 120rpx;
			}

			.title {
				margin: 28rpx 0px 8rpx;
			}
		}

		.invoice-issued {
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 120rpx;
			background: #FFFFFF;
			display: flex;
			align-items: center;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.btn {
				width: 100%;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 20rpx 20rpx 20rpx 20rpx;
				color: #FFFFFF;
				font-size: 28rpx;
				text-align: center;
			}
		}
	}
</style>