<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">保证金</span>
			</template>
		</commonTop>
		<view class="margin-balance">
			<view class="balance">保证金余额</view>
			<view class="money"><span>￥</span>{{merchantMoneyInfo.depositMoney || 0}} </view>
			<view class="total-amount">应缴总额 <span>¥{{merchantMoneyInfo.needDepositMoney || 0}}</span></view>
			<view class="row-btn ajbetween">
				<view class="btn" @click="gopage(`/pagesB/merchant/withdrawalMargin?depositMoney=${merchantMoneyInfo.depositMoney}`)">提现</view>
				<view class="btn" @click="gopage(`/pagesB/merchant/depositRecharge?needDepositMoney=${merchantMoneyInfo.needDepositMoney}`)">充值</view>
			</view>
		</view>

		<view class="margin-record">
			<view class="title">保证金记录</view>
			<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
				<MarginRecordList :detailList='detailList'></MarginRecordList>
			</mescroll-body>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MarginRecordList from '../components/marginRecordList.vue'
	import {
		merchantMoneyInfo, depositFlow
	} from "@/config/vmeitime-http/merchant.js";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			MarginRecordList
		},
		data() {
			return {
				detailList: [],
				merchantMoneyInfo: {}
			}
		},
		created() {
			this.getMerchantMoneyInfo()
		},
		methods: {

			// 获取资金明细
			getMerchantMoneyInfo() {
				merchantMoneyInfo().then((res) => {
					this.merchantMoneyInfo = res
				})
			},
			
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc"
				};
				if (page.num == 1) this.detailList = []; //如果是第一页需手动置空列表
				depositFlow(param).then((res) => {
					console.log(res)
					let curPageData = res.records;
					let curPageLen = curPageData.length; // 接口返回的当前页数据长度
					let totalPage = res.total; // 接口返回的总页数
					this.detailList = this.detailList.concat(curPageData); //追加新数据
					this.mescroll.endByPage(curPageLen, totalPage);
				});
			},

			gopage(url) {
				uni.navigateTo({
					url: url
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx;
		box-sizing: border-box;

		.margin-record {
			margin-top: 28rpx;
			background-color: #fff;
			padding-top: 28rpx;
			box-sizing: border-box;

			.title {
				color: #333333;
				font-size: 32rpx;
				padding-left: 20rpx;
				margin-bottom: 20rpx;
			}
		}

		.margin-balance {
			padding: 36rpx 28rpx;
			box-sizing: border-box;
			background-color: #fff;
			border-radius: 20rpx;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;

			.balance {
				color: #999999;
				font-size: 28rpx;
			}

			.money {
				color: #333;
				font-size: 52rpx;
				margin: 20rpx 0px;

				span {
					font-size: 36rpx;
				}
			}

			.total-amount {
				color: #333;
				font-size: 28rpx;

				span {
					color: #1C92FF;
					margin-left: 10rpx;
				}
			}

			.row-btn {
				margin-top: 40rpx;

				.btn {
					width: 48%;
					height: 80rpx;
					line-height: 80rpx;
					text-align: center;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
					font-size: 28rpx;
				}
			}
		}
	}
</style>