<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				全部订单
			</template>
		</commonTop>
		<uvSticky>
			<uvTabs :list="tablist" lineWidth="28" :current='statusCurrentTab' lineColor="#FFC93F" @change='changeTab'
				:activeStyle="{
					color: '#333333',
					fontWeight: 'bold',
					transform: 'scale(1)'
		    	}" :inactiveStyle="{
					color: '#999999',
					transform: 'scale(1)'
				}" itemStyle="padding-left: 15px; padding-right: 15px; height: 88rpx;fontSize:32rpx;backgroundColor:rgb(249, 249, 249)"></uvTabs>

		</uvSticky>

		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<!-- 团购 -->
			<MerchantOrderList :orderList='orderList'></MerchantOrderList>
		</mescroll-body>

	
		
		<TabBar :currentIndex="2"></TabBar>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uvSticky from '@/uni_modules/uv-sticky/components/uv-sticky/uv-sticky.vue'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import TabBar from '@/pagesB/components/merchant-custom-tabbar.vue'
	import {
		merchantOrderPage
	} from "@/config/vmeitime-http/groupBuy.js";
	import MerchantOrderList from '../components/merchantOrderList.vue'

	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvSticky,
			uvTabs,
			MerchantOrderList,
			TabBar
		},
		data() {
			return {
				totalPage: 0,
				tablist: [{
					name: '全部'
				}, {
					name: '待支付',
				}, {
					name: '待使用',
				}, {
					name: '待评价',
				}, {
					name: '退款/取消',
				}],

				// 状态
				status: '',
				statusCurrentTab: 0,
				orderList: []
			}
		},

		onLoad(options) {

		},

		methods: {
			// 一级切换状态
			changeTab(item) {

				this.status = (item.name == '全部' || item.name == '全部订单') ? '' : item.name == '待支付' ? '0' : item.name ==
					'待使用' ? '1' : item.name == '待评价' ? '9' : item
					.name == '退款/取消' ? '2,3,4,5,6,7,8' : ''

				this.mescroll.resetUpScroll();
				console.log(item)
			},
			// 一级切换状态
			clickSub(item, index) {
				this.subActiveIndex = index
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					status: this.status
				};
				if (page.num == 1) this.orderList = []; //如果是第一页需手动置空列表
				merchantOrderPage(param).then((res) => {
					if (res) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						this.totalPage = res.total;
						this.orderList = this.orderList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.subTabs {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 24rpx 0px;

		.aciveColor {
			color: #FD611E !important;
		}

		.sub-item {
			width: 22%;
			text-align: center;
			padding: 8rpx 16rpx;
			box-sizing: border-box;
			color: #999999;
			font-size: 28rpx;
			background-color: #F3F3F3;
			border-radius: 12rpx;

		}
	}
</style>