<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">{{title}}</span>
			</template>
		</commonTop>
		<uv-form labelPosition="left" :model="model" ref="form">
			<view class="pets-card">
				<uv-form-item label="上传团购图片(最多6张)" labelWidth='300' labelPosition='top' required>
					<uploadImg v-model="model.picture" :maxCount='6' :multiple='true' @updateImg="(e)=>model.picture=e" :width='90'
						:height="90"></uploadImg>
				</uv-form-item>
			</view>

			<view class="pets-card">
				<uv-form-item label="团购名称" labelWidth='140' required prop="date" borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.name" inputAlign='right'
						disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="所属分类" labelWidth='140' prop="categoryIds" required borderBottom
					@click="showinvoiceType">
					<uv-input v-model="model.businessCategoryTip" inputAlign='right' readonly="readonly"
						disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>

					<ChoseCategoryPopup ref="ChoseCategoryPopup" @fbok='businessCategoryOk'>
					</ChoseCategoryPopup>

				</uv-form-item>
				<uv-form-item label="数量" labelWidth='140' prop="time" borderBottom required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' type='number'
						v-model="model.numberReleases" inputAlign='right' disabledColor="#ffffff" placeholder="请输入"
						border="none">
					</uv-input>
					<template v-slot:right>
						<span style="margin-left: 8rpx;" class="f32C6">张</span>
					</template>
				</uv-form-item>
				<uv-form-item label="需要填写宠物信息" labelWidth='160' prop="time">
					<template v-slot:right>
						<uv-switch v-model="model.petInformation" activeColor="#FD611E" :activeValue='1'
							:inactiveValue='0'></uv-switch>
					</template>
				</uv-form-item>

			</view>
			<!-- 类目 -->
			<view class="pets-card" v-for="(item,index) in categoriesList" v-bind:key="index">
				<uv-form-item :label="`${index+1}、团购类目`" labelWidth='140' required borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="item.categoryName"
						inputAlign='right' disabledColor="#ffffff" placeholder="请输入团购类目" border="none">
					</uv-input>
				</uv-form-item>
				<view class="project" v-for="(project,pindex) in item.groupBuyProjectList" v-bind:key="pindex">
					<uv-form-item label="团购项目" class="group-project" labelWidth='200' prop="name" labelPosition="top"
						required borderBottom>
						<input type="text" placeholder="请输入标题" class="tg-ipt" v-model="project.title">
						<image class="del-icon" src="../static/icon_delete20@2x.png" v-if="pindex > 0"
							@click.stop="delProject(index,pindex)"></image>
					</uv-form-item>

					<view class="taocan">
						<view class="taocan-item">
							<uv-input placeholder="请输入" customStyle='font-size:32rpx;margin-right:10rpx' type="number"
								placeholderStyle='font-size:32rpx;color:#CCCCCC' border="none" v-model="project.number">
								<template v-slot:suffix>
									<span class="tc-unit">份</span>
								</template>
							</uv-input>
							<uv-input placeholder="请输入" customStyle='font-size:32rpx;' type="number"
								placeholderStyle='font-size:32rpx;color:#CCCCCC' border="none" v-model="project.money">
								<template v-slot:suffix>
									<span class="tc-unit">元</span>
								</template>
							</uv-input>
						</view>
					</view>
				</view>

				<view class="add-row" @click.stop="addProject(index)">
					<image class="src" src="../static/icon_Add20_blue@2x.png"></image>增加项目
				</view>
				<view class="add-row"  @click.stop="delCategories(index)"
					style="color: rgb(253, 97, 30);margin-top:-20px">
					删除类目
				</view>

			</view>

			<view class="add-row addleimu" style="height: 60rpx;color: rgb(253, 97, 30);" @click="addCategories">
				增加团购类目
			</view>



			<view class="pets-card">
				<uv-form-item label="总金额" labelWidth='140' prop="model.name" borderBottom>
					<template v-slot:right> <span
							style="color: #FD611E;font-size: 32rpx;">￥{{model.totalAmount || 0}}</span></template>
				</uv-form-item>
				<uv-form-item label="优惠折扣" labelWidth='140' borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' min='0' max='9' maxlength="1"
						type="number" v-model="model.discount" inputAlign='right' disabledColor="#ffffff"
						placeholder="请输入" border="none">
					</uv-input>
					<template v-slot:right> <span class="f32C6">折</span></template>
				</uv-form-item>
				<view class="total">
					总计:<view class="money"><span>￥</span> {{model.realAmount || 0}}</view>
				</view>
			</view>
			<view class="pets-card">
				<uv-form-item label="图文详情" labelWidth='200' prop="content" labelPosition="top" borderBottom>
					<uv-textarea type="text" placeholder="请输入（4-5000字）" maxlength="5000" class="tg-ipt" border="none"
						v-model="model.content" />
				</uv-form-item>
				
				<uv-form-item label="上传详情图片(最多9张)" labelWidth='300' labelPosition='top'>
					<uploadImg v-model="model.contentPicture" :maxCount='9' :multiple='true' @updateImg="(e)=>model.contentPicture=e" :width='90'
						:height="90"></uploadImg>
				</uv-form-item>
			</view>

			<view class="pets-card">
				<uv-form-item label="有效期" labelWidth='140' prop="time" borderBottom required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.validityPeriod"
						inputAlign='right' disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
					<template v-slot:right>
						<span style="margin-left: 8rpx;" class="f32C6">天</span>
					</template>
				</uv-form-item>
				<uv-form-item label="可用时间段" labelWidth='140' prop="date" @click="openavailableTime" borderBottom
					required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.availableTime"
						inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-picker ref="timepicker" :columns="timeColumns" @confirm="timeConfirm"></uv-picker>

				<!-- <uv-form-item label="自定义可用时间" labelWidth='140' prop="date" @click="openDate" borderBottom required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item> -->
				
				<uv-form-item label="城市" labelWidth='140' prop="date" @click="$refs.popup.open()" borderBottom
					required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.city"
						inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-form-item label="需要预约" labelWidth='140' prop="time">
					<template v-slot:right>
						<uv-switch v-model="model.appointmentRequire" :activeValue='1' :inactiveValue='0'
							activeColor="#FD611E"></uv-switch>
					</template>
				</uv-form-item>
				
				
				
				<uv-popup ref="popup" mode="bottom" :round='40'>
					<view class="pop-wrapper">
						<view class="pop-title">
							选择城市
							<view class="close" @click.stop="$refs.popup.close()">
								<image src="../../pagesA/static/img/icon_closure@2x.png" mode="widthFix"></image>
							</view>
						</view>
						<areaSelect @change="changeArea" :level='2' :data='all'></areaSelect>
					</view>
				</uv-popup>

				<uv-form-item label="其他规则" labelWidth='200' prop="name" labelPosition="top">
					<uv-textarea type="text" placeholder="请输入（4-5000字）" class="tg-ipt" border="none"
						v-model="model.otherRules" />
				</uv-form-item>
			</view>

		</uv-form>

		<view class="btm-pay">
			<view class="save-btn save" @click="saveGroupBuy(0)">保存</view>
			<view class="save-btn save-sj" @click="saveGroupBuy(1)">保存并上架</view>
		</view>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import AreaSelect from 'uni_modules/leo-area-select/components/leo-area-select/index.vue';
	import { showToast } from '../../utils/util.js';
	import {
		addGroupBuyGoods,
		groupBuyGoodsInfo,
		editGroupBuyGoods
	} from "@/config/vmeitime-http/groupBuy.js";
	import storage from '@/utils/storage.js';
	import ChoseCategoryPopup from '@/components/choseCategoryPopup.vue'
	const all = require('../../uni_modules/leo-area-select/citys.json');
	
	export default {
		components: {
			commonTop,
			uploadImg,
			ChoseCategoryPopup,
			AreaSelect
		},
		data() {
			return {
				all: all,
				timeColumns: [
					['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
					['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
					['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
						'11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
						'21:00', '22:00', '23:00', '24:00'
					],
					['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
						'11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
						'21:00', '22:00', '23:00', '24:00'
					],
				],
				smlxType: [], // 发票类型
				buyCount: 0,
				// 所属类目
				category: '',
				model: {
					categoryIds: [],
					content: '',
					contentPicture:'',
					picture: '',
					name: '',
					numberReleases: '',
					petInformation: 0,
					availableTime: '',
					totalAmount: 0,
					validityPeriod: '',
					appointmentRequire: 0,
					otherRules: '',
					province: storage.get('merchantInfo').province,
					city: storage.get('merchantInfo').city,
					county: '',
					lon: '',
					lat: ''

				},
				categoriesList: [],
				merchantInfo: storage.get('merchantInfo') || {},
				title: '新增团购'
			}
		},

		watch: {
			categoriesList: {
				handler(newVal) {
					let total = 0
					newVal.map((item) => {
						item.groupBuyProjectList.map((item1) => {
							if (item1.money && item1.number) {
								total += parseFloat(item1.money) * parseFloat(item1.number)
							}
						})
					})
					this.model.totalAmount = total
					if (this.model.discount) {
						this.model.realAmount = (total * (parseFloat(this.model.discount) / 10)).toFixed(1)
					} else {
						this.model.realAmount = total
					}
					console.log(total)

				},
				deep: true
			},
			'model.discount': {
				handler(newVal) {
					console.log(newVal)
					if (newVal && newVal > 0 && this.model.totalAmount > 0) {
						this.model.realAmount = (this.model.totalAmount * (parseFloat(this.model.discount) / 10)).toFixed(
							1)
					}
				},
				deep: true
			}
		},

		onLoad(options) {
			if (options.id) {
				this.getDetail(options.id)
				this.title = '编辑团购'
			}
		},

		methods: {
			
			// 省市区地址回调
			changeArea(result) {
				console.log('area change', result);
				this.model.province = result[0].name
				this.model.city = result[1].name
				this.$refs.popup.close()
			},

			// 选中经营类目
			businessCategoryOk(e) {
				console.log(e)
				this.model.categoryIds = e
				this.$set(this.model, 'businessCategoryTip', `共选中${this.model.categoryIds.length}项`)
			},

			// 打开所属经营类目选择
			showinvoiceType() {
				this.$refs.ChoseCategoryPopup.open(this.model.categoryIds || []);
			},

			// 获取详情
			getDetail(id) {
				let that = this
				groupBuyGoodsInfo({
					id: id
				}).then((res) => {
					this.model = res
					this.model.petInformation = parseInt(this.model.petInformation)
					this.model.appointmentRequire = parseInt(this.model.appointmentRequire)
					this.categoriesList = this.model.groupBuyCategoryList
					this.model.categoryIds = JSON.parse(this.model.categoryId) || []
					this.$set(this.model, 'businessCategoryTip', `共选中${this.model.categoryIds.length}项`)	
				})
			},

			// 保存 / 保存并上架
			saveGroupBuy(status) {
				this.model.status = status
				if (!this.model.picture) {
					showToast('请上传团购图片')
					return false
				} else if (!this.model.name) {
					showToast('请输入团购名称')
					return false
				} else if (this.model.categoryIds.length == 0 || !this.model.categoryIds ) {
					showToast('请选择所属经营类目')
					return false
				} else if (!this.model.numberReleases) {
					showToast('请上传数量')
					return false
				} else if (!this.model.validityPeriod) {
					showToast('请输入有效期')
					return false
				} else if (!this.model.availableTime) {
					showToast('请选择可用时间段')
					return false
				}else if (!this.model.city) {
					showToast('请选择城市')
					return false
				}
				
				uni.showLoading({
					title: '加载中',
					mask: true
				})
				
				// let adrData = storage.get('merchantInfo')
				// let adr = {
				// 	province: adrData.province,
				// 	city: adrData.city,
				// 	county: adrData.county,
				// 	lon: adrData.lon,
				// 	lat: adrData.lat
				// }
				this.model.groupBuyCategoryList = this.categoriesList
				// this.model = Object.assign(this.model, adr)
				let Fn = this.model.id ? editGroupBuyGoods : addGroupBuyGoods
				Fn(this.model).then((res) => {
					showToast('提交成功')
					uni.hideLoading()
					setTimeout(() => {
						uni.navigateBack({
							delta: 1,
							success() {
								uni.$emit('reload')
							}
						});
					}, 1000)

				}).catch(()=> {
					uni.hideLoading()
				})
			},

			openavailableTime() {
				this.$refs.timepicker.open();
			},


			// 时间确定
			timeConfirm(e) {
				let data = e.value
				let time = `${data[0]} - ${data[1]}  ${data[2]}:${data[3]}`
				console.log(time)
				this.model.availableTime = time
			},

			// 添加团购类目
			addCategories() {
				this.categoriesList.push({
					categoryName: '',
					groupBuyProjectList: [{
						title: '',
						number: '',
						money: ''
					}]

				})
			},

			// 添加团购项目
			addProject(index) {
				let length = this.categoriesList[index].groupBuyProjectList.length
				let data = this.categoriesList[index].groupBuyProjectList[length - 1]
				console.log(data)
				if ((!data?.title || !data?.number || !data?.money) && length > 0) {
					showToast('请填写完整团购项目')
					return false
				}
				this.categoriesList[index].groupBuyProjectList.push({
					title: '',
					number: '',
					money: ''
				})
			},

			// 删除团购项目
			delProject(index, pindex) {
				console.log(index + ',' + pindex)
				if (this.categoriesList[index].groupBuyProjectList.length == 1) {
					showToast('不能删除最后一项')
					return false
				}
				this.categoriesList[index].groupBuyProjectList.splice(pindex, 1)
			},

			// 删除类目
			delCategories(index) {
				// if (this.categoriesList.length == 1) {
				// 	showToast('不能删除最后一项')
				// 	return false
				// }
				this.categoriesList.splice(index, 1)
			}
		}
	}
</script>

<style scoped lang="scss">
	
	.pop-wrapper {
		background-color: #fff;
		height: 800rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding-top: 120rpx;
		box-sizing: border-box;
		padding-bottom: 20rpx;
	
		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 90rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			z-index: 99;
	
			image {
				width: 48rpx;
				height: 48rpx;
			}
	
			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	
	::v-deep .twoColor {
		background-color: transparent !important;
		color: #333333 !important;
	}
	
	.addleimu {
		width: 100%;
		height: 80rpx !important;
		background-color: #1C92FF;
		border-radius: 10rpx;
		color: #fff !important;
	}
	.group-project {
		position: relative;
		.del-icon {
			position: absolute;
			width: 42rpx;
			height: 42rpx;
			right: 10rpx;
			top: 28rpx;
			margin: auto;
		}
	}

	::v-deep .uv-textarea {
		padding: 20rpx 0px !important;
		box-sizing: border-box;
	}

	.taocan {
		display: flex;
		flex-direction: column;
		border-bottom: 1rpx solid #EEEEEE;

		.taocan-item {
			display: flex;
			align-items: center;
			margin: 20rpx 0px;

			.tc-unit {
				color: #666666;
				font-size: 32rpx;
			}
		}
	}

	::v-deep .uv-form {
		background-color: #F9F9F9;
	}

	::v-deep .uv-upload {
		margin-top: 28rpx;
	}

	.total {
		color: #666666;
		font-size: 28rpx;
		display: flex;
		align-items: baseline;
		justify-content: flex-end;
		padding: 36rpx 0px;
		box-sizing: border-box;

		.money {
			margin-left: 10rpx;
			font-size: 44rpx;
			color: #FD611E;

			span {
				font-size: 28rpx;

			}
		}
	}

	.btm-pay {
		display: flex;
		align-items: center;
		padding: 14rpx 28rpx;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		z-index: 9;

		.save-btn {
			width: 200rpx;
			height: 92rpx;
			background: #FFFFFF;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			border: 2rpx solid #EEEEEE;
			font-size: 32rpx;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.save {
			color: #333333;
		}

		.save-sj {
			flex: 1;
			margin-left: 24rpx;
			background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
		}
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
		color: #fff;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}


	.add-row {
		display: flex;
		align-items: center;
		color: #1C92FF;
		font-size: 32rpx;
		justify-content: center;
		height: 124rpx;

		image {
			width: 40rpx;
			height: 40rpx;
			margin-right: 24rpx;
		}
	}

	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 0rpx 28rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;


		.tg-ipt {
			margin-top: 36rpx;
			font-size: 32rpx;
		}

		.flex {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 28rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}

		.title {
			color: #333333;
			font-size: 28rpx;
			font-weight: 500;
			margin-bottom: 20rpx;
		}

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			border-radius: 20rpx;
			border-bottom: 1px dashed #F4F4F4;

			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}


				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					text-decoration: line-through;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					padding: 4rpx;
					box-sizing: border-box;
					height: 32rpx;
					font-size: 20rpx;
					margin: 0px 12rpx;

				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					flex-direction: column;

					.shop-one {
						width: 100%;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						margin-bottom: 16rpx;
						position: relative;

						.price {
							color: #FD611E;
							margin: 0px 12rpx;

						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}
				}
			}
		}
	}
</style>