<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true'>
			<template slot="left">
			 推广历史
			</template>
		</commonTop>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<PromotionHistoryList :petList='romotionHistoryList'></PromotionHistoryList>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import PromotionHistoryList from '../components/promotionHistoryList.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
	 purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			PromotionHistoryList
		},
		data() {
			return {
				romotionHistoryList: [{
					isGeneralization: false
				},{
					isGeneralization: true
				}]
			}
		},
		onLoad() {

		},
		methods: {
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					queryType: this.queryType,
					keywords: this.keywords,
					sort: "bookTime,desc",
				};
				if (page.num == 1) this.invoicingList = [{},{}]; //如果是第一页需手动置空列表
				purchaseOrderList(param).then((res) => {
					if (res) {
						let curPageData = res.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数
			
						this.invoicingList = this.invoicingList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	page,
	.containner {
		background-color: #F9F9F9;
	}
	.mescrollBox {
		
	}
</style>