<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">经营者实名认证</span>
			</template>
		</commonTop>
		<view class="card">
			<view class="title-rapper">
				<view class="left f32C3">经营者实名认证</view>
				<view class="right f32C9">5位经营者 <span>添加</span></view>
			</view>
			<view class="list ajbetween" v-for="(item,index) in list" v-bind:key="index">
				<view class="left">
					<image class="avator" src="../static/icon_Review@2x.png"></image>
					<view class="info">
						<view class="title f32C3">名称名称名</view>
						<view class="phone">123*******1233</view>
					</view>
				</view>
				<image class="del-icon" src="../static/icon_delete20@2x.png"></image>
			</view>
		</view>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
               list:[{},{}]
			}
		}
	}
</script>

<style lang="scss" scoped>
	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		.list {
			padding: 26rpx 0px;
			box-sizing: border-box;
			.left {
				display: flex;
				align-items: center;
				.avator {
					width: 112rpx;
					height: 112rpx;
					border-radius: 50%;
					margin-right: 24rpx;
				}
				.info {
					display: flex;
					flex-direction: column;
					.phone {
						color: #999;
						font-size: 24rpx;
						margin-top: 4rpx;
					}
				}
			}
			.del-icon {
				width: 40rpx;
				height: 40rpx;
			}
		}

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0rpx 20rpx;
			box-sizing: border-box;

			.title-rapper {
				width: 100%;
				display: flex;
				height: 122rpx;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1rpx solid #eee;

				.right {
					span {
						color: #1C92FF;
						margin-left: 8rpx;
					}
				}
			}
		}
	}
</style>