<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">我要上首页</span>
			</template>
		</commonTop>
		<view class="promotion-history" @click="gopage('/pagesB/merchant/promotionHistory')">推广历史</view>
		<uv-form labelPosition="left" :model="model" ref="form">
			<view class="top-card">
				<view class="top-radio">
					<uv-form-item label="推广类型" labelWidth='140' labelPosition='left' borderBottom>
						<template v-slot:right>
							<uv-radio-group v-model="model.promotionType">
								<uv-radio shape="square" :customStyle="{margin: '8px'}"
									v-for="(item, index) in promotionTypeList" activeColor="#FD611E" :key="index"
									:label="item" :name="item">
								</uv-radio>
							</uv-radio-group>
						</template>
					</uv-form-item>
					<uv-form-item label="选择推广" class="tg-row" labelWidth='140' prop="smlx" required  @click="openpay">
						<template v-slot:right>
							<uv-icon name="arrow-right"></uv-icon>
						</template>
					</uv-form-item>
				</view>
				<petsCardList v-if="model.promotionType=='商户主页'" :petsList='petsList' :showGroupBuy='false'>
				</petsCardList>
				<view v-else :class="model.promotionType=='商户主页'? '': 'validordersList'">
					<ValidordersList :petsList='petsList' :showGroupBuy='false'></ValidordersList>
				</view>
				
			</view>

			<view class="card">
				<uv-form-item label="" labelWidth='0' prop="cwpicsList" labelPosition='left'>
					<view class="up-list">
						<view class="up-title">上传首页Banner图片 <span>(建议尺寸为700*320)</span> </view>
						<uploadImg v-model="model.realphotos" width='104' height="104"></uploadImg>
					</view>
				</uv-form-item>
			</view>

			<view class="card">
				<view class="tgtcan">推广套餐</view>
				<view class="taocanList">
					<view class="item" v-for="(item,index) in tancanList" v-bind:key="index"
						:class="tancanIndex==index? 'active':''" @click="tancanIndex=index">
						<view class="title">套餐一</view>
						<view class="tg">预计推广</view>
						<view class="days">3天</view>
						<view class="price">¥ 10</view>
					</view>
				</view>
			</view>

			<view class="card">
				<uv-form-item label="自定义推广天数" labelWidth='140' required borderBottom>
					<uv-input v-model="model.days" inputAlign='right' disabledColor="#ffffff" placeholder="请输入"
						border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<view class="total-money">
					总计: <span class="unit">￥</span> <span class="price">122</span>
				</view>
			</view>

			<view class="card">
				<uv-form-item label="微信支付" labelWidth='140'>
					<template v-slot:right>
						<uv-radio-group v-model="model.wxpay" activeColor='#FD611E' shape='square'>
							<uv-radio name="微信支付">
							</uv-radio>
						</uv-radio-group>
					</template>
				</uv-form-item>
			</view>

			<view class="card">
				<uv-form-item label="开发票" labelWidth='140'>
					<template v-slot:right>
						<uv-switch v-model="model.kfp" activeColor='#FD611E'></uv-switch>
					</template>
				</uv-form-item>
			</view>

			<view class="card" v-if="model.kfp">
				<uv-form-item label="发票类型" labelWidth='140' prop="time" borderBottom required @click="showssflType">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.time" inputAlign='right'
						disabledColor="#ffffff" placeholder="请选择" border="none" disabled>
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="发票抬头" labelWidth='140' prop="date" borderBottom required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="税号" labelWidth='140' prop="date" borderBottom required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="发票内容" labelWidth='140' prop="date" borderBottom required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>

				<uv-form-item label="注册地址" labelWidth='140' prop="date" borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="开户银行" labelWidth='140' prop="date" borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="银行账号" labelWidth='140' prop="date">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>
			</view>

			<view class="card">
				<uv-form-item label="邮箱地址" labelWidth='140' prop="date" required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.date" inputAlign='right'
						disabledColor="#ffffff" placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>
			</view>

		</uv-form>

		<view class="btm-pay">
			<view class="price"><span>￥</span>122</view>
			<view class="save-btn save-sj">支付</view>
		</view>

		<!-- 所属分类 -->
		<uv-action-sheet ref="ssflTypeSelect" :actions="smlxType" title="请选择发票类型" @select="ssflTypeSelect">
		</uv-action-sheet>

		<uv-popup ref="popup" :round='40' mode="bottom">
			<view class="pop-wrapper" :class="model.promotionType=='商户主页'? '': 'validordersList'">
				<view class="pop-title">
					选择团购
					<view class="close" @click.stop="closepay">
						<image src="../static/icon_closure@2x.png" mode="widthFix"></image>
					</view>
				</view>
				<petsCardList v-if="model.promotionType=='商户主页'" :petsList='petsList' :showGroupBuy='false'>
				</petsCardList>
				<ValidordersList class="validordersList" v-else :petsList='petsList' :showGroupBuy='false'></ValidordersList>
			</view>
		</uv-popup>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import petsCardList from '../../pagesA/components/petsCardList.vue'
	import ValidordersList from '../components/validordersList.vue'
	import {
		formatTime
	} from '../../utils/util.js';
	export default {
		components: {
			commonTop,
			uploadImg,
			petsCardList,
			ValidordersList
		},
		data() {
			return {
				tancanList: [{
					title: '套餐一',
					days: '3天',
					price: '￥10'
				}, {
					title: '套餐二',
					days: '7天',
					price: '￥20'

				}, {
					title: '套餐三',
					days: '30天',
					price: '￥30'

				}],
				// 推广类型
				promotionTypeList: ['商户主页', '团购'],
				tancanIndex: 0,
				petsList: [{}],
				smlxType: [{
					name: '上门类型1',
				}, {
					name: '上门类型2',
				}], // 发票类型
				buyCount: 0,
				rules: {},
				model: {
					days: '',
					wxpay: '微信支付',
					kfp: true,
					promotionType: '商户主页'
				}
			}
		},
		methods: {
			
			openpay() {
				this.$refs.popup.open();
			},
			closepay() {
				this.$refs.popup.close();
			},

			// 跳转
			gopage(url) {
				uni.navigateTo({
					url: url
				})
			},

			// 发票类型
			showssflType() {
				this.$refs.ssflTypeSelect.open();
				this.hideKeyboard();
			},
			ssflTypeSelect(e) {
				this.model.smlx = e.name;
			},
			hideKeyboard() {
				uni.hideKeyboard()
			},


		}
	}
</script>

<style scoped lang="scss">
	 .validordersList {
			padding: 16rpx 28rpx;
			box-sizing: border-box;
	}
	.tg-row {
		::v-deep .uv-form-item__body {
			padding: 26rpx 0px 10rpx !important;
		}
	}
	
	.pop-wrapper {
		background-color: #F9F9F9;
		min-height: 900rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 120rpx 0rpx 160rpx;
		
		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			left: 0px;
		
			image {
				width: 48rpx;
				height: 48rpx;
			}
		
			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	
	.active {
		border: 2rpx solid #FD611E !important;
		background: #FFF1EC;

		.title {
			color: #FD611E !important;
		}
	}

	.total-money {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		color: #666666;
		font-size: 28rpx;
		margin: 42rpx 0px;

		.unit {
			color: #FD611E;
			font-size: 28rpx;
		}

		.price {
			color: #FD611E;
			font-size: 44rpx;
		}
	}

	::v-deep .top-card .pets-item {
		padding: 0px 0px 36rpx !important;
	}

	.tgtcan {
		color: #333333;
		font-size: 32rpx;
		margin: 36rpx 0px 20rpx;
	}

	.taocanList {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.item {
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			border: 2rpx solid #EEEEEE;
			width: 32%;
			padding: 24rpx;
			box-sizing: border-box;

			.title {
				color: #333333;
				font-size: 28rpx;
			}

			.tg {
				color: #999999;
				font-size: 24rpx;
				margin: 16rpx 0px 8rpx;
			}

			.days {
				color: #333333;
				font-size: 32rpx;
				border-bottom: 1rpx solid #EEEEEE;
				padding-bottom: 24rpx;
				box-sizing: border-box;
			}

			.price {
				color: #FD611E;
				font-size: 28rpx;
				margin-top: 16rpx;
			}

		}
	}

	.up-list {
		display: flex;
		flex-direction: column;

		.up-title {
			font-size: 32rpx;
			color: #333333;
			margin-bottom: 0rpx;
			position: relative;

			&::before {
				display: '';
				width: 18rpx;
				height: 44rpx;
				font-size: 32rpx;
				color: #FF4646;
				content: '*';
			}

			span {
				font-size: 24rpx;
				color: #999;
			}
		}
	}

	.top-card {
		background-color: #fff;
		border-radius: 20rpx;

		.top-radio {
			padding: 0px 20rpx 0px 40rpx;
			box-sizing: border-box;
		}
	}

	.promotion-history {
		padding: 0px 20rpx;
		box-sizing: border-box;
		text-align: right;
		color: #FD611E;
		font-size: 28rpx;
		margin-bottom: 20rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
		box-sizing: border-box;
	}

	.taocan {
		display: flex;
		flex-direction: column;
		border-bottom: 1rpx solid #EEEEEE;

		.taocan-item {
			display: flex;
			align-items: center;
			margin: 20rpx 0px;

			.tc-unit {
				color: #666666;
				font-size: 32rpx;
			}
		}
	}

	::v-deep .uv-form {
		background-color: #F9F9F9;
	}

	::v-deep .uv-upload {
		margin-top: 28rpx;
	}

	.total {
		color: #666666;
		font-size: 28rpx;
		display: flex;
		align-items: baseline;
		justify-content: flex-end;
		padding: 36rpx 0px;
		box-sizing: border-box;

		.money {
			margin-left: 10rpx;
			font-size: 44rpx;
			color: #FD611E;

			span {
				font-size: 28rpx;

			}
		}
	}

	.btm-pay {
		display: flex;
		align-items: center;
		padding: 14rpx 28rpx;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		z-index: 9;

		.price {
			color: #FD611E;
			font-size: 52rpx;

			span {
				font-size: 32rpx;
			}
		}

		.save-btn {
			width: 200rpx;
			height: 92rpx;
			background: #FFFFFF;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			border: 2rpx solid #EEEEEE;
			font-size: 32rpx;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.save-sj {
			width: 280rpx;
			margin-left: 24rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
		}
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
		color: #fff;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}


	.card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 0rpx 28rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;


		.tg-ipt {
			margin-top: 36rpx;
			font-size: 32rpx;
		}

		.flex {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 28rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}

		.title {
			color: #333333;
			font-size: 28rpx;
			font-weight: 500;
			margin-bottom: 20rpx;
		}

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			border-radius: 20rpx;
			border-bottom: 1px dashed #F4F4F4;

			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}


				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					text-decoration: line-through;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					padding: 4rpx;
					box-sizing: border-box;
					height: 32rpx;
					font-size: 20rpx;
					margin: 0px 12rpx;

				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					flex-direction: column;

					.shop-one {
						width: 100%;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						margin-bottom: 16rpx;
						position: relative;

						.price {
							color: #FD611E;
							margin: 0px 12rpx;

						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}
				}
			}
		}
	}
</style>