<!-- 钱包 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			<template slot="left">
				钱包
			</template>
		</commonTop>

		<view class="withdrawable-amount">
			<view class="row-one">
				<view class="left">总金额（需7个工作日以后可提现）</view>
				<!-- <image class="open-close" src="../static/icon_display_white@2x.png" mode="widthFix"></image> -->
			</view>
			<view class="row-two"><span>￥</span>{{merchantMoneyInfo.walletMoney || 0}}</view>

			<view class="row-one">
				<view class="left">可提现金额</view>
			</view>
			<view class="row-two" style="font-size: 52rpx;"><span style="font-size: 36rpx;">￥</span>{{merchantMoneyInfo.canWithdrawMoney}}</view>
			<view class="withdrawal-btn" @click="gopage(`/pagesB/merchant/withdrawal?canWithdrawMoney=${merchantMoneyInfo.canWithdrawMoney}`)"> <span>提现</span></view>
		</view>

		<view class="bank" @click="gopage('/pagesB/merchant/bankCardMng')">
			<view class="left">银行卡管理</view>
			<view class="right">
				<span>已添加{{bankCount || 0}}张银行卡</span>
				<image class="a-right" src="@/static/icon_More24@2x.png"></image>
			</view>
		</view>

		<view class="card">
			<view class="tab-rows">
				<uvTabs :list="tablist" lineWidth="28" lineColor="#FFC93F" @change='changeTab' :activeStyle="{
							color: '#333333',
							fontWeight: 'bold',
							transform: 'scale(1)'
				    	}" :inactiveStyle="{
							color: '#999999',
							transform: 'scale(1)'
						}" itemStyle="padding-left: 80rpx; padding-right: 80rpx; height: 80rpx;fontSize:32rpx">
				</uvTabs>
			</view>
			<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
				<BalanceList v-if="index==0" :detailList='detailList'></BalanceList>
				<WithdrawalRecordsList v-else :detailList='detailList'></WithdrawalRecordsList>
			</mescroll-body>
		</view>
	</view>
</template>


<script>
	import commonTop from '@/components/CommonTop'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import BalanceList from '../components/balanceList.vue'
	import WithdrawalRecordsList from '../components/withdrawalRecordsList.vue'
	import { merchantMoneyInfo, bankList, withdrawalRecord, withdrawalList } from "@/config/vmeitime-http/merchant.js";
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			BalanceList,
			WithdrawalRecordsList
		},
		data() {
			return {
				detailList: [],
				tablist: [{
					name: '余额明细'
				}, {
					name: '提现记录',
				}],
				index: 0,
				// 资金明细
				merchantMoneyInfo:{
					walletMoney: 0,
					canWithdrawMoney: 0,
					withdrawMoney: 0,
					depositMoney: 0,
					needDepositMoney: 0
				},
				bankCount: 0
			}
		},
		onShow() {
			this.getMerchantMoneyInfo()
			this.bankListFn()
		},
		
		created() {
			this.bankListFn()
		},
		
		methods: {
			
			
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc"
				};
				if (page.num == 1) this.detailList = []; //如果是第一页需手动置空列表
				let fn = this.index == 0 ? withdrawalList :  withdrawalRecord
				fn(param).then((res) => {
					console.log(res)
					let curPageData = res.records;
					let curPageLen = curPageData.length; // 接口返回的当前页数据长度
					let totalPage = res.total; // 接口返回的总页数
					this.detailList = this.detailList.concat(curPageData); //追加新数据
					this.mescroll.endByPage(curPageLen, totalPage);
				});
			},
			
			// 银行卡列表
			bankListFn() {
				bankList().then((e) => {
					console.log(e.records)
					this.bankCount = e.records.length || 0
				})
			},
			// 获取资金明细
			getMerchantMoneyInfo() {
				merchantMoneyInfo().then((res) => {
					this.merchantMoneyInfo = res
				})
			},
			changeTab(item) {
				this.index = item.index
				this.mescroll.resetUpScroll();
			},
			gopage(url) {
				uni.navigateTo({
					url: url
				})
			}
		}

	}
</script>

<style scoped lang="scss">
	.card {
		background-color: #fff;
		border-radius: 20rpx;
		margin-top: 28rpx;

		.tab-rows {
			display: flex;
			justify-content: center;
		}
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.withdrawable-amount {
			width: 694rpx;
			height: 336rpx;
			background: linear-gradient(139deg, #3FA3FF 0%, #2756FF 100%);
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			padding: 36rpx 28rpx;
			box-sizing: border-box;
			position: relative;

			.withdrawal-btn {
				width: 120rpx;
				height: 68rpx;
				line-height: 68rpx;
				background: rgba(255, 255, 255, 0.5);
				border-radius: 36rpx 36rpx 36rpx 36rpx;

				font-size: 28rpx;
				color: #FFFFFF;
				text-align: center;
				position: absolute;
				bottom: 38rpx;
				right: 28rpx;

				span {}
			}

			.row-one {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.left {
					color: #FFFFFF;
					font-size: 28rpx;
					opacity: 0.7;
				}

				.open-close {
					width: 40rpx;
					height: 40rpx;
				}
			}

			.row-two {
				margin: 12rpx 0px 46rpx;
				font-size: 36rpx;
				color: #FFFFFF;

				span {
					font-size: 24rpx;
				}
			}
		}

		.bank {
			background-color: #FFFFFF;
			border-radius: 20rpx;
			display: flex;
			justify-content: space-between;
			padding: 36rpx 20rpx;
			box-sizing: border-box;
			margin-top: 28rpx;

			.left {
				font-size: 32rpx;
				color: #333;
			}

			.right {
				display: flex;
				align-items: center;

				span {
					color: #999999;
					font-size: 24rpx;
				}

				.a-right {
					width: 48rpx;
					height: 48rpx;
				}
			}
		}
	}
</style>