<!-- 保证金提现 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">保证金提现</span>
			</template>
		</commonTop>
		<view class="margin-balance">
			<view class="withdrawable-amount">保证金提现余额</view>
			<view class="money">¥ {{depositMoney}}</view>
			<!-- <view class="tx-money">提现金额</view>
			<view class="ipt-row">
				<span class="unit">￥</span> <uv-input placeholder="请输入金额" fontSize='26' customStyle='font-size:52rpx'
					border="none" class="sr-money" readonly v-model="depositMoney" @change="change"></uv-input>
				<span class="all-tx" @click.stop="amount=depositMoney">全部提现</span>
			</view> -->
		</view>
		<!-- <uv-form labelPosition="left" ref="form">
			<view class="card">
				<uv-form-item label="选择银行卡" labelWidth='140' prop="cwpicsList" labelPosition='left' required
					@click="showBank">
					<uv-input v-model="bank" fontSize='16' inputAlign='right' disabled disabledColor="#ffffff"
						placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</view>
		</uv-form> -->
		<view class="tixian">
			<view class="btn" @click="go">确认提现</view>
		</view>

		<uv-action-sheet ref="banksSelect" :actions="smlxType" title="请选择所属分类" @select="banksSelect">
		</uv-action-sheet>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MarginRecordList from '../components/marginRecordList.vue'
	import {
		showToast
	} from '../../utils/util'
	import {
		depositWithdrawal
	} from '@/config/vmeitime-http/merchant.js'
	export default {
		components: {
			commonTop,
			MarginRecordList
		},
		data() {
			return {
				smlxType: [{
					name: '上门类型1',
				}, {
					name: '上门类型2',
				}],
				depositMoney: 0,
				amount: '',
				bank: ''
			}
		},
		onLoad(options) {
			if (options.depositMoney) {
				this.depositMoney = options.depositMoney
			}
		},
		methods: {
			go() {
				console.log(this.depositMoney==0 + '哈哈哈')
				if (this.depositMoney == 0) {
					showToast('余额不足')
				} else {
					uni.showModal({
						title: '提示',
						content: '确定提现吗？',
						success: function(res) {
							if (res.confirm) {
								depositWithdrawal().then((res) => {
									uni.navigateTo({
										url: '/pagesB/merchant/withdrawalReview'
									})
								})
							}
						}
					})
				}
			},
			// 打开选择银行
			showBank() {
				this.$refs.banksSelect.open();
				this.hideKeyboard();
			},
			banksSelect(e) {
				this.bank = e.name;

			},
			hideKeyboard() {
				uni.hideKeyboard()
			},
			change() {

			}
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx;
		box-sizing: border-box;

		.tixian {
			margin-top: 106rpx;
			width: 100%;
			left: 0px;
			height: 120rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.btn {
				width: 100%;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				text-align: center;
				font-size: 32rpx;
				color: #fff;
			}
		}

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 0px 20rpx 0px 40rpx;
			box-sizing: border-box;
			margin-top: 28rpx;
		}

		.margin-balance {
			padding: 36rpx 28rpx;
			box-sizing: border-box;
			background-color: #fff;
			border-radius: 20rpx;
			display: flex;
			flex-direction: column;

			.money {
				font-size: 52rpx;
				color: #333;
				padding: 8rpx 0px 36rpx;
				box-sizing: border-box;
				// border-bottom: 1rpx solid #EEEEEE;
			}

			.tx-money {
				font-size: 28rpx;
				color: #666;
				margin: 36rpx 0px 8rpx;
			}

			.ipt-row {
				display: flex;
				align-items: center;

				.unit {
					color: #333333;
					font-size: 52rpx;
				}

				.sr-money {
					font-size: 52rpx;
				}

				.all-tx {
					color: #1C92FF;
					font-size: 32rpx;
				}
			}
		}
	}
</style>