<!-- 提现审核 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				提现
			</template>
		</commonTop>
		<!-- 审核中 -->
		<view class="under-review">
			<view class="card auditing">
				<image class="src" src="../static/icon_Review@2x.png"></image>
				<view class="sh-title">平台正在审核中</view>
				<view class="sh-subtitle">预计3个工作日左右审核</view>
			</view>
			<!-- <view class="goBack" @click="goBack()">返回</view> -->
		</view>
	</view>

</template>

<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {

			}
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 0px 20rpx;
		box-sizing: border-box;

		.card {
			display: flex;
			justify-content: center;
			flex-direction: column;
			background-color: #fff;
			border-radius: 20rpx;
		}

		.under-review {
			padding-top: 20rpx;
			box-sizing: border-box;

			.fail {
				font-size: 32rpx;
				padding: 36rpx 20rpx;
				box-sizing: border-box;

				.fail-title {
					color: #333;
					margin-bottom: 28rpx;
				}

				.reson {
					color: #666;
				}
			}

			.goBack {
				width: 100%;
				height: 116rpx;
				line-height: 116rpx;
				background: #FFFFFF;
				border-radius: 20rpx;
				color: #333333;
				font-size: 32rpx;
				text-align: center;
			}

			.auditing {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 56rpx 0px !important;
				box-sizing: border-box;

				image {
					width: 120rpx;
					height: 120rpx;
				}

				.sh-title {
					color: #333333;
					font-size: 32rpx;
					margin: 28rpx 0px 8rpx;
				}

				.sh-subtitle {
					color: #999999;
					font-size: 28rpx;
				}

			}
		}
	}
</style>