<!-- 提现 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				<span style="color: #333333;">提现</span>
			</template>
		</commonTop>
		<view class="margin-balance">
			<view class="withdrawable-amount">可提现金额</view>
			<view class="money">¥ {{canWithdrawMoney || 0}}</view>
			<view class="tx-money">提现金额</view>
			<view class="ipt-row">
				<span class="unit">￥</span> <uv-input type='digit' placeholder="请输入金额" fontSize='26'
					customStyle='font-size:52rpx' border="none" class="sr-money" v-model="amount"
					@change="change"></uv-input>
				<span class="all-tx" @click="amount=canWithdrawMoney">全部提现</span>
			</view>
			<view class="hand-fees">手续费：{{serviceCharge || 0}}%</view>
		</view>
		<uv-form labelPosition="left" ref="form">
			<view class="card">
				<uv-form-item label="选择银行卡" labelWidth='110' prop="cwpicsList" labelPosition='left' required
					@click="showBank">
					<uv-input v-model="bank" fontSize='16' inputAlign='right' disabled disabledColor="#ffffff"
						placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</view>
		</uv-form>
		<view class="tixian">
			<view class="left">
				<view class="money"><span>￥</span>{{amount || 0}}</view>
				<view class="sxf">手续费：¥{{free || 0}}</view>
			</view>
			<view class="btn" @click="submit">提现</view>
		</view>

		<uv-action-sheet ref="banksSelect" :actions="banksheet" title="请选择所属分类" @select="banksSelect">
		</uv-action-sheet>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MarginRecordList from '../components/marginRecordList.vue'
	import { bankList, sqwithdrawal, withdrawalFee} from "@/config/vmeitime-http/merchant.js";
	import {
		showToast
	} from '../../utils/util'
	export default {
		components: {
			commonTop,
			MarginRecordList
		},
		data() {
			return {
				canWithdrawMoney: '',
				bank: '',
				amount: '',
				accountId: '',
				bankList: [],
				banksheet: [],
				serviceCharge: 0,
				free: 0
			}
		},
		onLoad(options) {
			this.bankListFn()
			this.withdrawalFeeFn()
			if (options.canWithdrawMoney) {
				this.canWithdrawMoney = options.canWithdrawMoney
			}
		},
		methods: {
			// 获取手续费
			withdrawalFeeFn() {
				withdrawalFee().then((e) => {
					console.log(e)
					this.serviceCharge = parseFloat(e.data || 0) * 100
				})
			},

			// 银行卡列表
			bankListFn() {
				bankList().then((e) => {
					this.bankList = e.records || 0
					this.bankList.map((item) => {
						this.banksheet.push({
							name: item.bankName + (this.maskIdNumber(item.bankCard)),
							value: item.id
						})
					})
					console.log(this.banksheet)
				})
			},
			
			maskIdNumber(idNumber) {
				if (idNumber) {
					// 将身份证号码的前6位和最后1位用星号(*)替换
					return idNumber.replace(/^(.{5})(.*)(.{3})$/, '$1******$3');
				}
			},
            // 提现
			submit() {
				
				if (!this.amount) {
					showToast('提现金额不能为空')
					return false
				}
				if (!this.accountId) {
					showToast('请选择银行卡')
					return false
				}
				
				sqwithdrawal({
					amount: this.amount,
					accountId: this.accountId
				}).then((e)=> {
					showToast('提现成功')
					uni.redirectTo({
						url: '/pagesB/merchant/withdrawalReview'
					})
				}).catch((e)=> {
					showToast('提现失败')
				})
				
				
			},
			// 打开选择银行
			showBank() {
				this.$refs.banksSelect.open();
				this.hideKeyboard();
			},
			banksSelect(e) {
				console.log(e)
				this.accountId = e.value
				this.bank = e.name;

			},
			hideKeyboard() {
				uni.hideKeyboard()
			},
			change(e) {
				console.log(e)
				if (e > parseFloat(this.canWithdrawMoney)) {
					showToast('超出最大提现额')
					this.amount = ''
				}
				this.free = this.amount * (this.serviceCharge / 100)
				
			}
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx;
		box-sizing: border-box;

		.tixian {
			position: fixed;
			bottom: 0px;
			width: 100%;
			left: 0px;
			height: 120rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0px 28rpx;
			box-sizing: border-box;
			background-color: #fff;

			.left {
				display: flex;
				align-items: baseline;

				.money {
					color: #1C92FF;
					font-size: 52rpx;
					margin-right: 16rpx;

					span {
						font-size: 32rpx;

					}
				}

				.sxf {
					font-size: 24rpx;
					color: #999999;
				}
			}

			.btn {
				width: 280rpx;
				height: 92rpx;
				line-height: 92rpx;
				background: linear-gradient(147deg, #3FA3FF 0%, #3F69FF 100%);
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				text-align: center;
				font-size: 32rpx;
				color: #fff;
			}
		}

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 0px 20rpx 0px 40rpx;
			box-sizing: border-box;
			margin-top: 28rpx;
		}

		.margin-balance {
			padding: 36rpx 28rpx;
			box-sizing: border-box;
			background-color: #fff;
			border-radius: 20rpx;
			display: flex;
			flex-direction: column;

			.money {
				font-size: 52rpx;
				color: #333;
				padding: 8rpx 0px 36rpx;
				border-bottom: 1rpx solid #EEEEEE;
				;
			}

			.tx-money {
				font-size: 28rpx;
				color: #666;
				margin: 36rpx 0px 8rpx;
			}

			.ipt-row {
				display: flex;
				align-items: center;

				.unit {
					color: #333333;
					font-size: 52rpx;
				}

				.sr-money {
					font-size: 52rpx;
				}

				.all-tx {
					color: #1C92FF;
					font-size: 32rpx;
				}
			}

			.hand-fees {
				color: #999;
				font-size: 24rpx;
				margin-top: 16rpx;
				padding-left: 30rpx;
				box-sizing: border-box;
			}
		}
	}
</style>