<!-- 问大家 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				问大家（22）
			</template>
		</commonTop>
		<PetsCardList :petsList='groupBuyList' :showGroupBuy='false'></PetsCardList>
		<view class="question-wrapper">
			<view class="question-item" v-for="(item,index) in questionList" :key='index'>
				<view class="wen-row">
					<image src="../static/img/ask.png" mode="widthFix"></image>
					<view class="wen">问题问题问题问题问题问题问题问题问题问题问题问题问</view>
				</view>
				<view class="da-row">
					<image src="../static/img/da.png" mode="widthFix"></image>
					<view class="name">名称</view>
				</view>
				<view class="reply-count" @click="open">
					全部1个答案
					<image src="../static/img/icon_More14_1@2x.png" mode=""></image>
				</view>
			</view>
		</view>

		<view class="ask-question" @click="go">
			<image src="../static/img/icon_edit20@2x.png" mode="widthFix"></image>我要提问
		</view>

		<uv-popup ref="popup" :round='40' mode="bottom">
			<view class="pop-wrapper">
				<view class="pop-title">
					问答详情
					<view class="close" @click.stop="close">
						<image src="../static/img/icon_closure@2x.png" mode="widthFix"></image>
					</view>

				</view>
				<view class="question-wrapper">
					<!-- 问 -->
					<view class="question-item">
						<view class="merchant-name">
							<image src="../static/img/icon_store@2x.png" mode="widthFix"></image>
							<view class="name">名称</view>
						</view>
						<view class="wen-row">
							<image src="../static/img/ask.png" mode="widthFix"></image>
							<view class="wen">问题问题问题问题问题问题问题问题问题问题问题问题问</view>
						</view>

						<view class="reply-count" style="color: #999;">
							共1个回答
						</view>
					</view>

					<!-- 答 -->
					<view class="questionda-item">
						<view class="merchant-name">
							<image src="../static/img/da.png" mode="widthFix"></image>
						</view>
						<view class="da-warpper" v-for="(item,index) in daList">
							<view class="wen-row">
								<view class="dawen-left">
									<image src="../static/img/ask.png" mode="widthFix"></image>
									<view class="wen">名称</view>
								</view>
								<view class="dawen-right">2023-12-22</view>
							</view>
							<view class="cnt">评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评</view>
							<view class="like">
								<image src="../static/img/icon_like2.png" mode="widthFix"></image> 23
							</view>
						</view>

					</view>
				</view>
				
				<view class="btn-wrpper">
					 <input  placeholder="说点什么吧～" border="surround" class="send-ipt" v-model="sendInfo" @change="changeSend"></input>
					  <image src="../static/img/icon_send@2x.png" mode="widthFix"  class="send-img"></image>
				</view>
			</view>

		</uv-popup>


	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import PetsCardList from '../components/petsCardList.vue'

	export default {
		components: {
			commonTop,
			PetsCardList
		},
		data() {
			return {
				groupBuyList: [{}],
				questionList: [{}, {}, {}, {}, {}],
				daList:[{},{},{},{}],
				sendInfo:''
			}
		},
		created() {
			
		},
		methods: {
			// 我要提问
			go() {
				uni.navigateTo({
					url: '/pagesA/public/iask'
				})
			},
			open() {
				this.$refs.popup.open();
			},
			close() {
				this.$refs.popup.close();
			},
			
			// 发送内容
			changeSend(data) {
				console.log(data)
			}
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #F9F9F9;
	}
	.btn-wrpper {
		width: 100%;
		height: 120rpx;
		background: #FFFFFF;
		border-radius: 0rpx 0rpx 0rpx 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0px;
		
		.send-ipt {
			width: 80% !important;
			height: 92rpx;
			background: #F5F5F5;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			background-color: #F5F5F5;
			font-size: 28rpx;
			padding-left: 28rpx;
			box-sizing: border-box;
		}
		.send-img {
			width: 49rpx;
			height: 41rpx;
			margin-left: 40rpx;
		}
	}

	.pop-wrapper {
		background-color: #F9F9F9;
		max-height: 900rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding-top: 120rpx;
		box-sizing: border-box;

		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.ask-question {
		width: 280rpx;
		height: 88rpx;
		background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
		border-radius: 76rpx 76rpx 76rpx 76rpx;
		position: fixed;
		bottom: 40rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 50%;
		margin-left: -140rpx;
		color: #fff;

		image {
			width: 40rpx;
			height: 40rpx;
			margin-right: 8rpx;
			border-radius: 10rpx;
		}
	}

	.questionda-item {
		background-color: #fff;
		padding: 20rpx 28rpx 0px;
		box-sizing: border-box;
		border-radius: 20rpx;
		margin-top: 28rpx;

		.merchant-name {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 32rpx;
			padding-bottom: 26rpx;
			box-sizing: border-box;
			margin-bottom: -10rpx;

			image {
				width: 40rpx;
				height: 40rpx;
				border-radius: 10rpx;
			}
		}
		.da-warpper {
			border-bottom: 1rpx solid #EEEEEE;
			padding: 28rpx 0px;
			box-sizing: border-box;
			&:last-child {
				border-bottom: none;
			}
		}

		.wen-row {
			display: flex;
			font-size: 32rpx;
			line-height: 44rpx;
			color: #333333;
			font-weight: 500;
			justify-content: space-between;



			.dawen-left {
				display: flex;
				align-items: center;
				color: #666;
				font-size: 28rpx;

				image {
					width: 60rpx;
					height: 60rpx;
					margin-right: 16rpx;
					border-radius: 50%;
				}
			}

			.dawen-right {
				color: #999999;
				font-size: 24rpx;
			}
		}

		.cnt {
			color: #333333;
			font-size: 28rpx;
			margin: 20rpx 0px 16rpx 64rpx;
		}

		.like {
			margin-left: 55rpx;
			display: flex;
			align-items: center;
			color: #999999;
			font-size: 28rpx;

			image {
				width: 54rpx;
				height: 54rpx;
				margin-right: 8rpx;
			}
		}

	}


	.question-wrapper {

		margin-top: -28rpx;
		display: flex;
		flex-direction: column;
		background-color: #F9F9F9;
		padding: 0rpx 28rpx 188rpx;
		box-sizing: border-box;

		.question-item {
			background-color: #fff;
			padding: 20rpx 28rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			margin-top: 28rpx;

			.merchant-name {
				display: flex;
				align-items: center;
				color: #333333;
				font-size: 32rpx;
				border-bottom: 1rpx solid #EEEEEE;
				padding-bottom: 26rpx;
				box-sizing: border-box;
				margin-bottom: 30rpx;

				image {
					width: 48rpx;
					height: 48rpx;
					margin-right: 16rpx;
				}
			}

			.wen-row {
				display: flex;
				font-size: 32rpx;
				line-height: 44rpx;
				color: #333333;
				font-weight: 500;

				image {
					width: 50rpx;
					height: 50rpx;
					margin-right: 30rpx;


				}
			}

			.da-row {
				display: flex;
				align-items: center;
				margin-top: 28rpx;
				color: #999999;

				image {
					width: 35rpx;
					height: 35rpx;
					margin-right: 30rpx;

				}
			}

			.reply-count {
				color: #1C92FF;
				font-size: 28rpx;
				display: flex;
				align-items: center;
				margin-top: 28rpx;
				margin-left: 60rpx;

				image {
					width: 32rpx;
					height: 32rpx;
				}
			}
		}
	}
</style>