<!-- 首页-分类 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='false'>
			<template slot="left">
				<view class="public-topsearch">
					<image src='../../static/icon_search.png' mode="widthFix" class="search-img"></image>
					<input placeholder="商户名称" class="search" v-model="name" @confirm="searchData" @input='searchDataChage'  />
				</view>
			</template>
		</commonTop>
		<hMFilterDropdown :key='key' ref='hMFilterDropdown' :class="categoryId!=1 ? 'hideFirst':''" :titleArr="titleArr" bgcolor='#F9F9F9' :dropArr="dropArr"
			@reSet='reSetFilter' @finishDropClick="finishClick">
		</hMFilterDropdown>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<petsCardList :petsList='petsList'></petsCardList>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import petsCardList from '../components/petsCardList.vue'
	import hMFilterDropdown from "../components/cc-dropDownMenu/components/cc-dropDownMenu/cc-dropDownMenu.vue";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		merchantAndGoodsPage
	} from "@/config/vmeitime-http/merchant.js";
	import storage from '../../utils/storage';


	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			hMFilterDropdown,
			petsCardList
		},
		data() {
			return {
				key: 0,
				titleArr: ['全部', '附近', '智能排序'],
				dropArr: [
					// 区域
					[],
					// 户型
					[],
					[{
							text: '默认排序',
							value: ""
						}, {
							text: '最新发布',
							value: "NEW"
						}, {
							text: '距离优先',
							value: "DISTANCE"
						},
						{
							text: '高价优先',
							value: "HIGH_PRICE"
						},
						{
							text: '低价优先',
							value: "LOW_PRICE"
						}
					]
				],
				filterResultData: [],
				petsList: [],
				categoryId: '',
				name: '',
				addressData:storage.get('currentLocation').addressComponent
			}
		},
		onLoad(options) {
			if (options.categoryId) {
				this.categoryId =  options.categoryId
				this.filterResultData[0] = options.categoryId
				this.titleArr[0] = '全部'
			}
		},
		created() {
			let categoryList = storage.get('friendlyPlace')
			categoryList.unshift({
				text: '全部',
				value: 1
			})
			this.dropArr[0] = categoryList

		},
		methods: {
			
			
			
			// 搜索框变化
			searchDataChage(e) {
				if (!e.detail.value) {
					this.mescroll?.resetUpScroll();
				}
			},
			
			// 搜索关键词
			searchData(e) {
				if (!e.detail.value) {
					return false
				}
				this.name = e.detail.value
				this.mescroll?.resetUpScroll();
			},

			// 重置筛选
			reSetFilter() {
				this.titleArr = ['全部', '附近', '智能排序']
				this.key = Math.random()
				this.$refs.hMFilterDropdown.setData(this.titleArr)
				this.$forceUpdate()
			},

			// 确认
			finishClick(resultData) {
				this.filterResultData = resultData;
				this.mescroll.resetUpScroll();
			},


			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					name: this.name,
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					categoryId: this.filterResultData[0]==1?'':this.filterResultData[0] || '',
					province: this.addressData.province || '',
					city: (this.filterResultData[1]?.address && this.filterResultData[1]?.address[0].name) || this.addressData.city,
					county: (this.filterResultData[1]?.address && this.filterResultData[1]?.address[1].name) || '',
					distance: this.filterResultData[1]?.distance || '',
					intelligentSort: this.filterResultData[2] || ''
				};
				if (page.num == 1) this.petsList = []; //如果是第一页需手动置空列表
				merchantAndGoodsPage(param).then((res) => {
					if (res) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						curPageData.map((item, index) => {
							item.groupBuyGoodsList.map((citem, cindex) => {
								citem.discount = parseFloat(citem.discount)
							})
						})
						this.petsList = this.petsList.concat(curPageData); //追加新数据

						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	page,
	.containner {
		background-color: #F9F9F9;
	}

	.hideFirst {
		::v-deep .screen-bar {
			justify-content: space-around;
			.screen-bar-item:first-child {
				display: none !important;
			}
		}
	}
</style>