<!-- 举报 -->
<template>
	<view class="containner">
		<view class="up-pics">
			<uploadImg v-model="model.picture" :multiple='true'  :maxCount='6' @updateImg="(e)=>updateImg(e,'picture')" :width='104'
				:height="104"></uploadImg>
		</view>

		<view class="pets-card">
			<view class="pingjia">
				<input type="text" class="title" v-model="model.title" placeholder="填写标题">
				<!-- <uv-textarea v-model="model.content" border='none' height='180' placeholder="请输入正文" maxlength='1000' count textStyle='color:#333333;font-size:32rpx'></uv-textarea> -->
			    <Rboy-editor ref="RboyEditor"></Rboy-editor>
			</view>
			<!-- <uv-form>
				<uv-form-item label="是否展示商户" labelWidth='140' prop="hasManage">
					<template v-slot:right><uv-switch size="24" v-model="model.hasMerchant" activeColor="#FD611E"
							:activeValue='1' :inactiveValue='0'></uv-switch></template>
				</uv-form-item>
			</uv-form> -->
		</view>

		<view class="submit" @click="submit">发布笔记</view>

	</view>
</template>

<script>
	import uploadImg from '@/components/uploadImg.vue'
	import RboyEditor from "@/components/Rboy-editor/Rboy-editor.vue"
	import {
		noteEdit, noteInfo
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		showToast
	} from '@/utils/util.js'
	import storage from '../../utils/storage';

	export default {
		components: {
			uploadImg,
			RboyEditor
		},
		data() {
			return {
				reload: true,
				model: {
					title: '',
					content: '',
					picture: '',
					hasMerchant: 0,
					userList: [],
					topicList: [],
					lon: '',
					lat: ''
				}
			}
		},

		onLoad(options) {
			if (options.id) {
				this.getnoteInfo(options.id)
			}
		},

		methods: {
			// 获取笔记详情
			getnoteInfo(id) {
				noteInfo({
					id: id
				}).then((res) => {
					console.log(res)
					this.model = res
					this.$refs.RboyEditor.editor_setContents(this.model.content)
				})
			},

			// 提交
			async submit() {
				let that = this
				if (!that.model.picture) {
					showToast('请上传图片')
					return false
				}
				if (!that.model.title) {
					showToast('请输入标题')
					return false
				}
				let detail = await that.$refs.RboyEditor.editor_getcontents()
				that.model.content = detail
				if (!that.model.content) {
					showToast('请输入笔记内容')
					return false
				}
				let lonLat = storage.get('lonLat')
				that.model.lat = lonLat.lat || ''
				that.model.lon = lonLat.lon || ''
				noteEdit(that.model).then((res) => {
					showToast('发布成功')
					setTimeout(() => {
						uni.navigateBack({
							delta: 1
						})
						that.model = {
							title: '',
							content: '',
							picture: '',
							hasMerchant: 0,
							userList: [],
							topicList: [],
							lon: '',
							lat: ''
						}
						uni.$emit('reloadcutePetNotesList')
						that.$forceUpdate()
						
					}, 1000)

				})

			},
			// 上传图片回调
			updateImg(img, name) {
				this.model[name] = img
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx 100rpx;
		box-sizing: border-box;
		background-color: #fff;

		.submit {
			width: 92%;
			margin-left: 4%;
			margin-top: 60rpx;
			left: 4%;
			bottom: 200rpx;
			text-align: center;
			color: #fff;
			margin-top: 40rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}

	::v-deep .uv-textarea {
		padding: 0px !important;
		box-sizing: border-box;
	}

	.pets-card {
		background-color: #fff;
		margin-bottom: 28rpx;
		border-radius: 20rpx;
		margin-top: 40rpx;

		.pingjia {
			display: flex;
			flex-direction: column;
			border-bottom: 1rpx solid #EEEEEE;

			.title {
				color: #333333;
				font-size: 34rpx;
				position: relative;
				margin-bottom: 40rpx;
			}
		}

	}
</style>