<!-- 评价 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				评价（{{total || 0}}）
			</template>
		</commonTop>
		<uvSticky :fixed='true'>
			<uvTabs :list="tablist" lineWidth="0" style="background-color: #F9F9F9;margin-top: -5rpx;" lineColor="#f56c6c" @change='changeTab' :activeStyle="{
        			color: '#FD611E',
        			fontWeight: 'bold',
        			transform: 'scale(1)'
            	}" :inactiveStyle="{
        			color: '#999999',
        			transform: 'scale(1)'
        		}" itemStyle="padding-left: 18px; padding-right: 15px; height: 88rpx;fontSize:32rpx;"></uvTabs>
		</uvSticky>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<EvaluateCard v-if="evaluateList.length > 0" :evaluateList='evaluateList' :goodsId='goodsId || merchantId'>
			</EvaluateCard>
		</mescroll-body>


		<uv-popup ref="popup" :round='40' mode="bottom">
			<view class="pop-wrapper">
				<view class="pop-title">
					问答详情
					<view class="close" @click.stop="close">
						<image src="../static/img/icon_closure@2x.png" mode="widthFix"></image>
					</view>

				</view>
				<view class="question-wrapper">
					<!-- 问 -->
					<view class="question-item">
						<view class="merchant-name">
							<image src="../static/img/icon_store@2x.png" mode="widthFix"></image>
							<view class="name">名称</view>
						</view>
						<view class="wen-row">
							<image src="../static/img/ask.png" mode="widthFix"></image>
							<view class="wen">问题问题问题问题问题问题问题问题问题问题问题问题问</view>
						</view>

						<view class="reply-count" style="color: #999;">
							共1个回答
						</view>
					</view>

					<!-- 答 -->
					<view class="questionda-item">
						<view class="merchant-name">
							<image src="../static/img/da.png" mode="widthFix"></image>
						</view>
						<view class="da-warpper" v-for="(item,index) in daList">
							<view class="wen-row">
								<view class="dawen-left">
									<image src="../static/img/ask.png" mode="widthFix"></image>
									<view class="wen">名称</view>
								</view>
								<view class="dawen-right">2023-12-22</view>
							</view>
							<view class="cnt">评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评价评</view>
							<view class="like">
								<image src="../static/img/icon_like2.png" mode="widthFix"></image> 23
							</view>
						</view>

					</view>
				</view>

				<view class="btn-wrpper">
					<input placeholder="说点什么吧～" border="surround" class="send-ipt" v-model="sendInfo"
						@change="changeSend"></input>
					<image src="../static/img/icon_send@2x.png" mode="widthFix" class="send-img"></image>
				</view>
			</view>
		</uv-popup>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import EvaluateCard from '../components/evaluateCard.vue'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import uvSticky from '@/uni_modules/uv-sticky/components/uv-sticky/uv-sticky.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		evaluatePage,
		merchantEvaluatePage,
		groupBuyEvaluateStatistics
	} from "@/config/vmeitime-http/groupBuy.js";
	import {
		formatTime
	} from '@/utils/util.js'

	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			EvaluateCard,
			uvTabs,
			uvSticky
		},

		data() {
			return {
				tablist: [{
					name: '全部'
				}, {
					name: '好评(0)',
				}, {
					name: '差评(0)',
				}, {
					name: '有图(0)',
				}],
				evaluateList: [],
				daList: [{}, {}, {}, {}],
				sendInfo: '',
				// 评价总数量
				total: 0,
				// 商户id
				merchantId: '',
				// 团购商品id
				goodsId: '',
				screen: {
					level: 0,
					hasPicture: ''
				}
			}
		},

		onLoad(options) {
			this.merchantId = options.merchantId
			this.goodsId = options.goodsId
			this.groupBuyEvaluateStatisticsFn()
		},

		// created() {
  //          this.groupBuyEvaluateStatisticsFn()
		// },
		methods: {
			
			// 获取评论数量
			groupBuyEvaluateStatisticsFn() {
				groupBuyEvaluateStatistics({
					id: this.merchantId || this.goodsId
				}).then((res) => {
					this.tablist[1].name = `好评(${res.positiveReviews || 0})`
					this.tablist[2].name = `差评(${res.negativeReviews || 0})`
					this.tablist[3].name = `有图(${res.withDiagram || 0})`
					this.total = res.positiveReviews + res.negativeReviews
				})
			},

			// 切换tab
			changeTab(e) {
				if(e.index == 3) {
					this.screen = {
						hasPicture: true
					}
				}else {
					this.screen = {
					   level: e.index	
					}
				}
				this.mescroll.resetUpScroll();
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					...this.screen
				};
				if (page.num == 1) this.evaluateList = []; //如果是第一页需手动置空列表
				let Fn = ''
				if (this.merchantId) {
					Fn = merchantEvaluatePage({
						...param,
						merchantId: this.merchantId
					})
				} else if (this.goodsId) {
					Fn = evaluatePage({
						...param,
						goodsId: this.goodsId
					})
				}
				Fn.then((res) => {
					if (res.records.length > 0) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						curPageData.map((item) => {
							item.createTime = formatTime(item.createTime, 'date')
							if (item.picture) {
								item.picture = item.picture.split(',')
							}

						})

						this.evaluateList = this.evaluateList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},

			open() {
				this.$refs.popup.open();
			},
			close() {
				this.$refs.popup.close();
			},

			// 发送内容
			changeSend(data) {
				console.log(data)
			}
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #F9F9F9;
	}

	.btn-wrpper {
		width: 100%;
		height: 120rpx;
		background: #FFFFFF;
		border-radius: 0rpx 0rpx 0rpx 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0px;

		.send-ipt {
			width: 80% !important;
			height: 92rpx;
			background: #F5F5F5;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			background-color: #F5F5F5;
			font-size: 28rpx;
			padding-left: 28rpx;
			box-sizing: border-box;
		}

		.send-img {
			width: 49rpx;
			height: 41rpx;
			margin-left: 40rpx;
		}
	}

	.pop-wrapper {
		background-color: #F9F9F9;
		max-height: 900rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding-top: 120rpx;
		box-sizing: border-box;

		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.ask-question {
		width: 280rpx;
		height: 88rpx;
		background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
		border-radius: 76rpx 76rpx 76rpx 76rpx;
		position: fixed;
		bottom: 40rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 50%;
		margin-left: -140rpx;
		color: #fff;

		image {
			width: 40rpx;
			height: 40rpx;
			margin-right: 8rpx;
			border-radius: 10rpx;
		}
	}

	.questionda-item {
		background-color: #fff;
		padding: 20rpx 28rpx 0px;
		box-sizing: border-box;
		border-radius: 20rpx;
		margin-top: 28rpx;

		.merchant-name {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 32rpx;
			padding-bottom: 26rpx;
			box-sizing: border-box;
			margin-bottom: -10rpx;

			image {
				width: 40rpx;
				height: 40rpx;
				border-radius: 10rpx;
			}
		}

		.da-warpper {
			border-bottom: 1rpx solid #EEEEEE;
			padding: 28rpx 0px;
			box-sizing: border-box;

			&:last-child {
				border-bottom: none;
			}
		}

		.wen-row {
			display: flex;
			font-size: 32rpx;
			line-height: 44rpx;
			color: #333333;
			font-weight: 500;
			justify-content: space-between;



			.dawen-left {
				display: flex;
				align-items: center;
				color: #666;
				font-size: 28rpx;

				image {
					width: 60rpx;
					height: 60rpx;
					margin-right: 16rpx;
					border-radius: 50%;
				}
			}

			.dawen-right {
				color: #999999;
				font-size: 24rpx;
			}
		}

		.cnt {
			color: #333333;
			font-size: 28rpx;
			margin: 20rpx 0px 16rpx 64rpx;
		}

		.like {
			margin-left: 55rpx;
			display: flex;
			align-items: center;
			color: #999999;
			font-size: 28rpx;

			image {
				width: 54rpx;
				height: 54rpx;
				margin-right: 8rpx;
			}
		}

	}


	.question-wrapper {

		margin-top: -28rpx;
		display: flex;
		flex-direction: column;
		background-color: #F9F9F9;
		padding: 0rpx 28rpx 188rpx;
		box-sizing: border-box;

		.question-item {
			background-color: #fff;
			padding: 20rpx 28rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			margin-top: 28rpx;

			.merchant-name {
				display: flex;
				align-items: center;
				color: #333333;
				font-size: 32rpx;
				border-bottom: 1rpx solid #EEEEEE;
				padding-bottom: 26rpx;
				box-sizing: border-box;
				margin-bottom: 30rpx;

				image {
					width: 48rpx;
					height: 48rpx;
					margin-right: 16rpx;
				}
			}

			.wen-row {
				display: flex;
				font-size: 32rpx;
				line-height: 44rpx;
				color: #333333;
				font-weight: 500;

				image {
					width: 50rpx;
					height: 50rpx;
					margin-right: 30rpx;


				}
			}

			.da-row {
				display: flex;
				align-items: center;
				margin-top: 28rpx;
				color: #999999;

				image {
					width: 35rpx;
					height: 35rpx;
					margin-right: 30rpx;

				}
			}

			.reply-count {
				color: #1C92FF;
				font-size: 28rpx;
				display: flex;
				align-items: center;
				margin-top: 28rpx;
				margin-left: 60rpx;

				image {
					width: 32rpx;
					height: 32rpx;
				}
			}
		}
	}
</style>