<!-- 团购详情 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='false' :isFixed='false' :onlyCenter='false' :opacity='0'>
			<template slot="left">
				<image src="../static/img/icon_return28@2x.png" mode="widthFix" class="backimage" @click="back"></image>
			</template>
		</commonTop>
		<swiper indicator-dots autoplay class="slide-image" indicator-color='#fff' indicator-active-color='#D9D9D9'>
			<swiper-item v-for="(item,index) in detail.picture" v-bind:key="index"
				@click.stop="previewImagesFn(index, detail.picture)">
				<image :src="item" mode="aspectFill" class="slide-image"></image>
			</swiper-item>
		</swiper>

		<view class="btm-wrapper">
			<view class="info-wrppaer">
				<view class="shop-one" v-if="detail.realAmount>0">
					<view class="price"><span>￥</span>{{detail.realAmount}}</view>
					<view class="oldprice">￥{{detail.totalAmount}}</view>
					<view class="Discounts" v-if="detail.discount">{{detail.discount || 1}}折</view>
					<view class="sold">
						已售 {{detail.numberSales || 0}}
					</view>
				</view>
				<view class="shop-one" v-else>
					<view class="price">免费</view>
				</view>


				<view class="title">{{detail.name}}</view>
				<view class="matter-wrap">
					<view class="matter-left">
						<view class="matter-title">服务</view>
						<view class="matter-cnt">随时退·过期退</view>
					</view>

				</view>
				<view class="matter-wrap">
					<view class="matter-left">
						<view class="matter-title">须知</view>
						<view class="matter-cnt">购买后{{detail.validityPeriod}}天内有效</view>
					</view>
				</view>
				<view class="matter-wrap" @click.stop="openLocation(merchantDetail)">
					<view class="matter-left">
						<view class="matter-title">门店</view>
						<view class="matter-cnt">{{merchantDetail.address}}</view>
					</view>
					<view class="matter-right">
						<image src="../static/img/icon_More14@2x.png" class="right-icon"></image>
					</view>
				</view>
			</view>

			<!-- 团购详情 -->
			<view class="card-wraaper" v-if="categoriesList.length > 0 || detail.content">
				<view class="card-title-wap">
					<view class="card-title fontweight">团购详情</view>
					<image src="../static/img/icon_selected@2x.png" mode="widthFix" class="footprint"></image>
				</view>
				<view class="ack-wapper">
					<view v-for="(item,index) in categoriesList" v-bind:key="index">
						<view class="sub-title">{{item.categoryName}}</view>
						<view class="ask" v-for="(item1,index1) in item.groupBuyProjectList" v-bind:key="index1">
							<view class="ask-left">
								<view class="ask-title line1Es">{{item1.title || '-' }}</view>
							</view>
							<view class="people"> <span>({{item1.number}}份)</span> ￥{{item1.money}}</view>
						</view>
					</view>
					<view class="sub-title fontweight" v-if="detail.content">图文详情</view>
					<div class="otherRules" v-if="detail.content">{{detail.content}}</div>
					<div class="imags-warpper">
						<image class="src" mode="widthFix" v-for="(item,index) in detail.contentPicture" :src="item"
							v-bind:key="index">
						</image>
					</div>
				</view>
			</view>



			<!-- 购买须知 -->
			<view class="card-wraaper">
				<view class="card-title-wap">
					<view class="card-title fontweight">购买须知</view>
					<image src="../static/img/icon_selected@2x.png" mode="widthFix" class="footprint"></image>
				</view>

				<view class="xuzhi-list">
					<!-- <view class="title">有效期</view>
					<view class="sub-title">购买后90日内有效</view> -->
					<view class="title">可用时间</view>
					<view class="sub-title beforedot">{{detail.availableTime?detail.availableTime:'商家营业时间可用'}}</view>
					<view class="title">预约规则</view>
					<view class="sub-title beforedot">{{detail.appointmentRequire== 0 ? '无需预约': '需要预约'}}</view>
					<view class="title">其他规则</view>
					<view class="sub-title beforedot">{{detail.otherRules}}</view>
					<view class="title">温馨提示</view>
					<view class="sub-title beforedot">为了保障您的权益，建议使用滈滴宠旅线上支付。若使用其他支付方式导致纠纷，滈滴宠旅不承担任何责任，感谢您的理解和支持！</view>
				</view>

			</view>

			<!-- 适用门店 -->
			<view class="card-wraaper">
				<view class="card-title-wap">
					<view class="card-title">适用门店</view>
				</view>
				<PetsCardList :petsList='applicableStore' :showGroupBuy='false'></PetsCardList>
			</view>

			<!-- 评价 -->
			<view class="card-wraaper" style="padding-top: 40rpx;" v-if="detail.id && evaluateList.length > 0 ">
				<view class="card-title-wap" @click.stop="goPage(`/pagesA/public/evaluationList?goodsId=${detail.id}`)">
					<view class="card-title">评价（{{evaluateTotal}}）</view>
					<view class="card-right">查看更多<image src="../static/img/icon_More14@2x.png" class="right-icon">
						</image>
					</view>
				</view>
				<EvaluateCard :evaluateList='evaluateList' :goodsId='detail.id'></EvaluateCard>
			</view>

			<view class="btm-caozuo">
				<view class="caoz-item" @click="goMerchant">
					<image src="../static/img/icon_share28_1@2x.png" mode="widthFix"></image>
					门店
				</view>
				<!-- <view class="caoz-item">
					<image src="../static/img/icon_store@2x.png" mode="widthFix"></image>
					分析
				</view> -->
				<view class="collection" @click="collection">
					<image class="collect-img"
						:src="detail.hasCollect?'../static/img/icon_collect22_1@2x.png': '../static/img/icon_collect24_1@2x.png'"
						mode="widthFix" @click.stop="collection(detail.hasCollect)"></image>
					收藏
				</view>
				<uv-button @click="goBuy" :disabled='detail.realAmount==0 || !detail.realAmount'
					customStyle='border-radius:16rpx;height:90rpx'
					color="linear-gradient( 96deg, #FD611E 0%, #FF3F33 100%)" class="buy-now">
					<view class="buy-text">
						<view class="qbuy">￥ <span>{{detail.realAmount || 0}}</span> <span
								style="margin-left: 12rpx;">立即抢购</span></view>
						<view class="old-price">¥ {{detail.totalAmount}}</view>
					</view>
				</uv-button>
			</view>
		</view>
		<previewimages ref="previewimages"></previewimages>
	</view>

</template>

<script>
	import PetsCardList from '../components/petsCardList.vue'
	import EvaluateCard from '../components/evaluateCard.vue'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import commonTop from '@/components/transparentHead'
	import previewimages from '@/uni_modules/gyc-previewimages/components/gyc-previewimages/gyc-previewimages.vue'
	import {
		groupBuyGoodsInfo,
		collectGroupBuyGoods,
		cancelGroupBuyGoods,
		evaluatePage
	} from "@/config/vmeitime-http/groupBuy.js";
	import {
		showToast,
		openLocation,
		downloadAndCompressImage
	} from '@/utils/util.js'

	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			PetsCardList,
			EvaluateCard,
			commonTop,
			previewimages
		},
		data() {
			return {
				topHeight: 0,
				openLocation: openLocation,
				// 团购详情
				detail: {},
				// 项目
				categoriesList: [],
				// 适用门店
				applicableStore: [],
				// 评价
				evaluateList: [],
				// 评论总数
				evaluateTotal: 0,
				// 门店详情
				merchantDetail: {},
				shareImg: ''

			}
		},

		onLoad(options) {
			if (options.id) {
				this.getDetail(options.id)
				this.getEvaluatePage(options.id)
			}
			if (options.merchantDetail) {
				let merchantDetail = JSON.parse(options.merchantDetail)
				this.merchantDetail = merchantDetail
				this.applicableStore.push({
					name: merchantDetail.name,
					address: merchantDetail.address,
					id: merchantDetail.id,
					logo: merchantDetail.logo
				})
			}
		},

		// 分享到朋友圈
		onShareTimeline(res) {
			return {
				title: this.detail.name,
				imageUrl: this.shareImg,
				path: '/pagesA/public/groupBuyDetails?id=' + this.detail.id
			}
		},

		// 发送给好友
		onShareAppMessage(res) {
			return {
				title: this.detail.name,
				imageUrl: this.shareImg,
				path: '/pagesA/public/groupBuyDetails?id=' + this.detail.id
			}
		},

		methods: {
			// 打开图片
			previewImagesFn(index, list) {
				this.$refs.previewimages.previewImages({
					current: index,
					urls: list
				})
			},
			// 收藏
			collection(isCollect) {
				if (isCollect) {
					cancelGroupBuyGoods({
						id: this.detail.id
					}).then((res) => {
						this.detail.hasCollect = false
						showToast('取消收藏')
					})
				} else {
					collectGroupBuyGoods({
						id: this.detail.id
					}).then((res) => {
						this.detail.hasCollect = true
						showToast('收藏成功')
					})
				}
			},

			// 跳转详情
			goMerchant() {
				uni.navigateTo({
					url: '/pagesA/public/merchantDetails?id=' + this.merchantDetail.id
				})
			},

			// 获取详情
			getDetail(id) {
				groupBuyGoodsInfo({
					id: id
				}).then((res) => {
					this.detail = res
					if (this.detail.contentPicture) {
						this.detail.contentPicture = this.detail.contentPicture.split(',')
					}
					if (this.detail.picture) {
						this.detail.picture = this.detail.picture.split(',')
					}
					this.detail.discount = parseInt(this.detail.discount)
					this.categoriesList = this.detail.groupBuyCategoryList

					// 使用示例
					downloadAndCompressImage(this.detail.picture[0]).then((compressResult) => {
						console.log('压缩后的图片路径：', compressResult.tempFilePath);
						this.shareImg = compressResult.tempFilePath
					}).catch((error) => {
						console.error('压缩图片失败：', error);
					});
				})
			},

			// 下单
			goBuy() {
				uni.navigateTo({
					url: '/pagesA/public/confirmOrder?detail=' + JSON.stringify(this.detail)
				})
			},
			// 返回
			back() {
				uni.navigateBack({
					delta: 1
				})

			},

			// 获取团购商品评价
			getEvaluatePage(id) {
				let pageNum = 1; // 页码, 默认从0开始
				let pageSize = 3; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					goodsId: id
				};
				evaluatePage(param).then((res) => {
					if (res.records.length > 0) {
						this.evaluateTotal = res.total;

						this.evaluateList = res.records;
					}
				});
			},

			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #F9F9F9;
	}

	.beforedot {
		position: relative;
		color: #333333;
		padding-left: 16rpx;
		box-sizing: border-box;

		&:before {
			position: absolute;
			content: '';
			width: 8rpx;
			height: 8rpx;
			background: #666666;
			border-radius: 50%;
			top: 0px;
			bottom: 0px;
			margin: auto;
			left: 0px;
		}
	}

	.xuzhi-list {
		padding: 0px 30rpx 40rpx;
		box-sizing: border-box;

		.title {
			font-weight: 600;
			font-size: 28rpx;
			margin-top: 40rpx;
			margin-bottom: 20rpx;
			color: #333333;

			.sub-title {
				font-size: 28rpx;
			}
		}
	}

	::v-deep .pets-item {
		padding: 20rpx 0px 30rpx !important;

		.pet-img {
			width: 100rpx !important;
			height: 100rpx !important;
		}
	}

	.otherRules {
		font-size: 28rpx;
		margin-bottom: 20rpx;
	}

	.imags-warpper {
		width: 100%;
		display: flex;
		flex-direction: column;

		image {
			width: 100%;
		}
	}

	.fontweight {
		font-weight: 600;
	}

	.btm-caozuo {
		width: 100%;
		position: fixed;
		bottom: 0px;
		height: 120rpx;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: #fff;

		.buy-now {
			width: 55%;
		}

		.buy-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.qbuy {
				font-size: 24rpx;

				span {
					font-size: 32rpx;


				}
			}

			.old-price {
				font-size: 20rpx;
				text-decoration: line-through;
				color: #f5e7e7;
			}
		}

		.caoz-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #000000;
			font-size: 20rpx;

			image {
				width: 56rpx;
				height: 56rpx;
			}
		}

		.collection {
			width: 164rpx;
			height: 90rpx;
			background: #FFFFFF;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			border: 2rpx solid #EEEEEE;
			color: #333333;
			font-size: 32rpx;
			display: flex;
			align-items: center;
			justify-content: center;

			.collect-img {
				width: 44rpx;
				height: 44rpx;
				margin-right: 12rpx;
			}
		}
	}

	::v-deep .mescroll-body {
		margin-top: -20rpx;

		.pets-card {
			padding: 0px 22rpx;
			box-sizing: border-box;
		}
	}

	.mescrollBox {
		background-color: #fff !important;
		padding: 0px 28rpx;
		box-sizing: border-box;


		:v-deep(.pets-card) {
			padding: 0px 28rpx;
			box-sizing: border-box;
			background-color: #fff;
		}
	}

	.card-wraaper {
		background-color: #fff;
		padding-top: 40rpx;
		box-sizing: border-box;
		margin-top: 28rpx;

		.ack-wapper {
			display: flex;
			flex-direction: column;
			padding: 28rpx 28rpx;
			box-sizing: border-box;

			.sub-title {
				font-size: 30rpx;
				color: #333333;
				margin-bottom: 28rpx;
			}

			.image-detail {
				width: 100%;
				height: auto;
			}

			.ask {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				margin-bottom: 28rpx;
				position: relative;
				padding-left: 15rpx;
				box-sizing: border-box;

				&:before {
					display: content;
					content: '';
					width: 8rpx;
					height: 8rpx;
					background: #666666;
					border-radius: 50%;
					position: absolute;
					left: 0px;
					top: 0px;
					bottom: 0px;
					margin: auto;
				}

				.ask-left {
					width: 70%;
					display: flex;
					align-items: center;

					.ask-title {
						flex: 1;
						color: #333333;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.people {
					color: #333333;

					span {
						color: #999999;
					}

				}
			}
		}

		.card-title-wap {
			padding: 0px 28rpx;
			box-sizing: border-box;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.footprint {
				width: 48rpx;
				height: 48rpx;
				position: absolute;
				left: 131rpx;
				top: -16rpx;
			}

			.card-title {
				color: #333333;
				font-size: 30rpx;
			}

			.card-right {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 32rpx;
					height: 34rpx;
				}
			}
		}

	}

	.btm-wrapper {
		background-color: #F9F9F9;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
		padding-bottom: 150rpx;
		box-sizing: border-box;
	}

	.info-wrppaer {
		width: 100%;
		background-color: #fff;
		padding: 40rpx 28rpx;
		box-sizing: border-box;

		.shop-one {
			width: 100%;
			display: flex;
			align-items: baseline;
			margin-bottom: 16rpx;
			position: relative;
			justify-content: space-between;

			.price {
				color: #FD611E;
				font-size: 52rpx;

				span {
					font-size: 32rpx;
				}
			}

			.oldprice {
				margin: 0px 8rpx 0px 14rpx;
				text-decoration: line-through;
				color: #CCCCCC;
				font-size: 28rpx;
			}

			.Discounts {
				background-color: #FFEFE9;
				color: #FD611E;
				border-radius: 8rpx;
				padding: 4rpx;
				box-sizing: border-box;
				height: 32rpx;
				font-size: 20rpx;
				margin: 0px 12rpx;

			}

			.sold {
				flex: 1;
				text-align: right;
				color: #999999;
				font-size: 20rpx;
			}
		}

		.title {
			color: #333333;
			font-size: 40rpx;
			margin-bottom: 28rpx;
		}

		.matter-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 28rpx;
			margin-top: 16rpx;


			.matter-left {
				display: flex;
				align-items: center;
				flex: 1;
				font-size: 24rpx;

				.matter-title {
					color: #999999;
					margin-right: 28rpx;
				}

				.matter-cnt {
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;

				}

			}

			.matter-right {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 100rpx;
				text-align: right;

				.right-icon {
					width: 28rpx;
					height: 28rpx;
				}
			}
		}
	}

	// //h5 APP
	// /deep/ .uni-swiper-dots {
	// 	position: absolute;
	// 	bottom: 10% !important;
	// }

	// //微信小程序
	// /deep/ .wx-swiper-dots {
	// 	position: absolute;
	// 	bottom: 10% !important;

	// }


	.slide-image {
		width: 100%;
		height: 600rpx;
	}

	.backimage {
		width: 50rpx;
		height: 50rpx;
		margin-top: 30rpx;
		margin-left: 20rpx;
	}
</style>