<!-- 团购-确认订单 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				确认订单
			</template>
		</commonTop>
		<view class="pets-card">
			<view class="pets-item">
				<image src="../../static/dog.png" mode="" class="pet-img"></image>
				<view class="right">
					<view class="ms">{{detail.name}}</view>
					<view class="shop">
						<view class="shop-one">
							<view class="price">￥{{detail.realAmount}}</view>
							<view class="oldprice">￥{{detail.totalAmount}}</view>
							<view class="Discounts">{{detail.discount}}折</view>
						</view>
					</view>
				</view>
			</view>
			<view class="buy-count">
				<view class="left">购买数量</view>
				<view class="right"><uv-number-box min='1' v-model="model.quantity"></uv-number-box></view>
			</view>
			<view class="totoal">小计：<span class="unit">¥</span> <span>{{detail.total}}</span></view>
		</view>
		<uv-form labelPosition="left">
			<view class="pets-card">
				<view class="title">宠物信息</view>
				<uv-form-item label="是否携带宠物" labelWidth='140' :required="true">
					<template v-slot:right><uv-switch size="24" activeColor="#FD611E"
							v-model="model.hasPets"></uv-switch></template>
				</uv-form-item>
				<uv-form-item label="宠物种类" labelWidth='200' :required="true">
					<uv-input v-model="model.petSpecies" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="宠物重量" labelWidth='200' :required="true">
					<template v-slot:right>
						<view class="flex">
							<uv-number-box buttonSize="22"  color="#333333" bgColor="#F0F0F0" v-model="model.petWeight">
							</uv-number-box>
							<span>公斤</span>
						</view>
					</template>
				</uv-form-item>
				<uv-form-item label="备注" labelWidth='200'>
					<uv-input v-model="model.remarks" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
			</view>
			<view class="pets-card" style="padding: 0px 28rpx;">
				<uv-form-item label="开发票" labelWidth='140'>
					<template v-slot:right><uv-switch size="24" activeColor="#FD611E"
							v-model="model.hasInvoice"></uv-switch></template>
				</uv-form-item>
			</view>
			<view class="pets-card" v-if="model.hasInvoice">
				<uv-form-item label="发票类型" labelWidth='140'  borderBottom :required="true">
					<template v-slot:right>
						<uv-radio-group v-model="model.invoiceType">
							<uv-radio activeColor="#FD611E" :customStyle="{margin: '8px'}"
								v-for="(item, index) in invoiceTypeList" :key="index" :label="item.name" :name="item.value">
							</uv-radio>
						</uv-radio-group>
					</template>
				</uv-form-item>
				<uv-form-item label="发票抬头" labelWidth='140' borderBottom :required="true">
					<uv-input v-model="model.invoiceHeader" inputAlign='right' disabledColor="#ffffff"
						placeholder="请输入" border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="税号" labelWidth='200' :required="true">
					<uv-input v-model="model.taxId" placeholder="请输入" fontSize='14px' inputAlign='right' border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="发票内容" labelWidth='200' :required="true">
					<uv-input v-model="model.invoiceContent" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="注册地址" labelWidth='200'>
					<uv-input v-model="model.invoiceAddress" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="开户银行" labelWidth='200'>
					<uv-input v-model="model.openingBank" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="银行账号" labelWidth='200'>
					<uv-input v-model="model.bankAccountNumber" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
			</view>

			<view class="pets-card" v-if="model.hasInvoice">
				<uv-form-item label="邮箱地址" labelWidth='140' :required="true">
					<uv-input v-model="model.email" placeholder="请输入" fontSize='14px' inputAlign='right' border="none">
					</uv-input>
				</uv-form-item>
			</view>

			<view class="pets-card">
				<view class="kind-reminder">温馨提示</view>
				<view class="kind-cnt">为了保障您的权益，建议使用滈滴宠旅线上支付。若使用其他支付方式导致纠纷，滈滴宠旅不承担任何责任，感谢您的理解和支持！</view>
			</view>

		</uv-form>

		<view class="btm-pay">
			<view class="left">
				<view style="font-size: 32rpx;">￥</view>{{detail.total}} <span>¥{{detail.oldtotal}}</span>
			</view>
			<view class="right" @click="goPay">立即支付</view>
		</view>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import {
		showToast
	} from '../../utils/util.js';
	import {
		payOrder,
		createOrder
	} from "@/config/vmeitime-http/groupBuy.js";
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				invoiceTypeList: [{
					name: '普票',
					value: 0
				}, {
					name: '专票',
					value: 1
				}],
				buyCount: 0,
				detail: {},
				model: {
					goodsId: '',
					quantity: 1,
					petWeight: 1,
					hasPets: false,
					hasInvoice: false,
					petSpecies: '',
					remarks: '',
					invoiceType: 0,
					invoiceHeader: '',
					taxId: '',
					invoiceContent: '',
					invoiceAddress: '',
					openingBank: '',
					bankAccountNumber: '',
					email: ''
				}
			}
		},

		watch: {
			'model.quantity': {
				handler(newVal) {
					if (this.model.quantity > 0) {
						this.detail.total = this.detail.realAmount * parseFloat(this.model.quantity)
						this.detail.oldtotal = this.detail.totalAmount * parseFloat(this.model.quantity)
					}
				},
				deep: true
			}
		},

		onLoad(options) {
			let detail = JSON.parse(options.detail)
			this.detail = detail
			this.detail.total = detail.realAmount
			this.detail.oldtotal = detail.totalAmount
			this.model.goodsId = detail.id
			console.log(this.model)
			console.log('确认订单===============')
		},
		methods: {
			// 去支付
			goPay() {
				if (!this.model.petSpecies) {
					showToast('请输入宠物种类')
					return false
				} else if (!this.model.invoiceHeader && this.model.hasInvoice) {
					showToast('请输入发票抬头')
					return false
				}else if (!this.model.taxId && this.model.hasInvoice) {
					showToast('请输入税号')
					return false
				}else if (!this.model.invoiceContent && this.model.hasInvoice) {
					showToast('请输入发票内容')
					return false
				}
				createOrder(this.model).then((res) => {
					showToast('提交成功')
					setTimeout(() => {
						uni.switchTab({
							url: '/pages/home/index'
						})
					}, 1000)
				
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	::v-deep .uv-form {
		background-color: #F9F9F9;
	}

	::v-deep .uv-number-box__input {
		background-color: #fff !important;
	}

	.btm-pay {
		display: flex;
		align-items: center;
		padding: 14rpx 28rpx;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		z-index: 9;

		.left {
			display: flex;
			align-items: baseline;
			color: #FD611E;
			font-size: 52rpx;
			margin-right: 16rpx;

			span {
				color: #999999;
				font-size: 32rpx;
				margin-left: 16rpx;

			}
		}

		.right {
			width: 280rpx;
			height: 92rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			color: #fff;
			font-size: 32rpx;
			text-align: center;
			line-height: 92rpx;
		}
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 28rpx !important;
	}

	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 20rpx 28rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;

		.flex {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 28rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}

		.title {
			color: #333333;
			font-size: 28rpx;
			font-weight: 500;
			margin-bottom: 20rpx;
		}

		.buy-count {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #333333;
			font-size: 28rpx;
			padding: 0px 20rpx;
			box-sizing: border-box;
			margin: 40rpx 0px 40rpx;
		}

		.totoal {
			font-size: 28rpx;
			color: #666666;
			margin-bottom: 20rpx;
			text-align: right;
			padding: 0px 20rpx;
			box-sizing: border-box;
			width: 100%;

			span {
				font-size: 52rpx;
				color: #FD611E;
			}

			.unit {
				font-size: 32rpx;
			}
		}

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			border-radius: 20rpx;
			border-bottom: 1px dashed #F4F4F4;

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}

			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}


				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					text-decoration: line-through;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					padding: 4rpx;
					box-sizing: border-box;
					height: 32rpx;
					font-size: 20rpx;
					margin: 0px 12rpx;

				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					flex-direction: column;

					.shop-one {
						width: 100%;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						margin-bottom: 16rpx;
						position: relative;

						.price {
							color: #FD611E;
							margin: 0px 12rpx;

						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}
				}
			}
		}
	}
</style>