<!-- 首页-分类 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='false' :onlyCenter='false'>
			<template slot="left">
				<view class="public-topsearch">
					<image src='../../static/icon_search.png' mode="widthFix" class="search-img"></image>
					<input placeholder="搜索" v-model="goodsName" class="search" @confirm="searchData"
						@input='searchDataChage' />
				</view>
			</template>
		</commonTop>

		<view class="history-wrapper" v-if="!isConfim">
			<view class="top ajbetween" v-if="historyList.length > 0">
				<view class="title">历史记录</view>
				<image class="del-img" src="../../pagesA/static/img/icon_delete20@2x.png" mode="widthFix"
					@click="delAll"></image>
			</view>
			<view class="history-tags">
				<view class="tags" v-for="(item,index) in historyList" v-bind:key="index"
					@click.stop="tagsChange(item)">{{item}}</view>
			</view>
		</view>

		<uvTabs v-if="isConfim" :list="tablist" lineWidth="28" :current='type' lineColor="#FFC93F" @change='changeTab' :activeStyle="{
				color: '#333333',
				fontWeight: 'bold',
				transform: 'scale(1)'
			}" :inactiveStyle="{
				color: '#999999',
				transform: 'scale(1)'
			}" itemStyle="padding-left: 15px; padding-right: 15px; height: 88rpx;fontSize:32rpx"></uvTabs>

		<mescroll-body v-if="isConfim" class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<PetsCard :petsList='petsList' v-if="type==0"></PetsCard>
			<NotesCard :petsList='petsList' v-else></NotesCard>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import PetsCard from '@/components/pets.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		notePage
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import NotesCard from '@/components/notesCard.vue'
	import {
		groupBuyGoodsPage
	} from "@/config/vmeitime-http/groupBuy.js";
	import storage from '../../utils/storage';
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			PetsCard,
			NotesCard,
			uvTabs
		},
		data() {
			return {
				tablist: [{
					name: '团购'
				}, {
					name: '宠物笔记',
				}],
				type: 0,
				goodsName: '',
				petsList: [],
				historyList: [],
				isConfim: false
			}
		},
		watch: {
			goodsName: {
				handler(newVal, oldVal) { //对象式监听，立即监听，深度监听
					console.log(newVal, oldVal)
					if (!newVal) {
						this.goodsName = ''
						let history = storage.get('historyData') || []
						console.log(history)
						this.historyList = history
					}

				},
				immediate: true, //立即监听
				deep: true, //深度监听
			}
		},
		onLoad(options) {
			if (options.type) {
				this.type = options.type
			}
		},
		methods: {

			// 一级切换状态
			changeTab(item) {
				console.log(item)
				this.type = item.index
				this.mescroll.resetUpScroll();

			},
			// 点击历史记录
			tagsChange(name) {
				this.goodsName = name
				this.mescroll?.resetUpScroll();
				this.isConfim = true
			},

			// 搜索框变化
			searchDataChage(e) {
				this.isConfim = false
				if (!e.detail.value) {
					this.goodsName = e.detail.value
				}
			},

			// 删除记录
			delAll() {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确定删除全部历史记录吗？',
					success: function(res) {
						if (res.confirm) {
							storage.set('historyData', [])
							that.historyList = []
							that.$forceUpdate()
						}
					}
				});
			},
			// 搜索关键词
			searchData(e) {
				if (!e.detail.value) {
					return false
				}
				this.isConfim = true
				let history = storage.get('historyData') || []
				history.push(e.detail.value)
				let uniqueArray = [...new Set(history)]
				storage.set('historyData', uniqueArray)
				this.historyList = uniqueArray
				this.goodsName = e.detail.value
				this.mescroll?.resetUpScroll();
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc"
				};
				if (page.num == 1) this.petsList = []; //如果是第一页需手动置空列表
				let Fn = this.type == 0 ? groupBuyGoodsPage({
					...param,
					status: 1,
					goodsName: this.goodsName
				}) : notePage({
					...param,
					title: this.goodsName
				})
				Fn.then((res) => {

					let curPageData = res.records;
					let curPageLen = curPageData.length; // 接口返回的当前页数据长度
					let totalPage = res.total; // 接口返回的总页数
					this.petsList = this.petsList.concat(curPageData); //追加新数据

					//方法一(推荐): 后台接口有返回列表的总页数 totalPage
					this.mescroll.endByPage(curPageLen, totalPage);

				});
			},
		}
	}
</script>

<style scoped lang="scss">
	page,
	.containner {
		background-color: #F9F9F9;
	}


	.mescrollBox {
		top: 20rpx;
	}

	.history-wrapper {
		padding: 28rpx;
		box-sizing: border-box;

		.top {
			margin-bottom: 28rpx;

			.title {
				color: #333333;
				font-size: 32rpx;
			}

			.del-img {
				width: 44rpx;
				height: 44rpx;
			}
		}

		.history-tags {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.tags {
				padding: 12rpx 24rpx;
				box-sizing: border-box;
				background: #FFFFFF;
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				border: 2rpx solid #EEEEEE;
				margin-right: 16rpx;
				margin-bottom: 16rpx;
				font-size: 30rpx;
			}
		}
	}
</style>