<!-- 我要提问 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				我要提问
			</template>
		</commonTop>
		<uv-textarea class="textarea" height='400' v-model="content" border='none' maxlength="1000"
			placeholder="请输入问题（4-50字）"></uv-textarea>
		<view class="submit">提交</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				content: ''
			}
		},
		methods: {

		}
	}
</script>

<style lang="scss" scoped>
	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.textarea {
			background-color: #fff;
			border-radius: 20rpx;
			min-height: 1624rpx;
		}

		.submit {
			width: 100%;
			text-align: center;
			color: #fff;
			margin-top: 80rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}
</style>