<!-- 分类 -商户详情 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='false' :isFixed='false' :onlyCenter='false' :opacity='0'>
			<template slot="left">
				<view class="top-com">
					<image src="../static/img/icon_return28@2x.png" mode="" @click="back"></image>
					<view class="top-right-icon">
						<!-- 收藏 -->
						<image
							:src="detailInfo.hasCollect?'../static/img/icon_collect28_1@2x.png': '../static/img/icon_collect28@2x.png'"
							mode="widthFix" @click.stop="collection(detailInfo.hasCollect)"></image>
				
						<button border='none' class="share-btn" type="link" open-type="share" @click="share">
							<image src="../static/img/icon_share@2x.png" mode="widthFix" @click="share"></image>
						</button>
				
						<image src="../static/img/icon_More28@2x.png" mode="widthFix" style="margin-left: 36rpx;"
							@click="goPage(`/pagesA/public/report?merchantId=${merchantId}`)"></image>
					</view>
				</view>
			</template>
		</commonTop>
		
		<swiper indicator-dots autoplay class="slide-image" indicator-color='#fff' indicator-active-color='#D9D9D9'>
			<swiper-item v-for="(item,index) in detailInfo.photo" v-bind:key='index'>
				<image :src="item" mode="scaleToFill" class="slide-image"></image>
			</swiper-item>
		</swiper>

		<view class="btm-wrapper">
			<view class="info-wrppaer">
				<view class="title">{{detailInfo.name || ''}}</view>
				<!-- <view class="rate-wrap">
					<uv-rate active-color="#FFED3F" size='20' :allowHalf='true' inactive-color="#b2b2b2"></uv-rate>
					<view class="rate">4.5</view>
					12条评论
				</view> -->
				<view class="label-war">
					<view class="label-item" v-for="(item,index) in detailInfo.keyword" v-bind:key="index">{{item}}
					</view>
				</view>
				<view class="synopsis">
					{{detailInfo.info}}
				</view>
				<view class="business-hours">
					营业中 <span>{{detailInfo.businessHours}}</span>
				</view>

				<view class="adr-wrap" @click.stop="openLocation(detailInfo)">
					<view class="adr-left">
						<image src="../static/img/icon_position16@2x.png" mode="widthFix" class="adr-point"></image>
						<view class="adr">{{detailInfo.address}}</view>
					</view>
					<view class="adr-right">
						<image src="../static/img/icon_More14@2x.png" class="right-icon"></image>
					</view>
				</view>

				<view class="call-wrapper">
					<view class="call-item" @click="callPhone(detailInfo.phone)">
						<image src="../static/img/icon_connect@2x.png" mode="widthFix" style="width: 40rpx;"></image>
						联系商家
					</view>
					<view class="call-item">
						<image src="../static/img/icon_consult@2x.png" mode=""></image>
						在线咨询
					</view>
					<view class="call-item" @click="toMiniProgram()">
						<image src="../static/img/icon_taxi@2x.png" mode=""></image>
						宠物打车
					</view>

				</view>
			</view>
			<!-- 优惠团购 -->
			<view class="card-wraaper">
				<view class="card-title-wap">
					<view class="card-title">优惠团购</view>
				</view>
				<!-- <uvTabs :list="tablist" lineWidth="0" lineColor="#f56c6c" @change='changeTab' :activeStyle="{
							color: '#FD611E',
							fontWeight: 'bold',
							transform: 'scale(1)'
				    	}" :inactiveStyle="{
							color: '#999999',
							transform: 'scale(1)'
						}" itemStyle="padding-left: 15px; padding-right: 15px; height: 88rpx;fontSize:36rpx"></uvTabs> -->

				<GroupBuyCard :petsList='groupBuyList' :merchantDetail='detailInfo'></GroupBuyCard>
			</view>
			<!-- 萌宠笔记 -->
			<view class="card-wraaper">
				<view class="card-title-wap" @click.stop="goPage('/pagesA/public/petNotesList')">
					<view class="card-title">萌宠笔记</view>
					<view class="card-right">查看更多<image src="../static/img/icon_More14@2x.png" class="right-icon">
						</image>
					</view>
				</view>
				<NotesCard :petsList='notesList'></NotesCard>
			</view>

			<!-- 评价 -->
			<view class="card-wraaper" v-if="evaluateList.length > 0">
				<view class="card-title-wap" style="margin-bottom: 0px;"
					@click.stop="goPage(`/pagesA/public/evaluationList?merchantId=${merchantId}`)">
					<view class="card-title">评价（{{evaluateTotal || 0}}）</view>
					<view class="card-right">查看更多<image src="../static/img/icon_More14@2x.png" class="right-icon">
						</image>
					</view>
				</view>
				<EvaluateCard :evaluateList='evaluateList' :goodsId='merchantId'></EvaluateCard>
			</view>

			<!-- 问大家 -->
			<!-- <view class="card-wraaper">
				<view class="card-title-wap" @click.stop="goPage('/pagesA/public/askeveryone')">
					<view class="card-title">问大家（10）</view>
					<view class="card-right">查看更多<image src="../static/img/icon_More14@2x.png" class="right-icon">
						</image>
					</view>
				</view>
				<view class="ack-wapper">
					<view class="ask" v-for="(item,index) in askList" v-bind:key="index">
						<view class="ask-left">
							<image src="../static/img/ask.png" mode="widthFix" class="ask-img"></image>
							<view class="ask-title">问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题问题</view>
						</view>
						<view class="people">1人回答</view>
					</view>
					<view class="ask-count">共4个问题</view>
				</view>
			</view> -->

			<!-- 相关团购 -->
			<view class="card-wraaper">
				<view class="card-title-wap">
					<view class="card-title">相关团购</view>
				</view>
				<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
					<PetsCard :petsList='relatedGroupBuyList'></PetsCard>
				</mescroll-body>
			</view>
		</view>
	</view>

</template>

<script>
	import GroupBuyCard from '../components/groupBuyCard.vue'
	import NotesCard from '@/components/notesCard.vue'
	import EvaluateCard from '../components/evaluateCard.vue'
	import PetsCard from '@/components/pets.vue'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import commonTop from '@/components/transparentHead'
	import {
		merchantInfo
	} from "@/config/vmeitime-http/merchant.js";
	import {
		callPhone
	} from '@/utils/util.js'
	import {
		groupBuyGoodsPage,
		merchantEvaluatePage
	} from "@/config/vmeitime-http/groupBuy.js";
	import {
		notePage
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		merchantCollect,
		cancelCollectingMerchants,
		sharePictures
	} from "@/config/vmeitime-http/merchant.js";
	import {
		showToast,
		formatTime,
		openLocation
	} from '@/utils/util.js'

	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			GroupBuyCard,
			NotesCard,
			EvaluateCard,
			PetsCard,
			commonTop
		},
		data() {
			return {
				openLocation: openLocation,
				// 拨打电话
				callPhone: callPhone,
				// 详情信息
				detailInfo: {},
				// 萌宠笔记
				notesList: [],
				// 团购
				groupBuyList: [],
				// 评价
				evaluateList: [],
				evaluateTotal: 0,
				// 问大家
				askList: [{}, {}],
				// 相关团购
				relatedGroupBuyList: [],
				tablist: [{
					name: '全部'
				}, {
					name: '分类',
				}, {
					name: '分类',
				}, {
					name: '分类',
				}],

				// 商户id
				merchantId: '',
				statusBarHeight: 0


			}
		},
		onLoad(options) {
			if (options.id) {
				this.merchantId = options.id
				this.getFetail(options.id)
				this.getGroupBuyGoodsPage(options.id)
				this.getNotePage()
				this.getMerchantEvaluatePage(options.id)
				this.getHeight()
			}
		},
		methods: {
			
			// 跳转打车小程序
			toMiniProgram() {
			  uni.navigateToMiniProgram({
			    appId: "wx92d4ede8628704ac", // 填入目标小程序的 appId
			    path: "pages/home/index", // 打开的页面路径，如果为空则打开首页
			    extraData: {
			      // 需要传递给目标小程序的数据
			    },
			    success(res) {
			      // 打开成功的回调
			    },
			    fail(err) {
			      // 打开失败的回调
			    },
			  });
			},

			getHeight() {
				// 判断是否为iPhone X
				const systemInfo = uni.getSystemInfoSync();
				const model = systemInfo.model;
				const isIphoneX = /iPhone X/i.test(model);

				if (isIphoneX) {
					// iPhone X 的状态栏高度为44px
					this.statusBarHeight = 48
				} else {
					// 其他设备状态栏高度通常为20px
					this.statusBarHeight = 22
				}

			},
			// 分享
			share() {
				uni.share({
					provider: 'weixin', // 分享服务提供商，weixin表示微信
					title: '分享的标题', // 分享的标题
					summary: '分享的摘要', // 分享的摘要
					imageUrl: '', // 分享的图片链接，可选
					query: '分享的参数', // 分享的参数，可选
					success: (res) => {
						// 分享成功的回调
						console.log('分享成功', res);
					},
					fail: (err) => {
						// 分享失败的回调
						console.error('分享失败', err);
					}
				});
			},

			// 收藏
			collection(isCollect) {
				if (isCollect) {
					cancelCollectingMerchants({
						id: this.merchantId
					}).then((res) => {
						this.detailInfo.hasCollect = false
						showToast('取消收藏')
					})
				} else {
					merchantCollect({
						id: this.merchantId
					}).then((res) => {
						this.detailInfo.hasCollect = true
						showToast('收藏成功')
					})
				}
			},
			// 获取萌宠笔记
			getNotePage() {
				let param = {
					pageNum: 1,
					pageSize: 2,
					isAsc: "desc",
				};
				notePage(param).then((res) => {
					if (res.records.length > 0) {
						this.notesList = res.records
					}
				})
			},

			// 获取商户评价
			getMerchantEvaluatePage(id) {
				let param = {
					pageNum: 1,
					pageSize: 2,
					isAsc: "desc",
					merchantId: id
				};
				merchantEvaluatePage(param).then((res) => {
					if (res.records.length > 0) {
						let data = res.records
						this.evaluateTotal = res.total
						data.map((item) => {
							item.createTime = formatTime(item.createTime, 'dateHours')
							if (item.picture) {
								item.picture = item.picture.split(',')
							}
						})
						this.evaluateList = data
					} else {
						this.evaluateList = []
					}
				})
			},

			// 获取详情
			getFetail(id) {
				merchantInfo({
					id: id
				}).then((res) => {
					console.log(res)
					this.detailInfo = res
					this.detailInfo.photo = this.detailInfo.photo.split(',')
					if (this.detailInfo.keyword) {
						this.detailInfo.keyword = this.detailInfo.keyword.split(',')
					}
				})
			},

			// 获取优惠团购
			getGroupBuyGoodsPage(id) {
				groupBuyGoodsPage({
					pageSize: 100,
					pageNum: 1,
					status: 1,
					merchantId: id
				}).then((res) => {
					this.groupBuyList = res.records
					this.groupBuyList.map((item) => {
						return item.discount = parseInt(item.discount)
					})
				})
			},
			// 返回
			back() {
				uni.navigateBack({
					delta: 1
				})
			},

			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
				};
				if (page.num == 1) this.relatedGroupBuyList = []; //如果是第一页需手动置空列表
				groupBuyGoodsPage(param).then((res) => {
					if (res.records.length > 0) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						this.relatedGroupBuyList = this.relatedGroupBuyList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #F9F9F9;
	}

	.share-btn {
		display: flex;
		padding: 0px;
		box-sizing: border-box;
		margin-left: 36rpx;
		background-color: transparent;
		border: none;

		&::after {
			display: none;
		}

		image {
			margin: 0px;
		}
	}

	::v-deep .mescroll-body {
		.pets-card {
			padding: 0px 22rpx;
			box-sizing: border-box;
		}
	}


	.card-wraaper {
		background-color: #fff;
		padding-top: 40rpx;
		box-sizing: border-box;
		margin-top: 28rpx;

		.ack-wapper {
			display: flex;
			flex-direction: column;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.ask {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				margin-top: 28rpx;

				.ask-left {
					width: 78%;
					display: flex;
					align-items: center;

					.ask-img {
						width: 40rpx;
						height: 40rpx;
						margin-right: 30rpx;
					}

					.ask-title {
						flex: 1;
						color: #333333;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

					}
				}

				.people {
					color: #999999;

				}
			}

			.ask-count {
				color: #333333;
				font-size: 28rpx;
				height: 96rpx;
				line-height: 96rpx;
				text-align: center;
				border-top: 1rpx solid #EEEEEE;
				margin-top: 28rpx;
			}
		}

		.card-title-wap {
			padding: 0px 28rpx;
			box-sizing: border-box;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20rpx;

			.card-title {
				color: #333333;
				font-size: 32rpx;
			}

			.card-right {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 32rpx;
					height: 34rpx;
				}
			}
		}

	}

	.btm-wrapper {
		background-color: #F9F9F9;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
	}

	.info-wrppaer {
		width: 100%;
		background-color: #fff;
		padding: 40rpx 28rpx 0rpx;
		box-sizing: border-box;


		.title {
			color: #333333;
			font-size: 40rpx;
		}

		.call-wrapper {
			height: 132rpx;
			justify-content: center;
			display: flex;
			align-items: center;
			font-size: 28rpx;
			color: #333333;

			image {
				width: 56rpx;
				height: 56rpx;
				margin-right: 12rpx;
			}

			.call-item {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 33%;
			}
		}

		.rate-wrap {
			margin: 12rpx 0px 16rpx;
			display: flex;
			align-items: center;
			color: #999999;
			font-size: 24rpx;

			.rate {
				color: #FD611E;
				margin: 0px 16rpx;
			}
		}

		.label-war {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 24rpx;
			margin-top: 14rpx;

			.label-item {
				padding: 12rpx;
				box-sizing: border-box;
				background-color: #F5F5F5;
				color: #333333;
				font-size: 24rpx;
				margin-right: 12rpx;
			}

		}

		.synopsis {
			color: #666666;
			font-size: 24rpx;
			white-space: nowrap; //禁止换行
			overflow: hidden;
			text-overflow: ellipsis;
			padding-bottom: 28rpx;
			box-sizing: border-box;
		}

		.business-hours {
			font-size: 28rpx;
			color: #FD611E;
			height: 96rpx;
			line-height: 96rpx;
			border-bottom: 1rpx solid #EEEEEE;
			border-top: 1rpx solid #EEEEEE;

			span {
				color: #333333;
				margin-left: 16rpx;
			}
		}

		.adr-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 28rpx;
			height: 96rpx;
			line-height: 96rpx;
			border-bottom: 1rpx solid #EEEEEE;

			.adr-left {

				display: flex;
				align-items: center;
				flex: 1;

				.adr {
					width: 460rpx;
					white-space: nowrap; //禁止换行
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.adr-point {
					width: 42rpx;
					height: 42rpx;
				}
			}

			.adr-right {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex: 1;
				color: #999999;
				text-align: right;

				.right-icon {
					width: 28rpx;
					height: 28rpx;
				}
			}
		}
	}


	.slide-image {
		width: 100%;
		height: 600rpx;
	}

	.top-com {
		width: 100%;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		background-color: transparent;
		padding-left: 30rpx;
		box-sizing: border-box;
		.top-right-icon {
			display: flex;
			align-items: center;
			position: absolute;
			left: 40%;
		}

		image {
			width: 50rpx;
			height: 50rpx;

		}
	}
</style>