<!-- 首页-分类 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			{{type==1?'新增关注':type==2?'收到的赞和收藏':type==3?'收到的评论':type==4?'系统通知':''}}
		</commonTop>

		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<SystemMessage v-if="type==4" :petsList='petsList' @reload='reload'></SystemMessage>
			<MessageNotice v-else :petsList='petsList' @reload='reload'></MessageNotice>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		notePage
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import MessageNotice from '../components/messageNotice.vue'
	import SystemMessage from '../components/systemMessage.vue'
	import {
		messageNoticeFollow,
		systemNotice,
		likeAndCollect,
		messageNoticeDetail,
		commentAndAt,
		updateRead
	} from "@/config/vmeitime-http/login.js";
	import storage from '../../utils/storage';

	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			MessageNotice,
			SystemMessage
		},
		data() {
			return {
				petsList: [],
				title: '',
				type: ''
			}
		},

		onLoad(options) {
			if (options.type) {
				this.type = options.type
				this.readFinished(options.type)
			}
		},
	

		methods: {
			
			readFinished(type) {
				let messageType = type==1? [1]:type==2?[3,4]:type==3?[2,5]:type==4? [0]:[]
				updateRead({
					messageType: messageType
				}).then((e)=> {
					
				})
			},
			
			reload() {
			  this.mescroll.resetUpScroll();	
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc"
				};
				if (page.num == 1) this.petsList = [];
				let Fn = this.type == 1 ? messageNoticeFollow : this.type == 2 ? likeAndCollect : this.type == 3 ? commentAndAt : this.type == 4 ? systemNotice : ''
				Fn({
					...param
				}).then((res) => {
					let curPageData = res.records;
					let curPageLen = curPageData.length; // 接口返回的当前页数据长度
					let totalPage = res.total; // 接口返回的总页数
					this.petsList = this.petsList.concat(curPageData); //追加新数据
					this.mescroll.endByPage(curPageLen, totalPage);
				})
			},
		}
	}
</script>

<style scoped lang="scss">



	.mescrollBox {
		top: 20rpx;
	}

	.history-wrapper {
		padding: 28rpx;
		box-sizing: border-box;

		.top {
			margin-bottom: 28rpx;

			.title {
				color: #333333;
				font-size: 32rpx;
			}

			.del-img {
				width: 44rpx;
				height: 44rpx;
			}
		}

		.history-tags {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.tags {
				padding: 12rpx 24rpx;
				box-sizing: border-box;
				background: #FFFFFF;
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				border: 2rpx solid #EEEEEE;
				margin-right: 16rpx;
				margin-bottom: 16rpx;
				font-size: 30rpx;
			}
		}
	}
</style>