<!-- 首页-分类 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			{{type==1?'我赞过':type==2?'我的收藏':type==3?'浏览记录':type==4?'评论中心':''}}
		</commonTop>

		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<NotesCard :petsList='petsList'></NotesCard>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import PetsCard from '@/components/pets.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		notePage
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import NotesCard from '@/components/notesCard.vue'
	import {
		myCollectList,
		mylikeList,
		mybrowseList,
		myEvaluateList
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import storage from '../../utils/storage';

	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			PetsCard,
			NotesCard
		},
		data() {
			return {
				petsList: [],
				title: '',
				type: ''
			}
		},

		onLoad(options) {
			if (options.type) {
				this.type = options.type
			}
		},
		
		onShow() {
			let that = this
			setTimeout(()=> {
				that.petsList = []
				that.mescroll.resetUpScroll();
			},200)
			
		},

		methods: {
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc"
				};
				console.log(page.num +'页码')
				if (page.num == 1) this.petsList = [];
				let Fn = this.type == 1 ? mylikeList : this.type == 2 ? myCollectList : this.type == 3 ? mybrowseList : this.type == 4 ?
					myEvaluateList : ''
				Fn({
					...param
				}).then((res) => {
					let curPageData = res.records;
					let curPageLen = curPageData.length; // 接口返回的当前页数据长度
					let totalPage = res.total; // 接口返回的总页数
					this.petsList = this.petsList.concat(curPageData); //追加新数据
					//方法一(推荐): 后台接口有返回列表的总页数 totalPage
					this.mescroll.endByPage(curPageLen, totalPage);
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	page,
	.containner {
		background-color: #F9F9F9;
	}


	.mescrollBox {
		top: 20rpx;
	}

	.history-wrapper {
		padding: 28rpx;
		box-sizing: border-box;

		.top {
			margin-bottom: 28rpx;

			.title {
				color: #333333;
				font-size: 32rpx;
			}

			.del-img {
				width: 44rpx;
				height: 44rpx;
			}
		}

		.history-tags {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.tags {
				padding: 12rpx 24rpx;
				box-sizing: border-box;
				background: #FFFFFF;
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				border: 2rpx solid #EEEEEE;
				margin-right: 16rpx;
				margin-bottom: 16rpx;
				font-size: 30rpx;
			}
		}
	}
</style>