<template>
	<view class="containner">
		<commonTop :show="true" :isBack="true" :isFixed="true" :onlyCenter="false" bgColor="#F9F9F9">
			<template slot="left">
				<view class="topname-flow">
					<view class="flexrow"
						@click="goPage(`/pagesA/mine/personalhome?avatar=${detail.avatar}&userId=${detail.userId}&nickName=${detail.nickName}`)">
						<image v-if="detail.avatar == null" src="@/static/avatar@2x.png" mode="" class="avator">
						</image>
						<image v-else :src="detail.avatar" mode="" class="avator"></image>
						<view class="name line1Es">{{ detail.nickName }}</view>
					</view>
					<view class="follow" v-if="userId!=detail.userId" @click.stop="followFn">
						{{hasFollow? '已关注': '关注'}}
					</view>
				</view>
			</template>

		</commonTop>
		<swiper indicator-dots autoplay class="slide-image" indicator-color="#fff" indicator-active-color="#D9D9D9">
			<swiper-item v-for="(item, index) in detail.imgsList" :key="index">
				<image :src="item" mode="aspectFill" class="slide-image"
					@click.stop="previewImagesFn(index, detail.imgsList)"></image>
			</swiper-item>
		</swiper>

		<view class="btm-wrapper">
			<view class="info-wrppaer">
				<view class="synopsis">
					<view class="title-row">
						<view class="title" v-bind:selectable="true" @longpress="onLongPress(detail.title)">{{ detail.title }}</view>
						<view class="title-right" v-if="userId == detail.userId">
							<image class="edite-icon" src="../static/img/edite.png" @click.stop="tooltipClick('编辑')">
							</image>
							<image class="del-icon" src="@/pagesA/static/img/icon_delete20@2x.png"
								@click.stop="tooltipClick('删除')"></image>
						</view>
					</view>

					<view class="content" v-bind:selectable="true" @longpress="onLongPress(detail.content)"> <rich-text :nodes="detail.content"></rich-text></view>
				</view>
				<view class="call-wrapper">
					<view class="call-item">
						<image src="../../static/icon_Browse16@2x.png" mode=""></image>{{ detail.pageViews }}
					</view>
					<view class="call-right">
						{{ detail.createTime }} {{detail.city || ''}}
					</view>
				</view>
			</view>
			<!-- 优惠团购 -->
			<view class="card-wraaper">
				<view class="card-title-wap" style="margin-bottom: 0px">
					<view class="card-title">评价（{{ evaluateTotal || 0 }}）</view>
				</view>
				<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
					<EvaluateCard class="evaluateCard" :tabindex="tabindex" :evaluateList="evaluateList" :noteId="id"
						@okFn="fbok">
					</EvaluateCard>
				</mescroll-body>
			</view>
		</view>
		<view class="btm-btns">
			<view class="ipt-photo" @click="openPostComments">
				<image class="src" src="../../pagesA/static/img/photo.png" mode="widthFix"></image>
				说点什么吧～
			</view>
			<view class="btn-item">
				<image :src="
            detail.hasLike
              ? '../../pagesA/static/img/icon_like2.png'
              : '../../pagesA/static/img/icon_like1.png'
          " mode="widthFix" @click.stop="like(detail.hasLike)"></image>
				{{detail.likeTotal}}
			</view>
			<view class="btn-item">
				<image style="width: 46rpx; margin-top: -10rpx" :src="
            detail.hasCollect
              ? '../../pagesA/static/img/icon_collect22_1@2x.png'
              : '../../pagesA/static/img/icon_collect22@2x.png'
          " mode="widthFix" @click.stop="collection(detail.hasCollect)"></image>
				{{detail.totalCollect}}
			</view>
		</view>
		<NotePostComments ref="postComments" :id="id" :tabindex="tabindex" @fbok="fbok"></NotePostComments>
		<previewimages ref="previewimages"></previewimages>
	</view>
</template>

<script>
	import EvaluateCard from "../components/noteEvaluateCard.vue";
	import NotePostComments from "../components/notePostComments.vue";
	import uvTabs from "@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import commonTop from "@/components/CommonTop";
	import {
		noteInfo,
		evaluatePage,
		noteCollect,
		collectCancel,
		noteLike,
		noteLikeCancel,
		noteDel,
		follow,
		followCancel
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		showToast,
		formatTime,
		downloadAndCompressImage,
		onLongPress
	} from "@/utils/util.js";
	import storage from "@/utils/storage.js";
	import {
		getUserInfoById
	} from "@/config/vmeitime-http/login.js";
	import previewimages from '@/uni_modules/gyc-previewimages/components/gyc-previewimages/gyc-previewimages.vue'

	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			EvaluateCard,
			commonTop,
			NotePostComments,
			previewimages
		},
		data() {
			return {
				onLongPress:onLongPress,
				evaluateTotal: 0,
				evaluateList: [],
				petsList: [],
				tabindex: "", // 0寻宠 1寻主
				detail: {},
				id: "",
				// 登录人的id
				userId: storage.get("loginInfo").userId,
				hasFollow: false,
				shareImg: ''
			};
		},
		onLoad(options) {
			if (options.id) {
				this.getDetail(options.id);
				this.id = options.id;
				this.tabIndex = options.tabindex || options.tabIndex;

			}
		},
		onShow() {
			this.getDetail(this.id);
			this.getmerchantInfo()
		},


		// 分享到朋友圈
		onShareTimeline(res) {
			let that = this
			return {
				title: that.detail.title,
				path: '/pagesA/public/noteDetails?id=' + that.detail.id,
				imageUrl: that.shareImg
			}
		},

		// 发送给好友
		onShareAppMessage(res) {
			let that = this
			return {
				title: that.detail.title,
				path: '/pagesA/public/noteDetails?id=' + that.detail.id,
				imageUrl: that.shareImg
			}
		},


		methods: {
			
			// 打开图片
			previewImagesFn(index,list) {
				this.$refs.previewimages.previewImages({
				    current: index,
				    urls: list
				})
			},
			
			
			
			// 关注用户
			followFn() {
				if (this.hasFollow) {
					followCancel({
						id: this.detail.userInfo.userId
					}).then((res) => {
						this.hasFollow = false
					});
				} else {
					follow({
						id: this.detail.userInfo.userId
					}).then((res) => {
						this.hasFollow = true
					});
				}
			},
			// 删除和编辑
			tooltipClick(name) {
				let that = this;
				if (name == "编辑") {
					uni.navigateTo({
						url: "/pagesA/public/editeNote?id=" + that.detail.id,
					});
				} else if (name == "删除") {
					uni.showModal({
						title: "提示",
						content: "确定删除吗？",
						success: function(res) {
							if (res.confirm) {
								noteDel({
									id: that.id,
								}).then((res) => {
									showToast("删除成功");
									setTimeout(() => {
										uni.$emit("reloadHome", that.tabIndex);
										uni.$emit("reloadcutePetNotesList", that.tabIndex);
										uni.navigateBack({
											delta: 1,
										});
									}, 500);
								});
							}
						},
					});
				}
			},

			// 发布评论成功
			fbok() {
				this.mescroll.resetUpScroll();
			},

			// 打开评论
			openPostComments() {
				this.$refs.postComments.open({
					id: this.detail.id,
				});
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
				};
				if (page.num == 1) this.evaluateList = []; //如果是第一页需手动置空列表
				evaluatePage({
					...param,
					id: this.id,
				}).then((res) => {
					if (res.records.length > 0) {
						console.log(res);
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						this.evaluateTotal = res.total;
						curPageData.map((item) => {
							if (item.picture) {
								item.picture = item.picture.split(",");
							}
							item.createTime = formatTime(item.createTime, 'date')
						});
						this.evaluateList = this.evaluateList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},

			// 收藏
			collection(isCollect) {
				if (isCollect) {
					collectCancel({
						id: this.detail.id,
					}).then((res) => {
						this.detail.hasCollect = false;
						this.$set(this.detail, 'totalCollect', --this.detail.totalCollect)
					});
				} else {
					noteCollect({
						id: this.detail.id,
					}).then((res) => {
						this.detail.hasCollect = true;
						this.$set(this.detail, 'totalCollect', ++this.detail.totalCollect)
					});
				}
			},

			// 是否点赞
			like(islike) {
				if (islike) {
					noteLikeCancel({
						id: this.detail.id,
					}).then((res) => {
						this.detail.hasLike = false;
						this.$set(this.detail, 'likeTotal', --this.detail.likeTotal)
						// showToast("取消点赞");
					});
				} else {
					noteLike({
						id: this.detail.id,
					}).then((res) => {
						this.detail.hasLike = true;
						this.$set(this.detail, 'likeTotal', ++this.detail.likeTotal)
						// showToast("点赞成功");
					});
				}
			},

			// 获取详情
			getDetail(id) {
				noteInfo({
					id: id,
				}).then((res) => {
					let detail = res;
					detail.createTime = formatTime(detail.createTime, "date");
					if (detail.picture) {
						detail.imgsList = detail.picture.split(",");
					}
					detail.nickName = detail?.userInfo?.nickName || null;
					detail.avatar = detail?.userInfo?.avatar || null;
					this.detail = detail;
					this.getmerchantInfo()
					
					let img = this.detail.imgsList[0]
					
					// 使用示例
				    downloadAndCompressImage(img).then((compressResult) => {
						console.log('压缩后的图片路径：', compressResult.tempFilePath);
						this.shareImg = compressResult.tempFilePath
					}).catch((error) => {
						console.error('压缩图片失败：', error);
					});
					

				});
			},
			
		
			// 获取普通用户信息
			getmerchantInfo() {
				if (this.detail.userInfo && this.detail.userInfo.userId) {
					getUserInfoById({
						id: this.detail.userInfo.userId
					}).then((res) => {
						this.hasFollow = res.hasFollow || false
					})
				}
			},

			goPage(url) {
				uni.navigateTo({
					url: url,
				});
			},
		},
	};
</script>

<style scoped lang="scss">
	page {
		background-color: #fff;
	}

	.flexrow {
		display: flex;
		align-items: center;
	}

	.follow {
		width: 100rpx;
		color: #fd611e;
	}

	/deep/ .mescroll-body {
		min-height: auto !important;
	}

	.btm-btns {
		background-color: #fff;
		padding: 14rpx 28rpx 50rpx;
		box-sizing: border-box;
		width: 100%;
		bottom: 0rpx;
		left: 0px;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-top: 1rpx solid #eeeeee;

		.ipt-photo {
			width: 366rpx;
			height: 92rpx;
			background: #f5f5f5;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			display: flex;
			align-items: center;
			color: #999999;
			font-size: 28rpx;
			padding-left: 32rpx;
			box-sizing: border-box;

			image {
				width: 47rpx;
				height: 42rpx;
				margin-right: 32rpx;
			}
		}

		.btn-item {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #000000;
			font-size: 28rpx;

			image {
				width: 56rpx;
				height: 56rpx;
				margin-right: 8rpx;
			}
		}
	}

	.topname-flow {
		display: flex;
		align-items: center;

		.name {
			width: 200rpx;
			color: #333333;
			font-size: 32rpx;
			margin: 0px 16rpx;
		}

		.follow {
			color: #fd611e;
			font-size: 32rpx;
		}
	}

	.avator {
		width: 64rpx;
		height: 64rpx;
		border-radius: 50%;
	}

	//h5 APP
	/deep/ .uni-swiper-dots {
		position: absolute;
		bottom: 10% !important;
	}

	//微信小程序
	/deep/ .wx-swiper-dots {
		position: absolute;
		bottom: 10% !important;
	}

	::v-deep .evaluateCard {
		padding-top: 0px !important;
		box-sizing: border-box;
	}

	::v-deep .mescroll-body {
		background-color: #fff !important;

		.pets-card {
			padding: 0px 22rpx;
			box-sizing: border-box;
		}
	}

	.mescrollBox {
		background-color: #fff !important;
		padding: 0px 28rpx;
		box-sizing: border-box;

		:v-deep(.pets-card) {
			padding: 0px 28rpx;
			box-sizing: border-box;
			background-color: #fff;
		}
	}

	.card-wraaper {
		background-color: #fff;
		padding-top: 28rpx;
		box-sizing: border-box;

		.ack-wapper {
			display: flex;
			flex-direction: column;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.ask {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				margin-top: 28rpx;

				.ask-left {
					width: 78%;
					display: flex;
					align-items: center;

					.ask-img {
						width: 40rpx;
						height: 40rpx;
						margin-right: 30rpx;
					}

					.ask-title {
						flex: 1;
						color: #333333;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.people {
					color: #999999;
				}
			}

			.ask-count {
				color: #333333;
				font-size: 28rpx;
				height: 96rpx;
				line-height: 96rpx;
				text-align: center;
				border-top: 1rpx solid #eeeeee;
				margin-top: 28rpx;
			}
		}

		.card-title-wap {
			padding: 0px 28rpx;
			box-sizing: border-box;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.card-title {
				color: #333333;
				font-size: 32rpx;
				font-weight: 500;
			}

			.card-right {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 32rpx;
					height: 34rpx;
				}
			}
		}
	}

	.btm-wrapper {
		// background-color: #F9F9F9;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
		position: absolute;
		margin-top: -40rpx;
		width: 100%;
		padding-bottom: 140rpx;
		box-sizing: border-box;
	}

	.info-wrppaer {
		width: 100%;
		background-color: #fff;
		padding: 40rpx 28rpx 0rpx;
		box-sizing: border-box;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
		padding-bottom: 1rpx;
		position: relative;

		.call-wrapper {
			padding: 40rpx 0px 28rpx;
			box-sizing: border-box;
			justify-content: space-between;
			display: flex;
			align-items: center;
			font-size: 28rpx;
			color: #333333;
			border-bottom: 1rpx solid #eeeeee;

			image {
				width: 56rpx;
				height: 56rpx;
				margin-right: 12rpx;
			}

			.call-item {
				display: flex;
				align-items: center;
				width: 33%;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 34rpx;
					height: 34rpx;
					margin-right: 4rpx;
				}
			}

			.call-right {
				color: #999999;
				font-size: 24rpx;
			}
		}

		.synopsis {
			color: #666666;
			box-sizing: border-box;
			margin: 0rpx 0px 30rpx;

			.title-row {
				display: flex;
				align-items: baseline;
				justify-content: space-between;

				.title {
					font-size: 30rpx;
					font-weight: bold;
					margin-bottom: 20rpx;
				}

				.title-right {
					display: flex;
					align-items: center;
					margin-left: 20rpx;

					.edite-icon {
						width: 38rpx;
						height: 38rpx;
					}

					.del-icon {
						width: 40rpx;
						height: 40rpx;
						margin-left: 30rpx;
					}
				}
			}

			.content {
				font-size: 30rpx;
				display: flex;
				flex-wrap: wrap;
				line-height: 48rpx;
			}
		}
	}

	.slide-image {
		width: 100%;
		height: 600rpx;
	}
</style>