<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				订单详情
			</template>
		</commonTop>
		<view class="status">
			{{statusMap[groupDetail.status]}}
		</view>
		<view class="pets-card">
			<view class="pets-item">
				<image :src="groupDetail.picture || '../../static/avatar@2x.png'" mode="aspectFill" class="pet-img">
				</image>
				<view class="right">
					<view class="ms">{{groupDetail.goodsInfo.name}}</view>
					<view class="shop">
						<view class="shop-one">
							<view class="price">￥{{groupDetail.goodsInfo.realAmount}}</view>
							<view class="oldprice">￥{{groupDetail.goodsInfo.totalAmount}}</view>
							<view class="Discounts">{{groupDetail.goodsInfo.discount}}折</view>
						</view>
						<view class="count">x{{groupDetail.quantity || 1}}</view>
					</view>
				</view>
			</view>
		</view>
		<view class="pets-card">
			<view class="adr-wrap merchant-name" @click.stop="goPage(`/pagesA/public/merchantDetails?id=${groupDetail.merchantInfo.id}`)">
				<view class="adr-left">
					<image :src="groupDetail.merchantInfo.logo || '../../static/avatar.png'" mode="aspectFill" class="sh-img">
					</image>
					<view class="shname">{{groupDetail.merchantInfo.name}}</view>
				</view>
				<view class="adr-right">
					<image src="../static/img/icon_More14@2x.png" class="right-icon"></image>
				</view>
			</view>
			<view class="business-hours">
				营业中 <span>{{groupDetail.merchantInfo.businessHours}}</span>
			</view>

			<view class="adr-wrap" @click.stop="openLocation(groupDetail.merchantInfo)">
				<view class="adr-left">
					<image src="../static/img/icon_position16_1@2x.png" mode="" class="adr-point"></image>
					<view class="adr">{{groupDetail.merchantInfo.address}}</view>
				</view>
				<view class="adr-right">
					<image src="../static/img/icon_More14@2x.png" class="right-icon"></image>
				</view>
			</view>

			<view class="toBeused" v-if="groupDetail.status == 1">
				<view class="tobeused-name"><span>券码：</span>{{groupDetail.id}}</view>
				<view class="ewm">
					<uvQrcode ref="qrcode" :value="groupDetail.id" size='180' :options="qrCodeOptions"></uvQrcode>
				</view>
			</view>
		</view>

		<view class="pets-card">
			<view class="card-title-wap">
				<view class="card-title">团购详情</view>
			</view>
			<view class="ack-wapper" v-for="(item,index) in categoriesList" v-bind:key="index">
				<view class="sub-title">{{item.categoryName}}</view>
				<view class="ask" v-for="(item1,index1) in item.groupBuyProjectList" v-bind:key="index1">
					<view class="ask-left">
						<view class="ask-title line1Es">{{item1.title || '-' }}</view>
					</view>
					<view class="people"> <span>({{item1.number}}份)</span> ￥{{item1.money}}</view>
				</view>

			</view>
		</view>
		<uv-form>
			<view class="pets-card" v-if="groupDetail.hasPets == 1">
				<view class="title">宠物信息</view>
				<uv-form-item label="宠物种类" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>{{groupDetail.petSpecies}}</template>
				</uv-form-item>
				<uv-form-item label="宠物重量" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>{{groupDetail.petWeight || 0}}公斤</template>
				</uv-form-item>
				<view class="baseline">
					<uv-form-item label="备注" labelWidth='100' prop="userInfo.name">
						<template v-slot:right>
							<view class="remarks">{{groupDetail.remarks}}</view>

						</template>
					</uv-form-item>
				</view>
			</view>

			<view class="pets-card">
				<view class="title">订单详情</view>
				<uv-form-item label="实付" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>¥{{groupDetail.money}}</template>
				</uv-form-item>
				<uv-form-item label="数量" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>{{groupDetail.quantity}}</template>
				</uv-form-item>
				<uv-form-item label="订单号" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>
						<div class="copy-row">{{groupDetail.id}} <span class="copy" @click="copyOrder">复制</span></div>
					</template>
				</uv-form-item>
				<uv-form-item label="付款时间" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>{{groupDetail.payTime || '-'}}</template>
				</uv-form-item>
				<uv-form-item label="下单时间" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>{{groupDetail.createTime}}</template>
				</uv-form-item>
				<uv-form-item label="开发票" labelWidth='100' prop="userInfo.name">
					<template v-slot:right>{{groupDetail.invoiceHeader || '-'}}</template>
				</uv-form-item>

			</view>
		</uv-form>
		<view class="btm-btn">
			<view class="btn" v-if="groupDetail.status == 9">开发票</view>
			<view class="btn" v-if="groupDetail.status == 1" @click.stop="goPage(`/pagesA/public/reasonForCancel?id=${groupDetail.id}&type=refund`)">申请退款</view>
			<view class="btn borderColor" v-if="groupDetail.status == 9" @click="goGroupBuyDetails">再来一单</view>
			<view class="btn" v-if="groupDetail.status == 9" style="color: #FD611E;"
				@click="goPage(`/pagesA/public/subEvaluation?goodsId=${groupDetail.goodsId}`)">评价</view>
			<view class="btn" v-if="groupDetail.status == 0"
				@click="goPage(`/pagesA/public/reasonForCancel?id=${groupDetail.id}`)">取消订单</view>
				<view class="btn borderColor" v-if="groupDetail.status == 0" @click="goPay(groupDetail.id)">立即支付</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uniCopy from "@/utils/uni-copy.js";
	import {
		orderDetail,
		pay
	} from '@/config/vmeitime-http/groupBuy.js'
	import {
		groupStatusMap, openLocation
	} from '../../utils/util.js'
	import storage from '../../utils/storage.js';
	import uvQrcode from '../../uni_modules/uv-qrcode/components/uv-qrcode/uv-qrcode.vue'

	export default {
		components: {
			commonTop,
			uvQrcode
		},
		data() {
			return {
				groupDetail: {},
				statusMap: groupStatusMap,
				id: '',
				categoriesList: [],
				qrCodeOptions: {
					style: 'round',
					foregroundImageSrc: ''
				},
				openLocation: openLocation
			}
		},
		onLoad(options) {
			this.id = options.id
			this.getDetail()
		},
		
		mounted() {
			uni.$on('reload', (event) => {
				this.reLoad()
			});
		},

		methods: {


			// 请求支付接口并支付
			goPay(outTradeNo) {
				let that = this
				pay({
					openid: storage.get('openId'),
					id: outTradeNo,
					payType: 'wx_web'
				}).then((res) => {
					let paymentParams = res
					uni.requestPayment({
						provider: 'wxpay',
						timeStamp: paymentParams.timeStamp,
						nonceStr: paymentParams.nonceStr,
						package: paymentParams.packageValue,
						signType: paymentParams.signType,
						paySign: paymentParams.paySign,
						success(res) {
							console.log('支付成功' + res)
							that.getDetail()
						},
						fail(err) {
							// 支付失败回调
							console.log(err)
						}
					})
				})
			},

			// 再来一单
			goGroupBuyDetails() {
				uni.navigateTo({
					url: `/pagesA/public/groupBuyDetails?id=${this.groupDetail.goodsId}&merchantDetail=${ JSON.stringify(this.groupDetail.merchantInfo)}`
				})
			},

			reLoad() {
				this.getDetail()
			},

			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 获取详情
			getDetail() {
				orderDetail({
					id: this.id
				}).then((res) => {
					this.groupDetail = res
					this.groupDetail.goodsInfo.discount = parseInt(this.groupDetail.goodsInfo.discount)
					this.groupDetail.petWeight = parseInt(this.groupDetail.petWeight)
					this.categoriesList = this.groupDetail.goodsInfo.groupBuyCategoryList
					if (this.groupDetail.goodsInfo?.picture.split(',')) {
						this.groupDetail.picture = this.groupDetail.goodsInfo?.picture.split(',')[0] ||
							''
					}
					this.qrCodeOptions.foregroundImageSrc = this.groupDetail.merchantInfo.logo
				})
			},

			// 跳转
			go(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 复制
			copyOrder() {
				uniCopy({
					content: this.groupDetail.id,
					success: (res) => {
						uni.showToast({
							title: '复制成功',
							icon: "none",
						});
					},
					error: (e) => {
						uni.showToast({
							title: '复制失败',
							icon: "none",
							duration: 3000,
						});
					},
				});
			}
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #F9F9F9;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		padding-bottom: 200rpx;
		box-sizing: border-box;

	}
	
	.borderColor {
		color: #FD611E !important;
		border: 2rpx solid #FD611E !important;
	}

	.status {
		display: flex;
		align-items: center;
		color: #333333;
		font-size: 36rpx;
		font-weight: 500;

		image {
			width: 50rpx;
			height: 50rpx;
			border-radius: 50%;
			margin-right: 20rpx;
		}
	}

	.btm-btn {
		width: 100%;
		position: fixed;
		bottom: 0px;
		background-color: #fff;
		padding: 16rpx 28rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		display: flex;
		align-items: center;
		left: 0px;

		.confirm {
			width: 100%;
			height: 92rpx;
			line-height: 92rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			color: #fff;
			font-size: 28rpx;
			text-align: center;
		}

		.left {
			box-sizing: border-box;
			display: flex;
			align-items: flex-start;

		}

		.right {
			justify-content: flex-end;
			display: flex;
			align-items: flex-end;
			width: 65%;
		}

		.btn {
			margin-left: 28rpx;
			padding: 22rpx 40rpx;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			background: #FFFFFF;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			border: 2rpx solid #EEEEEE;
			color: #333333;
			text-align: center;
			font-size: 32rpx;

		}
	}

	.copy-row {
		display: flex;
		align-items: center;

		.copy {
			color: #1C92FF;
			margin-left: 16rpx;
		}
	}

	::v-deep .uv-form-item__body {}

	::v-deep .baseline {
		align-items: baseline;

		.remarks {
			justify-content: flex-end;
		}

		.uv-form-item__body__left {
			align-items: baseline !important;
		}
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #666666;
		font-size: 28rpx !important;
	}

	::v-deep .item__body__right__content__icon {
		color: #333;
		font-size: 28rpx !important;
	}

	.pets-card {
		.title {
			font-size: 32rpx;
			font-weight: 500;
			margin-bottom: 16rpx;
		}

		.remarks {
			width: 400rpx;
			flex-wrap: wrap;
			display: flex;
			flex-wrap: wrap;
			text-align: right;
		}

		.card-title-wap {
			margin: 28rpx 0px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.card-title {
				color: #333333;
				font-size: 32rpx;
				font-weight: 500;
			}

			.card-right {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 32rpx;
					height: 34rpx;
				}
			}
		}

		.ack-wapper {
			display: flex;
			flex-direction: column;

			.sub-title {
				font-size: 28rpx;
				font-weight: 500;
				color: #333333;
				margin-bottom: 20rpx;
			}

			.image-detail {
				width: 100%;
				height: auto;
			}

			.ask {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				margin-bottom: 28rpx;
				position: relative;
				padding-left: 15rpx;
				box-sizing: border-box;

				&:before {
					display: content;
					content: '';
					width: 8rpx;
					height: 8rpx;
					background: #666666;
					border-radius: 50%;
					position: absolute;
					left: 0px;
					top: 0px;
					bottom: 0px;
					margin: auto;
				}

				.ask-left {
					width: 70%;
					display: flex;
					align-items: center;

					.ask-title {
						flex: 1;
						color: #333333;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.people {
					color: #333333;

					span {
						color: #999999;
					}

				}
			}
		}
	}

	.toBeused {
		display: flex;
		flex-direction: column;
		padding-bottom: 20rpx;
		box-sizing: border-box;
		border-top: 1rpx solid #EEEEEE;

		.tobeused-name {
			margin: 28rpx 0px;
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 32rpx;

			span {
				color: #999999;
			}
		}

		.ewm {
			overflow: hidden;
			border-radius: 10rpx;
			margin-left: 124rpx;
		}
	}

	.merchant-name {
		.sh-img {
			width: 41rpx;
			height: 41rpx;
		}

		.shname {
			color: #333333;
			font-size: 32rpx;
			margin-left: 16rpx;
		}
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-top: 28rpx;
		border-radius: 20rpx;
	}

	.business-hours {
		font-size: 28rpx;
		color: #FD611E;
		height: 96rpx;
		line-height: 96rpx;
		border-bottom: 1rpx solid #EEEEEE;

		span {
			color: #333333;
			margin-left: 16rpx;
		}
	}

	.adr-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 28rpx;
		height: 96rpx;
		line-height: 96rpx;

		&:first-child {
			border-bottom: 1rpx solid #EEEEEE;
		}

		.adr-left {

			display: flex;
			align-items: center;
			flex: 1;

			.adr {
				width: 460rpx;
				white-space: nowrap; //禁止换行
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.adr-point {
				width: 36rpx;
				height: 36rpx;
			}
		}

		.adr-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			color: #999999;
			text-align: right;

			.right-icon {
				width: 28rpx;
				height: 28rpx;
			}
		}
	}

	.pets-item {
		width: 100%;
		display: flex;
		flex-direction: row;
		border-radius: 20rpx;
		background-color: #fff;


		.pet-img {
			width: 180rpx;
			height: 180rpx;
			margin-right: 20rpx;
			border-radius: 16rpx;
		}

		.right {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				font-size: 32rpx;
			}


			.old-price {
				color: #CCCCCC;
				font-size: 24rpx;
				text-decoration: line-through;
				margin-left: 12rpx;
			}

			.Discounts {
				background-color: #FFEFE9;
				color: #FD611E;
				border-radius: 8rpx;
				padding: 4rpx;
				box-sizing: border-box;
				height: 32rpx;
				font-size: 20rpx;
				margin: 0px 12rpx;

			}

			.shop {
				display: flex;
				align-items: center;
				color: #666666;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 22rpx;
				display: flex;
				justify-content: space-between;
				margin-bottom: 16rpx;

				.count {
					color: #333333;
					font-size: 32rpx;
				}

				.shop-one {
					font-size: 24rpx;
					display: flex;
					align-items: center;

					position: relative;

					.price {
						color: #FD611E;
						margin: 0px 12rpx;

					}

					.oldprice {
						text-decoration: line-through;
						color: #CCCCCC;
					}
				}
			}
		}
	}
</style>