
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				萌宠笔记
			</template>
		</commonTop>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<NotesCard :petsList='petsList'></NotesCard>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import NotesCard from '@/components/notesCard.vue'
	import {
	 notePage
	} from "@/config/vmeitime-http/cutePetNotes.js";
	
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			NotesCard
		},
		data() {
			return {
				petsList: [],
			}
		},
		methods: {
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
				};
				if (page.num == 1) this.petsList = []; //如果是第一页需手动置空列表
				notePage(param).then((res) => {
					if (res.records.length > 0) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
				
						this.petsList = this.petsList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
</style>