<!-- 取消订单 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				{{type=='cancel' ? '取消订单': '退款订单'}}
			</template>
		</commonTop>
		<view class="cancel-wrapper">
			<view class="title">{{type=='cancel' ? '取消原因': '退款原因'}}</view>
			<uv-radio-group v-model="model.cancelDictValue" activeColor="#FD611E" placement='column '>
				<uv-radio shape="square" size='20' :customStyle="{margin: '12px 0px'}"
					v-for="(item, index) in resonList" :key="index" :label="item.dictLabel" :name="item.dictValue">
				</uv-radio>
			</uv-radio-group>
		</view>
		<view class="submit" @click="submit">提交</view>
	</view>
</template>

<script>
	import {
		showToast
	} from '../../utils/util'
	import commonTop from '@/components/CommonTop'
	import {
		getDictionary
	} from '@/config/vmeitime-http/common.js'
	import {
		cancelOrder
	} from '@/config/vmeitime-http/groupBuy.js'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				resonList: [],
				model: {
					id: '',
					cancelDictValue: ''
				},
				type: 'cancel'

			}
		},
		onLoad(options) {
			this.model.id = options.id
			this.type = options.type
		},
		created(options) {
			this.getResonList()
		},
		methods: {
			// 获取取消原因列表
			getResonList() {
				getDictionary({
					dictType: 'sys_reason_cancellation'
				}).then((res) => {
					console.log(res)
					this.resonList = res
				})
			},

			// 提交
			submit() {
				cancelOrder(this.model).then((res) => {
					console.log(res)
					showToast('取消成功')
					setTimeout(() => {
						uni.$emit('reload');
						uni.navigateBack({
							delta:1
						})
					}, 500)

				})
			}
		}
	}
</script>

<style lang="scss" scoped>
	::v-depp page {
		background-color: #F9F9F9;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.cancel-wrapper {
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 28rpx;
			box-sizing: border-box;
			border-radius: 20rpx;

			.title {
				color: #333333;
				font-size: 32rpx;
				font-weight: 500;
				margin-bottom: 18rpx;
			}
		}

		.submit {
			width: 100%;
			text-align: center;
			color: #fff;
			margin-top: 80rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}
</style>