<!-- 举报 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				举报
			</template>
		</commonTop>
		<view class="ms-title">
			请描述您的问题
		</view>
		<view class="pets-card">
			<view class="pingjia">
				<uv-textarea v-model="model.content" border='none' height='180' placeholder="请输入（最多500字）" maxlength="500"></uv-textarea>
			</view>
		</view>
		<view class="up-pics">
			<view class="title">上传照片</view>
			<uploadImg v-model="model.picture" :maxCount='6' :multiple='true' @updateImg="(e)=>updateImg(e,'picture')" width='104'
				height="104"></uploadImg>
		</view>

		<view class="submit" @click="submit">提交</view>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import {
		merchantReport
	} from "@/config/vmeitime-http/groupBuy.js";
	import { findPetsReport } from '@/config/vmeitime-http/findPets.js'
	import { findMasterReport } from '@/config/vmeitime-http/findMaster.js'
	import {
		showToast
	} from '@/utils/util.js'

	export default {
		components: {
			commonTop,
			uploadImg
		},
		data() {
			return {
				model: {
					picture: '',
					content: '',
					merchantId: '',
					findPetsId: '',
					findMasterId: ''
				}
			}
		},
		
		onLoad(options) {
			// 商户举报
			if(options.merchantId) {
				this.model.merchantId = options.merchantId
			}
			
			// 寻宠举报
			if(options.findPetsId) {
				this.model.findPetsId = options.findPetsId
			}
			
			// 寻主举报
			if(options.findMasterId) {
				this.model.findMasterId = options.findMasterId
			}
		},
		
		methods: {
			// 提交
			submit() {
				if (!this.model.content) {
					showToast('请描述您的问题')
					return false
				}
				let Fn = this.model.merchantId ? merchantReport : this.model.findPetsId ? findPetsReport : this.model.findMasterId ? findMasterReport:''

				Fn(this.model).then((res) => {
					showToast('举报成功')
					setTimeout(()=> {
						uni.navigateBack({
							delta: 1
						})
					},1000)
				
				})

			},
			// 上传图片回调
			updateImg(img, name) {
				console.log(img)
				 this.model[name] = img
				
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.ms-title {
			color: #333333;
			font-size: 32rpx;
			margin-bottom: 28rpx;
			font-weight: 500;
			padding-left: 18rpx;
			box-sizing: border-box;
			position: relative;

			&::before {
				display: block;
				content: '*';
				position: absolute;
				color: #FF4646;
				left: 0px;
				top: 0rpx;
				margin: auto;
				width: 4rpx;
				height: 4rpx;

			}
		}

		.up-pics {
			.title {
				color: #333333;
				font-size: 32rpx;
				margin-bottom: 28rpx;
				font-weight: 500;

			}
		}

		.submit {
			width: 100%;
			text-align: center;
			color: #fff;
			margin-top: 40rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}

	:v-deep page {
		background-color: #F9F9F9;
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-bottom: 28rpx;
		border-radius: 20rpx;

		.pingjia {
			display: flex;
			flex-direction: column;

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
			}
		}

	}
</style>