<!-- 评价 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				评价
			</template>
		</commonTop>
		<view class="pets-card">
			<view class="pets-item">
				<image :src="goodDetail.picture" mode="" class="pet-img"></image>
				<view class="right">
					<view class="ms">{{goodDetail.name}}</view>
					<view class="shop">
						<view class="shop-one">
							<view class="price">￥{{goodDetail.realAmount}}</view>
							<view class="oldprice">￥{{goodDetail.totalAmount}}</view>
							<view class="Discounts">{{goodDetail.discount}}折</view>
						</view>
						<!-- <view class="count">x1</view> -->
					</view>
				</view>
			</view>
		</view>

		<view class="pets-card">
			<view class="pfen">
				<view class="title beforeDot">
					星级评价
				</view>
				<uv-rate count="5" size='24' v-model="model.level" :allowHalf='true'></uv-rate>
				<view class="count">{{model.level}}</view>
			</view>
			<view class="pingjia">
				<view class="title beforeDot">
					评价
				</view>
				<uv-textarea v-model="model.content" border='none' placeholder="请输入评价（4-50字）" maxlength="50"></uv-textarea>

			</view>
		</view>
		<view class="up-pics">
			<view class="title">上传照片</view>
			<uploadImg v-model="model.picture" :maxCount='6' :multiple='true' @updateImg="(e)=>model.picture=e" :width='104' :height="104">
			</uploadImg>
		</view>

		<view class="submit" @click='submit'>提交</view>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import {
		evaluateProducts,
		groupBuyGoodsInfo
	} from "@/config/vmeitime-http/groupBuy.js";
	import {
		showToast
	} from '@/utils/util.js'


	export default {
		components: {
			commonTop,
			uploadImg
		},
		data() {
			return {
				model: {
					level: 0,
					content: '',
					picture: ''
				},
				goodDetail: {}
			}
		},
		onLoad(options) {
			this.model.goodsId = options.goodsId
			this.getDetail()
		},
		methods: {
			// 提交
			submit() {
				if (!this.model.level) {
					showToast('请评分')
					return false
				}
				if (!this.model.content) {
					showToast('请输入评价内容')
					return false
				}

				evaluateProducts(this.model).then((res) => {
					showToast('评价成功')
					setTimeout(() => {
						uni.navigateBack({
							delta: 1
						})
					}, 1000)

				})
			},

			// 获取详情
			getDetail() {
				groupBuyGoodsInfo({
					id: this.model.goodsId
				}).then((res) => {
					if (res.picture) {
						res.picture = res.picture.split(',')[0]
					}
					res.discount = parseFloat(res.discount)
					this.goodDetail = res
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx;
		box-sizing: border-box;

		.up-pics {
			.title {
				color: #333333;
				font-size: 32rpx;
				margin-bottom: 28rpx;

			}
		}

		.submit {
			width: 100%;
			text-align: center;
			color: #fff;
			margin-top: 40rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}

	:v-deep page {
		background-color: #F9F9F9;
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-bottom: 28rpx;
		border-radius: 20rpx;

		.pingjia {
			display: flex;
			flex-direction: column;

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
			}
		}

		.pfen {
			display: flex;
			align-items: center;

			.count {
				color: #FD611E;
				font-size: 32rpx;
				margin-left: 16rpx;
			}

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;

				&::before {
					display: block;
					content: '*';
					position: absolute;
					color: #FF4646;
					left: 0px;
					top: 20rpx;
					margin: auto;
					width: 4rpx;
					height: 4rpx;

				}
			}

		}

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			border-radius: 20rpx;
			background-color: #fff;

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;
			}

			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}

				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					text-decoration: line-through;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					padding: 4rpx;
					box-sizing: border-box;
					height: 32rpx;
					font-size: 20rpx;
					margin: 0px 12rpx;
				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					justify-content: space-between;
					margin-bottom: 16rpx;

					.count {
						color: #333333;
						font-size: 32rpx;
					}

					.shop-one {
						font-size: 24rpx;
						display: flex;
						align-items: center;
						position: relative;

						.price {
							color: #FD611E;
							margin: 0px 12rpx;
						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}
				}
			}
		}
	}
</style>