<!-- 商户核销订单 -->
<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				订单详情
			</template>
		</commonTop>
		<view class="status">
			{{groupDetail.status==1?'待到店使用':groupDetail.status==9?'已使用': statusMap[groupDetail.status] }}

		</view>
		<view class="pets-card">
			<view class="pets-item">
				<image :src="groupDetail.picture || '../../static/avatar@2x.png'" mode="" class="pet-img">
				</image>
				<view class="right">
					<view class="ms">{{groupDetail.goodsInfo.name}}</view>
					<view class="shop">
						<view class="shop-one">
							<view class="price">￥{{groupDetail.goodsInfo.realAmount}}</view>
							<view class="oldprice">￥{{groupDetail.goodsInfo.totalAmount}}</view>
							<view class="Discounts">{{groupDetail.goodsInfo.discount}}折</view>
						</view>
						<view class="count">x{{groupDetail.quantity || 1}}</view>
					</view>
				</view>
			</view>
		</view>

		<uv-form>
			<view class="pets-card" v-if="groupDetail.hasPets==1">
				<view class="title">宠物信息</view>
				<uv-form-item label="宠物种类" labelWidth='100' >
					<template v-slot:right>{{groupDetail.petSpecies || '-'}}</template>
				</uv-form-item>
				<uv-form-item label="宠物重量" labelWidth='100' >
					<template v-slot:right>{{groupDetail.petWeight }}公斤</template>
				</uv-form-item>
				<view class="baseline">
					<uv-form-item label="备注" labelWidth='100' >
						<template v-slot:right>
							<view class="remarks">{{groupDetail.remarks}}</view>

						</template>
					</uv-form-item>
				</view>
			</view>


			<view class="pets-card" v-if="groupDetail.hasInvoice==1">
				<view class="title">需开发票</view>
				<uv-form-item label="发票类型" labelWidth='100' >
					<template v-slot:right>{{groupDetail.invoiceType || '-'}}</template>
				</uv-form-item>
				<uv-form-item label="发票抬头" labelWidth='100' >
					<template v-slot:right>{{groupDetail.invoiceHeader }}</template>
				</uv-form-item>
				<uv-form-item label="税号" labelWidth='100' >
					<template v-slot:right>{{groupDetail.taxId }}</template>
				</uv-form-item>
				<uv-form-item label="发票内容" labelWidth='100' >
					<template v-slot:right>{{groupDetail.invoiceContent }}</template>
				</uv-form-item>
				<uv-form-item label="注册地址" labelWidth='100' >
					<template v-slot:right>{{groupDetail.invoiceAddress }}</template>
				</uv-form-item>
				<uv-form-item label="开户银行" labelWidth='100' >
					<template v-slot:right>{{groupDetail.openingBank }}</template>
				</uv-form-item>
				<uv-form-item label="银行账号" labelWidth='100' >
					<template v-slot:right>{{groupDetail.bankaccountNumber }}</template>
				</uv-form-item>
				<uv-form-item label="邮箱地址" labelWidth='100' >
					<template v-slot:right>{{groupDetail.email }}</template>
				</uv-form-item>
				<view class="baseline">
					<uv-form-item label="备注" labelWidth='100' >
						<template v-slot:right>
							<view class="remarks">{{groupDetail.remarks}}</view>

						</template>
					</uv-form-item>
				</view>
			</view>


			<view class="pets-card">
				<view class="title">订单详情</view>
				<uv-form-item label="实付" labelWidth='100' >
					<template v-slot:right>¥{{groupDetail.money}}</template>
				</uv-form-item>
				<uv-form-item label="数量" labelWidth='100' >
					<template v-slot:right>{{groupDetail.quantity}}</template>
				</uv-form-item>
				<uv-form-item label="订单号" labelWidth='100' >
					<template v-slot:right>
						<div class="copy-row">{{groupDetail.id}} <span class="copy" @click="copyOrder">复制</span></div>
					</template>
				</uv-form-item>
				<uv-form-item label="付款时间" labelWidth='100' >
					<template v-slot:right>{{groupDetail.payTime || '-'}}</template>
				</uv-form-item>
				<uv-form-item label="下单时间" labelWidth='100' >
					<template v-slot:right>{{groupDetail.createTime}}</template>
				</uv-form-item>
				<uv-form-item label="开发票" labelWidth='100' >
					<template v-slot:right>{{groupDetail.invoiceHeader || '-'}}</template>
				</uv-form-item>

			</view>
		</uv-form>

		<view class="pets-card">
			<view class="card-title-wap">
				<view class="card-title">团购详情</view>

			</view>
			<view class="ack-wapper" v-for="(item,index) in categoriesList" v-bind:key="index">
				<view class="sub-title">{{item.categoryName}}</view>
				<view class="ask" v-for="(item1,index1) in item.groupBuyProjectList" v-bind:key="index1">
					<view class="ask-left">
						<view class="ask-title line1Es">{{item1.title || '-' }}</view>
					</view>
					<view class="people"> <span>({{item1.number}}份)</span> ￥{{item1.money}}</view>
				</view>

			</view>
		</view>

		<view class="btm-btn" v-if="groupDetail.status==1 && fomIn=='scan'">
			<view class="btn" @click.stop='confirmOrder'>确认订单</view>
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uniCopy from "@/utils/uni-copy.js";
	import {
		merchantOrderInfo, writeOffOrders
	} from '@/config/vmeitime-http/groupBuy.js'
	import {
		groupStatusMap, showToast
	} from '../../utils/util.js'
	import storage from '../../utils/storage.js';

	export default {
		components: {
			commonTop
		},
		data() {
			return {
				groupDetail: {},
				statusMap: groupStatusMap,
				id: '',
				categoriesList: [],
				fomIn: 'scan'
			}
		},
		onLoad(options) {
			this.id = options.id
			this.getDetail()
			if(options.fomIn) {
				this.fomIn = options.fomIn
			}
		},

		methods: {

			// 确定订单
			confirmOrder() {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确认订单吗',
					success: function(res) {
						if (res.confirm) {
							console.log('用户点击确定');
							// 用户点击了确定按钮的相关逻辑可以在这里编写
							writeOffOrders({
								id: that.id
							}).then((res) => {
								showToast('核销成功')
								that.getDetail()
							})
						} else if (res.cancel) {
							console.log('用户点击取消');
							// 用户点击了取消按钮的相关逻辑可以在这里编写
						}
					}
				});
			},

			// 获取详情
			getDetail() {
				merchantOrderInfo({
					id: this.id
				}).then((res) => {
					this.groupDetail = res
					this.groupDetail.goodsInfo.discount = parseInt(this.groupDetail.goodsInfo.discount)
					this.groupDetail.petWeight = parseInt(this.groupDetail.petWeight)
					this.categoriesList = this.groupDetail.goodsInfo.groupBuyCategoryList
					if (this.groupDetail.goodsInfo?.picture.split(',')) {
						this.groupDetail.picture = this.groupDetail.goodsInfo?.picture.split(',')[0] ||
							''
					}

				})
			},

			// 复制
			copyOrder() {
				uniCopy({
					content: this.groupDetail.id,
					success: (res) => {
						uni.showToast({
							title: '复制成功',
							icon: "none",
						});
					},
					error: (e) => {
						uni.showToast({
							title: '复制失败',
							icon: "none",
							duration: 3000,
						});
					},
				});
			}
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #F9F9F9;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		padding-bottom: 200rpx;
		box-sizing: border-box;

	}

	.status {
		display: flex;
		align-items: center;
		color: #333333;
		font-size: 36rpx;
		font-weight: 500;

		image {
			width: 50rpx;
			height: 50rpx;
			border-radius: 50%;
			margin-right: 20rpx;
		}
	}

	.btm-btn {
		width: 100%;
		position: fixed;
		bottom: 0px;
		background-color: #fff;
		padding: 16rpx 28rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		display: flex;
		align-items: center;
		left: 0px;


		.btn {
			width: 100%;
			bottom: 200rpx;
			text-align: center;
			color: #fff;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;

		}
	}

	.copy-row {
		display: flex;
		align-items: center;

		.copy {
			color: #1C92FF;
			margin-left: 16rpx;
		}
	}

	::v-deep .uv-form-item__body {}

	::v-deep .baseline {
		align-items: baseline;

		.remarks {
			justify-content: flex-end;
		}

		.uv-form-item__body__left {
			align-items: baseline !important;
		}
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #666666;
		font-size: 28rpx !important;
	}

	::v-deep .item__body__right__content__icon {
		color: #333;
		font-size: 28rpx !important;
	}

	.pets-card {
		.title {
			font-size: 32rpx;
			font-weight: 500;
			margin-bottom: 16rpx;
		}

		.remarks {
			width: 400rpx;
			flex-wrap: wrap;
			display: flex;
			flex-wrap: wrap;
			text-align: right;
		}

		.card-title-wap {
			margin: 28rpx 0px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.card-title {
				color: #333333;
				font-size: 32rpx;
				font-weight: 500;
			}

			.card-right {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 32rpx;
					height: 34rpx;
				}
			}
		}

		.ack-wapper {
			display: flex;
			flex-direction: column;

			.sub-title {
				font-size: 28rpx;
				font-weight: 500;
				color: #333333;
				margin-bottom: 20rpx;
			}

			.image-detail {
				width: 100%;
				height: auto;
			}

			.ask {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				margin-bottom: 28rpx;
				position: relative;
				padding-left: 15rpx;
				box-sizing: border-box;

				&:before {
					display: content;
					content: '';
					width: 8rpx;
					height: 8rpx;
					background: #666666;
					border-radius: 50%;
					position: absolute;
					left: 0px;
					top: 0px;
					bottom: 0px;
					margin: auto;
				}

				.ask-left {
					width: 70%;
					display: flex;
					align-items: center;

					.ask-title {
						flex: 1;
						color: #333333;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.people {
					color: #333333;

					span {
						color: #999999;
					}

				}
			}
		}
	}

	.toBeused {
		display: flex;
		flex-direction: column;
		padding-bottom: 20rpx;
		box-sizing: border-box;
		border-top: 1rpx solid #EEEEEE;

		.tobeused-name {
			margin: 28rpx 0px;
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 32rpx;

			span {
				color: #999999;
			}
		}

		.ewm {
			overflow: hidden;
			border-radius: 10rpx;
			margin-left: 124rpx;
		}
	}

	.merchant-name {
		.sh-img {
			width: 41rpx;
			height: 41rpx;
		}

		.shname {
			color: #333333;
			font-size: 32rpx;
			margin-left: 16rpx;
		}
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-top: 28rpx;
		border-radius: 20rpx;
	}

	.business-hours {
		font-size: 28rpx;
		color: #FD611E;
		height: 96rpx;
		line-height: 96rpx;
		border-bottom: 1rpx solid #EEEEEE;

		span {
			color: #333333;
			margin-left: 16rpx;
		}
	}

	.adr-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 28rpx;
		height: 96rpx;
		line-height: 96rpx;

		&:first-child {
			border-bottom: 1rpx solid #EEEEEE;
		}

		.adr-left {

			display: flex;
			align-items: center;
			flex: 1;

			.adr {
				width: 460rpx;
				white-space: nowrap; //禁止换行
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.adr-point {
				width: 36rpx;
				height: 36rpx;
			}
		}

		.adr-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			color: #999999;
			text-align: right;

			.right-icon {
				width: 28rpx;
				height: 28rpx;
			}
		}
	}

	.pets-item {
		width: 100%;
		display: flex;
		flex-direction: row;
		border-radius: 20rpx;
		background-color: #fff;


		.pet-img {
			width: 180rpx;
			height: 180rpx;
			margin-right: 20rpx;
			border-radius: 16rpx;
		}

		.right {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				font-size: 32rpx;
			}


			.old-price {
				color: #CCCCCC;
				font-size: 24rpx;
				text-decoration: line-through;
				margin-left: 12rpx;
			}

			.Discounts {
				background-color: #FFEFE9;
				color: #FD611E;
				border-radius: 8rpx;
				padding: 4rpx;
				box-sizing: border-box;
				height: 32rpx;
				font-size: 20rpx;
				margin: 0px 12rpx;

			}

			.shop {
				display: flex;
				align-items: center;
				color: #666666;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 22rpx;
				display: flex;
				justify-content: space-between;
				margin-bottom: 16rpx;

				.count {
					color: #333333;
					font-size: 32rpx;
				}

				.shop-one {
					font-size: 24rpx;
					display: flex;
					align-items: center;

					position: relative;

					.price {
						color: #FD611E;
						margin: 0px 12rpx;

					}

					.oldprice {
						text-decoration: line-through;
						color: #CCCCCC;
					}
				}
			}
		}
	}
</style>