<!-- 举报 -->
<template>
	<view class="containner">
		<view class="up-pics">
			<uploadImg v-model="model.picture" :multiple='true' :maxCount='6' @updateImg="(e)=>updateImg(e,'picture')"
				:width='104' :height="104"></uploadImg>
		</view>

		<view class="pets-card">
			<view class="pingjia">
				<input type="text" class="title" v-model="model.title" placeholder="填写标题">
				<!-- <uv-textarea v-model="model.content" border='none' height='180' placeholder="请输入正文" maxlength='1000' count textStyle='color:#333333;font-size:32rpx'></uv-textarea> -->
				<Rboy-editor ref="RboyEditor"></Rboy-editor>
			</view>
			<!-- <uv-form>
				<uv-form-item label="是否展示商户" labelWidth='140' prop="hasManage">
					<template v-slot:right><uv-switch size="24" v-model="model.hasMerchant" activeColor="#FD611E"
							:activeValue='1' :inactiveValue='0'></uv-switch></template>
				</uv-form-item>
			</uv-form> -->
		</view>

		<view class="submit" @click="submit">发布笔记</view>

	</view>
</template>

<script>
	import uploadImg from '@/components/uploadImg.vue'
	import {
		noteAdd
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		showToast,
		currentLocation,
		previewImage
	} from '@/utils/util.js'
	import storage from '../../utils/storage';
	import RboyEditor from "@/components/Rboy-editor/Rboy-editor.vue"

	export default {
		components: {
			uploadImg,
			RboyEditor
		},
		data() {
			return {
				previewImage: previewImage,
				reload: true,
				model: {
					title: '',
					content: '',
					picture: '',
					hasMerchant: 0,
					userList: [],
					topicList: [],
					lon: '',
					lat: ''
				}
			}
		},

		methods: {
			// 提交
			async submit() {
				
				// previewImage(0,['https://wxls-cms.oss-cn-hangzhou.aliyuncs.com/online/2024-04-18/218da022-f4bf-456a-99af-5cb8e157f7b8.jpg','https://sd.zecec.cn:9000/haodi/2024/08/15/626eae5b6e8a4a7182b6f8d4fa5907ae.jpg'])
				// return
				
				let that = this
				uni.showLoading({
					title:'加载中'
				})
				if (!that.model.picture) {
					showToast('请上传图片')
					return false
				}
				if (!that.model.title) {
					showToast('请输入标题')
					return false
				}
				let detail = await that.$refs.RboyEditor.editor_getcontents()
				that.model.content = detail
				if (!that.model.content) {
					showToast('请输入笔记内容')
					return false
				}
				let lonLat = storage.get('lonLat')
				that.model.lat = lonLat.lat || ''
				that.model.lon = lonLat.lon || ''
				let adr = await currentLocation()
				let addressData = {
					province: adr.addressComponent.province,
					city: adr.addressComponent.city,
					county: adr.addressComponent.county,
					lon: adr.location.lon,
					lat: adr.location.lat
				}
				noteAdd({
					...that.model,
					...addressData
				}).then((res) => {
					showToast('发布成功')
					setTimeout(() => {
						uni.switchTab({
							url: '/pages/cutePetNotes/index'
						})
						that.model = {
							title: '',
							content: '',
							picture: '',
							hasMerchant: 0,
							userList: [],
							topicList: [],
							lon: '',
							lat: ''
						}
						that.$refs.RboyEditor.editor_setContents('')
						uni.$emit('reloadcutePetNotesList')
						that.$forceUpdate()
						uni.hideLoading()

					}, 1000)

				})

			},
			// 上传图片回调
			updateImg(img, name) {
				this.model[name] = img
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 28rpx 28rpx 100rpx;
		box-sizing: border-box;
		background-color: #fff;

		.submit {
			width: 92%;
			margin-left: 4%;
			margin-top: 60rpx;
			left: 4%;
			bottom: 200rpx;
			text-align: center;
			color: #fff;
			margin-top: 40rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}

	::v-deep .uv-textarea {
		padding: 0px !important;
		box-sizing: border-box;
	}

	.pets-card {
		background-color: #fff;
		margin-bottom: 28rpx;
		border-radius: 20rpx;
		margin-top: 40rpx;

		.pingjia {
			display: flex;
			flex-direction: column;
			border-bottom: 1rpx solid #EEEEEE;

			.title {
				color: #333333;
				font-size: 36rpx;
				position: relative;
				margin-bottom: 40rpx;
				font-weight: bold;
			}
		}

	}
</style>