<template>
	<uv-popup ref="popup" :round='40' mode="bottom">
		<view class="pop-wrapper">
			<view class="pop-title">
				经营类目
				<view class="close-left" @click.stop="close">
					<image src="../pagesA/static/img/icon_closure@2x.png" mode="widthFix"></image>
				</view>
				<view class="submit" @click.stop="submit">确认</view>
			</view>

			<view class="checked-wrapper">
				<view class="checked-wrapper">
					<view class="checked-title">友好场所</view>
					<uv-checkbox-group v-model="placeListChecked" placement="row" @change='placeListChage' style="margin-bottom: 40rpx;">
						<uv-checkbox :name="item.id" :label="item.name"
							:customStyle="{marginBottom: '28rpx',marginRight: '32rpx'}" activeColor="#FD611E"
							v-for="(item,index) in placeList" v-bind:key='index'></uv-checkbox>

					</uv-checkbox-group>
				</view>
				<uv-checkbox-group placement="column" @change='categoryChage' v-model="categorChecked">
					<uv-checkbox :name="item.id" :label="item.name"
						:customStyle="{marginBottom: '28rpx',marginRight: '32rpx'}" activeColor="#FD611E"
						v-for="(item,index) in categoryList" v-bind:key='index'></uv-checkbox>

				</uv-checkbox-group>

			</view>


		</view>
		</view>
	</uv-popup>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import storage from "@/utils/storage.js";
	import {
		showToast
	} from '@/utils/util.js'
	import {
		noteEvaluate
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		businessCategory
	} from "@/config/vmeitime-http/common.js";

	export default {
		components: {
			commonTop
		},

		data() {
			return {
				categoryList: [], // 经营类目
				placeList: [], // 友好场所二级列表
				placeListChecked: [],
				categorChecked: []
			}
		},

		methods: {
			
			placeListChage(e) {
				this.placeListChecked = e
			},

			categoryChage(e) {
				this.categorChecked = e
			},

			// 提交
			submit() {
				let that = this
				let list = [...this.placeListChecked,...this.categorChecked]
				const uniqueArray = [...new Set(list)];
				that.$emit('fbok', uniqueArray)
				that.close()
			},

			open(businessCategory) {
				this.getBusinessCategory()
				this.getBusinessCategory(1)
				this.placeListChecked = businessCategory
				this.categorChecked = businessCategory
				this.$refs.popup.open();

			},
			close() {
				this.$refs.popup.close();
			},
			
			// 获取经营类目
			getBusinessCategory(id = null) {
				let that = this
				return new Promise(function(resolve, reject) {
					businessCategory({
						id: id
					}).then((res) => {
						if (!id) {
							
							that.categoryList = res && res.filter((item)=> item.id!=1) || []
						} else {
							that.placeList = res
						}
						resolve(true)
					})
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	.checked-wrapper {
		.checked-wrapper {
			display: flex;
			align-items: baseline;
			.checked-title {
				color: rgb(48, 49, 51);
				margin-bottom: 20rpx;
				margin-right: 20rpx;
				font-size: 28rpx;
			}
		}
	}

	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 90rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	.pop-wrapper {
		background-color: #fff;
		max-height: 1200rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 150rpx 28rpx 100rpx;
		position: relative;


		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			z-index: 99;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close-left {
				position: absolute;
				left: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;

			}
		}
	}


	.submit {
		right: 4%;
		text-align: center;
		color: #fff;
		margin-top: 100rpx;
		height: 80rpx;
		line-height: 80rpx;
		position: absolute;
		bottom: 20rpx;
		color: #000;

	}

	:v-deep page {
		background-color: #F9F9F9;
	}
</style>