<template>
	<uv-popup ref="popup" :round='40' mode="bottom">
		<view class="pop-wrapper">
			<view class="pop-title">
				经营类目
				<view class="close-left" @click.stop="close">
					<image src="../pagesA/static/img/icon_closure@2x.png" mode="widthFix"></image>
				</view>
				<view class="submit" @click.stop="submit">确认</view>
			</view>

			<view class="checked-wrapper">
				<uv-checkbox-group placement="row" @change='categoryChage' v-model="categorChecked">
					<uv-checkbox :name="item.value" :label="item.name"
						:customStyle="{marginBottom: '28rpx',marginRight: '32rpx'}" activeColor="#FD611E"
						v-for="(item,index) in categoryList" v-bind:key='index'></uv-checkbox>
				</uv-checkbox-group>
			</view>
		</view>
	</uv-popup>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import storage from "@/utils/storage.js";
	import {
		merchantCategory
	} from "@/config/vmeitime-http/groupBuy.js";
	import {
		showToast
	} from '@/utils/util.js'
	import {
		noteEvaluate
	} from "@/config/vmeitime-http/cutePetNotes.js";
	import {
		businessCategory
	} from "@/config/vmeitime-http/common.js";

	export default {
		components: {
			commonTop
		},

		data() {
			return {
				categoryList: [], // 经营类目
				categorChecked: []
			}
		},

		methods: {

			placeListChage(e) {
				this.placeListChecked = e
			},

			categoryChage(e) {
				console.log(e)
				this.categorChecked = e
			},

			// 提交
			submit() {
				let that = this
				that.$emit('fbok', this.categorChecked)
				that.close()
			},

			open(categorChecked) {
				this.categorChecked = categorChecked
				this.geMerchantCategory()
				this.$refs.popup.open();

			},
			close() {
				this.$refs.popup.close();
			},

			// 获取商户经营类目
			geMerchantCategory() {
				merchantCategory().then((res) => {
					let categoryData = res && res.filter((item) => item.id != 1) || []
					this.categoryList = categoryData.map((item) => {
						return {
							name: item.name,
							value: item.id
						}
					})
				})
			},

		}
	}
</script>

<style scoped lang="scss">
	
	.checked-wrapper {
		padding-left: 0rpx;
		box-sizing: border-box;
	}
	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 90rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	.pop-wrapper {
		background-color: #fff;
		max-height: 1200rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 150rpx 28rpx 100rpx;
		position: relative;


		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			z-index: 99;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close-left {
				position: absolute;
				left: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;

			}
		}
	}


	.submit {
		right: 4%;
		text-align: center;
		color: #fff;
		margin-top: 100rpx;
		height: 80rpx;
		line-height: 80rpx;
		position: absolute;
		bottom: 20rpx;
		color: #000;

	}

	:v-deep page {
		background-color: #F9F9F9;
	}
</style>