<template>
	<uv-modal ref="modal" :title="title" :showCancelButton='true' @confirm="confirm">
		<view class="slot-content">
			<uv-input v-if="iptType" placeholder="请输入" clearable border="surround" v-model="name" style="width: 100%;" @change="change"></uv-input>
			<uv-textarea v-else v-model="name" placeholder="请输入内容" @change="change"></uv-textarea>
			<view class="tip" v-if="showTip">一个月可修改1次</view>
		</view>
	</uv-modal>
</template>

<script>
	export default {
		props: {

		},
		data() {
			return {
				title: '温馨提示',
				name: '',
				showTip: false,
				iptType: 1
			}
		},
		methods: {
			openModal(title, showTip, iptType) {
				this.title = title
				this.showTip = showTip
				this.iptType =  iptType
				this.$refs.modal.open()
			},
			confirm() {
				console.log(this.name)
				console.log('点击确认按钮');
				this.$emit('modelConfig', {
					name:this.name,
					title:this.title
				})
			},
			// 输入事件
			change(e) {
				this.name = e
				 console.log('change', e);
			}
		}
	}
</script>

<style scoped lang="scss">
	::v-deep .uv-modal__title {
		padding: 32rpx 0px;
		box-sizing: border-box;
	}

	::v-deep .uv-input {
		width: 500rpx !important;
	}
	.tip {
		color: #999999;
		font-size: 24rpx;
		margin-top: 8rpx;
	}
</style>