<template>
	<view class="upimg-warper">
		<uni-file-picker :limit="maxCount" fileMediatype="image" mode="grid" :auto-upload="false"
			@select="selectGoodsImg" :imageStyles="{width: width,height: height}">
		</uni-file-picker>
	</view>
</template>
<script>
	import http from '../config/vmeitime-http/interface'
	import store from '../store/index.js'
	export default {
		props: {
			value: {
				type: String
			},
			maxCount: {
				type: Number,
				default: '1'
			},

			width: {
				type: String || Number,
				default: '100'

			},
			height: {
				type: String || Number,
				default: '100'
			},

		},
		data() {
			return {
				imgPath: []
			}
		},
		watch: {

		},

		methods: {
			selectGoodsImg(e) {
				// 根据所选图片的个数，多次调用上传函数
				for (let i = 0; i < e.tempFilePaths.length; i++) {
					this.uploadGoodsImg(e.tempFilePaths, i)
				}
			},
			uploadGoodsImg(tempFilePaths, i) {
				let that = this
				uni.compressImage({
					src: tempFilePaths[i], // 图片路径
					quality: 40, // 压缩质量，范围为0 - 100，100为不压缩
					success: function(res) {
						// 获取压缩后的图片路径
						var compressedFilePath = res.tempFilePath;
						let token = store.state.loginInfo.loginToken.access_token || store.getters.loginToken
						uni.uploadFile({
							url: http.config.baseUrl + '/haodi/bdOrder/insertGoodsImg',
							filePath: compressedFilePath,
							name: 'files',
							header: {
								'content-type': 'multipart/form-data',
								"Authorization": `Bearer ${token}`,
								"Clientid": 'df1e3a0ca7b1f9b809eebcb01a9c6003'
							},
							success: res => {
								let data = JSON.parse(res.data)
								if (data.code == 200) {
									that.imgPath.push(data.data[0])
									that.$emit('updateImg', that.imgPath)
								}
								console.log(res)
							},
							fail: () => {
								uni.showToast({
									title: '上传失败',
									icon: 'error'
								})
							}
						})
					},
					fail: function(err) {
						console.log(err); // 压缩失败的处理
					},
				})
			},

		}
	}
</script>

<style scoped lang="scss">
	.upimg-warper {
		margin: 20rpx 0px;

	}
</style>