<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsListData" v-bind:key="index" @click="goDetail(item.id)">
			<image :src="item.picture.split(',')[0]" mode="aspectFill" class="pet-img"></image>
			<view class="mear-count" v-if="item.distant">
				<image src="@/static/icon_position16_2@2x.png" mode="" class="point-img"></image>
				900米
			</view>

			<view class="ms">{{item.title}}</view>
			<view class="shop">
				<view class="shop-left">
					<image v-if="item.userInfo.avatar==null" src="@/static/avatar@2x.png" mode="" class="company-img">
					</image>
					<image v-else :src="item.userInfo.avatar" mode="" class="company-img"></image>
					<view class="name">
						{{item.userInfo.nickName}}
					</view>
				</view>
				<view class="shop-right" @click.stop="like(item,index)">
					<image v-if="item.hasLike" src="@/static/icon_like2.png" mode="widthFix" class="like-img"></image>
					<image v-else src="@/static/like.png" mode="widthFix" class="like-img"></image>
					<!-- <image class="like-img"
						:src="item.hasLike ? '@/static/icon_like2.png':'@/static/like.png'"
						mode="widthFix"> -->
					{{item.likeTotal > 999 ? '999+' : item.likeTotal }}
				</view>
			</view>
		</view>

	</view>
</template>

<script>
	import {
		noteLike,
		noteLikeCancel
	} from '@/config/vmeitime-http/cutePetNotes.js'
	export default {
		props: ["petsList", 'tabindex'],
		data() {
			return {
				petsListData: this.petsList
			}
		},
		watch: {
			petsList: {
				handler(newVal, oldVal) { //对象式监听，立即监听，深度监听
					this.petsListData = newVal

				},
				immediate: true, //立即监听
				deep: true, //深度监听
			}
		},
		methods: {
			goDetail(id) {
				uni.navigateTo({
					url: `/pagesA/public/noteDetails?id=${id}&tabindex=${this.tabindex}`
				})
			},
			// 是否点赞
			like(item, index) {
				if (item.hasLike) {
					noteLikeCancel({
						id: item.id
					}).then((res) => {
						item.hasLike = false
						this.$set(this.petsListData[index], 'hasLike', false)
						this.$set(this.petsListData[index], 'likeTotal', --this.petsListData[index].likeTotal)
					
					})
				} else {
					noteLike({
						id: item.id
					}).then((res) => {
						item.hasLike = true
						this.$set(this.petsListData[index], 'hasLike', true)
						this.$set(this.petsListData[index], 'likeTotal', ++this.petsListData[index].likeTotal)
				
					})
				}
			},
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: -10rpx 0px 16rpx !important;
		padding: 0rpx 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 49%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 8rpx;
			box-sizing: border-box;
			position: relative;
			margin-top: 16rpx;
			border-radius: 16rpx;


			.mear-count {
				padding: 4rpx 16rpx;
				box-sizing: border-box;
				color: #fff;
				box-sizing: border-box;
				height: 40rpx;
				font-size: 32rpx;
				border-radius: 12rpx;
				background-color: rgba(0, 0, 0, 0.4);
				display: flex;
				align-items: center;
				position: absolute;
				left: 26rpx;
				top: 270rpx;
				font-size: 22rpx;
				justify-content: center;

				.point-img {
					width: 32rpx;
					height: 32rpx;
				}
			}


			.pet-img {
				width: 100%;
				height: 322rpx;
				margin-bottom: 16rpx;
				border-radius: 16rpx;
			}

			.ms {
				width: 100%;
				color: #333333;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				font-size: 30rpx;
				margin-bottom: 16rpx;
			}

			.old-price {
				color: #CCCCCC;
				font-size: 24rpx;
				text-decoration: line-through;
				margin-left: 12rpx;
			}

			.shop {
				display: flex;
				align-items: center;
				color: #666666;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 22rpx;
				justify-content: space-between;
				padding-right: 12rpx;
				box-sizing: border-box;

				.shop-left {
					display: flex;
					align-items: center;

					.company-img {
						width: 40rpx;
						height: 40rpx;
						border-radius: 50%;
						margin-right: 12rpx;
					}

					.name {

						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						margin-right: 5rpx;
					}
				}

				.shop-right {
					display: flex;
					align-items: center;

					.like-img {
						width: 36rpx;
						height: 32rpx;
						margin-right: 4rpx;

					}
				}




			}
		}
	}
</style>