<template>
	<view class="pets-card">
		<view class="pets-item" v-for="(item, index) in petsList" :key="index" @click.stop="goGroupBuy(item)">
			<image :src="item.picture.split(',')[0]" mode="aspectFill" class="pet-img"></image>
			<view class="ms">{{item.name ||''}}</view>
			<view class="price-row" v-if="item.realAmount > 0">
				<view class="price"><span>￥</span>{{item.realAmount}}</view>
				<view class="old-price">{{item.totalAmount}}</view>
			</view>
			<view class="price-row" v-else>
				<view class="price">免费</view>
			</view>
			<view class="shop" v-if="item.merchantInfo" >
				<image  :src="item.merchantInfo.logo" mode="widthFix" class="company-img"></image>
				<view class="name" v-if="item.merchantInfo">
					{{item.merchantInfo.name || ''}}
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: ["petsList"],
		data() {
			return {

			}
		},
		onLoad() {

		},
		methods: {
			goGroupBuy(item) {
				uni.navigateTo({
					url: '/pagesA/public/groupBuyDetails?id=' + item.id + '&merchantDetail='+ JSON.stringify(item.merchantInfo)
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: -16rpx 0px 16rpx !important;

		.pets-item {
			width: 49%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			padding: 8rpx;
			box-sizing: border-box;
			margin-top: 16rpx ;
			border-radius: 16rpx;

			.pet-img {
				border-radius: 16rpx;
				width: 100%;
				height: 322rpx;
				margin-bottom: 16rpx;

			}

			.ms {
				width: 100%;
				color: #333333;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				font-size: 30rpx;
			}

			.price-row {
				display: flex;
				align-items: baseline;
				margin: 12rpx 0px;

				.price {
					color: #FD611E;
					font-size: 36rpx;

					span {
						font-size: 24rpx;
					}
				}
			}

			.old-price {
				color: #CCCCCC;
				font-size: 24rpx;
				text-decoration: line-through;
				margin-left: 12rpx;
			}

			.shop {
				display: flex;
				align-items: center;
				color: #666666;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 22rpx;

				.company-img {
					width: 40rpx;
					height: 40rpx;
					border-radius: 50%;
					margin-right: 12rpx;
				}

				.name {
					width: 80%;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
</style>