<template>
	<view class="tooltip-wrapper">
		<view class="item" v-for="(item,index) in listData" v-bind:key="index" @click="$emit('tooltipClick', item)">{{item}}</view>
	</view>
</template>

<script>
	export default {
		props: {
          listData: {
			  type: Array,
			  default: ['举报']
		  }
		},
		methods: {
			
		}
	}
</script>

<style scoped lang="scss">
	.tooltip-wrapper {
		width: 216rpx;
		background: rgba(0, 0, 0, 0.9);
		border-radius: 16rpx 16rpx 16rpx 16rpx;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		font-size: 28rpx;
		padding: 0px 20rpx;
		box-sizing: border-box;
		position: absolute;
		top: 108rpx;
		right: 6rpx;

		&:before {
			content: '';
			position: absolute;
			right: 22rpx;
			width: 0;
			height: 0;
			top: -46rpx;
			border-top: 24rpx solid transparent;
			border-right: 24rpx solid transparent;
			border-left: 24rpx solid transparent;
			border-bottom: 24rpx solid #000;

		}

		.item {
			text-align: center;
			height: 88rpx;
			line-height: 88rpx;

			&:not(:last-child) {
				border-bottom: 2rpx solid rgba(255, 255, 255, 0.1);

			}
		}
	}
</style>