<template>
	<uv-upload :fileList="fileList1" name="1" :multiple='multiple' :width="width" :height='height' :maxCount="maxCount"
		@afterRead="afterRead" @delete="deletePic" :sizeType='sizeType' :disabled='readonly'>
	</uv-upload>
</template>
<script>
	import store from '../store/index.js'
	export default {
		props: {
			value: {
				type: String || Array
			},
			maxCount: {
				type: Number,
				default: 9
			},

			readonly: {
				type: Boolean,
				default: false
			},
			multiple: {
				type: Boolean,
				default: false
			},
			width: {
				type: Number

			},
			height: {
				type: Number
			},
			// 1是身份证正面 2是身份证反面String
			imgUrlType: {
				type: Number || String,
				default: null
			}
		},
		data() {
			return {
				fileList1: [],
				sizeType: ['compressed']
			}
		},
		watch: {
			value: { //这里是要监听的变量名
				handler(newValue, oldValue) {
					if (newValue) {
						// 单价图片
						if (this.maxCount === 1 && this.fileList1.length == 0) {
							this.fileList1.push({
								url: newValue
							})
						} else {
							let fileList1 = []
							let list = newValue.split(',')
							if (list.length > 0) {
								list.map((item) => {
									fileList1.push({
										url: item
									})
								})
							}
							this.fileList1 = fileList1
						}
					} else {
						this.fileList1 = []
					}

				},
				immediate: true
			}
		},

		methods: {
			// 删除图片
			deletePic(event) {
				let that = this
				that[`fileList${event.name}`].splice(event.index, 1)
				var resultLsit = this.fileList1.map((item) => {
					console.log(item)
					return item.url;
				});
				that.$emit('updateImg', that.maxCount == 1 ? that.fileList1[0].url : resultLsit.join(","))
				that.$emit('update:value', that.maxCount == 1 ? that.fileList1[0].url : resultLsit.join(","))
			},
			// 新增图片
			async afterRead(event) {
				console.log(event)
				let that = this
				// 当设置 multiple 为 true 时, file 为数组格式，否则为对象格式
				let lists = [].concat(event.file)
				let fileListLen = this[`fileList${event.name}`].length
				console.log(fileListLen + '数量')

				lists.map((item) => {
					this[`fileList${event.name}`].push({
						...item,
						status: 'uploading',
						message: '上传中'
					})
				})
				for (let i = 0; i < lists.length; i++) {
					const result = await this.uploadFilePromise(lists[i].url)
					let item = this[`fileList${event.name}`][fileListLen]
					this[`fileList${event.name}`].splice(fileListLen, 1, Object.assign(item, {
						status: 'success',
						message: '',
						url: result
					}))
					fileListLen++
				}

				var resultLsit = this.fileList1.map((item) => {
					console.log(item)
					return item.url;
				});


				that.$emit('updateImg', that.maxCount == 1 ? that.fileList1[0].url : resultLsit.join(","))
				that.$emit('update:value', that.maxCount == 1 ? that.fileList1[0].url : resultLsit.join(","))

			},
			uploadFilePromise(url) {
				let that = this
				let token = store.state.loginInfo.loginToken.access_token || store.getters.loginToken
				return new Promise((resolve, reject) => {
					// 压缩图片
					uni.compressImage({
						src: url, // 图片路径
						quality: 80, // 压缩质量，范围为0 - 100，100为不压缩
						success: function(res) {
							// 获取压缩后的图片路径
							var compressedFilePath = res.tempFilePath;
							let a = uni.uploadFile({
								url: that.$upImgURL, // 仅为示例，非真实的接口地址
								filePath: compressedFilePath,
								name: 'file',
								header: {
									"Authorization": `Bearer ${token}`,
									"Clientid": 'df1e3a0ca7b1f9b809eebcb01a9c6003'
								},
								success: (res) => {
									let resData = JSON.parse(res.data)
									if (resData.code === 200) {
										setTimeout(() => {
											console.log(resData.data.url)
											resolve(resData.data.url)
										}, 500)
									} else if (resData.code === 401) {
										uni.showToast({
											title: '请登录',
											duration: 2000,
											icon: 'none'
										});
										setTimeout(() => {
											uni.reLaunch({
												url: "/pagesA/login/login",
											});
										}, 1500)
									}
								}
							});
						},
						fail: function(err) {
							console.log(err); // 压缩失败的处理
						}
					});
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.bg-img {
		// width: 100%;

	}
</style>