

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-redo:before {
  content: "\e627";
}

.icon-undo:before {
  content: "\e633";
}

.icon-indent:before {
  content: "\eb28";
}

.icon-outdent:before {
  content: "\e6e8";
}

.icon-fontsize:before {
  content: "\e6fd";
}

.icon-format-header-1:before {
  content: "\e860";
}

.icon-format-header-4:before {
  content: "\e863";
}

.icon-format-header-5:before {
  content: "\e864";
}

.icon-format-header-6:before {
  content: "\e865";
}

.icon-clearup:before {
  content: "\e64d";
}

.icon-preview:before {
  content: "\e631";
}

.icon-date:before {
  content: "\e63e";
}

.icon-fontbgcolor:before {
  content: "\e678";
}

.icon-clearedformat:before {
  content: "\e67e";
}

.icon-font:before {
  content: "\e684";
}

.icon-723bianjiqi_duanhouju:before {
  content: "\e65f";
}

.icon-722bianjiqi_duanqianju:before {
  content: "\e660";
}

.icon-text_color:before {
  content: "\e72c";
}

.icon-format-header-2:before {
  content: "\e75c";
}

.icon-format-header-3:before {
  content: "\e75d";
}

.icon--checklist:before {
  content: "\e664";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-line-height:before {
  content: "\e7f8";
}

.icon-quanping:before {
  content: "\ec13";
}

.icon-direction-rtl:before {
  content: "\e66e";
}

.icon-direction-ltr:before {
  content: "\e66d";
}

.icon-selectall:before {
  content: "\e62b";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-bianjisekuai:before {
  content: "\ec7c";
}

.icon-fengexian:before {
  content: "\ec7f";
}

.icon-dianzan:before {
  content: "\ec80";
}

.icon-charulianjie:before {
  content: "\ec81";
}

.icon-charutupian:before {
  content: "\ec82";
}

.icon-wuxupailie:before {
  content: "\ec83";
}

.icon-juzhongduiqi:before {
  content: "\ec84";
}

.icon-yinyong:before {
  content: "\ec85";
}

.icon-youxupailie:before {
  content: "\ec86";
}

.icon-youduiqi:before {
  content: "\ec87";
}

.icon-zitidaima:before {
  content: "\ec88";
}

.icon-xiaolian:before {
  content: "\ec89";
}

.icon-zitijiacu:before {
  content: "\ec8a";
}

.icon-zitishanchuxian:before {
  content: "\ec8b";
}

.icon-zitishangbiao:before {
  content: "\ec8c";
}

.icon-zitibiaoti:before {
  content: "\ec8d";
}

.icon-zitixiahuaxian:before {
  content: "\ec8e";
}

.icon-zitixieti:before {
  content: "\ec8f";
}

.icon-zitiyanse:before {
  content: "\ec90";
}

.icon-zuoduiqi:before {
  content: "\ec91";
}

.icon-zitiyulan:before {
  content: "\ec92";
}

.icon-zitixiabiao:before {
  content: "\ec93";
}

.icon-zuoyouduiqi:before {
  content: "\ec94";
}

.icon-duigoux:before {
  content: "\ec9e";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-shengyin_shiti:before {
  content: "\eca5";
}

.icon-Character-Spacing:before {
  content: "\e964";
}
