<template>
	<div>
		<view class="fu_box">
			<editor id="editor" :show-img-toolbar="false"  class=""
				placeholder="请输入笔记内容"></editor>
		</view>
	</div>
</template>

<script>
	export default {
		name: "Rboy-editor",
		props: {
			count: {
				type: Number,
				default: 6
			}
		},
		data() {
			return {
				editorCtx: '',
			}
		},
		created() {

		},
		mounted() {
			// #ifdef APP-PLUS || H5 ||MP-WEIXIN
			uni.createSelectorQuery().in(this).select('#editor').context((res2) => {
				this.editorCtx = res2.context
			}).exec()
			// #endif
		},
		methods: {
			// 获取内容
			editor_getcontents() {
				return new Promise((resove, reject) => {
					this.editorCtx.getContents({
						success: (res) => {
							resove(res.html)
						}
					})
				})
			},
			// 设置内容
			editor_setContents(text = "") {
				this.editorCtx.setContents({
					html: text //this.EditGoodsDetail.content为赋值内容。    
				})
			},
			// 设置属性
			editor_format_btn(name, value) {
				this.editorCtx.format(name, value)
			}
		}
	}
</script>

<style scoped lang="less">
	@import './editor-icon.css';

	.fu_box {
		min-height: 70rpx !important;
		width: 100%;
		box-sizing: border-box;
		text-align: left;
		color: #333;

		editor {
			font-family: auto;
			width: 100%;
			color:#333333;
			font-size:32rpx;
			font-weight: bold;
		}
	}
	::v-deep .ql-editor.ql-blank:before {
	
		font-size:32rpx;
		font-style: inherit !important;
	}


	.icons_box {
		.iconfont {
			margin: 5rpx 10rpx;
		}
	}
</style>
