<template>
	<view class="container">
		<view class="topBg">
			<view class="back" @click="goBack">
				<uv-icon name="close" size="22"></uv-icon>
			</view>
			<image class="logo" src="../static/img/logo@2x.png" mode="widthFix"></image>
			<image class="title" src="../static/img/title@2x.png" mode="widthFix"></image>
			<view class="yizhanshi">宠物一站式服务社区</view>
		</view>

		<view class="formBox">
			<view class="btn wxlogin">
				<image class="wx-icon" src="../static/img/wx.png"></image> 微信登录
			</view>
			<view class="btn" @click="gopage('/pagesA/login/login')">手机号登录</view>
			<view class="btn no-login">暂不登录</view>
		</view>


	</view>
</template>
<script>
	export default {

		data() {
			return {

			};
		},
		onLoad(options) {

		},
		mounted() {

		},
		methods: {
			gopage(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 返回
			goBack() {
				uni.navigateBack()
			},

		},
	};
</script>
<style lang="scss" scoped>
	.container {
		background-color: #fff;
		height: 100vh;
		// background-image: url('../../static/Login_background@2x.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}


	.topBg {
		padding-top: calc(var(--status-bar-height) + 170rpx);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding-bottom: 132rpx;
		box-sizing: border-box;

		.back {
			position: absolute;
			left: 28rpx;
			top: calc(var(--status-bar-height) + 20rpx);
		}

		.logo {
			width: 160rpx;
			height: 160rpx;
		}

		.title {
			width: 348rpx;
			height: 54rpx;
			margin: 32rpx 0px 18rpx;
		}

		.yizhanshi {
			font-weight: 500;
			letter-spacing: 2rpx;
			color: #E69153;
			font-size: 28rpx;
		}
	}

	.formBox {
		padding: 40rpx;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn {
			text-align: center;
			line-height: 96rpx;
			width: 584rpx;
			height: 96rpx;
			background: #FD611E;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			font-weight: 500;
			font-size: 28rpx;
			color: #FFFFFF;
			margin-bottom: 28rpx;
		}

		.wxlogin {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #31D15B !important;

			.wx-icon {
				width: 48rpx;
				height: 48rpx;
				margin-right: 8rpx;
			}
		}

		.no-login {
			color: #666;
			background-color: #fff;
		}
	}
</style>