<template>
    <view>
  <!-- 省市区选择 province city area初始省市区设置 show:是否显示  @sureSelectArea：确认事件 @hideShow：隐藏事件-->
  <cSelectDity :province="province" :city="city" :show="show" @changeClick="changeClick"
      @sureSelectArea="onsetCity" @hideShow="onhideShow"></cSelectDity>
    </view>
</template>

<script>
	import cSelectDity from '@/uni_modules/cc-selectDity/components/cc-selectDity/cc-selectDity'
	export default {
		data() {
			return {
				colors: '#f23a3a',
				show: true,
				province: "浙江省",
				city: "杭州市",
				area: "",
				areaCode: "",
				addressData: {
					name: '',
					phone: '',
					address: '',
					moreAddres: '',
					isdefult: 0
				},
				isShow: true
			}
		},
		components: {
			cSelectDity
		},
		methods: {
			openPicker() {
				console.log('执行打开地址选择器')
				this.show = true
			},

			changeClick(value, value2, value3, value4) {

				console.log('地址选择器 = ' + value + value2 + value3 + value4);

				this.province = value;
				this.city = value2;
				this.area = value3;
				this.areaCode = value4;
			},
			onhideShow() {
				this.show = false
				console.log('执行了关闭地址选择器')
			},
			//选中省市区
			onsetCity(e) {
				let data = e.detail.target.dataset;
				let address = data.province + data.city + data.area;
				this.show = false
				this.addressData.address = address
			},
			// 
			switchChange(e) {



			},


			// 获取定位
			getlot() {
				uni.getLocation({
					type: 'wgs84',
					success: function(res) {
						const latitude = res.latitude;
						const longitude = res.longitude;
						// 使用第三方地图服务API（如高德或百度地图API）来逆向解析地理位置信息
						// 这里以高德地图API为例
						const amapKey = '2450b0cc59009cf60ad2c45f8342b1dd'; // 替换为你的高德地图API Key
						const url =
							`https://restapi.amap.com/v3/geocode/regeo?key=${amapKey}&location=${longitude},${latitude}`;

						uni.request({
							url: url,
							success: (response) => {
								console.log('进来' + response)
								if (response.data && response.data.regeocode) {
									const addressComponent = response.data.regeocode
										.addressComponent;
									const province = addressComponent.province; // 省
									const city = addressComponent.city; // 市
									console.log('当前省市：', province, city);
									// 这里可以根据需要进行其他操作，例如更新UI等
								}
							},
							fail: (error) => {
								console.error('获取省市失败：', error);
							}
						});
					},
					fail: function(error) {
						console.error('获取位置失败：', error);
					}
				});
			}
		}
	}
</script>