<template>
	<view class="container">
		<view class="topBg">
			<view class="back" @click="goBack">
				<uv-icon name="arrow-left" size="22"></uv-icon>
			</view>
			<image class="logo" src="../static/img/logo@2x.png" mode="widthFix"></image>
			<image class="title" src="../static/img/title@2x.png" mode="widthFix"></image>
			<view class="yizhanshi">宠物一站式服务社区</view>
		</view>
		<form :report-submit="true">
			<view class="formBox">
				<!-- 验证码登录 -->
				<view class="ipt-row">
					<input class="phine-ipt" v-model="phone" type="number" maxlength="11" placeholder="请输入手机号"
						clearable>
					</input>
				</view>
				<view class="ipt-row">
					<input class="phine-ipt" v-model="verificationCode" placeholder="请输入验证码" clearable maxlength="6"
						type="number">
					</input>
					<view class="verificationCodeBox">
						<view @click="getSmsCaptcha" :disabled="disabled" class="codeBtn">
							{{disabled ? btnText : '获取验证码'}}
						</view>
					</view>
				</view>
				<view class="login-btn" @click.stop="loginFn">登录</view>
				<view class="no-login" @click.stop="go()">暂不登录</view>

				<view class="xieyi-wrapper">
					<uv-checkbox-group v-model="isRead" size='14'>
						<uv-checkbox name='选中' labelColor='#999999' activeColor='#FD611E' shape='square' labelSize='12'>
						</uv-checkbox>
					</uv-checkbox-group>
					<div class="xieyi" @click.stop="isRead=isRead[0]=='选中'?[]:['选中']">已阅读并同意 <a
							@click="goPage('/pagesA/treaty/service')">《滳滴宠宠服务协议》</a>和 <a
							@click="goPage('/pagesA/treaty/privacy')">《隐私条款》</a></div>
				</view>
			</view>

		</form>
	</view>
</template>
<script>
	import {
		mapMutations
	} from "vuex";
	import storage from "@/utils/storage.js";
	import commonTop from '@/components/CommonTop'
	import {
		hdLogin,
		getVerificationCode,
		getOpenId
	} from '../../config/vmeitime-http/login.js'
	import {
		businessCategory
	} from '../../config/vmeitime-http/common.js'
	import {
		debounce, isValidPhoneNumber
	} from '../../utils/util.js'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				isRead: [],
				phone: "",
				verificationCode: "",
				btnText: "",
				disabled: false
			};
		},
		
		methods: {
			...mapMutations(["LOGIN_TOKEN"]),
			go() {
				uni.switchTab({
					url: '/pages/home/index'
				})
			},

			// 跳转
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 返回
			goBack() {
				uni.navigateBack()
			},


			// 账号密码登录
			loginFn() {
				console.log(this.isRead[0])
				if (!this.phone) {
					uni.showToast({
						icon: 'none',
						title: '请输入手机号',
						duration: 1500
					})
					return false
				}
				if(!isValidPhoneNumber(this.phone)) {
					uni.showToast({
						icon: 'none',
						title: '手机号格式不正确',
						duration: 1500
					})
					return false
				}
				if (!this.verificationCode) {
					uni.showToast({
						icon: 'none',
						title: '请输入验证码',
						duration: 1500
					})
					return false
				}
				if (!this.isRead[0]) {
					uni.showToast({
						icon: 'none',
						title: '请勾选并阅读协议',
						duration: 1500
					})
					return false
				}
				let param = {
					phone: this.phone,
					code: this.verificationCode,
					clientId: 'df1e3a0ca7b1f9b809eebcb01a9c6003',
					grantType: 'password'
				};

				uni.showLoading({
					mask: true
				});
				hdLogin(param).then((res) => {
					this.loginSuccFn(res);
					uni.hideLoading();
				});
			},

			// 登录成功后的token以及用户数据获取以及跳转
			loginSuccFn(data) {
				this.LOGIN_TOKEN(data.token.access_token);
				storage.set('merchantInfo', data.merchantInfo)
				this.$store.dispatch("getUserInfo").then(() => {
					uni.showToast({
						icon: 'none',
						title: '登录成功',
						duration: 1500
					})
					this.getOpenIdFn()
					this.businessCategoryFn()
					setTimeout(() => {
						uni.hideLoading()
						uni.switchTab({
							url: "/pages/home/index",
						});
					}, 200);
				}).catch(() => {
					uni.hideLoading()
				})
			},

			// 获取openid
			getOpenIdFn() {
				wx.login({
					success: (res) => {
						let code = res.code
						getOpenId({
							appid: 'wx1e4a01e2ea967cd8',
							code: code
						}).then((res) => {
							storage.set('openId', res.openid)
						});
					}
				})
			},

			// 获取类目
			businessCategoryFn() {
				businessCategory().then((res) => {
					let categoryList = []
					res.map((item) => {
						categoryList.push({
							text: item.name,
							value: item.id
						})
					})
					storage.set('categoryList', categoryList)
					this.getFriendlyPlace()
				})
			},

			// 获取友好场所二级目录
			getFriendlyPlace() {
				businessCategory({
					id: 1
				}).then((res) => {
					let categoryList = []
					res.map((item) => {
						categoryList.push({
							text: item.name,
							value: item.id
						})
					})
					storage.set('friendlyPlace', categoryList)
				})
			},

			doLoop(seconds) {
				seconds = seconds ? seconds : 60;
				this.btnText = seconds + "s";
				let countdown = setInterval(() => {
					if (seconds > 0) {
						this.btnText = seconds + "s";
						--seconds;
					} else {
						this.disabled = false;
						clearInterval(countdown);
					}
				}, 1000);
			},

			// 获取验证码
			getSmsCaptcha: debounce(function() {
				let that = this
				if(that.disabled) {
					return false
				}
				uni.showLoading({
					mask: true
				});
				if (!that.phone) {
					uni.showToast({
						icon: 'none',
						title: '请输入手机号',
						duration: 1500
					})
					return false
				}
				if(!isValidPhoneNumber(that.phone)) {
					uni.showToast({
						icon: 'none',
						title: '手机号格式不正确',
						duration: 1500
					})
					return false
				}
				let param = {
					phone: that.phone,
				};
				console.log('点击了')
				getVerificationCode(param).then((res) => {
					if (res !== undefined) {
						uni.hideLoading();
						setTimeout(() => {
							that.doLoop(60);
							that.disabled = true;
						}, 500);
					}
				})
			}, 500)
		},
	};
</script>
<style lang="scss" scoped>
	::v-deep .uv-checkbox-group {
		flex: inherit !important;
	}

	.xieyi-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.xieyi {
			display: flex;
			align-items: center;
			color: #999999;
			font-size: 26rpx;

			a {
				color: #007aff;
			}
		}
	}

	.container {
		background-color: #fff;
		height: 100vh;
		padding-bottom: 100rpx;
		box-sizing: border-box;
		// background-image: url('../../static/Login_background@2x.png');
		// background-size: 100% 100%;
		// background-repeat: no-repeat;
	}

	.ipt-row {
		position: relative;
		margin-bottom: 20rpx;

		.phine-ipt {
			width: 584rpx;
			height: 96rpx;
			background: #F8F8F8;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			font-size: 28rpx;
			padding-left: 28rpx;
			box-sizing: border-box;
		}
	}

	.topBg {
		background: linear-gradient(to bottom, #FFED9A, #FFF5C3, #FFFDEB, #FFFFFF);
		padding-top: calc(var(--status-bar-height) + 170rpx);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding-bottom: 80rpx;
		box-sizing: border-box;

		.back {
			position: absolute;
			left: 28rpx;
			top: calc(var(--status-bar-height) + 20rpx);
		}

		.logo {
			width: 160rpx;
			height: 160rpx;
		}

		.title {
			width: 348rpx;
			height: 54rpx;
			margin: 32rpx 0px 18rpx;
		}

		.yizhanshi {
			font-weight: 500;
			letter-spacing: 2rpx;
			color: #E69153;
			font-size: 28rpx;
		}
	}

	.formBox {
		padding: 40rpx;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;

		.verificationCodeBox {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10rpx 20rpx;
			position: absolute;
			top: 0px;
			bottom: 0px;
			right: 0px;
			width: 180rpx;
			z-index: 9;

			.codeBtn {
				color: #333333 !important;
				font-size: 28rpx;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #B41701;
				border: 0;
				line-height: 56rpx;
				height: 56rpx;
				padding: 0 10rpx;
			}
		}
	}

	.login-btn {
		text-align: center;
		line-height: 96rpx;
		width: 584rpx;
		height: 96rpx;
		background: #FD611E;
		border-radius: 20rpx 20rpx 20rpx 20rpx;
		font-weight: 500;
		font-size: 28rpx;
		color: #FFFFFF;
		margin: 72rpx 0px 0rpx;
	}

	.no-login {
		text-align: center;
		line-height: 96rpx;
		width: 584rpx;
		height: 96rpx;
		border: 1px solid #FD611E;
		border-radius: 20rpx 20rpx 20rpx 20rpx;
		font-weight: 500;
		font-size: 28rpx;
		color: #FD611E;
		margin: 40rpx 0px 60rpx;
	}
</style>