<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				云喂养
			</template>
		</commonTop>
		<swiper indicator-dots autoplay class="slide-image" indicator-color='#fff' indicator-active-color='#D9D9D9'>
			<swiper-item v-for="(item, index) in bannnerList" :key="index">
				<image src="../../static/ban1.jpg" mode="scaleToFill" class="slide-image"></image>
			</swiper-item>
		</swiper>

		<view class="btm-wrapper">
			<view class="name-row">
				<view class="name-row-left">名称名称名称名称</view>
				<view class="name-row-right">待喂养</view>
			</view>
			<view class="shop">
				<view class="item">
					<image src="../static/img/icon_Birthday@2x.png" mode="widthFix"></image>12岁
				</view>
				<view class="item">
					<image src="../static/img/icon_female20@2x.png" mode="widthFix"></image>男
				</view>
			</view>
			<view class="hisstory f32C3">他的故事</view>
			<view class="hisstory-text f28C6">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</view>
			<view class="hisstory f32C3">喂养记录</view>
			<view class="feed-records">
				<image src="../../static/dog.png" mode="widthFix" class="avator"></image>
				<view class="right">
					<view class="r-top">
						<view class="r-top-title f32C0">名称名称名称名称</view>
						<view class="r-top-time f24C9">2023-12-22 12:22</view>
					</view>
					<view class="r-bottom">喂养了7天宠物粮食</view>
				</view>
			</view>
			<view class="submit" @click="openpay">云喂养它</view>
		</view>


		<uv-popup ref="popup" :round='40' mode="bottom">
			<view class="pop-wrapper">
				<view class="pop-title">
					购买粮食
					<view class="close" @click.stop="closepay">
						<image src="../static/img/icon_closure@2x.png" mode="widthFix"></image>
					</view>
				</view>
				<view class="popCard">
					<view class="tao-row">
						<view class="tao-can" :class="packageTypeIndex==index?'active':''"
							v-for="(item,index) in taocan"  v-bind:key="index" @click="clickPackageType(index)">
							<view class="title">宠物粮食一</view>
							<view class="days">3天</view>
							<view class="money">￥34</view>
						</view>
					</view>
				</view>
				<view class="popCard">
					<view class="row ajbetween">
						<view class="left">自定义喂养天数</view>
						<view class="right">
							<uv-input placeholder="请输入" type="number" v-model="days" border="none"
								inputAlign='right'></uv-input>
						</view>
					</view>
					<view class="total-money">
						<view class="money-name">总计：</view> <span>￥</span> 122
					</view>

				</view>
				<view class="popCard">
					<view class="row ajbetween">
						<view class="left paytype">
							<image class="src" src="../static/img/icon_WeChat@2x .png" mode="widthFix"></image>微信支付
						</view>
						<view class="right">
							<uv-radio-group v-model="radiovalue">
								<uv-radio shape="square" name='wx' activeColor="#FD611E"></uv-radio>
							</uv-radio-group>
						</view>
					</view>
				</view>
				<view class="submit-wrapper">
					<view class="submit-btn">提交</view>
				</view>

			</view>
		</uv-popup>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	export default {
		components: {
			commonTop,
			uvTabs
		},
		data() {
			return {
				radiovalue: 'wx',
				taocan: [{}, {}, {}],
				bannnerList: [
					'http://example.com/image1.jpg',
					'http://example.com/image2.jpg',
					'http://example.com/image3.jpg'
				],
				packageTypeIndex: 0,
				days: ''
			}
		},
		methods: {
			// 选择套餐
			clickPackageType(index) {
				this.packageTypeIndex = index
			},
			openpay() {
				this.$refs.popup.open();
			},
			closepay() {
				this.$refs.popup.close();
			},
		}
	}
</script>

<style scoped lang="scss">
	.pop-wrapper {
		background-color: #F9F9F9;
		min-height: 900rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 120rpx 28rpx 160rpx;

		.submit-wrapper {
			display: flex;
			align-items: center;
			background-color: #fff;
			padding: 14rpx 28rpx;
			box-sizing: border-box;
			position: fixed;
			left: 0px;
			bottom: 0px;
			width: 100%;
			justify-content: center;

			.submit-btn {
				text-align: center;
				color: #fff;
				height: 80rpx;
				line-height: 80rpx;
				background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				width: 100%;
			}
		}

		.popCard {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 28rpx 22rpx;
			box-sizing: border-box;
			margin-bottom: 28rpx;

			.ajbetween {

				.left,
				.right {
					display: flex;
					align-items: center;
				}
			}

			.paytype {
				color: #333333;
				font-size: 32r'p' x;

				image {
					width: 40rpx;
					height: auto;
					margin-right: 16rpx;
				}
			}

			.total-money {
				display: flex;
				justify-content: flex-end;
				font-size: 44rpx;
				align-items: baseline;
				color: #FD611E;
				margin: 36rpx 0px 42rpx;

				.money-name {
					color: #666666;
					font-size: 28rpx;
				}

				span {
					color: #FD611E;
					font-size: 28rpx;
				}
			}

			.tao-row {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: space-around;

				.active {
					background-color: #FFF1EC !important;

					.title {
						color: #FD611E !important;
					}
				}

				.tao-can {
					padding: 24rpx;
					box-sizing: border-box;
					width: 32%;
					height: 262rpx;
					background: #FFFFFF;
					border-radius: 16rpx 16rpx 16rpx 16rpx;
					border: 2rpx solid #EEEEEE;
					margin-right: 2%;

					&:nth-child(3n) {
						margin-right: 0px;
					}

					.title {
						color: #333333;
						font-size: 28rpx;
					}

					.days {
						color: #333333;
						font-size: 32rpx;
						margin: 32rpx 0px 50rpx;
					}

					.money {
						border-top: 1rpx solid #EEEEEE;
						color: #FD611E;
						font-size: 28rpx;
						padding-top: 16rpx;
					}
				}
			}
		}

		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			left: 0px;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.submit {
		width: 100%;
		text-align: center;
		color: #fff;
		margin-top: 98rpx;
		height: 80rpx;
		line-height: 80rpx;
		background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
		border-radius: 12rpx 12rpx 12rpx 12rpx;

	}

	.feed-records {
		display: flex;
		align-items: center;
		margin-bottom: 32rpx;

		.avator {
			width: 96rpx;
			height: 96rpx;
			margin-right: 16rpx;
			border-radius: 50%;
		}

		.right {
			width: 100%;

			.r-top {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;

				.r-top-title {}
			}

			.r-bottom {
				margin-top: 8rpx;
				font-size: 24rpx;
				color: #FD611E;
			}
		}
	}

	/deep/ page {
		background-color: #fff;
	}

	.slide-image {
		width: 100%;
		height: 600rpx;
	}

	//h5 APP
	/deep/ .uni-swiper-dots {
		position: absolute;
		bottom: 10% !important;
	}

	//微信小程序
	/deep/ .wx-swiper-dots {
		position: absolute;
		bottom: 10% !important;
	}

	.btm-wrapper {
		background-color: #fff;
		border-radius: 40rpx 40rpx 0rpx 0rpx;
		padding: 40rpx 28rpx;
		box-sizing: border-box;
		width: 100%;
		z-index: 99;
		margin-top: -21px;
		position: absolute;

		.hisstory {
			margin-bottom: 24rpx;
		}

		.hisstory-text {
			border-bottom: 1rpx solid #EEEEEE;
			padding-bottom: 40rpx;
			box-sizing: border-box;
			margin-bottom: 40rpx;
		}

		.name-row {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.name-row-right {
				text-align: center;
				line-height: 52rpx;
				width: 112rpx;
				height: 52rpx;
				background: #FFEFE9;
				border-radius: 8rpx 8rpx 8rpx 8rpx;
				opacity: 0.8;
				color: #FD611E;
				font-size: 24rpx;
			}
		}

		.shop {
			display: flex;
			align-items: center;
			color: #666666;
			font-size: 22rpx;
			margin: 32rpx 0px 40rpx;

			.item {
				margin-right: 64rpx;
				display: flex;
				align-items: center;
				color: #666666;
				font-size: 28rpx;
				justify-content: center;
				position: relative;

				image {
					width: 32rpx;
					height: 28rpx;
					margin-right: 4rpx;
				}

				&:first-child::before {
					content: '';
					display: block;
					position: absolute;
					height: 20rpx;
					width: 2rpx;
					right: -33rpx;
					background-color: #EEEEEE;
				}
			}
		}
	}
</style>