<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='false' :onlyCenter='true'>
			<template slot="left">
				<view class="public-topsearch">
					<image src='../../static/icon_search.png' mode="widthFix" class="search-img"></image>
					<input placeholder="搜索" class="search" />
				</view>
			</template>
		</commonTop>
		<hMFilterDropdown :titleArr="titleArr" bgcolor='#F9F9F9' :nearbyIndex='nearbyIndex' :dropArr="dropArr" @finishDropClick="finishClick">
		</hMFilterDropdown>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<CloudfeedList :petsList='cloudfeedList'></CloudfeedList>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import CloudfeedList from '../components/cloudfeedList.vue'
	import hMFilterDropdown from "../components/cc-dropDownMenu/components/cc-dropDownMenu/cc-dropDownMenu.vue";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
	 purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			hMFilterDropdown,
			CloudfeedList
		},
		data() {
			return {
				titleArr: ['附近', '智能排序'],
				dropArr: [
					// 户型
					[{
						text: '不限',
						value: ""
					}],
					[{
							text: '默认排序',
							value: ""
						}, {
							text: '最新发布',
							value: "0-1000"
						},
						{
							text: '距离优先',
							value: "1000-1500"
						},
						{
							text: '高价优先',
							value: "1500-2000"
						},
						{
							text: '低价优先',
							value: "2000-3000"
						}
					]
				],
				filterResultData: [],
				cloudfeedList: [{},{}]
			}
		},
		onLoad() {

		},
		methods: {
			// 确认
			finishClick(resultData) {
				this.filterResultData = resultData;
				uni.showModal({
					title: '温馨提示',
					content: '筛选数据 = ' + JSON.stringify(resultData)
				})
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					queryType: this.queryType,
					keywords: this.keywords,
					sort: "bookTime,desc",
				};
				if (page.num == 1) this.petsList = [{},{}]; //如果是第一页需手动置空列表
				purchaseOrderList(param).then((res) => {
					if (res) {
						let curPageData = res.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数
			
						this.petsList = this.petsList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	page,
	.containner {
		background-color: #F9F9F9;
	}
	.mescrollBox {
		
	}
</style>