<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				机构详情
			</template>
		</commonTop>
		<swiper indicator-dots autoplay class="slide-image" indicator-color='#fff' indicator-active-color='#D9D9D9'>
			<swiper-item v-for="(item, index) in bannnerList" :key="index">
				<image src="../../static/ban1.jpg" mode="aspectFill" class="slide-image"></image>
			</swiper-item>
		</swiper>

		<view class="btm-wrapper">
			<view class="info-wrppaer">
				<view class="info-rows">
					<image src="../static/img/icon_taxi@2x.png" class="avator"></image>
					<view class="right">
						<view class="title">名称名称名称名称 <image class="jubao" src="../static/img/icon_Function@2x.png">
							</image>
						</view>
						<image src="../static/img/mechanism@2x.png" class="rzjg" mode="widthFix"></image>
						<view class="rate-wrap">
							<uv-rate active-color="#FFED3F" size='20' :allowHalf='true'
								inactive-color="#b2b2b2"></uv-rate>
							<view class="rate">4.5</view>
						</view>
					</view>
				</view>
				<view class="synopsis">
					简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介
				</view>

				<view class="adr-wrap">
					<view class="adr-left">
						<image src="../static/img/icon_position16@2x.png" mode="" class="adr-point"></image>
						<view class="adr">地址地址地址地址地址地址地址地地址地址地址地址地址地址地址地</view>
					</view>
					<view class="adr-right">
						距您500m <image src="../static/img/icon_More14@2x.png" class="right-icon"></image>
					</view>
				</view>

				<view class="call-wrapper">
					<view class="call-item">
						<image src="../static/img/icon_Browse16@2x.png" mode=""></image>1234
					</view>
					<view class="call-right">
						<image src="../static/img/icon_share2@2x.png" mode="widthFix"></image>
						<image src="../static/img/icon_collect24_1@2x.png" mode="widthFix"></image>
						<image src="../static/img/icon_connect@2x.png" mode="widthFix" @click="callPhone"></image>
					</view>

				</view>
			</view>
			<!-- 优惠团购 -->
			<view class="card-wraaper">
				<uvTabs :list="tablist" lineWidth="30" lineColor="#FFED3F" @change='changeTab' :activeStyle="{
							color: '#333333',
							fontWeight: 'bold',
							transform: 'scale(1)'
				    	}" :inactiveStyle="{
							color: '#999999',
							transform: 'scale(1)'
						}" itemStyle="padding-left: 15px; padding-right: 15px; height: 88rpx;fontSize:32rpx"></uvTabs>

				<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
					<PendFeedList v-if="tabIndex==0" :petsList='notesList'></PendFeedList>
					<EvaluateCard class="evaluateCard" v-else-if="tabIndex!=0" :evaluateList='evaluateList'>
					</EvaluateCard>
				</mescroll-body>

			</view>
		</view>
	</view>

</template>

<script>
	import PendFeedList from '../components/pendFeedList.vue'
	import EvaluateCard from '../components/evaluateCard.vue'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import commonTop from '@/components/CommonTop'
	import {
	 purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	
	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			PendFeedList,
			EvaluateCard,
			commonTop
		},
		data() {
			return {
				notesList: [{}, {}],
				// 评价
				evaluateList: [{}, {}],
				// 相关团购
				petsList: [{}, {}],
				tablist: [{
					name: '宠物(123)'
				}, {
					name: '基地动态',
				}, {
					name: '评论(211)'
				}],
				bannnerList: [
					'http://example.com/image1.jpg',
					'http://example.com/image2.jpg',
					'http://example.com/image3.jpg'
				],
				tabIndex: 0

			}
		},
		methods: {

			callPhone() {
				// 电话号码为示例，请替换为实际需要拨打的号码
				const phoneNumber = '10086';
				uni.makePhoneCall({
					phoneNumber: phoneNumber, // 电话号码
					success: function() {
						console.log('拨打电话成功');
					},
					fail: function() {
						console.log('拨打电话失败');
					}
				});

			},
			// 切换tab
			changeTab(tab) {
				console.log(tab.index)
				this.tabIndex = tab.index
			},
			// 返回
			back() {
				uni.navigateBack({
					delta: 1
				})

			},

			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					queryType: this.queryType,
					keywords: this.keywords,
					sort: "bookTime,desc",
				};
				// console.log("param: ", param);
				if (page.num == 1) this.petsList = [{}, {}]; //如果是第一页需手动置空列表
				purchaseOrderList(param).then((res) => {
					if (res) {
						let curPageData = res.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数

						this.petsList = this.petsList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #fff;
	}

	::v-deep .evaluateCard {
		padding-top: 0px !important;
		box-sizing: border-box;
	}

	::v-deep .mescroll-body {
		background-color: #fff !important;
		margin-top: -20rpx;

		.pets-card {
			padding: 0px 22rpx;
			box-sizing: border-box;
		}
	}

	.mescrollBox {
		background-color: #fff !important;
		padding: 0px 28rpx;
		box-sizing: border-box;

		:v-deep(.pets-card) {
			padding: 0px 28rpx;
			box-sizing: border-box;
			background-color: #fff;
		}
	}

	.card-wraaper {
		background-color: #fff;
		padding-top: 20rpx;
		box-sizing: border-box;

		.ack-wapper {
			display: flex;
			flex-direction: column;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.ask {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				margin-top: 28rpx;

				.ask-left {
					width: 78%;
					display: flex;
					align-items: center;

					.ask-img {
						width: 40rpx;
						height: 40rpx;
						margin-right: 30rpx;
					}

					.ask-title {
						flex: 1;
						color: #333333;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

					}
				}

				.people {
					color: #999999;

				}
			}

			.ask-count {
				color: #333333;
				font-size: 28rpx;
				height: 96rpx;
				line-height: 96rpx;
				text-align: center;
				border-top: 1rpx solid #EEEEEE;
				margin-top: 28rpx;
			}
		}

		.card-title-wap {
			padding: 0px 28rpx;
			box-sizing: border-box;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.card-title {
				color: #333333;
				font-size: 32rpx;
			}

			.card-right {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 32rpx;
					height: 34rpx;
				}
			}
		}

	}

	.btm-wrapper {
		background-color: #F9F9F9;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
	}

	.info-wrppaer {
		width: 100%;
		background-color: #fff;
		padding: 40rpx 28rpx 0rpx;
		box-sizing: border-box;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
		padding-bottom: 1rpx;

		.info-rows {
			display: flex;
			align-items: flex-start;

			.avator {
				width: 120rpx;
				height: 120rpx;
				border-radius: 50%;
				margin-right: 16rpx;
			}

			.right {
				flex: 1;

				.rzjg {
					width: 152rpx;
					height: 40rpx;
					margin-top: 16rpx;
				}
			}
		}

		.title {
			color: #000000;
			font-size: 32rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.jubao {
				width: 48rpx;
				height: 48rpx;
			}
		}

		.call-wrapper {
			padding: 40rpx 0px 28rpx;
			box-sizing: border-box;
			justify-content: space-between;
			display: flex;
			align-items: center;
			font-size: 28rpx;
			color: #333333;
			border-bottom: 1rpx solid #EEEEEE;

			image {
				width: 56rpx;
				height: 56rpx;
				margin-right: 12rpx;
			}

			.call-item {
				display: flex;
				align-items: center;
				width: 33%;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 34rpx;
					height: 34rpx;
					margin-right: 4rpx;
				}
			}

			.call-right {
				image {
					width: 45rpx;
					height: auto;
					margin-left: 42rpx;
				}
			}
		}

		.rate-wrap {
			margin: 12rpx 0px 16rpx;
			display: flex;
			align-items: center;
			color: #999999;
			font-size: 24rpx;

			.rate {
				color: #FD611E;
				margin: 0px 16rpx;
			}
		}

		.synopsis {
			color: #666666;
			font-size: 28rpx;
			padding-bottom: 28rpx;
			box-sizing: border-box;
			margin: 40rpx 0px 52rpx;
		}

		.adr-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 28rpx;
			height: 96rpx;
			line-height: 96rpx;
			background-color: #F8F8F8;
			border-radius: 20rpx;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.adr-left {
				display: flex;
				align-items: center;
				flex: 1;

				.adr {
					width: 400rpx;
					white-space: nowrap; //禁止换行
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.adr-point {
					width: 40rpx;
					height: 40rpx;
				}
			}

			.adr-right {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex: 1;
				color: #999999;
				text-align: right;

				.right-icon {
					width: 28rpx;
					height: 28rpx;
				}
			}
		}
	}

	.slide-image {
		width: 100%;
		height: 600rpx;
	}
</style>