<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true'>
			<uvTabs style="margin-right: 30rpx;" customStyle='margin-left:-90rpx' :list="tablist" lineWidth="30"
				lineColor="#FFED3F" @change='changeTab' :activeStyle="{
							color: '#333333',
							fontWeight: 'bold',
							transform: 'scale(1)'
				    	}" :inactiveStyle="{
							color: '#999999',
							transform: 'scale(1)'
						}" itemStyle="padding-left: 60rpx; padding-right: 60rpx; height: 80rpx;fontSize:32rpx"></uvTabs>

		</commonTop>

		<hMFilterDropdown :key="key" :titleArr="titleArr" bgcolor='#F9F9F9' :dropArr="dropArr" @reSet='reSetFilter'
			@finishDropClick="finishClick">
		</hMFilterDropdown>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<LookForList :lookForListData='lookForListData' :tabindex='tabindex'></LookForList>
		</mescroll-body>
		<view class="submit" @click.stop="open">发布</view>
		<uv-popup ref="popup" :round='40' mode="bottom">
			<view class="pop-wrapper">
				<view class="pop-title">
					发布
					<view class="close" @click.stop="close">
						<image src="../static/img/icon_closure@2x.png" mode="widthFix"></image>
					</view>
				</view>
				<view class="fa-rows">
					<view class="fa-item" @click="go('/pagesA/lookFor/postForPets')">
						<image class="src" src="../static/img/icon_2@2x.png"></image>
						寻宠
					</view>
					<view class="fa-item" @click="go('/pagesA/lookFor/postMaterSeek')">
						<image class="src" src="../static/img/icon_2@2x (1).png"></image>
						寻主
					</view>
				</view>
			</view>
		</uv-popup>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import LookForList from '../components/lookForList.vue'
	import hMFilterDropdown from "../components/cc-dropDownMenu/components/cc-dropDownMenu/cc-dropDownMenu.vue";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import {
		findPetsPage
	} from "@/config/vmeitime-http/findPets.js";
	import {
		findMasterPage
	} from "@/config/vmeitime-http/findMaster.js";
	import storage from '@/utils/storage.js'

	import store from '../../store/index.js'

	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			hMFilterDropdown,
			LookForList,
			uvTabs
		},
		data() {
			return {
				key: 0,
				nearbyIndex: '',
				lookForListData: [{
					name: 1
				}, {
					name: 2
				}],
				tabindex: 0,
				tablist: [{
					name: '寻宠'
				}, {
					name: '寻主',
				}],
				titleArr: ['友好场所', '附近', '智能排序'],
				dropArr: [
					// 区域
					[],
					// 户型
					[],
					[{
							text: '默认排序',
							value: ""
						}, {
							text: '最新发布',
							value: "NEW"
						}, {
							text: '距离优先',
							value: "DISTANCE"
						},
						{
							text: '高价优先',
							value: "HIGH_PRICE"
						},
						{
							text: '低价优先',
							value: "LOW_PRICE"
						}
					]
				],
				filterResultData: [],
			}
		},
		mounted() {
			uni.$on('reloadLookfor', (event) => {
				this.tabindex = event
				this.reLoad()
			});
		},

		methods: {

			// 重置筛选
			reSetFilter() {
				this.titleArr = ['友好场所', '附近', '智能排序'],
					this.key++
			},

			// 确认
			finishClick(resultData) {
				this.filterResultData = resultData;
				this.mescroll.resetUpScroll();

			},

			// 刷新页面
			reLoad() {
				this.mescroll.resetUpScroll()
			},
			// 跳转地址
			go(url) {
				this.$refs.popup.close();
				uni.navigateTo({
					url: url
				})
			},

			open() {
				let token = store.state.loginInfo.loginToken.access_token || store.getters.loginToken
				if (token) {
					this.$refs.popup.open();
				} else {
					uni.navigateTo({
						url: "/pagesA/login/login",
					});
				}

			},
			close() {
				this.$refs.popup.close();
			},
			// 切换寻宠寻主
			changeTab(e) {
				this.tabindex = e.index
				this.mescroll.resetUpScroll()
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					// userId: storage.get('loginInfo').userId,
					province: (this.filterResultData[1]?.address && this.filterResultData[1]?.address[0].name) || '',
					city: (this.filterResultData[1]?.address && this.filterResultData[1]?.address[1].name) || '',
					county: (this.filterResultData[1]?.address && this.filterResultData[1]?.address[2].name) || '',
					distance: this.filterResultData[1]?.distance || '',
					intelligentSort: this.filterResultData[2] || ''
				};
				if (page.num == 1) this.lookForListData = []; //如果是第一页需手动置空列表
				let Fn = this.tabindex == 0 ? findPetsPage : findMasterPage
				Fn(param).then((res) => {

					console.log(res)
					let curPageData = res.records;
					let curPageLen = curPageData.length; // 接口返回的当前页数据长度
					let totalPage = res.total; // 接口返回的总页数
					curPageData.map((item) => {

						let picture = item.picture.split(',')
						if (item.picture.length > 0) {
							item.picture = picture[0]
						}
					})
					this.lookForListData = this.lookForListData.concat(curPageData); //追加新数据
					//方法一(推荐): 后台接口有返回列表的总页数 totalPage
					this.mescroll.endByPage(curPageLen, totalPage);

				});
			},
		}
	}
</script>

<style scoped lang="scss">
	::v-deep .screen-bar {
		justify-content: space-around;

		.screen-bar-item:first-child {
			display: none !important;
		}
	}

	.containner {
		background-color: #F9F9F9;
		padding-bottom: 160rpx;
		box-sizing: border-box;
	}

	.pop-wrapper {
		background-color: #F9F9F9;
		min-height: 560rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 120rpx 28rpx 160rpx;
		background: #F9F9F9;

		.fa-rows {
			display: flex;
			justify-content: space-between;
			margin-top: 40rpx;

			.fa-item {
				width: 49%;
				height: 244rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				color: #333333;
				font-size: 28rpx;
				background-color: #fff;
				border-radius: 20rpx;

				image {
					width: 92rpx;
					height: 92rpx;
					margin-bottom: 18rpx;
				}
			}
		}
	}

	.submit {
		width: 280rpx;
		text-align: center;
		color: #fff;
		margin-top: 80rpx;
		height: 80rpx;
		line-height: 80rpx;
		background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
		border-radius: 56rpx;
		position: fixed;
		bottom: 40rpx;
		left: 0px;
		right: 0p;
		margin: auto;
		left: 50%;
		margin-left: -140rpx;
		font-size: 28rpx;
	}
</style>