<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='false' bgColor='#F9F9F9'>
			<template slot="left">
				<view class="topname-flow">
					<image v-if="detail.avatar" :src="detail.avatar" mode="aspectFill" class="avator"></image>
					<image v-else src="@/static/avatar@2x.png" mode="widthFix" class="avator"></image>
					<view class="name line1Es">{{detail.nickName}}</view>
					<!-- <view class="follow">关注</view> -->
				</view>
			</template>
		</commonTop>
		<swiper indicator-dots autoplay class="slide-image" indicator-color='#fff' indicator-active-color='#D9D9D9'>
			<swiper-item v-for="(item, index) in detail.imgsList" :key="index" @click.stop="previewImagesFn(index, detail.imgsList)">
				<image :src="item" mode="aspectFill" class="slide-image"></image>
			</swiper-item>
		</swiper>

		<view class="btm-wrapper">
			<view class="info-wrppaer">
				<view class="price" v-if="tabindex==0">{{detail.gratitudeType==1 ? '面议': `${detail.gratitude || 0}`}}
				</view>
				<view class="info-rows">
					<view class="right">
						<view class="title">{{tabindex==0?'寻宠描述':'寻主描述'}}
						</view>
					</view>
				</view>
				<image v-if="userId==detail.userId && detail.status == 0" class="edite-icon"
					src="../static/img/edite.png" @click.stop="tooltipClick('编辑')"></image>

				<image class="jubao" src="../static/img/icon_Function@2x.png" @click="isShowTooltip=!isShowTooltip">
					<Tooltip :listData="more" v-if="isShowTooltip" @tooltipClick='tooltipClick'></Tooltip>
				</image>
				<view class="synopsis">
					{{detail.content}}
				</view>

				<view class="wechat" v-if="detail.wechat">
					微信号: {{detail.wechat}}
				</view>

				<view class="adr-wrraper">
					<view class="adr-wrap borderBtm" @click.stop="openLocation({
						lat: detail.lat,
						lon: detail.lon,
						name: detail.lostAddr || detail.findAddr
					})">
						<view class="adr-left">
							<image src="../static/img/icon_position16_1@2x.png" mode="widthFix" class="adr-point"
								style="width: 40rpx;"></image>
							<view class="adr">{{detail.lostAddr || detail.findAddr}}</view>
						</view>
						<view class="adr-right">
							<image src="../static/img/icon_More14@2x.png" mode="widthFix" class="right-icon"></image>
						</view>
					</view>
					<view class="adr-wrap">
						<view class="adr-left">
							<image src="../static/img/icon_time@2x.png" mode="widthFix" class="adr-point"></image>
							<view class="adr">{{detail.lostTime || detail.findTime}}</view>
						</view>
					</view>
				</view>

				<view class="call-wrapper">
					<view class="call-item">
						<image src="../static/img/icon_Browse16@2x.png" mode=""></image>{{detail.pageViews || 0}}
					</view>
					<view class="call-right">
						{{detail.createTime}}
					</view>

				</view>
			</view>
			<!-- 优惠团购 -->
			<view class="card-wraaper">
				<view class="card-title-wap" style="margin-bottom: 0px;">
					<view class="card-title">评价（{{evaluateTotal || 0}}）</view>
				</view>
				<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
					<EvaluateCard class="evaluateCard" :tabindex='tabindex' :evaluateList='evaluateList' :goodsId='id'
						@fbok='fbok'>
					</EvaluateCard>
				</mescroll-body>
			</view>
		</view>
		<view class="btm-btns">
			<view class="ipt-photo" @click="openPostComments">
				<image class="src" src="../static/img/photo.png" mode="widthFix"></image>
				说点什么吧～
			</view>
			<button class="btn-item share-btn" open-type="share">
				<image class="src" src="../static/img/icon_share28_1@2x.png" mode="widthFix"></image>
				分享
			</button>
			<view class="btn-item">
				<image style="width: 40rpx;"
					:src="detail.hasCollect?'../static/img/icon_collect22_1@2x.png': '../static/img/icon_collect24_1@2x.png'"
					mode="widthFix" @click.stop="collection(detail.hasCollect)"></image>
				收藏
			</view>
			<view class="btn-item" @click="callPhone">
				<image class="src" src="../static/img/icon_connect@2x.png" mode="widthFix"></image>
				联系他
			</view>
		</view>

		<PostComments ref='postComments' @fbok='fbok'></PostComments>
		<previewimages ref="previewimages"></previewimages>
	</view>

</template>

<script>
	import PendFeedList from '../components/pendFeedList.vue'
	import EvaluateCard from '../components/lookForEvaluateCard.vue'
	import PostComments from '../components/postComments.vue'
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import commonTop from '@/components/CommonTop'
	import Tooltip from '@/components/tooltip'
	import {
		findPetsInfo,
		findPetsInfoCollect,
		findPetsInfoCollectCancel,
		evaluatePage,
		findPetsFound,
		findPetsDel
	} from '@/config/vmeitime-http/findPets.js'
	import {
		findMasterInfo,
		findMasterEvaluatePage,
		findMasterInfoCollect,
		findMasterInfoCollectCancel,
		findMaster,
		findMasterDel
	} from '@/config/vmeitime-http/findMaster.js'
	import {
		showToast,
		formatTime,
		openLocation,
		downloadAndCompressImage
	} from '@/utils/util.js'
	import storage from "@/utils/storage.js";
	import previewimages from '@/uni_modules/gyc-previewimages/components/gyc-previewimages/gyc-previewimages.vue'

	export default {
		mixins: [MescrollMixin],
		components: {
			uvTabs,
			PendFeedList,
			EvaluateCard,
			commonTop,
			PostComments,
			Tooltip,
			previewimages
		},
		data() {
			return {
				openLocation: openLocation,
				isShowTooltip: false,
				more: ['已找到宠物', '删除'],
				evaluateTotal: 0,
				evaluateList: [],
				petsList: [],
				tabindex: '', // 0寻宠 1寻主
				detail: {},
				id: '',
				userId: storage.get('loginInfo').userId,
				shareImg: ''
			}
		},
		onLoad(options) {
			if (options.id) {
				this.tabindex = options.tabindex
				this.getDetail(options.id)
				this.id = options.id

			}
		},
		onShow() {
			this.getDetail(this.id)
		},
		
		// 分享到朋友圈
		onShareTimeline(res) {
			return {
				title: this.detail.content,
				imageUrl: this.shareImg,
				path: '/pagesA/lookFor/petSeekdetails?id=' + this.detail.id
			}
		},
		
		// 发送给好友
		onShareAppMessage(res) {
			return {
				title: this.detail.content,
				imageUrl: this.shareImg,
				path: '/pagesA/lookFor/petSeekdetails?id=' + this.detail.id
			}
		},
		
		methods: {
			
			// 打开图片
			previewImagesFn(index,list) {
				this.$refs.previewimages.previewImages({
				    current: index,
				    urls: list
				})
			},

			share() {
				uni.showShareMenu({
					withShareTicket: true,
					menus: ['shareAppMessage', 'shareTimeline']
				});
			},
			// 提示打击
			tooltipClick(item) {
				let that = this
				if (that.tabindex == 0) {
					if (item == '已找到宠物') {
						findPetsFound({
							id: that.detail.id
						}).then((res) => {
							showToast('提交成功')
							that.back()
						})
					} else if (item == '编辑') {
						uni.navigateTo({
							url: '/pagesA/lookFor/postForPets?detail=' + JSON.stringify(that.detail)
						})
					} else if (item == '删除') {
						uni.showModal({
							title: '提示',
							content: '确定删除吗？',
							success: function(res) {
								if (res.confirm) {
									findPetsDel({
										id: that.detail.id
									}).then((res) => {
										showToast('删除成功')
										that.back()
									})
								}
							}
						});

					} else if (item == '投诉') {
						uni.navigateTo({
							url: '/pagesA/public/report?findPetsId=' + that.detail.id
						})
					}
					that.isShowTooltip = false
				} else {
					if (item == '已找到主人') {
						findMaster({
							id: that.detail.id
						}).then((res) => {
							showToast('提交成功')
							that.back()
						})
					} else if (item == '编辑') {
						uni.navigateTo({
							url: '/pagesA/lookFor/postMaterSeek?detail=' + JSON.stringify(that.detail)
						})
					} else if (item == '删除') {
						uni.showModal({
							title: '提示',
							content: '确定删除吗？',
							success: function(res) {
								if (res.confirm) {
									findMasterDel({
										id: that.detail.id
									}).then((res) => {
										showToast('删除成功')
										that.back()
									})
								}
							}
						});


					} else if (item == '投诉') {
						uni.navigateTo({
							url: '/pagesA/public/report?findMasterId=' + this.detail.id
						})
					}
					this.isShowTooltip = false
				}
			},
			// 发布评论成功
			fbok() {
				this.mescroll.resetUpScroll();
			},

			// 打开评论
			openPostComments() {
				this.$refs.postComments.open({
					detailId: this.detail.id,
					tabindex: this.tabindex
				})
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",

				};
				if (page.num == 1) this.evaluateList = []; //如果是第一页需手动置空列表
				let eFn = this.tabindex == 0 ? evaluatePage({
					...param,
					findPetsId: this.id
				}) : findMasterEvaluatePage({
					findMasterId: this.id
				})
				eFn.then((res) => {
					if (res.records.length > 0) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						this.evaluateTotal = res.total
						curPageData.map((item) => {
							if (item.picture) {
								item.picture = item.picture.split(',')
							}

						})
						this.evaluateList = this.evaluateList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},

			// 收藏
			collection(isCollect) {
				if (this.tabindex == 0) {
					if (isCollect) {
						findPetsInfoCollectCancel({
							id: this.detail.id
						}).then((res) => {
							this.detail.hasCollect = false
							showToast('取消收藏')
						})
					} else {
						findPetsInfoCollect({
							id: this.detail.id
						}).then((res) => {
							this.detail.hasCollect = true
							showToast('收藏成功')
						})
					}
				} else {
					if (isCollect) {
						findMasterInfoCollectCancel({
							id: this.detail.id
						}).then((res) => {
							this.detail.hasCollect = false
							showToast('取消收藏')
						})
					} else {
						findMasterInfoCollect({
							id: this.detail.id
						}).then((res) => {
							this.detail.hasCollect = true
							showToast('收藏成功')
						})
					}
				}
			},

			// 获取详情
			getDetail(id) {
				let Fn = ''
				Fn = this.tabindex == 0 ? findPetsInfo : findMasterInfo
				Fn({
					id: id
				}).then((res) => {
					let detail = res
					detail.createTime = formatTime(detail.createTime, 'dateTime')
					if (detail.picture) {
						detail.imgsList = detail.picture.split(',')
					}
					detail.nickName = detail.userInfo.nickName
					detail.avatar = detail.userInfo.avatar
					this.detail = detail
					if (this.userId == res.userId) {
						if (res.status == 1) {
							this.more = ['删除']
						} else {
							this.more = [`已找到${this.tabindex==0?'宠物':'主人'}`, '删除']
						}

					} else {
						this.more = ['投诉']
					}
					
					// 使用示例
					downloadAndCompressImage(detail.imgsList[0]).then((compressResult) => {
						console.log('压缩后的图片路径：', compressResult.tempFilePath);
						this.shareImg = compressResult.tempFilePath
					}).catch((error) => {
						console.error('压缩图片失败：', error);
					});
				})
			},

			callPhone() {
				// 电话号码为示例，请替换为实际需要拨打的号码
				const phoneNumber = this.detail.phone;
				uni.makePhoneCall({
					phoneNumber: phoneNumber, // 电话号码
					success: function() {
						console.log('拨打电话成功');
					},
					fail: function() {
						console.log('拨打电话失败');
					}
				});

			},
			// 切换tab
			changeTab(tab) {
				console.log(tab.index)
				this.tabindex = tab.index
			},
			// 返回
			back() {
				setTimeout(() => {
					uni.$emit('reloadLookfor', this.tabindex);
					uni.navigateBack({
						delta: 1
					})
				}, 1000)

			},

			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},


		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #fff;
	}

	.share-btn {
		border: none;
		background-color: transparent;
		margin: 0px;
		padding: 0px;
		line-height: 20rpx;

		&::after {
			border: none;
		}
	}



	/deep/ .mescroll-body {
		min-height: auto !important;
	}

	.btm-btns {
		background-color: #fff;
		padding: 14rpx 28rpx;
		box-sizing: border-box;
		width: 100%;
		bottom: 0px;
		left: 0px;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-top: 1rpx solid #EEEEEE;

		.ipt-photo {
			width: 366rpx;
			height: 92rpx;
			background: #F5F5F5;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			display: flex;
			align-items: center;
			color: #999999;
			font-size: 28rpx;
			padding-left: 32rpx;
			box-sizing: border-box;

			image {
				width: 47rpx;
				height: 42rpx;
				margin-right: 32rpx;
			}
		}

		.btn-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 22rpx;

			image {
				width: 44rpx;
				height: auto;
				margin-bottom: 12rpx;
			}
		}
	}

	.topname-flow {
		display: flex;
		align-items: center;

		.name {
			width: 200rpx;
			color: #333333;
			font-size: 32rpx;
			margin: 0px 16rpx;
		}

		.follow {
			color: #FD611E;
			font-size: 32rpx;
		}
	}

	.avator {
		width: 64rpx;
		height: 64rpx;
		border-radius: 50%;
	}

	//h5 APP
	/deep/ .uni-swiper-dots {
		position: absolute;
		bottom: 10% !important;
	}

	//微信小程序
	/deep/ .wx-swiper-dots {
		position: absolute;
		bottom: 10% !important;
	}

	::v-deep .evaluateCard {
		padding-top: 0px !important;
		box-sizing: border-box;
	}

	::v-deep .mescroll-body {
		background-color: #fff !important;


		.pets-card {
			padding: 0px 22rpx;
			box-sizing: border-box;
		}
	}

	.mescrollBox {
		background-color: #fff !important;
		padding: 0px 28rpx;
		box-sizing: border-box;

		:v-deep(.pets-card) {
			padding: 0px 28rpx;
			box-sizing: border-box;
			background-color: #fff;
		}
	}

	.card-wraaper {
		background-color: #fff;
		padding-top: 20rpx;
		box-sizing: border-box;

		.ack-wapper {
			display: flex;
			flex-direction: column;
			padding: 0px 28rpx;
			box-sizing: border-box;

			.ask {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				margin-top: 28rpx;

				.ask-left {
					width: 78%;
					display: flex;
					align-items: center;

					.ask-img {
						width: 40rpx;
						height: 40rpx;
						margin-right: 30rpx;
					}

					.ask-title {
						flex: 1;
						color: #333333;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

					}
				}

				.people {
					color: #999999;

				}
			}

			.ask-count {
				color: #333333;
				font-size: 28rpx;
				height: 96rpx;
				line-height: 96rpx;
				text-align: center;
				border-top: 1rpx solid #EEEEEE;
				margin-top: 28rpx;
			}
		}

		.card-title-wap {
			padding: 0px 28rpx;
			box-sizing: border-box;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.card-title {
				color: #333333;
				font-size: 32rpx;
				font-weight: 500;
			}

			.card-right {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 32rpx;
					height: 34rpx;
				}
			}
		}

	}

	.btm-wrapper {
		background-color: #fff;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
		position: absolute;
		margin-top: -40rpx;
		width: 100%;
		padding-bottom: 160rpx;
	}

	.info-wrppaer {
		width: 100%;
		background-color: #fff;
		padding: 40rpx 28rpx 0rpx;
		box-sizing: border-box;
		border-top-left-radius: 50rpx;
		border-top-right-radius: 50rpx;
		padding-bottom: 1rpx;
		position: relative;

		.price {
			color: #FD5A1E;
			font-weight: 500;
			font-size: 36rpx;
			margin-bottom: 36rpx;
		}

		.info-rows {
			.title {
				color: #333333;
				font-size: 32rpx;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-weight: 500;
			}
		}

		.jubao {
			width: 48rpx;
			height: 48rpx;
			position: absolute;
			top: 40rpx;
			right: 28rpx;
		}

		.edite-icon {
			width: 38rpx;
			height: 38rpx;
			position: absolute;
			top: 40rpx;
			right: 110rpx;
		}

		.call-wrapper {
			padding: 40rpx 0px 28rpx;
			box-sizing: border-box;
			justify-content: space-between;
			display: flex;
			align-items: center;
			font-size: 28rpx;
			color: #333333;
			border-bottom: 1rpx solid #EEEEEE;

			image {
				width: 56rpx;
				height: 56rpx;
				margin-right: 12rpx;
			}

			.call-item {
				display: flex;
				align-items: center;
				width: 33%;
				color: #999999;
				font-size: 24rpx;

				image {
					width: 34rpx;
					height: 34rpx;
					margin-right: 4rpx;
				}
			}

			.call-right {
				color: #999999;
				font-size: 24rpx;
			}
		}

		.synopsis {
			color: #666666;
			font-size: 28rpx;
			padding-bottom: 28rpx;
			box-sizing: border-box;
			margin: 20rpx 0px;
			display: flex;
			flex-wrap: wrap;
			word-break: break-all;
		}

		.wechat {
			color: #666666;
			font-size: 28rpx;
			margin-bottom: 30rpx;
		}

		.adr-wrraper {
			border-radius: 20rpx;
			padding: 0rpx 20rpx;
			box-sizing: border-box;
			background-color: #F8F8F8;

			.adr-wrap {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 28rpx;
				height: 96rpx;
				line-height: 96rpx;
				box-sizing: border-box;


				.adr-left {
					display: flex;
					align-items: center;
					flex: 1;

					.adr {
						width: 500rpx;
						white-space: nowrap; //禁止换行
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.adr-point {
						width: 40rpx;
						height: 40rpx;
						margin-right: 16rpx;
					}
				}

				.adr-right {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					flex: 1;
					color: #999999;
					text-align: right;

					.right-icon {
						width: 28rpx;
						height: 28rpx;
					}
				}
			}
		}
	}

	.slide-image {
		width: 100%;
		height: 600rpx;
	}
</style>