<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				{{isEdite? '编辑寻宠' : '发布寻宠'}}
			</template>
		</commonTop>
		<view class="up-pics">
			<view class="title beforeDot">上传照片</view>
			<uploadImg v-model="model.picture" :maxCount='6' :multiple='true' @updateImg="(e)=>model.picture=e" :width='104' :height="104">
			</uploadImg>
		</view>
		<view class="ms-title beforeDot">
			寻宠描述
		</view>
		<view class="pets-card">
			<view class="pingjia">
				<uv-textarea v-model="model.content" border='none' height='150' placeholder="请输入寻宠描述" maxlength="1000"></uv-textarea>
			</view>

			<uv-form labelPosition="left" ref="form">
				<uv-form-item label="走失地点" labelWidth='140' :required="true" @click="chooseLocation">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.lostAddr"
						inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="走失时间" labelWidth='140' prop="" @click="openTime" :required="true">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.lostTime"
						inputAlign='right' disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-form-item label="酬金" labelWidth='140' :required="true">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.gratitude"
						inputAlign='right' placeholder="请选择" border="none" @change="changeGratitude" type='number'>
						<template v-slot:suffix><span style="margin-right: 40rpx;">元</span></template>
					</uv-input>
					<template v-slot:right>
						<uv-radio-group v-model="model.gratitudeType" @change='changeGratitudeType'>
							<uv-radio activeColor="#FD611E" shape="square" :customStyle="{margin: '8px'}" label="面议"
								name="1">
							</uv-radio>
						</uv-radio-group>
					</template>
				</uv-form-item>
				<uv-form-item label="手机号" labelWidth='200' prop="phone" :required="true">
					<uv-input v-model="model.phone" placeholder="请输入" maxlength="11" fontSize='32rpx' inputAlign='right' border="none" type='number'>
					</uv-input>
				</uv-form-item>
				<uv-form-item label="微信" labelWidth='200' prop="wx">
					<uv-input v-model="model.wechat" placeholder="请输入" fontSize='32rpx' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>

				<uv-datetime-picker :formatter="formatter" :value='todayTime' ref="datetimePicker" mode="datetime" :maxDate="todayTime"  @confirm="timeConfirm">
				</uv-datetime-picker>
			</uv-form>
			<view class="submit" @click="submit">{{isEdite? '编辑寻宠' : '发布寻宠'}}</view>
		</view>


	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import {
		formatTime,
		getLocation,
		showToast
	} from '../../utils/util.js'
	import {
		findPetsRelease,
		findPetsEdit
	} from "@/config/vmeitime-http/findPets.js";
	
	import {
		isValidPhoneNumber
	} from '../../utils/check.js'

	export default {
		components: {
			commonTop,
			uploadImg
		},
		data() {
			return {
				todayTime: Number(new Date()),
				model: {
					picture: '',
					content: '',
					wechat: '',
					lostAddr: '',
					lostTime: '',
					gratitude: '',
					gratitudeType: 0,
					phone: '',
					wechat: '',
					lon: '',
					lat: ''
				},
				isEdite: false
			}
		},

		watch: {
			'model': { //这里是要监听的变量名
				handler(newValue, oldValue) {
					if (newValue) {
						if (this.model.gratitudeType == 1) {
							this.model.gratitude = ''
						}
					}

				},
				deep: true
			}
		},

		onLoad(options) {
			if (options.detail) {
				let detail = JSON.parse(options.detail)
				this.model = detail
				this.isEdite = true
			}
		},
		methods: {

			// 选择酬金
			changeGratitudeType(e) {
				this.model.gratitudeType = e
			},

			// 输入酬金
			changeGratitude() {
				if (this.model.gratitude != '') {
					this.model.gratitudeType = 0
				}
			},

			// 提交
			submit() {
				if (!this.model.picture) {
					showToast('请上传图片')
					return false
				}
				if (!this.model.content) {
					showToast('请输入描述')
					return false
				}

				if (!this.model.lostAddr) {
					showToast('请选择走失地点')
					return false
				}
				if (!this.model.lostTime) {
					showToast('请选择走失时间')
					return false
				}
				if (this.model.gratitudeType === 0 && this.model.gratitude === '') {
					showToast('酬金不能为空')
					return false
				}
				if (!this.model.phone) {
					showToast('请输入手机号')
					return false
				}
				if (!isValidPhoneNumber(this.model.phone)) {
					showToast('手机号格式不正确')
					return false
				}
				let Fn = this.isEdite ? findPetsEdit : findPetsRelease
				Fn(this.model).then((res) => {
					showToast(this.isEdite ? '编辑成功':'发布成功')
					uni.$emit('reloadLookfor', 0);
					setTimeout(() => {
						uni.navigateBack({
							delta: 1
						})
					}, 1000)

				})

			},

			formatter(type, value) {
				if (type === 'year') {
					return `${value}年`
				}
				if (type === 'month') {
					return `${value}月`
				}
				if (type === 'day') {
					return `${value}日`
				}
				if (type === 'hour') {
					return `${value}时`
				}
				if (type === 'minute') {
					return `${value}分`
				}
				return value
			},
			openTime() {
				this.$refs.datetimePicker.open();
			},
			// 走失时间
			timeConfirm(e) {
				let data = e.value
				this.model.lostTime = formatTime(e.value, 'dateTime')
			},

			// 选择位置
			async chooseLocation() {
				let adr = await getLocation()
				this.model.lostAddr = adr.address
				this.model.lat = adr.lat || ''
				this.model.lon = adr.lon || ''
			},
		}
	}
</script>

<style scoped lang="scss">
	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 90rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	.containner {
		padding: 28rpx 28rpx 100rpx;
		box-sizing: border-box;
		background-color: #fff !important;
		height: 100vh;

		.ms-title {
			color: #333333;
			font-size: 32rpx;
			font-weight: 500;
			padding-left: 18rpx;
			box-sizing: border-box;
			position: relative;
			margin: 40rpx 0px 20rpx;
		}

		.up-pics {
			.title {
				color: #333333;
				font-size: 32rpx;
				margin-bottom: 28rpx;
				font-weight: 500;
				position: relative;
			}
		}

		.submit {
			width: 100%;
			text-align: center;
			color: #fff;
			margin-top: 100rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;

		}

	}

	:v-deep page {
		background-color: #F9F9F9;
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-bottom: 128rpx;
		border-radius: 20rpx;

		.pingjia {
			display: flex;
			flex-direction: column;
			border-bottom: 1rpx solid #EEEEEE;

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
			}
		}

	}
</style>