<template>
	<view class="containner">
		<commonTop :show="true" :isBack="true" :isFixed="true" :onlyCenter="true" bgColor="#F9F9F9">
			<template slot="left"> {{isEdite? '编辑寻主' : '发布寻主'}} </template>
		</commonTop>
		<view class="up-pics">
			<view class="title beforeDot">上传照片</view>
			<uploadImg v-model="model.picture" :maxCount="6" :multiple='true' @updateImg="(e) => (model.picture = e)" :width="104"
				:height="104">
			</uploadImg>
		</view>
		<view class="ms-title beforeDot"> 寻主描述 </view>
		<view class="pets-card">
			<view class="pingjia">
				<uv-textarea v-model="model.content" border="none" height="150" placeholder="请输入（最多500字）" maxlength="1000"></uv-textarea>
			</view>

			<uv-form labelPosition="left" ref="form">
				<uv-form-item label="发现地点" labelWidth="140" :required="true" @click="chooseLocation">
					<uv-input placeholderStyle="font-size:32rpx;color:#CCCCCC" v-model="model.findAddr"
						inputAlign="right" disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="发现时间" labelWidth="140" prop="" @click="openTime" :required="true">
					<uv-input placeholderStyle="font-size:32rpx;color:#CCCCCC" v-model="model.findTime"
						inputAlign="right" disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-form-item label="手机号" labelWidth="200" prop="phone" :required="true">
					<uv-input v-model="model.phone" placeholder="请输入" maxlength="11"  fontSize="32rpx" inputAlign="right" border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="微信" labelWidth="200" prop="wx">
					<uv-input v-model="model.wechat" placeholder="请输入" fontSize="32rpx" inputAlign="right" border="none">
					</uv-input>
				</uv-form-item>

				<uv-datetime-picker :formatter="formatter" :value='todayTime' ref="datetimePicker" mode="datetime" :maxDate="todayTime"  @confirm="timeConfirm">
				</uv-datetime-picker>
			</uv-form>
			
			<view class="submit" @click="submit">{{isEdite? '编辑寻主' : '发布寻主'}}</view>
		</view>
	</view>
</template>

<script>
	import commonTop from "@/components/CommonTop";
	import uploadImg from "@/components/uploadImg.vue";
	import {
		formatTime,
		getLocation,
		showToast
	} from "../../utils/util.js";
	import {
		findMasterRelease,
		findMasterEdit
	} from "@/config/vmeitime-http/findMaster.js";
	import {
		isValidPhoneNumber
	} from '../../utils/check.js'
	export default {
		components: {
			commonTop,
			uploadImg,
		},
		data() {
			return {
				minDate: Number(new Date()),
				todayTime: Number(new Date()),
				model: {
					picture: "",
					content: "",
					wechat: "",
					findAddr: "",
					findTime: "",
					phone: "",
					wechat: "",
				},
				isEdite: false
			};
		},
		onLoad(options) {
			if (options.detail) {
				let detail = JSON.parse(options.detail)
				this.model = detail
				this.isEdite = true
			}
		},
		methods: {
			// 提交
			submit() {
				if (!this.model.picture) {
					showToast("请上传图片");
					return false;
				}
				if (!this.model.content) {
					showToast("请输入描述");
					return false;
				}
				if (!this.model.findAddr) {
					showToast('请选择走失地点')
					return false
				}
				if (!this.model.findTime) {
					showToast('请选择发现时间')
					return false
				}
				if (this.model.gratitudeType === 0 && this.model.gratitude === "") {
					showToast("酬金不能为空");
					return false;
				}
				if (!this.model.phone) {
					showToast("请输入手机号");
					return false;
				}
				if (!isValidPhoneNumber(this.model.phone)) {
					showToast('手机号格式不正确')
					return false
				}
				let Fn = this.isEdite ? findMasterEdit : findMasterRelease
				Fn(this.model).then((res) => {
					showToast(this.isEdite ? '编辑成功':'发布成功')
					uni.$emit('reloadLookfor', 1);
					setTimeout(() => {
						uni.navigateBack({
							delta: 1,
						});
					}, 1000);
				});
			},

			
			formatter(type, value) {
				if (type === 'year') {
					return `${value}年`
				}
				if (type === 'month') {
					return `${value}月`
				}
				if (type === 'day') {
					return `${value}日`
				}
				if (type === 'hour') {
					return `${value}时`
				}
				if (type === 'minute') {
					return `${value}分`
				}
				return value
			},
			
			openTime() {
				this.$refs.datetimePicker.open();
			},
			// 走失时间
			timeConfirm(e) {
				let data = e.value
				this.model.findTime = formatTime(e.value, 'dateTime')
			},
			
			// 选择位置
			async chooseLocation() {
				let adr = await getLocation()
				console.log(adr)
				this.model.findAddr = adr.address
				this.model.lat = adr.lat || ''
				this.model.lon = adr.lon || ''
			},
		},
	};
</script>

<style scoped lang="scss">
	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 90rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		background-color: #fff !important;
		height: 100%;

		.ms-title {
			color: #333333;
			font-size: 32rpx;
			font-weight: 500;
			padding-left: 18rpx;
			box-sizing: border-box;
			position: relative;
			margin: 40rpx 0px 20rpx;
		}

		.up-pics {
			.title {
				color: #333333;
				font-size: 32rpx;
				margin-bottom: 28rpx;
				font-weight: 500;
				position: relative;
			}
		}

		.submit {
			position: fixed;
			bottom: 10px;
			left: 4%;
			width: 92%;
			text-align: center;
			color: #fff;
			margin-top: 40rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #fd611e 0%, #ff3f33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}
	}

	:v-deep page {
		background-color: #f9f9f9;
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-bottom: 128rpx;
		border-radius: 20rpx;

		.pingjia {
			display: flex;
			flex-direction: column;
			border-bottom: 1rpx solid #eeeeee;

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
			}
		}
	}
</style>