<template>
	<view class="containner">
		<view class="top">
			<view class="userinfo">
				<image class="avator" :src="userinfo.avatar || '../../static/avatar.png'"
					@click.stop="goPage('/pagesA/mine/settings')" mode="aspectFill"></image>
				<view class="name-rz" @click.stop="goPage('/pagesA/mine/settings')">
					<view class="nick f34C3">{{userinfo.nickName || '编辑姓名'}}</view>
					<!-- image class="rz" src="../../static/rz.png" mode="widthFix"></image> -->
					<view class="phone">{{userinfo.userPhone}}</view>
				</view>
	
				<view class="user-home" @click.stop="goPage(`/pagesA/mine/personalhome?avatar=${userinfo.avatar}&userId=${userId}&nickName=${userinfo.nickName}`)">
					个人中心 <image class="src" src="@/static/icon_arrow_right14.png" mode="widthFix"></image>
				</view>
			</view>

			<view class="data-wrapper">
				<view class="data-item" @click="gopage('/pagesA/public/myRecords?type=1')">
					<view class="count">{{userPetNodeCount.like}}</view>
					<view class="name">我赞过</view>
				</view>
				<view class="data-item" @click="gopage('/pagesA/public/myRecords?type=2')">
					<view class="count">{{userPetNodeCount.collect}}</view>
					<view class="name">收藏</view>
				</view>
				<view class="data-item" @click="gopage('/pagesA/public/myRecords?type=3')">
					<view class="count">{{userPetNodeCount.visitor}}</view>
					<view class="name">浏览记录</view>
				</view>
				<view class="data-item" @click="gopage('/pagesA/public/myRecords?type=4')">
					<view class="count">{{userPetNodeCount.evaluate}}</view>
					<view class="name">评论中心</view>
				</view>
			</view>


			<view class="order-wrapper">
				<view class="data-item" @click="goOrder(item,index)" v-for="(item,index) in orderStatusList"
					v-bind:key="index">
					<image class="count" mode="widthFix" :src="item.img"></image>
					<view class="name">{{item.name}}</view>
				</view>
			</view>
		</view>

		<view class="bottom">
			<view class="settlein" v-if="!isRegisterMerchant">
				<view class="title-row">
					<view class="t-item" :class="typeSettlement==0?'rz-img1':''" @click.stop="choseRZ(0)">商户入驻</view>
					<view class="t-item" :class="typeSettlement==1?'rz-img2':''" @click.stop="choseRZ(1)">
						<!-- 救助机构入驻 -->
					</view>
				</view>
				<view class="rz-row" @click="goRegisterPage(typeSettlement)">
					<image class="rz-img"
						:src="typeSettlement==0? '../../static/Settledin_Blue@2x.png':'../../static/Settledin_Red@2x.png'"
						mode="widthFix"></image>
				</view>
			</view>

			<view class="card" v-if="isRegisterMerchant" style="margin-top: 20rpx;">
				<view class="salvation ajbetween" @click="goPage('/pagesB/merchant/index')">
					<view class="title">商户管理</view>
					<image class="right" mode="widthFix" src="../../static/icon_More24@2x.png"></image>
				</view>
				<view class="data-wrapper">
					<view class="data-item">
						<view class="count">{{merchantStatistics.transactionVolume || 0}}</view>
						<view class="name">成交额</view>
					</view>
					<view class="data-item">
						<view class="count">{{merchantStatistics.validOrders || 0}}</view>
						<view class="name">有效订单数</view>
					</view>
					<view class="data-item">
						<view class="count">{{merchantStatistics.totalOrder || 0}}</view>
						<view class="name">总订单数</view>
					</view>
					<view class="data-item">
						<view class="count">{{merchantStatistics.visitorCount || 0}}</view>
						<view class="name">访客数</view>
					</view>
				</view>
			</view>

			<!-- <view class="card" v-if="isregisterInstitution">
				<view class="salvation ajbetween" @click="goPage('/pagesB/reliefagency/index')">
					<view class="title">救助机构管理</view>
					<image class="right" mode="widthFix" src="../../static/icon_More24@2x.png"></image>
				</view>
				<view class="data-wrapper">
					<view class="data-item">
						<view class="count">120</view>
						<view class="name">我赞过</view>
					</view>
					<view class="data-item">
						<view class="count">0</view>
						<view class="name">收藏</view>
					</view>
					<view class="data-item">
						<view class="count">120</view>
						<view class="name">浏览记录</view>
					</view>
					<view class="data-item">
						<view class="count">120</view>
						<view class="name">评论中心</view>
					</view>
				</view>
			</view> -->

			<view class="card" style="margin-top: 28rpx;">
				<view class="menu-wrapper">
					<!-- 	<view class="mdata-item ">
						<image class="count" mode="widthFix" src="../../static/icon_Feeding_certificate@2x.png"></image>
						<view class="name">云喂养证书</view>
					</view> -->
					<view class="mdata-item" @click.stop="goRenzheng(0)">
						<image class="count" mode="widthFix" src="../../static/icon_certified_driver@2x.png">
						</image>
						<view class="name">认证专车司机</view>
					</view>
					<view class="mdata-item" @click.stop="goRenzheng(1)">
						<image class="count" mode="widthFix" src="../../static/icon_Pet_Butler@2x.png"></image>
						<view class="name">认证宠物管家</view>
					</view>
					<view class="mdata-item ">

						<button open-type="contact" class="contact-btn">
							<image class="count" mode="widthFix" src="../../static/icon_customer_service@2x.png">
							</image>
							<view class="name">客服</view>
						</button>
					</view>
					<view class="mdata-item" @click.stop="goPage('/pagesA/mine/settings')">
						<image class="count" mode="widthFix" src="../../static/icon_setup28@2x.png"></image>
						<view class="name">设置</view>
					</view>
					<!-- <view class="mdata-item">
						<image class="count" mode="widthFix" src="../../static/icon_Administrator_management@2x.png">
						</image>
						<view class="name">管理员管理</view>
					</view> -->
				</view>

			</view>

		</view>
	</view>
</template>

<script>
	import {
		getUserInfoById,
		userPetNodeCount
	} from "@/config/vmeitime-http/login.js";
	import {
		merchantStatistics
	} from "@/config/vmeitime-http/merchant.js";
	import img1 from '../../static/icon_Order@2x.png'
	import img2 from '../../static/icon_Waitingfororders@2x.png'
	import img3 from '../../static/icon_Tobeused@2x.png'
	import img4 from '../../static/icon_Refund@2x.png'
	import img5 from '../../static/icon_Beevaluated@2x.png'
	import storage from "../../utils/storage";
	import {
		myDriverInfo
	} from "@/config/carride-http/newclient.js";
	import {
		showToast,
		gopage
	} from '@/utils/util.js'
	import store from '../../store/index'

	export default {
		data() {
			return {
				gopage: gopage,
				orderStatusList: [{
					name: '全部订单',
					img: img1
				}, {
					name: '待支付',
					img: img2
				}, {
					name: '待使用',
					img: img3
				}, {
					name: '待评价',
					img: img4
				}, {
					name: '退款/取消',
					img: img5
				}],
				typeSettlement: 0,
				userinfo: {},
				merchantStatistics: {},
				// 是否注册商户
				isRegisterMerchant: false,
				// 入驻类型
				registerType: null,
				// 救助机构管理
				isregisterInstitution: true,
				// 认证信息
				driverInfo: {
					driverState: ''
				},
				userPetNodeCount: {
					like: 0,
					collect: 0,
					visitor: 0,
					evaluate: 0
				},
				token: store.state.loginInfo.loginToken.access_token || store.getters.loginToken,
				userId:storage.get('loginInfo').userId
			}
		},
		onShow() {
			if (storage.get('userInfo') && this.token) {
				this.getmerchantInfo()
				this.getUserPetNodeCount()
			}else {
				uni.reLaunch({
					url: "/pagesA/login/login",
				});
			}
		},
		created() {
			if (storage.get('userInfo') && this.token) {
				this.getmerchantInfo()
				this.getMerchantStatistics()
				this.getMyDriverInfo()
				this.getUserPetNodeCount()
			} else {
				uni.reLaunch({
					url: "/pagesA/login/login",
				});
			}

		},
		onPullDownRefresh() {
			if (storage.get('userInfo') && this.token) {
				this.getmerchantInfo()
				this.getMerchantStatistics()
				this.getMyDriverInfo()
				this.getUserPetNodeCount()
			} else {
				uni.reLaunch({
					url: "/pagesA/login/login",
				});
			}
		},
		methods: {
			// 获取点赞、收藏、浏览、评论数量
			getUserPetNodeCount() {
				userPetNodeCount().then((res) => {
					console.log(res)
					this.userPetNodeCount = res
				})

			},
			// 跳转认证
			goRenzheng(type) {
				if (type == 0 && this.driverInfo.driverState == 0 && this.driverInfo.hasButler == 1) {
					showToast('宠物管家认证中，请审核后在操作')
					return false
				}
				if (type == 1 && this.driverInfo.driverState == 0 && this.driverInfo.hasDriver == 1) {
					showToast('司机认证中，请审核后在操作')
					return false
				}
				if (type == 1 && this.driverInfo.driverState == 1 && this.driverInfo.hasDriver == 1) {
					showToast('已认证')
					return false
				}
				uni.navigateTo({
					url: `/pagesC/petTaxi/authentication?authType=${type}`
				})
			},

			// 获取司机或管家认证信息
			getMyDriverInfo() {
				myDriverInfo().then((res) => {
					if (res) {
						this.driverInfo = res
					}
				})
			},


			// 跳转订单
			goOrder(item, index) {
				uni.navigateTo({
					url: `/pagesA/mine/order?name=${item.name}&index=${index}`
				})
			},

			// 跳转注册申请或救助机构申请
			goRegisterPage(type) {
				if (type == 0) {
					if (!this.isRegisterMerchant) {
						uni.navigateTo({
							url: '/pagesA/settled/index'
						})
					} else if (this.registerType == 1 || this.registerType == 2) {
						uni.navigateTo({
							url: '/pagesA/settled/merchantsetd'
						})
					}


				}
			},

			// 获取普通用户信息
			getmerchantInfo() {
				getUserInfoById({
					id: storage.get('userInfo').userId
				}).then((res) => {
					uni.stopPullDownRefresh()
					this.userinfo = res
					let merchantInfo = res.merchant
					if (merchantInfo && merchantInfo.type) {
						this.registerType = merchantInfo.type
						this.isRegisterMerchant = merchantInfo.status == 2 ? true : false
					}
				})

			},

			// 获取商户管理信息
			getMerchantStatistics() {
				merchantStatistics().then((res) => {
					console.log(res)
					this.merchantStatistics = res
				})
			},

			choseRZ(type) {
				return
				this.typeSettlement = type
			},

			// 跳转
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.nick {
		font-weight: 500;
	}
	.contact-btn,
	.contact-btn::after {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}

	.containner {
		padding-bottom: 150rpx;
		box-sizing: border-box;
	}

	.bottom {
		padding: 0px 28rpx;
		box-sizing: border-box;

		.card {
			background-color: #FFFFFF;
			border-radius: 20rpx;
			padding: 28rpx 0px;
			box-sizing: border-box;

		}

		.settlein {
			margin: 28rpx 0px 20rpx;
			background-color: #FFFFFF;
			box-sizing: border-box;
			border-radius: 20rpx;
			overflow: hidden;

			.rz-row {

				padding: 20rpx 16rpx;
				box-sizing: border-box;

				.rz-img {
					width: 100%;

				}
			}

			.title-row {
				border-top-left-radius: 20rpx;
				border-top-right-radius: 20rpx;
				display: flex;
				align-items: center;

				.rz-img1 {
					background-image: url('../../static/Merchant_selected@2x.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					width: 70% !important;
				}

				.rz-img2 {
					background-image: url('../../static/Institution_selected@2x.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					width: 65% !important;
				}

				.t-item {
					font-size: 32rpx;
					color: #999999;
					height: 92rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 50%;
					background-color: #EAEAEA;

				}


			}
		}
	}

	.salvation {
		padding: 0px 20rpx 28rpx;
		box-sizing: border-box;
		color: #333333;
		font-size: 32rpx;
		font-weight: 500;

		.title {
			color: #333333;
			font-size: 32rpx;
		}

		.right {
			width: 40rpx;
		}
	}

	.data-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		box-sizing: border-box;
		flex-wrap: wrap;

		.data-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.count {
				color: #333333;
				font-size: 40rpx;
			}

			.name {
				color: #333333;
				font-size: 24rpx;
				margin-top: 8rpx;
			}
		}
	}


	.top {
		background-image: url(@/pagesA/static/img/my_background1@2x.png);
		background-size: 100% 100%;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.userinfo {
			display: flex;
			align-items: center;
			padding: 40rpx 0rpx;
			box-sizing: border-box;
			position: relative;

			.avator {
				width: 136rpx;
				height: 136rpx;
				border-radius: 50%;
				margin-right: 28rpx;
			}

			.name-rz {
				.rz {
					height: 40rpx;
					width: 152rpx;
					margin-top: 14rpx;
				}

				.phone {
					margin-top: 14rpx;
					color: #666666;
					font-size: 30rpx;
				}
			}

			.user-home {
				width: 150rpx;
				height: 48rpx;
				background: #FFFFFF;
				border-radius: 24rpx 24rpx 24rpx 24rpx;
				opacity: 0.8;
				color: #666666;
				font-size: 24rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 54rpx;
				right: 28rpx;

				image {
					width: 22rpx;
					height: 22rpx;
				}
			}
		}
	}

	.order-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: #FFFFFF;
		border-radius: 20rpx;
		padding: 32rpx 0px;
		box-sizing: border-box;
		margin-top: 28rpx;

		.data-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.count {
				width: 68rpx;
				height: 68rpx;
			}

			.name {
				color: #333333;
				font-size: 24rpx;
				margin-top: 8rpx;
			}
		}
	}

	.menu-wrapper {
		display: flex;
		align-items: center;
		background-color: #FFFFFF;
		border-radius: 20rpx;
		padding: 8rpx 0px -8rpx;
		box-sizing: border-box;
		flex-wrap: wrap;

		.mdata-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 26rpx;
			width: 25%;

			.count {
				width: 68rpx;
				height: 68rpx;
			}

			.name {
				color: #333333;
				font-size: 24rpx;
				margin-top: 8rpx;
			}
		}
	}
</style>