<!-- 上门喂养详情 -->
<template>
	<view class="container">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				订单详情
			</template>
		</commonTop>

		<view class="form-wrapper">
			<uv-form>
				<view class="status-row">
					<view class="status">{{statusMap[model.state || '']}}</view>
					<view class="distant">{{model.distance || 0}}km</view>
				</view>
				<view class="card address">
					<view class="car-label">
						<view class="label">{{model.serviceType}}</view>
					</view>
					<div type="text" readonly class="ipt" placeholder="宠物接送起始点">{{model.serviceTime}}</div>
					<div type="text" class="ipt pdr line1Es" placeholder="宠物接送目的地" @click.stop="openLocation(model)">
						{{model.address}}
						<image class="dh-img" src="../static/daohang.png" mode="widthFix"></image>
					</div>
					<view class="line"></view>
					<image class="icon_arrow" src="../static/icon_arrow_down@2x.png"></image>
				</view>
				<view class="card" v-if="type=='user'&&model.receiveUserInfo">
					<view class="fuwu-title">服务人</view>
					<view class="service-personnel">
						<image :src="model.receiveUserInfo.avatar || ''" mode="widthFix" class="avator"></image>
						<view class="right">
							<view class="ms">{{model.receiveUserInfo.nickName}}</view>
						</view>
						<view class="call" @click="callPhone(model.receiveUserInfo.userPhone)">
							<image class="src" src="../static/icon_Telephone@2x.png" mode="widthFix"></image>
						</view>
					</view>
				</view>

				<view class="card">
					<view class="fuwu-title">联系人</view>
					<view class="service-personnel">
						<view class="ms">{{model.contactName}}</view>
						<view class="call" @click="callPhone(model.contactPhone)" style="top:-16rpx">
							<image class="src" src="../static/icon_Telephone@2x.png" mode="widthFix"></image>
						</view>
					</view>
				</view>


				<view class="pets-card" v-if="model.state>=7">

					<view class="title beforeDot">请上传门口照片</view>

					<view class="card-row">
						<uploadImg v-model="model.entrancePhoto" :readonly='model.state>=8' :maxCount='1' width='104'
							height="104" :imgUrlType='1' imgUrl='@/static/Photo_Front@2x.png'
							@updateImg="(e)=>model.entrancePhoto=e"></uploadImg>

					</view>

					<view class="title beforeDot">请上传服务中照片</view>

					<view class="card-row">
						<uploadImg v-model="model.photoService" :readonly='model.state>=8'
							@updateImg="(e)=>model.photoService=e" :maxCount='1' width='104' height="104">
						</uploadImg>

					</view>

					<view class="title beforeDot">请上传完成服务后照片</view>

					<view class="card-row">
						<uploadImg v-model="model.postServicePhotos" :readonly='model.state>=8'
							@updateImg="(e)=>model.postServicePhotos=e" :maxCount='1' width='104' height="104">
						</uploadImg>

					</view>


				</view>


				<view class="card">
					<view class='detail-ms ajbetween'>
						<view class="title">详细描述</view>
						<view class="ms-cnt">{{model.description}}</view>
					</view>
					<uv-form-item label="宠物照片" labelWidth='140' labelPosition='top' borderBottom>
						<view class="img-list">
							<uv-image class="img-item" @click="previewImage(index,imgList)" width='104'
								v-for="(item,index) in imgList" mode="widthFix" v-bind:key="index"
								:src="item"></uv-image>
						</view>

					</uv-form-item>

				</view>
				<view class="card">
					<uv-form-item label="金额" labelWidth='140' @click="openDate" borderBottom>
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.money"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="金额" border="none">
						</uv-input>
					</uv-form-item>
					<uv-form-item label="小费" labelWidth='140' borderBottom>
						<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.tip"
							inputAlign='right' disabled disabledColor="#ffffff" placeholder="小费" border="none">
						</uv-input>
					</uv-form-item>
					<uv-form-item>
						<template v-slot:right>
							<view class="total">总计：<span class="unit">￥</span> <span class="price"> {{model.payMoney}}
								</span></view>
						</template>
					</uv-form-item>
				</view>
			</uv-form>
		</view>
		<view class="btm-wrapper">
			<view class="cancel-btn" v-if="(model.state==6 && type=='driver') || (model.state==1 && type=='user')" @click="cancelOrder">取消订单</view>
			<view class="cancel-btn" v-if="model.state==8 && type=='user'" @click="goSubEvaluation">评价</view>
			<view class="btm-row" v-if="(model.state==1||model.state==6||model.state==7) && type=='driver'">
				<moveVerify :style="{ marginTop: '40rpx'}" :status='model.state' @vertify='vertifyResult'></moveVerify>
			</view>
		</view>
	</view>
	</view>

</template>

<script>
	import uploadImg from '@/pagesC/components/uploadDriverImg.vue'
	import moveVerify from '@/pagesC/components/move-verify/move-verify.vue'
	import storage from '../../utils/storage'
	import {
		gopage,
		feedStatusMap,
		openLocation,
		callPhone,
		previewImage,
		showToast
	} from '@/utils/util.js'
	import commonTop from '@/components/CommonTop'
	import {
		homeFeedInfo,
		driverHomeFeedInfo,
		confirmHomeFeed,
		beginHomeFeed,
		completeHomeFeed,
		cancelHomeFeed,
		driverCancelHomeFeed
	} from "@/config/vmeitime-http/feed.js";

	export default {
		components: {
			commonTop,
			uploadImg,
			moveVerify
		},
		data() {
			return {
				previewImage: previewImage,
				callPhone: callPhone,
				openLocation: openLocation,
				status: 0,
				gopage: gopage,
				statusMap: feedStatusMap,
				model: {},
				imgList: [],
				currentAdr: storage.get('currentAdr')?.location,
				type: 'user',
				id: ''
			}
		},

		onLoad(options) {
			if (options.id) {
				this.type = options.type
				this.id = options.id
				this.getDriverHomeFeedInfo()
			}
		},
		methods: {

			// 取消订单
			cancelOrder() {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确定取消订单吗？',
					success: function(res) {
						if (res.confirm) {
							let Fn = that.type == 'user' ? cancelHomeFeed : driverCancelHomeFeed
							Fn({
								id: that.id
							}).then((res) => {
								showToast('取消成功')
								that.getDriverHomeFeedInfo()
							})
						}
					}
				});


			},

			// 去评价
			goSubEvaluation() {
				uni.navigateTo({
					url: `/pagesA/homeFeed/subEvaluation?id=${this.model.id}`
				})
			},

			// 获取详情
			getDriverHomeFeedInfo() {
				let Fn = this.type == 'user' ? homeFeedInfo : driverHomeFeedInfo
				Fn({
					id: this.id,
					currentLongitude: this.currentAdr?.lon,
					currentLatitude: this.currentAdr?.lat
				}).then((res) => {
					this.model = res
					this.model.serviceType =  this.model.serviceType.replace('["','').replace('"]','').replaceAll('"','')
					this.model.state = parseInt(this.model.state)
					this.model.distance = this.model?.distance.toFixed(2)
					this.imgList = this.model.picture ? this.model.picture.split(',') : []
					let servicePicture = this.model.servicePicture.split(',') || []
					if (servicePicture.length > 0) {
						this.model.entrancePhoto = servicePicture[0]
						this.model.photoService = servicePicture[1]
						this.model.postServicePhotos = servicePicture[2]
					}
				})
			},
			vertifyResult(date) {
				console.log(this.model.state)
				if (this.model.state == 1) {
					this.confirmHomeFeedFn()
				} else if (this.model.state == 6) {
					this.beginHomeFeedFn()
				} else if (this.model.state == 7) {
					if (!this.model.entrancePhoto) {
						showToast('请上传门口照片')
						return false
					}
					if (!this.model.photoService) {
						showToast('请上传服务中照片')
						return false
					}
					if (!this.model.postServicePhotos) {
						showToast('请上传完成服务后照片')
						return false
					}
					let servicePicture = [this.model.entrancePhoto, this.model.photoService, this.model
						.postServicePhotos
					]

					this.completeHomeFeedFn(servicePicture)
				}


			},

			// 确定接单
			confirmHomeFeedFn() {
				confirmHomeFeed({
					id: this.id
				}).then((res) => {
					this.getDriverHomeFeedInfo()
				})
			},

			// 开始服务
			beginHomeFeedFn() {
				beginHomeFeed({
					id: this.id
				}).then((res) => {
					this.getDriverHomeFeedInfo()
				})
			},

			// 完成服务
			completeHomeFeedFn(servicePicture) {
				completeHomeFeed({
					id: this.id,
					servicePicture: servicePicture.join(',')
				}).then((res) => {
					this.getDriverHomeFeedInfo()
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 0rpx 28rpx 20rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;

		.title {
			font-size: 32rpx;
			color: #333333;
			margin-top: 28rpx;
			position: relative;
		}

		.flex {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 28rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}
	}

	::v-deep .uv-textarea {
		padding: 20rpx 0px;
		box-sizing: border-box;
	}

	.detail-ms {
		align-items: baseline;
		padding: 20rpx 0px;
		box-sizing: border-box;
		border-bottom: 1px solid #efefef;

		.title {
			width: 150rpx;
		}

		.ms-cnt {
			flex: 1;
			font-size: 30rpx;
		}

	}

	.fuwu-title {
		margin: 36rpx 0px 28rpx;
	}

	.pdr {
		padding-right: 50px;
		box-sizing: border-box;
	}

	.img-list {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-top: 20rpx;

		.img-item {
			width: 33%;
		}
	}

	.service-personnel {
		width: 100%;
		display: flex;
		flex-direction: row;
		background-color: #fff;
		border-radius: 20rpx;
		position: relative;
		padding-bottom: 36rpx;
		box-sizing: border-box;

		.avator {
			width: 116rpx;
			height: 116rpx;
			border-radius: 50%;
		}

		.call {
			width: 88rpx;
			height: 64rpx;
			background: #FFFFFF;
			border-radius: 12rpx 12rpx 12rpx 12rpx;
			border: 2rpx solid #EEEEEE;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 20rpx;
			top: 32rpx;

			image {
				width: 30rpx;
			}
		}

		.right {
			flex: 1;
			margin-left: 28rpx;
			align-items: center;
			display: flex;

			.rz-img {
				width: 152rpx;
				margin-top: 8rpx;
			}

			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				font-size: 32rpx;
			}

			.rate-wrap {
				margin: 12rpx 0px 32rpx;
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				.rate {
					color: #FD611E;
				}
			}
		}
	}

	.total {
		color: #666666;
		font-size: 28rpx;

		.unit {
			color: #FD611E;
		}

		.price {
			color: #FD611E;
			font-size: 44rpx;
		}
	}

	.btm-wrapper {
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		padding: 12rpx 40rpx 14rpx;
		box-sizing: border-box;
		display: flex;
		z-index: 99;
		justify-content: flex-end;

		.cancel-btn {
			width: 208rpx;
			height: 88rpx;
			background: #FFFFFF;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			border: 2rpx solid #EEEEEE;
			color: #333333;
			font-size: 32rpx;
			text-align: center;
			line-height: 88rpx;
			margin-left: 28rpx;
		}

		.btm-row {
			flex: 1;
			padding: 0px 28rpx;
			box-sizing: border-box;


		}

		.radio-flex {
			display: flex;
			align-items: baseline;
			padding: 0px 40rpx;
			box-sizing: border-box;

			.treaty {
				color: #999999;
				font-size: 24rpx;

				span {
					color: #3FA3FF;
				}
			}
		}
	}

	.form-wrapper {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;

		.status-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 28rpx 0px;

			.status {
				font-weight: 500;
				font-size: 40rpx;
				color: #333333;
			}

			.distant {
				color: #666666;
				font-size: 32rpx;
			}
		}

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 1rpx 28rpx;
			box-sizing: border-box;
			margin-bottom: 20rpx;


			.weight-flex {
				display: flex;
				align-items: center;

				span {
					margin-left: 8rpx;
					color: #666;
					font-size: 32rpx;
				}
			}

			.tags-wrapper {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.tag {
					padding: 8rpx 20rpx;
					box-sizing: border-box;
					color: #333333;
					font-size: 24rpx;
					border: 2rpx solid #EEEEEE;
					border-radius: 8rpx;
					margin-right: 16rpx;
					margin-bottom: 16rpx;
				}
			}
		}

		.address {
			padding: 28rpx 20rpx 12rpx 60rpx !important;
			box-sizing: border-box;
			position: relative;

			.car-label {
				display: flex;
				justify-content: space-between;
				margin-bottom: 28rpx;

				.label {
					font-size: 34rpx;
					color: #000;
					text-align: center;
					margin-left: -5%;
				}

				.time {
					color: #666666;
					font-size: 32rpx;

					span {
						font-weight: 500;
						color: #1C92FF;
						margin-left: 16rpx;
					}
				}
			}

			.icon_arrow {
				position: absolute;
				width: 26rpx;
				height: 26rpx;
				top: 58%;
				left: 22rpx
			}

			&:before {
				position: absolute;
				content: '';
				width: 12rpx;
				height: 12rpx;
				border: 2rpx solid #31D15B;
				border-radius: 50%;
				top: -9%;
				bottom: 0px;
				margin: auto;
				left: 28rpx;
			}

			&::after {
				position: absolute;
				content: '';
				width: 12rpx;
				height: 12rpx;
				border: 2rpx solid #FF4646;
				border-radius: 50%;
				bottom: 75rpx;
				margin: auto;
				left: 28rpx;
			}

			.line {
				height: 80rpx;
				border-left: 1rpx dashed #1C92FF;
				position: absolute;
				top: 52%;
				left: 17px;
			}

			.ipt {
				width: 100%;
				height: 116rpx;
				line-height: 116rpx;
				background: #F8F8F8;
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				margin-bottom: 16rpx;
				padding-left: 20rpx;
				box-sizing: border-box;
				position: relative;

				.dh-img {
					width: 36rpx;
					height: 36rpx;
					top: 0px;
					bottom: 0px;
					right: 40rpx;
					margin: auto;
					position: absolute;
				}

				&:last-child::before {
					background-color: #FF4646 !important;
				}
			}
		}
	}

	.tabs {
		display: flex;
		justify-content: center;
		margin: 28rpx 0px;
	}
</style>