<template>
	<view class="containner">
		<commonTop :show="true" :isBack="true" :isFixed="true" bgColor="#F9F9F9">
			<template slot="left" @click="gopage('/pagesC/petTaxi/mine?switchDriver=true')">
				<view class="top-row">
					<image class="avator" mode="widthFix" :src="userinfo.avatar || '../static/avatar.png'"></image>
					{{userinfo.nickName}}
				</view>
			</template>
			<template slot="right">
				<view class="info-dots">
					<image class="info-img" src="../static/icon_information20@2x.png" mode="widthFix"></image>
				</view>
			</template>
		</commonTop>
		<view class="search-wrapper">
			<uvSticky :disabled="true">
				<view class="tab-wrapper">
					<uvTabs :list="tablist" lineWidth="32"
						lineColor="linear-gradient(90deg, rgba(28, 146, 255, 1), rgba(28, 78, 255, 1)) 4 4"
						@change="changeTab" :activeStyle="{
              color: '#333333',
              fontWeight: 'bold',
              transform: 'scale(1)',
            }" :inactiveStyle="{
              color: '#999999',
              transform: 'scale(1)',
            }" itemStyle="padding-left: 70rpx; padding-right: 70rpx; height: 88rpx;fontSize:32rpx" customStyle="">
					</uvTabs>
				</view>
			</uvSticky>
		</view>

		<TravelOrdersList v-if="orderIndex == 0" :tabCurrentIndex='tabCurrentIndex'></TravelOrdersList>
		<ServiceOrdersList v-if="orderIndex == 1" :tabCurrentIndex='tabCurrentIndex'></ServiceOrdersList>

		<tabBar @tabChange="tabBarChange"></tabBar>
	</view>
</template>

<script>
	import commonTop from "@/components/CommonTop";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from "@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue";
	import TravelOrdersList from "@/pagesC/components/travelOrdersList.vue";
	import ServiceOrdersList from "@/pagesC/components/serviceOrdersList.vue";
	import tabBar from "@/pagesC/components/custom-tabbar.vue";
	import uvSticky from "@/uni_modules/uv-sticky/components/uv-sticky/uv-sticky.vue";
	import { driverHomeFeedPage } from "@/config/vmeitime-http/feed.js";
	import storage from "../../utils/storage";
	import { gopage } from "../../utils/util";


	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			TravelOrdersList,
			tabBar,
			uvSticky,
			ServiceOrdersList,
		},
		data() {
			return {
				userinfo: storage.get('userInfo'),
				gopage: gopage,
				currentAdr: storage.get('currentAdr')?.location,
				tabCurrentIndex: 0,
				travelOrderData: [],
				tablist: [{
						name: "出行订单",
					},
					{
						name: "上门服务订单",
					},
				],
				orderIndex: 0,
			};
		},

		created() {
			console.log(storage.get('currentAdr'))
		},
		methods: {
			// tab切换
			changeTab(e) {
				this.travelOrderData = []
				this.orderIndex = e.index;

			},
			// 底部切换
			tabBarChange(e) {
				console.log(e)
				this.tabCurrentIndex = e
				// this.mescroll.resetUpScroll();
			},
			// 跳转发布
			go(url) {
				uni.navigateTo({
					url: url,
				});
			}
		},
	};
</script>

<style scoped lang="scss">
	.containner {
		padding-bottom: 150rpx;
		box-sizing: border-box;

		.info-dots {
			display: flex;
			align-items: center;
			position: relative;

			&::before {
				top: 2rpx;
				right: 2px;
				content: "";
				position: absolute;
				width: 12rpx;
				height: 12rpx;
				background: #ff4646;
				border-radius: 50%;
			}

			.info-img {
				width: 40rpx;
				height: 40rpx;
			}
		}

		.top-row {
			display: flex;
			align-items: center;

			.avator {
				margin-right: 16rpx;
			}
		}

		.avator {
			width: 64rpx;
			height: 64rpx;
		}

		.tab-wrapper {
			display: flex;
			justify-content: center;
		}
	}
</style>