<!-- 打车订单详情 -->
<template>
	<view class="container">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				订单详情
			</template>
		</commonTop>

		<view class="form-wrapper">
			<uv-form>
				<view class="status-row">
					<view class="status">{{orderStatusMap[model.status]}}</view>
					<view class="distant">{{model.orderDistance}}km</view>
				</view>
				<view class="red" v-if="model.status==1 && identity=='driver'">资金需乘客确认完成后到账或7天内到账！</view>
				<view class="card address">
					<view class="car-label">
						<view class="label">{{model.orderType==9 ? '宠物顺风车': '宠物专车'}}</view>
						<view class="time"> {{model.appointmentDate}}</view>
					</view>
					<view type="text" class="ipt" placeholder="宠物接送起始点">{{model.sendAddress}}</view>
					<view type="text" class="ipt" placeholder="宠物接送目的地" @click.stop="openLocation(model)">
						{{model.recipientAddress}}
						<image class="dh-img" src="../static/daohang.png" mode="widthFix"></image>
					</view>
					<view class="line"></view>
					<image class="icon_arrow" src="../static/icon_arrow_down@2x.png"></image>
				</view>
				<view class="card" v-if="identity=='driver'">
					<view class="fuwu-title">发起人</view>
					<view class="service-personnel">
						<image src="@/static/avatar@2x.png" mode="widthFix" class="avator"></image>
						<view class="driver-right">
							<view class="name">{{model.sendName}}</view>
							<image class="rz-img" src="../static/rz.png" mode="widthFix"></image>
						</view>
						<view class="call" @click="callPhone(model.sendPhone)">
							<image class="src" src="../static/icon_Telephone@2x.png" mode="widthFix"></image>
						</view>
					</view>
				</view>
				<view class="card" v-if="(model.status!=3 ||  model.status!=0 ) && identity=='user'">
					<view class="fuwu-title">司机</view>
					<view class="service-personnel">
						<image :src="model.driverInfo.avatar || '@/static/avatar@2x.png'" mode="widthFix"
							class="avator"></image>
						<view class="driver-right">
							<view class="name">{{model.driverInfo.nickName}}</view>
							<image class="rz-img" src="../static/rz.png" mode="widthFix"></image>
							<view class="carnum">{{model.driverInfo.carNum}}</view>

						</view>
						<view class="call" @click="callPhone(model.driverInfo.userPhone)">
							<image class="src" src="../static/icon_Telephone@2x.png" mode="widthFix"></image>
						</view>
					</view>
				</view>

				<view class="card">
					<!-- 待接单状态需上传宠物图片 -->
					<uv-form-item label="到达起始点时间" labelWidth='140' @click="openDate" borderBottom
						v-if="model.status==6">
						<template v-slot:right>
							{{model.signTime}}
						</template>
					</uv-form-item>
					<uv-form-item label="起始点宠物照片" labelWidth='140' labelPosition='top' borderBottom
						v-if="(model.status==4 || model.status==5  || model.status==6)">
						<view style="margin-top: 30rpx;">
							<uploadImg key="1" v-model="model.startPetPicture" :readonly='model.status!=5' :maxCount='1'
								width='104' height="104" :imgUrlType='1' imgUrl='@/static/Photo_Front@2x.png'
								@updateImg="(e)=>model.startPetPicture=e"></uploadImg>
						</view>
					</uv-form-item>

					<uv-form-item label="到达目的地时间" labelWidth='140' @click="openDate" borderBottom
						v-if="model.status==7">
						<template v-slot:right>
							{{model.completeTime}}
						</template>
					</uv-form-item>
					<uv-form-item label="终点宠物照片" labelWidth='140' labelPosition='top' borderBottom
						v-if="(model.status==6 || model.status== 7 && identity=='driver')">
						<view style="margin-top: 30rpx;">
							<uploadImg key="2" v-model="model.endPetPicture" :readonly="model.status!='6'" :maxCount='1'
								width='104' height="104" :imgUrlType='1' imgUrl='@/static/Photo_Front@2x.png'
								@updateImg="(e)=>model.endPetPicture=e"></uploadImg>
						</view>
					</uv-form-item>
				</view>

				<view class="card">
					<uv-form-item label="宠物照片" labelWidth='140' labelPosition='top' borderBottom>
						<view style="margin-top: 30rpx;">
							<uni-file-picker v-model="petphotosList" readonly>
							</uni-file-picker>
						</view>
					</uv-form-item>
					<uv-form-item label="重量" labelWidth='120'>
						<template v-slot:right>
							{{model.weight?model.weight:'-'}}公斤
						</template>
					</uv-form-item>
					<uv-form-item label="是否跟车" labelWidth='140' prop="date" borderBottom>
						<template v-slot:right>{{model.followNo == 1 ?'是':'否'}}</template>
					</uv-form-item>
					<uv-form-item label="保价" labelWidth='140' prop="date">
						<template v-slot:right>{{model.insuranceMoney?model.insuranceMoney:0}}</template>
					</uv-form-item>
					<uv-form-item label="备注" labelWidth='140' labelPosition='top'>
						<view style="margin-top: 20rpx;">{{model.goods}}</view>
					</uv-form-item>
				</view>
				<view class="card">
					<uv-form-item label="金额" labelWidth='140' @click="openDate" borderBottom>
						<template v-slot:right>
							{{model.orderMoney}}
						</template>
					</uv-form-item>
					<uv-form-item label="小费" labelWidth='140' borderBottom>
						<template v-slot:right>
							{{model.gratuity}}
						</template>
					</uv-form-item>
					<uv-form-item>
						<template v-slot:right>
							<view class="total">总计：<span class="unit">￥</span> <span class="price">
									{{model.driverOrderMoney}} </span></view>
						</template>
					</uv-form-item>

				</view>
			</uv-form>
		</view>
		<view class="btm-wrapper">
			<view class="cancel-btn" v-if="(model.status==0 || model.status==4 || model.status==5)"
				@click.stop="cancelOrder(model.orderNo)">取消订单</view>
			<view class="cancel-btn" v-if="model.status==4&&identity=='user'"
				@click.stop="passengerConfirmFn(model.orderNo)">确认上车</view>
			<view class="cancel-btn" v-if="model.status==7&&identity=='user'"
				@click.stop="passengerConfirmationFn(model.orderNo)">确认到达</view>
			<view class="btm-row" v-if="(model.status==0||(model.status!=7 && model.status!=1)) && identity=='driver'">
				<moveVerify :style="{ marginTop: '40rpx'}" :status='model.status' @vertify='vertifyResult'>
				</moveVerify>
			</view>
		</view>
	</view>

</template>

<script>
	import uploadImg from '@/components/uploadImg.vue'
	import moveVerify from '@/pagesC/components/move-verify/driver-move-verify.vue'
	import {
		gopage,
		openLocation,
		callPhone,
		showToast,
		currentLocation
	} from '@/utils/util.js'
	import commonTop from '@/components/CommonTop'
	import {
		driverHomeFeedInfo,
		userCancelOrder,
		driverCancelOrder,
		driverRobOrder,
		driverSign,
		driverFinishOrder,
		queryDriverOrderDetail,
		passengerConfirm,
		passengerConfirmation
	} from "@/config/vmeitime-http/feed.js";

	export default {
		components: {
			commonTop,
			uploadImg,
			moveVerify
		},
		data() {
			return {
				callPhone: callPhone,
				openLocation: openLocation,
				status: 0,
				gopage: gopage,
				orderStatusMap: {
					3: '待支付',
					0: '正在匹配司机...',
					4: '司机已接单',
					5: '已确认上车',
					6: '司机已到达起点',
					7: '已到达目的地',
					1: '已完成(乘客已确认)'
				},
				petphotosList: [],
				model: {
					appointmentDate: '',
					orderDistance: '',
					recipientAddress: ''
				},
				identity: '',
				addressData: {},
				orderNo: ''
			}
		},

		onLoad(options) {
			if (options.orderNo) {
				this.identity = options.type
				this.orderNo = options.orderNo
				console.log('444444' + options.orderNo)
				this.getAdr()

			}
		},
		methods: {

			// 获取当前地址
			async getAdr() {
				let that = this
				let adr = await currentLocation()
				if (adr) {
					console.log(adr)
					that.addressData = adr
					that.getqueryDriverOrderDetail()
				}
			},

			// 获取订单详情
			getqueryDriverOrderDetail() {
				uni.showLoading({
					title:'加载中'
				})
				queryDriverOrderDetail({
					orderNo: this.orderNo,
					currentLongitude: this.addressData.location.lon,
					currentLatitude: this.addressData.location.lat
				}).then((res) => {
					this.model = res
					this.model.status = parseInt(this.model.status)
					let petphotosList = [this.model.goodsPicture1, this.model.goodsPicture2, this.model
						.goodsPicture3
					].filter(
						Boolean)
					this.petphotosList = petphotosList.map((item) => {
						return {
							url: `http://biaodi.oss-cn-beijing.aliyuncs.com/image/bdsy/${item}`
						}
					})
				}).finally(()=> {
					uni.hideLoading()
				})
			},


			// 取消订单
			cancelOrder(orderNo) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确定取消订单吗？',
					success: function(res) {
						if (res.confirm) {
							if (that.identity == 'user') {
								userCancelOrder({
									orderNo: orderNo
								}).then((res) => {
									showToast('取消成功')
									that.getqueryDriverOrderDetail()
								})
							} else if (that.identity == 'driver') {
								driverCancelOrder({
									orderNo: orderNo
								}).then((res) => {
									showToast('取消成功')
									that.getqueryDriverOrderDetail()
								})
							}
						}
					}
				});
			},

			// 用户确认上车
			passengerConfirmFn(orderNo) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确认上车吗？',
					success: function(res) {
						if (res.confirm) {
							if (that.identity == 'user') {
								passengerConfirm({
									orderNo: orderNo
								}).then((res) => {
									showToast('确认已上车')
									that.getqueryDriverOrderDetail()
								})
							}
						}
					}
				});
			},

			vertifyResult(date) {
				if (this.model.status == 0 || this.model.status == null) {
					this.confirmRobOrder()
				} else if (this.model.status == 5) {
					if (!this.model.startPetPicture) {
						showToast('请上传起始点宠物照片')
						return false
					}
					this.driverSignFn()
				} else if (this.model.status == 6) {
					if (!this.model.endPetPicture) {
						showToast('请上传终点宠物照片')
						return false
					}
					this.driverFinishOrderFn()
				}
			},

			// 司机签到
			driverSignFn() {
				driverSign({
					orderNo: this.model.orderNo,
					singleLatitudes: this.addressData.location.lat,
					singleLongitude: this.addressData.location.lon,
					startPetPicture: this.model.startPetPicture
				}).then((res) => {
					this.getqueryDriverOrderDetail()
				})
			},

			// 司机确认到达
			driverFinishOrderFn() {
				driverFinishOrder({
					orderNo: this.model.orderNo,
					singleLatitudes: this.addressData.location.lat,
					singleLongitude: this.addressData.location.lon,
					startPetPicture: this.model.startPetPicture,
					endPetPicture: this.model.endPetPicture
				}).then((res) => {
					this.getqueryDriverOrderDetail()
				})
			},

			// 用户确认到达
			passengerConfirmationFn(orderNo) {
				let that = this
				uni.showModal({
					title: '提示',
					content: '确认到达吗？',
					success: function(res) {
						if (res.confirm) {
							if (that.identity == 'user') {
								passengerConfirmation({
									orderNo: orderNo
								}).then((res) => {
									showToast('已确认到达')
									that.getqueryDriverOrderDetail()
								})
							}
						}
					}
				});
			},

			// 司机确定接单
			confirmRobOrder() {
				driverRobOrder({
					orderNo: this.model.orderNo,
					singleLongitude: this.addressData.location.lon,
					singleLatitudes: this.addressData.location.lat,
					receiveCity: this.addressData.addressComponent.city,
					receiveCounty: this.addressData.addressComponent.county,
					receiveAddress: this.addressData.addressComponent.address
				}).then((res) => {
					this.getqueryDriverOrderDetail()
				})
			},

		}
	}
</script>

<style scoped lang="scss">
	::v-deep .uv-textarea {
		padding: 20rpx 0px;
		box-sizing: border-box;
	}

	.fuwu-title {
		margin: 36rpx 0px 28rpx;
	}

	.service-personnel {
		width: 100%;
		display: flex;
		flex-direction: row;
		background-color: #fff;
		border-radius: 20rpx;
		position: relative;
		padding-bottom: 36rpx;
		box-sizing: border-box;

		.avator {
			width: 116rpx;
			height: 116rpx;
			border-radius: 50%;
		}

		.call {
			width: 88rpx;
			height: 64rpx;
			background: #FFFFFF;
			border-radius: 12rpx 12rpx 12rpx 12rpx;
			border: 2rpx solid #EEEEEE;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 20rpx;
			top: 32rpx;

			image {
				width: 30rpx;
			}
		}

		.driver-right {
			padding-left: 20rpx;
			box-sizing: border-box;
			flex: 1;
			display: flex;
			flex-direction: column;

			.name {
				color: #333333;
				font-size: 32rpx;
			}

			.carnum {
				color: #1C92FF;
				font-size: 28rpx;
				margin-top: 12rpx;
			}
		}

		.rz-img {
			width: 152rpx;
			margin-top: 8rpx;
		}
	}

	.total {
		color: #666666;
		font-size: 28rpx;

		.unit {
			color: #FD611E;
		}

		.price {
			color: #FD611E;
			font-size: 44rpx;
		}
	}

	.btm-wrapper {
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		padding: 12rpx 20rpx 12rpx 0px;
		box-sizing: border-box;
		display: flex;
		z-index: 99;
		justify-content: flex-end;

		.cancel-btn {
			width: 208rpx;
			height: 88rpx;
			background: #FFFFFF;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			border: 2rpx solid #EEEEEE;
			color: #333333;
			font-size: 32rpx;
			text-align: center;
			line-height: 88rpx;
			margin-left: 28rpx;
		}

		.btm-row {
			flex: 1;
			padding: 0px 28rpx;
			box-sizing: border-box;


		}

		.radio-flex {
			display: flex;
			align-items: baseline;
			padding: 0px 40rpx;
			box-sizing: border-box;

			.treaty {
				color: #999999;
				font-size: 24rpx;

				span {
					color: #3FA3FF;
				}
			}
		}
	}

	.form-wrapper {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		
		.red {
			color: #FF4646;
			margin: -10rpx 0px 20rpx;
		}

		.status-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 28rpx 0px;

			.status {
				font-weight: 500;
				font-size: 40rpx;
				color: #333333;
			}

			.distant {
				color: #666666;
				font-size: 32rpx;
			}
		}

		.card {
			background-color: #fff;
			border-radius: 20rpx;
			padding: 1rpx 28rpx;
			box-sizing: border-box;
			margin-bottom: 20rpx;

			.weight-flex {
				display: flex;
				align-items: center;

				span {
					margin-left: 8rpx;
					color: #666;
					font-size: 32rpx;
				}
			}

			.tags-wrapper {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.tag {
					padding: 8rpx 20rpx;
					box-sizing: border-box;
					color: #333333;
					font-size: 24rpx;
					border: 2rpx solid #EEEEEE;
					border-radius: 8rpx;
					margin-right: 16rpx;
					margin-bottom: 16rpx;
				}
			}
		}

		.address {
			padding: 28rpx 20rpx 12rpx 60rpx !important;
			box-sizing: border-box;
			position: relative;

			.car-label {
				display: flex;
				justify-content: space-between;
				margin-bottom: 28rpx;

				.label {
					width: 160rpx;
					height: 64rpx;
					line-height: 64rpx;
					background: #E5F2FF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					font-size: 28rpx;
					color: #1C92FF;
					text-align: center;
					margin-left: -5%;
				}

				.time {
					color: #666666;
					font-size: 32rpx;

					span {
						font-weight: 500;
						color: #1C92FF;
						margin-left: 16rpx;
					}
				}
			}

			.icon_arrow {
				position: absolute;
				width: 26rpx;
				height: 26rpx;
				top: 58%;
				left: 22rpx
			}

			&:before {
				position: absolute;
				content: '';
				width: 12rpx;
				height: 12rpx;
				border: 2rpx solid #31D15B;
				border-radius: 50%;
				top: -9%;
				bottom: 0px;
				margin: auto;
				left: 28rpx;
			}

			&::after {
				position: absolute;
				content: '';
				width: 12rpx;
				height: 12rpx;
				border: 2rpx solid #FF4646;
				border-radius: 50%;
				bottom: 75rpx;
				margin: auto;
				left: 28rpx;
			}

			.line {
				height: 80rpx;
				border-left: 1rpx dashed #1C92FF;
				position: absolute;
				top: 52%;
				left: 17px;
			}

			.ipt {
				width: 100%;
				height: 116rpx;
				line-height: 116rpx;
				background: #F8F8F8;
				border-radius: 16rpx 16rpx 16rpx 16rpx;
				margin-bottom: 16rpx;
				padding-left: 20rpx;
				box-sizing: border-box;
				position: relative;

				.dh-img {
					width: 36rpx;
					height: 36rpx;
					top: 0px;
					bottom: 0px;
					right: 40rpx;
					margin: auto;
					position: absolute;
				}


				&:last-child::before {
					background-color: #FF4646 !important;
				}
			}
		}
	}

	.tabs {
		display: flex;
		justify-content: center;
		margin: 28rpx 0px;
	}
</style>