<template>
  <view class="containner">
    <commonTop
      :show="true"
      pageName="home"
      bgColor="#FCF4A9"
      :isFixed="true"
      :changeTabIndex="changeTabIndex"
      @reloadAdr="reloadAdr"
    ></commonTop>
    <view class="wrapper">
      <image
        class="top-bg"
        src="../../static/home_background@2x.png"
        mode="widthFix"
      ></image>
      <!-- 轮播 -->
      <swiper indicator-dots autoplay>
        <swiper-item
          v-for="(item, index) in imgList"
          :key="index"
          class="slide-image"
        >
          <image :src="item" mode="aspectFill" class="slide-image"></image>
        </swiper-item>
      </swiper>
      <view class="menus-wrapper">
        <view
          class="item"
          v-for="(item, index) in menus"
          @click="menuTap(item.id, item.name)"
          :key="index"
        >
          <image :src="item.pic || ''" mode="widthFix"></image>
          <span>{{ item.name }}</span>
        </view>
      </view>
      <view class="memus2-wrapper">
        <view class="top">
          <view class="wid50 bg1" @click.stop="goPage('/pagesA/lookFor/index')">
            寻主寻宠
          </view>
          <view
            class="wid50 bg2"
            @click.stop="goCloudFeed('/pagesA/cloudFeed/index')"
          >
            云喂养
          </view>
        </view>

        <view class="bottom">
          <view
            class="wid50 bg3"
            @click.stop="goDrider('/pagesC/petTaxi/petTravel?payType=1')"
          >
            <view class="span">宠物专车</view>
          </view>
          <view class="wid50" style="margin-left: 0px">
            <view
              class="b-one bg5"
              @click.stop="goPage('/pagesA/homeFeed/index')"
            >
              上门喂养
            </view>
            <view
              class="b-one bg4"
              @click.stop="goDrider('/pagesC/i/petTravel?payType=9')"
            >
              宠物顺风车
            </view>
          </view>
        </view>
      </view>

      <uvTabs
        :list="tablist"
        lineWidth="0"
        lineColor="#f56c6c"
        @change="changeTab"
        :activeStyle="{
          color: '#333333',
          fontWeight: 'bold',
          transform: 'scale(1)',
        }"
        :inactiveStyle="{
          color: '#999999',
          transform: 'scale(1)',
        }"
        itemStyle=" padding-right: 15px; height: 88rpx;fontSize:32rpx"
      ></uvTabs>
      <mescroll-body
        class="mescrollBox"
        @init="mescrollInit"
        @down="downCallback"
        @up="upCallback"
      >
        <!-- 团购商品 -->
        <PetsCard :petsList="petsList" v-if="changeTabIndex == 0 || changeTabIndex == 2"></PetsCard>
        <!-- 宠物笔记 -->
        <NotesCard
          :petsList="petsList"
          v-else-if="changeTabIndex == 1"
        ></NotesCard>
      </mescroll-body>
    </view>
  </view>
</template>

<script>
import commonTop from "@/pages/components/homeTop.vue";
import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
import uvTabs from "@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue";
import PetsCard from "@/components/pets.vue";
import NotesCard from "@/components/notesCard.vue";
import { notePage } from "@/config/vmeitime-http/cutePetNotes.js";
import { groupBuyGoodsPage } from "@/config/vmeitime-http/groupBuy.js";
import storage from "../../utils/storage";
import { showToast } from "../../utils/util";

export default {
  mixins: [MescrollMixin],
  components: {
    commonTop,
    PetsCard,
    uvTabs,
    NotesCard,
  },
  data() {
    return {
      imgList: [
        "../../static/ban1.jpg",
        "../../static/ban2.jpg",
        "../../static/ban3.jpg",
        "../../static/ban4.jpg",
        "../../static/ban5.jpg",
      ],
      menus: [
        {
          name: "友好场所",
          pic: "../../static/m1.png",
          id: 1,
        },
        {
          name: "宠物派对",
          pic: "../../static/m2.png",
          id: 2,
        },
        {
          name: "宠物美容",
          pic: "../../static/m3.png",
          id: 3,
        },
        {
          name: "宠物医疗",
          pic: "../../static/m4.png",
          id: 4,
        },
        {
          name: "食品用品",
          pic: "../../static/m5.png",
          id: 5,
        },
        {
          name: "携宠旅行",
          pic: "../../static/m6.png",
          id: 6,
        },
        {
          name: "宠物乐园",
          pic: "../../static/m7.png",
          id: 7,
        },
        {
          name: "摄影写真",
          pic: "../../static/m8.png",
          id: 8,
        },
        // {
        // 	name: '上门喂养',
        // 	pic: '../../static/m9.png'
        // }, {
        // 	name: '更多',
        // 	pic: '../../static/m10.png'
        // },
      ],
      petsList: [],
      tablist: [
        {
          name: "为你推荐",
        },
        {
          name: "萌宠笔记",
        },
		{
		  name: "免费景区",
		},
      ],
      changeTabIndex: 0,
      adressData: {},
      istoMiniProgram: true,
    };
  },
  onLoad() {},
  methods: {
    // 跳转云喂养
    goCloudFeed(url) {
      showToast("敬请期待");
      return false;
      uni.navigateTo({
        url: url,
      });
    },

    // 跳转打车
    goDrider(url) {
      if (this.istoMiniProgram) {
        this.toMiniProgram();
        return false;
      }
      // 如果true跳转司机接单大厅页面或则跳转用户打车页面
      let data = storage.get("switchDriver");
      if (data == false || !data) {
        uni.navigateTo({
          url: url,
        });
      } else {
        uni.navigateTo({
          url: "/pagesC/driverEnd/index",
        });
      }
    },

    // 跳转打车小程序
    toMiniProgram() {
      uni.navigateToMiniProgram({
        appId: "wx92d4ede8628704ac", // 填入目标小程序的 appId
        path: "pages/home/index", // 打开的页面路径，如果为空则打开首页
        extraData: {
          // 需要传递给目标小程序的数据
        },
        success(res) {
          // 打开成功的回调
        },
        fail(err) {
          // 打开失败的回调
        },
      });
    },

    // 刷新地址
    reloadAdr(e) {
      this.adressData = e;
      this.mescroll.resetUpScroll();
    },

    // 跳转页面
    goPage(url) {
      uni.navigateTo({
        url: url,
      });
    },

    menuTap(categoryId, name) {
      uni.navigateTo({
        url: `/pagesA/public/classification?categoryId=${categoryId}&name=${name}`,
      });
    },
    // tab切换处理
    changeTab(data) {
      this.changeTabIndex = data.index;
      uni.pageScrollTo({
        duration: 100,
      });
      this.mescroll.resetUpScroll();
    },
    // 上拉加载的回调
    upCallback(page) {
      let pageNum = page.num; // 页码, 默认从0开始
      let pageSize = page.size; // 页长, 默认每页10条
      let param = {
        pageNum: pageNum,
        pageSize: pageSize,
        isAsc: "desc",
        status: 1,
		priceType: this.changeTabIndex == 0 ? 1: 0
      };
	  
      if (page.num == 1) this.petsList = [];
      let Fn = this.changeTabIndex == 0 || this.changeTabIndex == 2 ? groupBuyGoodsPage : notePage;
      let paramData = this.changeTabIndex == 0 || this.changeTabIndex == 2 ? Object.assign(param, this.adressData) : param;
      Fn(paramData).then((res) => {
        if (res) {
          console.log(res);
          let curPageData = res.records;
          let curPageLen = curPageData.length; // 接口返回的当前页数据长度
          let totalPage = res.total; // 接口返回的总页数

          this.petsList = this.petsList.concat(curPageData); //追加新数据
          //方法一(推荐): 后台接口有返回列表的总页数 totalPage
          this.mescroll.endByPage(curPageLen, totalPage);

          // if(this.petsList.length == 0 && pageNum==0) {
          //  this.adressData = {}
          //  this.mescroll.resetUpScroll();
          // }
        } else {
          this.mescroll.endErr();
        }
      });
    },
  },
};
</script>

<style scoped lang="scss">
page,
.containner {
  background-color: #f9f9f9;
}
::v-deep .pets-card {
  padding: 0px !important;
}

.wrapper {
  padding: 10rpx 28rpx 30rpx;
  box-sizing: border-box;
  position: relative;

  .top-bg {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
  }

  .slide-image {
    width: 100%;
    height: 320rpx;
    border-radius: 20rpx;
  }

  .menus-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 40rpx 0px 22rpx;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      margin-bottom: 16rpx;

      image {
        width: 88rpx;
        height: 88rpx;
        margin-bottom: 12rpx;
      }

      span {
        font-size: 24rpx;
        color: #333333;
      }
    }
  }

  .memus2-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wid50 {
        width: 49%;
        height: 128rpx;
        display: flex;
        padding-left: 24rpx;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-direction: column;
        justify-content: center;
      }
    }

    .bg1 {
      background-image: url("../../pagesA/static/img/background1.png");
    }

    .bg2 {
      background-image: url("../../pagesA/static/img/background2.png");
    }

    .bg3 {
      background-image: url("../../pagesA/static/img/background3.png");
      align-items: center !important;

      .span {
        margin-top: 160rpx;
      }
    }

    .bg4 {
      background-image: url("../../pagesA/static/img/background4.png");
    }

    .bg5 {
      background-image: url("../../pagesA/static/img/background5.png");
    }

    .bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 272rpx;
      margin-top: 16rpx;

      .wid50 {
        width: 49%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // padding-left: 24rpx;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        justify-content: space-between;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;

        .b-one {
          background-repeat: no-repeat;
          background-size: 100% 100%;
          width: 100%;
          height: 128rpx;
          padding-left: 24rpx;
          display: flex;
          box-sizing: border-box;

          align-items: center;
        }
      }
    }
  }
}
</style>