<template>
  <view class="containner">
    <commonTop
      :show="true"
      :isBack="true"
      :isFixed="true"
      :onlyCenter="true"
      bgColor="#F9F9F9"
    >
      <template slot="left"> 订单详情 </template>
    </commonTop>
    <view class="order-status" v-if="model.state == 7">
      <image src="../static/img/icon_service@2x.png" mode="widthFix"></image
      >服务中
    </view>
    <view class="order-status" v-else-if="model.state == 8">
      <image src="../static/img/icon_Finish@2x.png" mode="widthFix"></image>
      完成服务
    </view>
    <view class="order-status" v-else>{{ statusMap[model.state] }}</view>
    <view class="pets-card">
      <view class="fuwu-title">{{ model.serviceType }}</view>
      <uv-steps direction="column">
        <uv-steps-item>
          <template v-slot:icon>
            <view class="step-icon"></view>
          </template>
          <template v-slot:title>
            <view class="step-text">{{ model.serviceTime }}</view>
          </template>
        </uv-steps-item>
        <uv-steps-item>
          <template v-slot:icon>
            <view class="step-icon stepborder"></view>
          </template>
          <template v-slot:title>
            <view class="step-text">{{ model.address }}</view>
          </template>
        </uv-steps-item>
      </uv-steps>
    </view>

    <view class="pets-card" v-if="model.state > 5">
      <view class="fuwu-title">服务人</view>
      <view class="service-personnel">
        <image src="../../static/dog.png" mode="" class="pet-img"></image>
        <view class="right">
          <view class="ms">用户名称名称名称</view>
          <image
            class="rz-img"
            src="../static/img/rz.png"
            mode="widthFix"
          ></image>
          <view class="rate-wrap">
            <uv-rate
              active-color="#FFED3F"
              size="20"
              :allowHalf="true"
              inactive-color="#b2b2b2"
            ></uv-rate>
            <view class="rate">4.5</view>
          </view>
        </view>
        <view class="call">
          <image
            class="src"
            src="../static/img/icon_Telephone@2x.png"
            mode="widthFix"
          ></image>
        </view>
      </view>
    </view>

    <!-- 服务时间 -->
    <view class="pets-card" style="padding: 0px 28rpx" v-if="model.state > 6">
      <uv-form>
        <uv-form-item
          label="开始服务时间"
          labelWidth="120"
          borderBottom
          class="description"
        >
          <template v-slot:right>
            <view class="f32C6">2024-12-22 12:00</view>
          </template>
        </uv-form-item>
        <uv-form-item label="结束服务时间" labelWidth="120">
          <template v-slot:right>
            <view class="f32C6">2024-12-22 12:00</view>
          </template>
        </uv-form-item>
      </uv-form>
    </view>

    <view class="pets-card" v-if="model.state > 6">
      <view class="petphoto">服务过程照片</view>
      <scroll-view scroll-x="true">
        <view class="petphoto-list">
          <image class="src" src="../static/img/icon_2@2x.png"></image>
          <image class="src" src="../static/img/icon_2@2x.png"></image>
          <image class="src" src="../static/img/icon_2@2x.png"></image>
          <image class="src" src="../static/img/icon_2@2x.png"></image>
          <image class="src" src="../static/img/icon_2@2x.png"></image>
          <image class="src" src="../static/img/icon_2@2x.png"></image>
        </view>
      </scroll-view>
    </view>

    <view class="pets-card" style="padding: 0px 28rpx">
      <uv-form>
        <uv-form-item
          label="详细描述"
          labelWidth="100"
          borderBottom
          class="description"
        >
          <template v-slot:right>
            <view class="beizhu f32C6">{{ model.description }}</view>
          </template>
        </uv-form-item>
        <uv-form-item label="联系人电话" labelWidth="100">
          <template v-slot:right>
            <view class="f32C6">{{ model.contactPhone }}</view>
          </template>
        </uv-form-item>
      </uv-form>
    </view>

    <view class="pets-card">
      <view class="petphoto">宠物照片</view>
      <scroll-view scroll-x="true">
        <view class="petphoto-list">
          <image
            v-for="(item, index) in model.picture"
            v-bind:key="index"
            class="src"
            :src="item"
            @click="previewImage(index)"
          ></image>
        </view>
      </scroll-view>
    </view>

    <view class="pets-card">
      <uv-form-item
        label="金额"
        labelWidth="140"
        prop="model.name"
        borderBottom
      >
        <template v-slot:right>￥{{ model.money }}</template>
      </uv-form-item>
      <uv-form-item
        label="小费"
        labelWidth="140"
        prop="model.name"
        borderBottom
      >
        <template v-slot:right>￥{{ model.tip }}</template>
      </uv-form-item>
      <view class="total">
        总计:<view class="money"><span>￥</span> {{ model.total }}</view>
      </view>
    </view>

    <view class="btm-btn">
      <view class="left"></view>
      <view class="right">
        <view class="btn" v-if="model.state == 1" @click.stop="cancelOrder"
          >取消订单</view
        >
        <view class="btn" v-else-if="model.state > 5">投诉</view>
        <view class="btn" v-else-if="model.state == 0" @click.stop="goPay"
          >去支付</view
        >
        <view
          class="btn"
          style="color: #fd611e"
          v-if="model.state == 8"
          @click.stop="goSubEvaluation"
          >评价</view
        >
      </view>
    </view>
  </view>
</template>

<script>
import commonTop from "@/components/CommonTop";
import {
  homeFeedInfo,
  payHomeFeed,
  cancelHomeFeed,
} from "@/config/vmeitime-http/feed.js";
import storage from "../../utils/storage";
import { showToast } from "../../utils/util";

export default {
  components: {
    commonTop,
  },
  data() {
    return {
      statusMap: {
        0: "待支付",
        1: "待接单",
        2: "取消退款中",
        3: "已取消",
        4: "已取消",
        5: "已取消",
        6: "已接单",
        7: "服务中",
        8: "已完成",
        9: "评价完成",
      },
      model: {},
      id: "",
    };
  },
  onLoad(options) {
    this.id = options.id;
    console.log(options.id + "ids1");
    this.getDetail();
  },
  onShow() {
  	  this.getDetail();
  },
  methods: {

	// 去评价
	goSubEvaluation() {
        uni.navigateTo({
			url: `/pagesA/homeFeed/subEvaluation?item=${JSON.stringify(this.model)}`
		})
	},

    // 取消订单
    cancelOrder() {
      cancelHomeFeed({
        id: this.id,
      }).then((res) => {
        showToast("取消成功");
		this.getDetail();
      });
    },

    // 去支付
    goPay() {
      let that = this;
      payHomeFeed({
        openid: storage.get("openId"),
        id: this.model.id,
        paymentType: 2,
      }).then((res) => {
        let paymentParams = res;
        uni.requestPayment({
          provider: "wxpay",
          timeStamp: paymentParams.timeStamp,
          nonceStr: paymentParams.nonceStr,
          package: paymentParams.packageValue,
          signType: paymentParams.signType,
          paySign: paymentParams.paySign,
          success(res) {
            console.log("支付成功" + res);
            showToast("支付成功");
            that.getDetail();
          },
          fail(err) {
            // 支付失败回调
            console.log(err);
          },
        });
      });
    },

    // 查看图片
    previewImage(index) {
      uni.previewImage({
        current: index,
        urls: this.model.picture,
      });
    },

    // 获取详情
    getDetail(id) {
      homeFeedInfo({
        id: this.id,
      }).then((res) => {
        console.log(res);
        this.model = res;
        this.model.picture = this.model.picture.split(",");
        this.model.total =
          parseFloat(this.model.money) + parseFloat(this.model.tip);
      });
    },

    gopage() {
      uni.navigateTo({
        url: "/pagesA/public/subEvaluation?type=上门喂养",
      });
    },
  },
};
</script>

<style scoped lang="scss">
::v-deep .uv-steps-item__wrapper {
  margin-top: 40rpx;
}

::v-deep .uv-steps-item__line--column {
  margin-top: 100rpx;
  background-color: transparent !important;
  border-left: 1px dashed #1c92ff;
}

.service-personnel {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 20rpx;
  position: relative;

  .call {
    width: 88rpx;
    height: 64rpx;
    background: #ffffff;
    border-radius: 12rpx 12rpx 12rpx 12rpx;
    border: 2rpx solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20rpx;
    top: 32rpx;

    image {
      width: 30rpx;
    }
  }

  &:not(:last-child) {
    margin-bottom: 28rpx;
  }

  .pet-img {
    width: 116rpx;
    height: 116rpx;
    border-radius: 50%;
    margin-right: 28rpx;
  }

  .right {
    flex: 1;

    .rz-img {
      width: 152rpx;
      margin-top: 8rpx;
    }

    .ms {
      width: 100%;
      border-radius: 16rpx;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 32rpx;
    }

    .rate-wrap {
      margin: 12rpx 0px 32rpx;
      display: flex;
      align-items: center;
      color: #999999;
      font-size: 24rpx;

      .rate {
        color: #fd611e;
      }
    }
  }
}

.btm-btn {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  padding: 16rpx 28rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  left: 0px;

  .left {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
  }

  .right {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    width: 65%;
  }

  .btn {
    margin-left: 28rpx;
    padding: 22rpx 40rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 16rpx 16rpx 16rpx 16rpx;
    border: 2rpx solid #eeeeee;
    color: #333333;
    text-align: center;
    font-size: 32rpx;
  }
}

.description {
  ::v-deep .uv-form-item__body {
    align-items: flex-start;
  }
}

.containner {
  padding: 0px 28rpx 140rpx;
  box-sizing: border-box;

  .order-status {
    color: #333333;
    font-weight: 500;
    font-size: 40rpx;
    margin: 28rpx 0px;
    display: flex;
    align-items: center;

    image {
      width: 56rpx;
      height: 56rpx;
      margin-right: 20rpx;
    }
  }

  .total {
    color: #666666;
    font-size: 28rpx;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 36rpx 0px;
    box-sizing: border-box;

    .money {
      margin-left: 10rpx;
      font-size: 44rpx;
      color: #fd611e;

      span {
        font-size: 28rpx;
      }
    }
  }

  .petphoto {
    margin-bottom: 28rpx;
  }

  .petphoto-list {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;

    image {
      display: inline-block;
      width: 208rpx;
      height: 208rpx;
      border-radius: 16rpx;
      margin-right: 14rpx;
    }
  }

  .pets-card {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 28rpx;
    padding: 36rpx 28rpx;
    box-sizing: border-box;
    margin-top: 20rpx;
    border-radius: 20rpx;

    .beizhu {
      text-align: right;
      width: 400rpx;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .fuwu-title {
      margin-bottom: 32rpx;
      font-size: 32rpx;
      color: #333333;
      font-weight: 500;
    }

    .step-icon {
      width: 20rpx;
      height: 20rpx;
      border-radius: 50%;
      background: #ffffff;
      border: 2rpx solid #1c92ff;
    }

    .stepborder {
      border: 2rpx solid #31d15b;
    }

    .step-text {
      width: 100%;
      height: 116rpx;
      background: #f8f8f8;
      border-radius: 16rpx 16rpx 16rpx 16rpx;
      color: #333333;
      font-size: 32rpx;
      display: flex;
      align-items: center;
      padding-left: 20rpx;
      box-sizing: border-box;
    }
  }
}
</style>