<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				确认订单
			</template>
		</commonTop>
		<uv-form labelPosition="left" :model="model" :rules="rules" ref="form">
			<view class="pets-card">
				<uv-form-item label="上门服务日期" labelWidth='140' prop="date" @click="openDate" borderBottom required>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.serviceTime"
						inputAlign='right' readonly disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>

				<uv-form-item label="上门类型" required labelWidth='100' prop="serviceType" borderBottom>
					<view class="place-wrapper">
						<uvCheckboxGroup v-model="model.serviceType" size='16' placement='row'>
							<uvCheckbox placement='row' :customStyle="{ marginRight: '6rpx'}" activeColor="#FD611E"
								v-for="(item, index) in homeFeedPriceList" :label="item.serviceName"
								:name="item.serviceName" v-bind:key='index'></uvCheckbox>
						</uvCheckboxGroup>
					</view>
				</uv-form-item>
				<uv-form-item label="详细描述" required labelWidth='80' prop="description" labelPosition='top'>
					<!-- <uv-input v-model="model.description" maxlength="2000" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input> -->
					 <uv-textarea v-model="model.description" border="none" autoHeight maxlength="2000" placeholder="请输入详细描述" fontSize='14px' inputAlign='right'></uv-textarea> 
					
				</uv-form-item>
			</view>
			<view class="pets-card">
				<uv-form-item label="详细地址" required labelWidth='140' prop="address" @click="chooseLocation">
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.address"
						inputAlign='right' readonly disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="联系人名称" required labelWidth='200' prop="contactName">
					<uv-input v-model="model.contactName" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="联系人电话" required labelWidth='200' prop="contactPhone">
					<uv-input v-model="model.contactPhone" type='number' maxlength="11" placeholder="请输入" fontSize='14px' inputAlign='right'
						border="none">
					</uv-input>
				</uv-form-item>
			</view>
			<view class="pets-card">
				<uv-form-item label="宠物照片" required labelWidth='140' prop="cwpicsList" labelPosition='top'>
					<uploadImg v-model="model.picture" :multiple='true' :maxCount='6' @updateImg="(e)=>model.picture=e" :width='90'
						:height="90"></uploadImg>
				</uv-form-item>
			</view>


			<view class="pets-card">
				<uv-form-item label="金额" labelWidth='140' prop="model.money" borderBottom>
					<template v-slot:right>￥{{model.money}}</template>
				</uv-form-item>
				<uv-form-item label="加小费" labelWidth='140' prop="date" @click="openTip" borderBottom>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="tip" inputAlign='right' disabled
						disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
					<uv-picker ref="tipSelect" :columns="xiaoFeiList" @confirm="tipConfirm"></uv-picker>
				</uv-form-item>

				<view class="total">
					总计:<view class="money"><span>￥</span> {{model.total}}</view>
				</view>
			</view>

		</uv-form>

		<view class="btm-pay">
			<view class="left">
				<view style="font-size: 32rpx;">￥</view>{{model.total}}
			</view>
			<view class="right" @click="creatOrder">立即支付</view>
		</view>


		<!-- 日期 -->
		<uv-datetime-picker :formatter="formatter" mode="datetime" :minDate='minDate'  ref="datePicker" @confirm="confirmDate"
			v-model="nowDate">
		</uv-datetime-picker>

		<uv-picker ref="tipSelect" :columns="xiaoFeiList" @confirm="tipConfirm"></uv-picker>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import storage from '../../utils/storage.js';
	import uvCheckboxGroup from '@/uni_modules/uv-checkbox/components/uv-checkbox-group/uv-checkbox-group.vue'
	import uvCheckbox from '@/uni_modules/uv-checkbox/components/uv-checkbox/uv-checkbox.vue'
	import {
		releaseHomeFeed,
		payHomeFeed,
		getHomeFeedPrice
	} from "@/config/vmeitime-http/feed.js";

	import {
		formatTime,
		getLocation,
		showToast
	} from '../../utils/util.js';
	export default {
		components: {
			commonTop,
			uploadImg,
			uvCheckboxGroup,
			uvCheckbox
		},
		data() {
			return {
				nowDate: new Date(),
				minDate: Number(new Date()),
				currentAdr: storage.get('currentAdr').addressComponent,
				buyCount: 0,
				rules: {},
				tip: '',
				model: {
					serviceTime: '',
					serviceType: '',
					address: '',
					contactName: '',
					contactPhone: '',
					picture: '',
					tip: '',
					money: 0,
					total: 0
				},
				xiaoFeiList: [
					['不加了', '1元', '2元', '3元', '4元', '5元', '6元', '7元', '8元', '9元', '10元', '11元', '12元', '13元',
						'14元', '15元', '16元', '17元', '18元', '19元', '20元', '21元', '22元', '23元', '24元', '25元', '26元',
						'27元',
						'28元', '29元', '30元', '31元', '32元', '33元', '34元', '35元', '36元', '37元', '38元', '39元', '40元',
						'41元',
						'42元', '43元', '44元', '45元', '46元', '47元', '48元', '49元', '50元', '51元', '52元', '53元', '54元',
						'55元',
						'56元', '57元', '58元', '59元', '60元', '61元', '62元', '63元', '64元', '65元', '66元', '67元', '68元',
						'69元',
						'70元', '71元', '72元', '73元', '74元', '75元', '76元', '77元', '78元', '79元', '80元', '81元', '82元',
						'83元',
						'84元', '85元', '86元', '87元', '88元', '89元', '90元', '91元', '92元', '93元', '94元', '95元', '96元',
						'97元',
						'98元', '99元', '100元'
					]
				],
				homeFeedPriceList: []
			}
		},

		watch: {
			'model': {
				handler: function(newVal, oldVal) {
					let total = 0
					newVal.serviceType.forEach((item) => {
						this.homeFeedPriceList.forEach((subitem) => {
							if (item == subitem.serviceName) {
								total += subitem.servicePrice
							}
						})
					})
					this.model.money = total
					console.log('进来' + this.model.tip)
					this.model.total = parseFloat(this.model.money || 0) + parseFloat(this.tip.replace('元',
						'') || 0)
				},
				deep: true
			},
			'tip': {
				handler: function(newVal, oldVal) {
					this.model.total = parseFloat(this.model.money || 0) + parseFloat(this.tip.replace('元', '') || 0)
				},
				deep: true
			}
		},

		created() {
			let feelList = []
			let max = 1000
			for(let i = 0;i< max;i++) {
				feelList.push((i+1) + '元')
			}
			feelList.unshift('不加了')
			this.xiaoFeiList = [feelList]
			this.getHomeFeedPriceFn()
		},

		methods: {

			// 获取服务价格
			getHomeFeedPriceFn() {
				getHomeFeedPrice({
					province: this.currentAdr.province,
					city: this.currentAdr.city
				}).then((res) => {
					console.log(res)
					this.homeFeedPriceList = res
				})
			},

			// 创建订单并支付
			creatOrder() {
				if (this.model.serviceTime == '') {
					showToast('请选择服务时间')
					return false
				}
				if (this.model.serviceType == '') {
					showToast('请选择服务类型')
					return false
				}
				if (this.model.description == '') {
					showToast('请输入详细描述')
					return false
				}
				if (this.model.address == '') {
					showToast('请输入地址')
					return false
				}
				if (this.model.contactName == '') {
					showToast('请输入联系人名称')
					return false
				}
				if (this.model.contactPhone == '') {
					showToast('请输入联系人电话')
					return false
				}
				if (this.model.picture == '') {
					showToast('请上传宠物图片')
					return false
				}

				this.model.tip = parseFloat(this.tip.replace('元', '') || 0)
				releaseHomeFeed(this.model).then((res) => {
					this.goPay(res.id)

				})

				console.log(this.model)
			},

			// 请求支付接口并支付
			goPay(outTradeNo) {
				let that = this
				uni.showLoading({
					title: '支付中...'
				})
				payHomeFeed({
					openid: storage.get('openId'),
					id: outTradeNo,
					paymentType: 2
				}).then((res) => {
					let paymentParams = res
					uni.requestPayment({
						provider: 'wxpay',
						timeStamp: paymentParams.timeStamp,
						nonceStr: paymentParams.nonceStr,
						package: paymentParams.packageValue,
						signType: paymentParams.signType,
						paySign: paymentParams.paySign,
						success(res) {
							uni.hideLoading()
							uni.navigateBack({
								delta: 1
							})

							uni.$emit('reloadFeedList')

						},
						fail(err) {
							uni.hideLoading()
						}
					})
				})
			},

			// 打开小费
			openTip() {
				// this.model.tip = parseFloat(this.model.tip.replace('元', '') || 0)
				this.$refs.tipSelect.open();
			},

			// 小费确认
			tipConfirm(e) {
				console.log(e.value[0])
				this.tip = e.value[0] === '不加了' ? '' : e.value[0]
			},



			// 上门服务日期
			openDate() {
				this.$refs.datePicker.open();
			},
			confirmDate(e) {
				this.model.serviceTime = formatTime(e.value, 'dateTimeSeconds')
				console.log(this.model.serviceTime)
			},

			hideKeyboard() {
				uni.hideKeyboard()
			},

			// 选择位置
			async chooseLocation() {
				let adr = await getLocation()
				this.model = Object.assign(this.model, adr)

			},

			formatter(type, value) {
				console.log(type)
				if (type === 'year') {
					return `${value}年`
				}
				if (type === 'month') {
					return `${value}月`
				}
				if (type === 'day') {
					return `${value}日`
				}
				if (type === 'hour') {
					return `${value}时`
				}
				if (type === 'minute') {
					return `${value}分`
				}
				return value
			},
		}
	}
</script>

<style scoped lang="scss">
	::v-deep .uv-form {
		background-color: #F9F9F9;
		.uv-textarea {
			padding: 18rpx 0px 0px !important;
			box-sizing: border-box;
		}
	}
	

	::v-deep .uv-checkbox-group {
		justify-content: flex-end !important;
	}
	::v-deep .uv-checkbox {
		margin: 8rpx 6rpx !important;
	}

	::v-deep .uv-upload {
		margin-top: 28rpx;
	}

	.place-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.total {
		color: #666666;
		font-size: 28rpx;
		display: flex;
		align-items: baseline;
		justify-content: flex-end;
		padding: 36rpx 0px;
		box-sizing: border-box;

		.money {
			margin-left: 10rpx;
			font-size: 44rpx;
			color: #FD611E;

			span {
				font-size: 28rpx;

			}
		}
	}

	.btm-pay {
		display: flex;
		align-items: center;
		padding: 14rpx 28rpx;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		z-index: 9;

		.left {
			display: flex;
			align-items: baseline;
			color: #FD611E;
			font-size: 52rpx;
			margin-right: 16rpx;

			span {
				color: #999999;
				font-size: 32rpx;
				margin-left: 16rpx;

			}
		}

		.right {
			width: 280rpx;
			height: 92rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			color: #fff;
			font-size: 32rpx;
			text-align: center;
			line-height: 92rpx;
		}
	}

	.containner {
		padding: 0px 28rpx 200rpx;
		box-sizing: border-box;
		background-color: #F9F9F9;
	}

	.kind-reminder {
		color: #333333;
		font-size: 28rpx;
		margin-bottom: 20rpx;
		font-weight: 500;
	}

	.kind-cnt {
		color: #333333;
		font-size: 28rpx;
	}


	.pets-card {
		display: flex;
		flex-direction: row;
		flex-direction: column;
		flex-wrap: wrap;
		background-color: #fff;
		margin-bottom: 28rpx;
		padding: 20rpx 28rpx;
		box-sizing: border-box;
		margin-top: 20rpx;
		border-radius: 20rpx;

		.flex {
			display: flex;
			align-items: center;
			color: #333333;
			font-size: 28rpx;

			span {
				margin-left: 16rpx;
			}
		}

		.form-item {
			display: flex;
			justify-content: flex-end;
		}

		.title {
			color: #333333;
			font-size: 28rpx;
			font-weight: 500;
			margin-bottom: 20rpx;
		}

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			border-radius: 20rpx;
			border-bottom: 1px dashed #F4F4F4;

			.right {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.ms {
					width: 100%;
					border-radius: 16rpx;
					color: #333333;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 32rpx;
				}


				.old-price {
					color: #CCCCCC;
					font-size: 24rpx;
					text-decoration: line-through;
					margin-left: 12rpx;
				}

				.Discounts {
					background-color: #FFEFE9;
					color: #FD611E;
					border-radius: 8rpx;
					padding: 4rpx;
					box-sizing: border-box;
					height: 32rpx;
					font-size: 20rpx;
					margin: 0px 12rpx;

				}

				.shop {
					display: flex;
					align-items: center;
					color: #666666;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 22rpx;
					display: flex;
					flex-direction: column;

					.shop-one {
						width: 100%;
						font-size: 24rpx;
						display: flex;
						align-items: center;
						margin-bottom: 16rpx;
						position: relative;

						.price {
							color: #FD611E;
							margin: 0px 12rpx;

						}

						.oldprice {
							text-decoration: line-through;
							color: #CCCCCC;
						}
					}
				}
			}
		}
	}
</style>