<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				上门喂养
			</template>
		</commonTop>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<HomeFeedList :homeFeedList='homeFeedList'></HomeFeedList>
		</mescroll-body>

		<view class="submit" @click.stop="gopage">
			<image mode="widthFix" src="../static/img/icon_feeding_white@2x.png"></image> 发布
		</view>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import HomeFeedList from '@/pagesA/components/homeFeedList.vue'
	import {
		homeFeedPage
	} from "@/config/vmeitime-http/feed.js";
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			HomeFeedList
		},
		data() {
			return {
				homeFeedList: []
			}
		},

		mounted() {
			// 使用uni.$once监听PageA触发的事件
			uni.$once('reloadFeedList', message => {
				this.mescroll.resetUpScroll();
			});
		},

		methods: {

			// 跳转发布
			gopage() {
				uni.navigateTo({
					url: '/pagesA/homeFeed/homeFeedRelease'
				})
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize
				};
				if (page.num == 1) this.homeFeedList = []; //如果是第一页需手动置空列表
				homeFeedPage(param).then((res) => {
					if (res) {
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数
						
						curPageData.map((res)=> {
							res.serviceType = res.serviceType.replace('["','').replace('"]','').replaceAll('"','')
		
						})

						this.homeFeedList = this.homeFeedList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding-bottom: 150rpx;
		box-sizing: border-box;
	}

	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
	}

	.submit {
		width: 280rpx;
		text-align: center;
		color: #fff;
		margin-top: 80rpx;
		height: 80rpx;
		line-height: 80rpx;
		background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
		border-radius: 56rpx;
		position: fixed;
		bottom: 40rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 0px;
		right: 0p;
		margin: auto;
		left: 50%;
		margin-left: -140rpx;
		font-size: 28rpx;

		image {
			width: 36rpx;
			margin-right: 8rpx;
		}
	}
</style>