<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				滳滴宠宠电子运单托运契约条款
			</template>
		</commonTop>
		<view class="cnt-wrapper">
		 	<h4>当使用滳滴宠宠宠物综合社区之宠物综合服务时，您作为「下单人」，您同意代表您及该宠物宠物综合服务的收件人(“收件人”)及其他持有该宠物宠物综合服务的权益的人士，同意适用本条款及细则。</h4>
			<h4>1定义</h4>
			<p>1.1“滳滴宠宠宠物综合社区”“滈滴宠行”指接收您宠物宠物综合服务的www.zecec.cn、或其子公司、分支机构、相关联公司、代理人或独立承办商。</p>
			<p>1.2“宠物宠物综合服务”指单个宠物宠物综合服务托运中，滳滴宠宠宠物综合社区同意收寄的所有大中小型宠物。</p>
			<p>1.3“个人资料”是指任何可以直接或间接与个人有关的数据、可以切实可行地透过该资料确定有关人士的身份、及该资料的存在形式，让人可切实可行地查阅及处理。</p>
			<p>1.4“条款和条件”指本条款和条件，滳滴宠宠宠物综合社区可随时自行更改，而无需另行通知。为避免争议，任何修改在滳滴宠宠宠物综合社区官方网站上发布时立即生效并具有约束力。</p>
			<p>1.5“宠物宠物综合服务托运”包括任何由滳滴宠宠宠物综合社区或寄件人的自动系统制作的宠物宠物综合服务标识符或文件，例如标签、海关凭证或目的地的相关文件、条形码或宠物宠物综合服务托运及任何其电子版本。</p>
			<h4>2隐私政策</h4>
			<p>滳滴宠宠宠物综合社区致力于妥善保障由寄件人所提供的个人资料，并确保就收集、使用、处理、保留、披露、传输、保安及存取个人资料时均符合适用法律及法规和由滳滴宠宠宠物综合社区所发出的相关实务守则之规定。寄件人在此保证所有其提供的个人资料均为合法取得并已得到收件人的允许向滳滴宠宠宠物综合社区提供的。</p>
			<h4>3滳滴宠宠宠物综合社区的责任</h4>
			<p>3.1滳滴宠宠宠物综合社区对任何一件宠物宠物综合服务的责任，包括但不限于遗失或损毁，所承担的责任仅限于实际直接损失、且不超过本条款和条件第3条所规定的限额。滳滴宠宠宠物综合社区不承担任何其它损失或损害(包括但不限于利润、收入、利息及未来业务的损失)，无论这些其它损失和损害是特殊性或是间接性，且无论滳滴宠宠宠物综合社区是否在受理宠物宠物综合服务之前或之后知晓有这些损失或损害的风险。</p>
			<p>3.2滳滴宠宠宠物综合社区对任何一件宠物宠物综合服务仅基于以下规定承担责任：</p>
			<p>3.2.1如宠物宠物综合服务的承运包含空运船运及最终目的地国家或经停国家为非出发地国家，在不影响本条款和条件的第10条和第13条约定的前提下，《华沙公约》或《蒙特利尔公约》应适用（以强制适用者为准）。若在该公约不适用的情况下，滳滴宠宠宠物综合社区的责任均在任何情况下不会超过货物的申报价值，且不得超过以下各项中的较低者：100美元、或20.00美元/公斤或9.07美元/磅。如宠物宠物综合服务的承运包含空运、陆运或其他方式运送，除非另有证据，否则任何损失或损害将被推定在空运阶段发生。</p>
			<p>3.2.2以陆路运送的宠物宠物综合服务，滳滴宠宠宠物综合社区的责任将根据国际公路货物运送公约执行，或如国际公路货物运送公约不适用的情况下，滳滴宠宠宠物综合社区的责任均在任何情况下不会超过货物的申报价值，且不得超过以下各项中的较低者：100美元、或10.00美元/公斤或4.54美元/磅(不适用于美国)。该责任限制同样适用于在国内公路运输情形下不存在根据国内运输法律具有强制适用或更低责任标准的情况。</p>
			<p>3.2.3每一宠物宠物综合服务只能提出一次索赔，且与该宠物宠物综合服务相关的所有损失或损坏的赔偿是完全并最终的。如寄件人认为本条款和条件关于赔偿的规定将不足以补偿其损失，则应购买保价或自行投保。</p>
			<p>3.2.4除非与相关适用法律冲突，所有涉及宠物宠物综合服务损毁或短缺（可见的或隐蔽的）的索赔须在宠物宠物综合服务送达后7个日历日内以书面方式向滳滴宠宠宠物综合社区提出，而涉及路由中断的，该索赔必须在滳滴宠宠宠物综合社区接受宠物宠物综合服务后的三十(30)天内以书面方式向滳滴宠宠宠物综合社区提出，否则滳滴宠宠宠物综合社区将不再承担任何责任。若尚未支付所有运输费用，滳滴宠宠宠物综合社区无义务受理任何索赔。索赔金额不可用于抵消该等运输费用。收件人在签收宠物宠物综合服务时没有在快递记录上注明有任何损坏，则表面证明宠物宠物综合服务被完好送达。作为滳滴宠宠宠物综合社区考虑任何损失或损坏索赔的条件，收件人必须提供原宠物宠物综合服务和包装材料供检查。</p>
			<p>3.2.5所有评估宠物宠物综合服务损坏程度或遗失比例应该完全由滳滴宠宠宠物综合社区的绝对酌情决定权自行决定。</p>
			
			<h4>4不接纳的宠物宠物综合服务</h4>
			<p>寄件人同意，如发生以下情况，其宠物宠物综合服务则被视为不可接纳：</p>
			<p>4.1宠物打车出行请做好安全防护措施，有条件的情况下请将宠物装（宠物包/箱）里，如没有任何安全防护措施，司机有权拒绝接单，如无安全防护情况下宠物综合服务过程中出现任何意外由发货人和司机自行承担责任；</p>
			<p>4.2未提供按照有关规定办理宠物手续资质的比如：免疫证明，准养证，检疫证明等；</p>
			<p>4.3滳滴宠宠宠物综合社区认为不能安全地或合法地承运的宠物宠物综合服务，包括但不限于涉及国家保护动物及其部分、货币、不记名票据、可流转票据、伪冒货品、贵重金属和宝石、枪械及其组件、弹药、人体残肢、色情物品，非法毒品/药物等；</p>
			<p>4.4收件人地址不正确、不完整或没有正确标示，或宠物宠物综合服务包装不全或不足而至不足以致未能确保宠物宠物综合服务能在一般及合理情况下安全运送。滳滴宠宠宠物综合社区有绝对权力因应其认为合适的方法处理，包括但不限于摧毁任何因应本条列明为不接纳的宠物宠物综合服务。</p>
			<h4>5查验权</h4>
			<p>基于安全及其他法律法规规定的原因，滳滴宠宠宠物综合社区有权在没有事先通知的情况下对宠物宠物综合服务进行安全查验。如果寄件人是受他人委托寄件，还应当提供委托人的有效身份证件。滳滴宠宠宠物综合社区不会对因上述查验而导致的任何延误造成的任何损失负责。</p>
			<h4>6寄件人的保证和弥偿责任</h4>
			<p>如寄件人违反有关法律法规或违反以下保证和陈述，寄件人应弥偿并确保滳滴宠宠宠物综合社区免受相关损失或损害，且滳滴宠宠宠物综合社区将有权拒绝寄件人以后的寄件订单，而不论滳滴宠宠宠物综合社区本次是否接受、查验、查看或拒绝该宠物宠物综合服务:</p>
			<p>6.1寄件人或其代理人提供的所有信息都是清晰可读、完整和准确的；</p>
			<p>6.2若寄件人授权他人代为填写的信息，填写内容应经寄件人本人确认的，被授权人的行为导致的风险由寄件人承担；</p>
			<p>6.3宠物宠物综合服务是包装稳妥及充足以确保在一般及合理情况下安全运送，并在预备、储存及运送到滳滴宠宠宠物综合社区期间受到保护，以免其受未经授权的干预；</p>
			<p>6.4若寄件人授权他人代为包装，应确认该宠物宠物综合服务已采取合理谨慎包装且符合安全运输的标准，在宠物宠物综合服务的准备、仓储和运输过程中确保滳滴宠宠宠物综合社区免受不当干扰，被授权人行为导致的风险由寄件人承担；</p>
			<p>6.5宠物宠物综合服务所有标识完整标准及描述准确；</p>
			<p>6.6宠物宠物综合服务符合进出口国家/地区海关、出口、入口、资料保障法律及其它法律法规的规定；</p>
			<p>6.7寄件人就向滳滴宠宠宠物综合社区提供及披露收件人的个人资料已获得所有所需的批准；</p>
			<p>6.8除非另有约定，寄件人应及时提供正确清关数据和/或支付税金、提供税金凭证；</p>
			<p>6.9宠物宠物综合服务不得包含国家机关公文、国家保护野生动物和濒危野生动物及其制品、假冒伪劣和侵权物品等法律法规禁止和限制寄递的物品，不得通过寄递管道危害国家安全、公共安全和公民、法人、其他组织的合法权益；</p>
			<p>6.10宠物宠物综合服务托运由寄件人或其授权代表代表其本人和宠物宠物综合服务的收件人及其他持有该宠物宠物综合服务的权益的人士签署，本条款和条件构成对寄件人及其代表具有约束力和可强制执行的义务；</p>
			<p>6.11无论滳滴宠宠宠物综合社区是否接受或拒绝宠物宠物综合服务，都不应被视为免除本第6条约定寄件人的保证和弥偿责任或第3 条约定滳滴宠宠宠物综合社区的责任限制；</p>
			<p>6.12寄件人不得通过寄递管道危害国家安全、公共安全和公民、法人、其他组织的合法权益；</p>
			<p>6.13所有关于宠物宠物综合服务的授权及信息（包括HTS编码）和寄件人所提供的海关清关均是真实的。滳滴宠宠宠物综合社区不对任何相关文件的内容承担责任。</p>
			<h4>7申报价值</h4>
			<p>7.1寄件人同意，宠物宠物综合服务托运上申报价值与宠物宠物综合服务的实际现金价值相等(「申报价值」)。宠物宠物综合服务的申报价值应以真实、有效的正本商业发票或收据为依据，滳滴宠宠宠物综合社区有唯一和绝对的酌情决定权决定接受、检查和核实申报价值，或予以拒绝而无需说明理由。若宠物宠物综合服务的申报价值高于滳滴宠宠宠物综合社区官网公布的申报价值上限，则滳滴宠宠宠物综合社区有权依据滳滴宠宠宠物综合社区的费用收取标准加收额外费用。</p>
			<p>7.2为避免争议，无论滳滴宠宠宠物综合社区是否接受或拒绝宠物宠物综合服务托运上附有申报价值的宠物宠物综合服务，都不应被视为免除第6条约定寄件人的保证和弥偿责任或第3 条约定滳滴宠宠宠物综合社区的责任限制。除已选用保价服务的宠物宠物综合服务外，滳滴宠宠宠物综合社区均依据本条款和条件的第3 条约定承担赔偿责任。</p>
			<h4>8运输和路线</h4>
			<p>寄件人确认及同意一切路线及改道，包括运件经中途站运送的可能。</p>
			<h4>9平台赔偿规则</h4>
			<p>9.1 若宠物综合服务宠物因我们的过错而损毁或丢失，我们将在宠物综合服务宠物的实际价值的范围内赔偿用户的实际损失，但在任何情况下，我们针对每个订单的最高赔偿额度不超过人民币2000元，且我们不承担任何其它损失或损害(包括但不限于利润、收入、利息及未来业务的损失)，无论这些其它损失和损害是特殊性或是间接性，无论是否在向用户提供服务之前或之后知晓有这些损失或损害的风险。</p>
			<p>9.2我们仅对因滳滴宠宠宠物综合社区过错导致的宠物综合服务宠物的损害或丢失承担赔偿责任。为更明确之目的，因下列情形导致宠物综合服务宠物延误、损毁或遗失，我们不承担任何赔偿责任。</p>
			<p>（1）宠物综合服务宠物本身的老弱病残自然性质或者严重体制虚弱等；</p>
			<p>（2）不可抗力；</p>
			<p>（3）下单人、寄件人或收件人过错；</p>
			<p>（4）用户或收件人已提交取收件密码，且在滳滴宠宠宠物综合社区平台内形成交接记录。</p>
			<p>9.3用户在向我们提出赔偿请求时，应如实告知宠物综合服务宠物的类别及实际价值，并证明宠物综合服务宠物的实际价值。宠物综合服务宠物的“实际价值”应按如下规则确定。除非被扣留宠物宠物综合服务所在国的当地法律另有规定，在滳滴宠宠宠物综合社区发出书面通知之日起三十（30）天内，托运人未提供任何处理方案或提出客观上不可行的解决方案，托运人将被视为放弃该宠物宠物综合服务，滳滴宠宠宠物综合社区有权按照其认为合适的方式处理宠物宠物综合服务，包括销毁任何被扣留或保管、滳滴宠宠宠物综合社区或任何第三方的宠物宠物综合服务。</p>
			<p>（1）若宠物综合服务宠物为显著性品种，“实际价值”为用户提供的购买宠物综合服务宠物或生产宠物综合服务宠物所付出成本的购物小票、发票等价值证明文件(“价值证明文件”)中所显示的宠物综合服务宠物的价格信息。若用户不能提供任何价值证明文件或价值证明文件中的价格信息明显高于市场公允价格，我们有权按照市场公允价格中的最低价格进行赔偿；</p>
			<p>（2）若宠物综合服务宠物为非显著性品种各类杂交串种，“实际价值”为用户提供的购买宠物综合服务宠物或生产宠物综合服务宠物所付出成本的购物小票、发票等价值证明文件(“价值证明文件”)中所显示的宠物综合服务宠物的价格信息，同时需考虑宠物的品种程度。若用户不能提供任何价值证明文件或价值证明文件中的价格信息明显高于市场公允价格，我们有权按照市场公允价格中的最低价格在考虑宠物串种程度的基础上进行赔偿；</p>
			<p>（3）我们有权在其认为需要的情况下要求用户提供由权威机构或价值鉴定机构出具的宠物综合服务宠物的价值证明报告或其他报告。</p>
			<p>9.4用户对每一次服务只能申请一次赔偿，任何申请必须在下单后三十(30)日内以书面方式向滳滴宠宠宠物综合社区提出，否则我们将不再予以接受。用户在根据本协议向我们提出先予赔偿请求后的三十(30)日内，应当根据我们的要求出具用户有效的身份证明、宠物综合服务宠物的照片、价值证明、鉴定证明及索赔函等，如用户为单位，应在上述文件上加盖公章，提交给我们审核确认。若收件人在接收宠物综合服务宠物时没有说明宠物综合服务宠物有任何伤残死亡，我们视为宠物综合服务宠物被完好送达。</p>
			<p>9.5.如用户指定宠物宠物综合服务纯正品种，用户可选择滳滴宠宠宠物综合社区要求购买保价服务。如未购买，赔付上限为人民币500元。</p>
			<p>9.6 免责声明。</p>
			<p>1. 用户没有通过滳滴宠宠宠物综合社区正规预约渠道进行下单，私自下单要求滳滴宠宠宠物综合社区司机提供服务的，由此产生的纠纷，用户应承担全部责任，并与实际使用人承担连带责任，我们不承担任何赔偿责任。
			<p>2.用户在宠物综合服务宠物时应核实滳滴宠宠宠物综合社区司机的身份信息及服务信息单号等，如因用户未经身份核实使用了未在滳滴宠宠宠物综合社区注册的司机人员，导致纠纷或损害的，我们不就此承担任何法律责任；若用户不主动告知或隐瞒以上状况导致纠纷或者损害的，由用户自行承担相关责任。</p>
			<p>3.如宠物综合服务宠物是动物(含宠物)、请自行施加保护措施；如因没有保护措施或措施不当导致递送动物、物品伤亡、损坏或产生不良结果，用户应承担责任；如遇自然天气、灾害等人力不可抗拒的情况，导致一系列不良结果，我们不承担责任。
			<p>4.因下列原因导致我们无法正常提供服务，我们免于承担责任：</p>
			<p>（1）我们的系统停机维护或升级；</p>
			<p>（2）因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；</p>
			<p>（3）您的电子设备软硬件和通信线路、供电线路出现故障的；</p>
			<p>（4）因您操作不当或通过非经我们授权或认可的方式使用我们服务的；</p>
			<p>（5）因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因、第三方服务瑕疵或政府行为等原因。</p>
			<p>尽管有前款约定，我们将采取合理行动积极促使服务恢复正常。</p>
			<h4>10宠物宠物综合服务延误</h4>
			滳滴宠宠宠物综合社区将按照其正常运送标准以合理的努力派送宠物宠物综合服务，但这些标准并不具有约束力，也不构成滳滴宠宠宠物综合社区与寄件人之间的合同的一部分。滳滴宠宠宠物综合社区不对由运输延误而导致的任何损失或损害承担责任。</p>
			
			<h4>11派送和无法派送</h4>
			<p>11.1宠物宠物综合服务无法派送到地址为邮政信箱或邮政编号。宠物宠物综合服务将被派递到寄件人提供的收件人地址，但无需派给该指定名称的收件人。</p>
			<p>11.2如果宠物宠物综合服务无法派送到邮政信箱或邮政编号，但收件人的地址上有设置宠物宠物综合服务接收点的，宠物宠物综合服务将被派送至该接收点。</p>
			<p>11.3收件人面签服务是可选择的增值服务，如寄件人需要收件人书面签收宠物宠物综合服务的，可单独购买。</p>
			<p>11.4为免生疑问，在收件地址、滳滴宠宠宠物综合社区站或滳滴宠宠宠物综合社区营业点获得的签名或印章，或就派送到智能柜的宠物宠物综合服务于滳滴宠宠宠物综合社区系统生成宠物宠物综合服务提取记录即构成宠物宠物综合服务已交付的充分证明；采用中央收集区的地址，宠物宠物综合服务将被派送到该接收点。
			<p>11.5若有如下情形之一，滳滴宠宠宠物综合社区将以合理的努力将宠物宠物综合服务退还寄件人，因此额外发生的费用由寄件人支付：收件人拒绝接收宠物宠物综合服务或支付运费或关税；根据第4条该宠物宠物综合服务则被认为是不可接受；认为低报了货物的价值；无法合理确定或找到收件人。尽管有前述约定，如宠物宠物综合服务无法退回或不可能被退回，滳滴宠宠宠物综合社区可以对宠物宠物综合服务进行放弃、处置或变卖，且无须就上述行为向寄件人或其他人承担任何责任，所得收入将在扣除服务费用及相关管理费用后返还寄件人(如有)。
			<h4>12运费、关税及其它费用</h4>
			<p>12.1滳滴宠宠宠物综合社区的运费将按照货物实际重量或体积重量中较高者计算，滳滴宠宠宠物综合社区可以对任何宠物宠物综合服务重新称量和测量以确认其计算结果。</p>
			<p>12.2即使寄件人给出不同的付款指示，寄件人始终对所有费用承担主要责任。在收件人或第三方付费的情况下，寄件人应向滳滴宠宠宠物综合社区支付收件人或第三方应支付但未支付的所有运费、关税和/或其它费用。
			<p>12.3国际件服务标准以收件方当地派送服务标准为滳滴宠宠宠物综合社区的服务承诺，如需增值服务应单独购买，包括且不限于收件人面签服务。</p>
			<h4>13保价服务</h4>
			<p>13.1保价服务是可选择的增值服务。</p>
			<p>13.2寄件人如选择保价服务，滳滴宠宠宠物综合社区的责任将适用滳滴宠宠宠物综合社区软件上公布的《保价服务条款与条件》，不再适用本条款和条件第3条，但本条款和条件其他条款仍继续适用。</p>
			<p>13.3为免生疑问，除非本条款另有说明，否则与滳滴宠宠宠物综合社区责任相关的条款和条件应适用本条款和条件第3 条。</p>
			<h4>14不可抗拒因素</h4>>
			滳滴宠宠宠物综合社区不会对由于超出滳滴宠宠宠物综合社区控制的情况造成的任何损失或损害负责，包括但不限于：行政当局以实际或明显的权力行事、任何非滳滴宠宠宠物综合社区聘请或承包的人，包括寄件人、收件人、海关、政府部门或第三方的行为或遗漏、政府部门所施行的安全规例或其他适用于交付地点的安全规例、不可抗力—例如：暴乱、罢工、劳资纠纷、民间骚乱、病毒或疾病、通信和信息系统的故障或中断(包括但不限于滳滴宠宠宠物综合社区的通信和信息系统)、航空或路面交通网络中的任何干扰，如因天文现象、工业行动、对于电子音像图片、数据或记录的电磁性损坏或删除及自然灾害，包括但不限于地震，气旋，风暴，洪水等。</p>
			<h4>15留置权</h4>
			除非可适用的法律另有规定，如果寄件人未能支付第12条或第9条约定的任何费用，滳滴宠宠宠物综合社区有权留置货物，留置期限为三个月(自滳滴宠宠宠物综合社区取得宠物宠物综合服务之日起计算)，宠物宠物综合服务性质不能留置的情形除外。留置期届满，如寄件人仍未足额付款，滳滴宠宠宠物综合社区有权以合理价格变卖货物并享有优先受偿权。
			
			<h4>16规管法律</h4>
			除非与适用法律冲突，与本条款和条件有关的任何争议应适用中国法律。且寄件人不可撤销地将任何因本条款与条件产生的争议交由日本法院进行非排他性管辖，可适用的法律另有相反规定的除外。
			<h4>17可分割性</h4>
			<p>本条款和条件任何部分的无效性或不可执行性，不影响其他条款的效力和执行。</p>
			<p>本条款和条件及滳滴宠宠宠物综合社区公布的价格和费率将在不另行通知的情况下修订，此类更新将在滳滴宠宠宠物综合社区官网公布时生效。</p>
			

		</view>
	</view>
</template>


<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style scoped lang="scss">
	::v-deep page, .containner {
		background-color: #fff !important;
	}
   .cnt-wrapper {
	   padding: 0rpx 20rpx 20rpx;
	   box-sizing: border-box;
	   color: #333333;
	   font-size: 30rpx;
	   p {
		   line-height: 48rpx;
	   }
	   h4 {
		   margin: 30rpx 0rpx 10rpx;
	   }
   }
</style>