<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				滳滴宠宠宠物综合服务保价服务
			</template>
		</commonTop>
		<view class="cnt-wrapper">
			<h4> 滳滴宠宠宠物综合服务保价服务 - 条款与条件 </h4>

			<h4>一、滳滴宠宠宠物综合保价服务：</h4>
			<p>在运输途中，托寄物丢失或损坏，按照保价金额和托寄物实际价值的投保比例，结合托寄物的实际损失金额（损坏为维修费）进行赔偿。</p>
			<p>覆盖范围</p>
			<p>滳滴宠宠社区、滳滴宠旅、滈滴宠行服务内宠物专车，宠物顺风车等服务。</p>
			<p>计费标准</p>
			<p>滳滴宠宠宠物综合社区速递产品保价标准费率 </p>
			<h4>保价金额：</h4>
			<p>500元（含）以下，标准服务费律1元/单 </p>
			<p> 501-1000元（含）以下，标准服务费律2元/单</p>
			<p> 1000以上，按金额的5%/单 </p>

			<p>易碎托寄物：保价费用=保价金额*8‰，特定托寄物：保价费率参考实际执行保价费用计算规则（例如大闸蟹、观赏鱼、手办等），具体以滳滴宠宠宠物综合社区配送司机与您核实确认的信息为准。</p>
			<h4>适用范围</h4>
			<p>滳滴宠宠宠物综合社区对下列托寄物不提供基础保服务：</p>
			<p>①价值难以衡量托寄物，如古玩字画、纪念币、翡翠原石、观赏石、玉雕、木雕、紫砂壶等；</p>
			<p>②价值在1万以上的生鲜果蔬类（时令水果类、冷冻食物类、生鲜类、大闸蟹类、动植物类）托寄物；</p>
			<p>③其他高运输风险的物品。</p>
			<h4>理赔标准</h4>
			<p>理赔反馈方式、受理时效、损坏界定、所需资料、赔付时效等细节详见滳滴宠宠宠物综合社区用户中心订单详情。</p>
			<h4>使用须知</h4>
			<p>①滳滴宠宠宠物综合社区针对不同托寄物有不同保价金额（托寄物价值）上限，当您托寄物的保价金额超投保上限时，请联系滳滴宠宠宠物综合社区4008575880或者滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主司机；
			</p>
			<p>②滳滴宠宠宠物综合社区会不定时更新及完善不提供保价服务及易碎易损的托寄物名称（如：灯具、玻璃制品、陶瓷产品、酒水、电脑等），具体以滳滴宠宠宠物综合社区宠物友好司机与您核实确认的信息为准；</p>
			<p>③保费=保价金额* 标准服务费率（按票计算保费的除外）；</p>
			<h4>二、条款与条件：</h4>
			<p>1.保价服务，是一项由滳滴宠宠宠物综合社区（定义请参考运单条款与条件第1.1条）提供的增值服务。凡寄件人购买了保价服务，滳滴宠宠宠物综合社区的赔偿责任将适用本条款及细则，而不再适用运单条款与条件第3条约定，但运单条款与条件其他条款仍然适用。
			</p>
			<p>2.滳滴宠宠宠物综合社区之保价服务责任自滳滴宠宠宠物综合社区揽收托寄物之时生效，至配送服务结束之时止。保价服务一经购买，寄件人不得中途退订或终止保价服务。寄件人申请退件、中止或终止快递服务的，保价费用均不予退回。
			</p>
			<p>3.滳滴宠宠宠物综合社区有绝对酌情权决定是否提供或在任何时候撤回保价服务，一旦撤回，滳滴宠宠宠物综合社区将会向寄件人无息退还保价服务费。</p>
			<p>4. 保价服务不适用于以下物品：</p>
			<p> 4.1禁止寄递或不合法的物品;</p>
			<p> 4.2 易碎物品，如陶瓷类、玻璃类、石膏类制品等;</p>
			<p> 4.3 不易贮存、保鲜的物品（包括但不限于时令水果、特产、水产品等）;</p>
			<p> 4.4 文件类物品（包含但不限于身份证、护照及其他各类证件、票据、批文、档案等）;</p>
			<p> 4.5 托寄宠物值等于或超过人民币1万元的物品;</p>
			<p> 4.6 托寄宠物国家保护动物类;</p>
			<h4>5. 理赔规则：</h4>
			<p> 5.1理赔申请资料：滳滴宠宠宠物综合社区有权在任何时候要求、且寄件人应当提供以下资料供审核，不得虚报、漏报或不报:</p>
			<p> 5.1.1 托寄物之准确、真实、合法的商业发票;</p>
			<p> 5.1.2 滳滴宠宠宠物综合社区要求的其他准确、真实、合法的托寄物相关证明数据（如订单记录、交易历史记录、海关申报数据、运输数据、付款凭证等）;</p>
			<p> 5.1.3 寄件人应确保申报价值与发票及其他相关证明数据显示的价值相符，否则托寄物价值以较低者为准（保价金额），同时滳滴宠宠宠物综合社区有权在任何时候向寄件人收取低报价值的保价服务服务费差额;</p>
			<p> 5.2理赔情形：保价服务仅赔偿托寄物在滳滴宠宠宠物综合社区托运期间因滳滴宠宠宠物综合社区直接原因造成部分或全部遗失或损坏，否则不予理赔。</p>
			<p> 5.3赔偿标准:</p>
			<p> 5.3.1无论托寄物发生遗失或者损坏，滳滴宠宠宠物综合社区均只在保价金额范围内，按遗失或损坏部分的价值比例作出赔偿(即：赔偿金额=保价金额×遗失或损坏部分占比);</p>
			<p> 5.3.1如出现第4条所约定的不适用于保价服务的物品与其他可适用于保价服务的物品合并在一个快件或一个运单中托运并已成功购买保价服务的：对于该等不适用保价服务的物品，滳滴宠宠宠物综合社区不予赔偿,但对于其余可适用保价服务的物品，滳滴宠宠宠物综合社区仍应按照第5.1、5.2和5.3.1条约定的赔偿规则承担赔偿责任。
			</p>
			<h4>5.4 免赔情形:</h4>
			<p> 5.4.1价服务不赔偿任何间接损失或损害，包括但不限于：寄件人声称的其可能获得的收益、利润、利息、实际用途、商业机会、商业价值及其他损失或损害;</p>
			<p> 5.4.2保价服务不赔偿任何超出滳滴宠宠宠物综合社区控制的原因造成的直接或间接损失或损害，包括但不限于：天灾（包括地震，气旋，
				风暴，洪水等）、传染病、海关等相关政府部门的作为或不作为（包括扣留货物等）、法例或规例、暴乱、罢工或其他劳资纠纷、民间骚乱、通信和信息系统的故障或中断(包括但不限于滳滴宠宠宠物综合社区的通信和信息系统)、航空或路面交通网络中的任何干扰、寄件人作为或不作为（包括寄件人提供的数据不足等）等;
			</p>
			<p> 5.4.3如寄件人对托寄物进行虚假陈述、虚假申报、伪造或提供不真实、不准确或不合法文件，或托寄物含有第4条列明的物品，无论托寄物之遗失或损坏是否由滳滴宠宠宠物综合社区直接造成，滳滴宠宠宠物综合社区均不予赔偿；同时，滳滴宠宠宠物综合社区可随时取消保价服务而不需退还任何保价服务费用，期间产生的所有相关费用均由下单用户承担，包括但不限于往返运费、仓储费、保价费、运输费用、入仓费等。
			</p>
			<p> 5.5 处理时效:</p>
			<p> 5.5.1索赔时效：寄件人须于滳滴宠宠宠物综合社区派件日或发出口头或书面遗失或损毁通知日起（以较早者为准）7个自然日内向滳滴宠宠宠物综合社区提交书面索偿要求；尽管与本协议或运单条款和条件有任何不符，超过7日不提出索偿要求者，均视为寄件人放弃所有追讨之权利;
			</p>
			<p> 5.5.2参考理赔时效：a）月结寄件人将于双方签订理赔文件后在当月月结账单上相应载明及结算；b）非月结寄件人将于双方签订理赔文件后的3至7个工作天内完成，赔偿金额会以双方约定的支付方式予以支付。</p>
			<p>6.寄件人现声明及确认寄件人不会向滳滴宠宠宠物综合社区追讨任何赔偿标准以外的直接或间接损失或损害。</p>
			<p>7.获得赔偿的保价托寄物，其所有权及相应的索赔权利按赔偿比例转移至滳滴宠宠宠物综合社区所有。</p>
			<p>8. 如本条款及细则的任何规定被任何法院或其他有权力机构裁定全部或部分无效或不可执行，本条款及细则的其他规定和受影响的规定的其他内容仍然有效。</p>

			<p>9. 滳滴宠宠宠物综合社区保留随时修改本条款及细则的权利而无需另行通知。任何修改在滳滴宠宠宠物综合社区官方网站公布后立即生效并具有约束力。</p>
			<p>10. 保价服务一经购买，本条款及细则即成为运单条款及条件之补充协议，如有冲突部分，以本协议为优先适用；未尽事宜，以运单条款及条件约定为准。</p>



		</view>
	</view>
</template>


<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	::v-deep page,
	.containner {
		background-color: #fff !important;
	}

	.cnt-wrapper {
		padding: 0rpx 20rpx 20rpx;
		box-sizing: border-box;
		color: #333333;
		font-size: 30rpx;

		p {
			line-height: 48rpx;
		}

		h4 {
			margin: 30rpx 0rpx 10rpx;
		}
	}
</style>