<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				隐私政策
			</template>
		</commonTop>
		<view class="cnt-wrapper">
			<h4>个人信息保护及隐私政策</h4>
			<p>发布日期：2024年5月15日</p>
			<p>生效日期：2024年5月15日</p>
			<p>滳滴宠宠为浙淳（杭州千岛湖）文旅有限公司(以下或称“我们”、“滳滴宠宠”)开发的互联网服务平台，我们及其关联公司非常重视对用户或潜在用户(以下简称“您”)个人信息和隐私的保护。您浏览滳滴宠宠一站式宠物综合服务社区官方网站(
				www.zecec.cn)、滳滴宠宠客户端或使用我们的服务时，我们将按照本隐私权政策(“本政策”)的规定收集、使用、共享或披露您的个人信息。
				在您使用我们的产品或服务前，请务必仔细阅读并理解本政策，尤其是其中加粗下划线的条款。我们会在其网站、客户端或其他产品或服务平台为您展示本政策或便捷阅读、获取本政策的链接或方式。当您使用我们的网站、客户端或其他产品或服务时，或在本政策更新后继续使用我们的网站、客户端或其他产品或服务时，即视为您已经阅读、理解并同意本政策及其不时更新的版本，同意我们按照本政策的约定收集和处理您的个人信息。当您使用一些功能时，我们会在获得您的同意后，收集你的一些个人信息。除非按照相关法律法规要求必须收集，拒绝提供这些信息仅会影响你使用非基本功能服务。当您使用我们提供的任一服务时，即表示您已同意我们按照本隐私政策来收集、处理、存储、使用、共享和保护您的个人信息。
				目前，滳滴宠宠不会主动共享或转让您的个人信息至滳滴宠宠外的第三方，如存在其他共享或转让您的个人信息或您需要我们将您的个人信息共享或转让至滳滴宠宠外的第三方情形时，我们会直接征得或确认第三方征得您对上述行为的明示同意，但因保护用户权益或保护滳滴宠宠生态安全需要除外。
				目前，若滳滴宠宠主动从第三方获取你的个人信息，我们会在获取前向您明示您个人信息的来源、类型及使用范围，如滳滴宠宠开展业务需进行的个人信息处理活动超出您原本向第三方提供个人信息时的授权同意范围，我们将在处理您的个人信息前，征得您的明示同意；此外，我们也将会严格遵守相关法律法规的规定，并要求第三方保障其提供的信息的合法性。
				请您注意，本政策不适用于您通过我们的产品/服务而接入的其他第三方产品/服务(“其他第三方”，包括您的交易相对方、任何第三方网站以及第三方服务提供者)，具体规定请参照该第三方的隐私政策或类似声明，在您注册/登录账户时，您需要提供
				手机号码及验证码 ，使用平台软件服务时，您需提供 手机号码 作为账户登录名，登录时我们还需要收集您的 硬件序列号、唯一设备识别码（android_id、Mac地址、IMEI、IMSI,SIM序列号）
				以验证账号及密码并完成登录；如您拒绝提供 手机号码、验证码及密码 个人信息，则可能无法成功注册/登录软件平台账户。。</p>
			<h4>本政策有助于您了解以下内容：</h4>
			<p>1、我们如何收集和使用您的个人信息</p>
			<p>2、我们如何使用 Cookie 和同类技术</p>
			<p>3、我们如何共享、转让、公开披露您的个人信息</p>
			<p>4、我们如何保护和保存您的个人信息</p>
			<p>5、您如何管理个人信息</p>
			<p>6、我们如何保护未成年人的信息</p>
			<p>7、本政策的修订和通知</p>
			<p>8、如何联系我们</p>
			<h4>一.我们如何收集您的个人信息</h4>
			<p>个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。本隐私政策中涉及的个人信息包括：基本信息（包括个人姓名、生日、性别、住址、个人电话号码、电子邮箱）；个人身份信息（包括身份证、军官证、护照、驾驶证）；网络身份标识信息（包括系统账号、IP地址、邮箱地址及与前述有关的密码、口令、口令保护答案）；个人财产信息（账户和消费记录余额等虚拟财产信息）；收货地址及相关附加信息（如您地址中的所在省份和城市、邮政编码）银行账户或其他支付工具的账户信息；个人位置信息（包括行程信息、精准定位信息、住宿信息、经纬度）；
			</p>
			<p>我们仅会出于本政策所述的以下目的，收集和使用您的个人信息：按照法律法规的要求，实现我们产品与/或服务的核心功能，这些功能包含了实现宠物相关综合服务所必须的功能，改进我们的产品与/或服务所必须的功能及保障交易安全所必须的功能。
				您向我们提供下述信息或使用我们的产品与/或服务时，即表示您同意我们按照本政策规定收集信息。 我们收集信息的种类如下：
			<p>(一)您提供的信息</p>
			<p>按照法律法规的要求，为了实现我们的产品与/或服务的核心功能，为您提供更好的用户服务，您在注册账户或使用我们的产品与/或服务，向我们提供的必要个人信息包括：1、下单人姓名、证件类型和号码身份信息；2、下单人地址、联系电话；3、收货人姓名（名称）、地址、联系电话；4、商品或服务的名称、性质、数量。若您不提供以上信息，您可能无法正常使用的我们的服务。您还可以根据自身需求选择提供除必要个人信息之外的其他个人信息，拒绝提供以上信息的，不影响您使用平台基本功能。
			</p>
			<p>当您在使用我们的产品与/或服务时，您已授权我们在服务期间持续使用您提供的上述信息。</p>
			<p>(二)我们获取的您的信息</p>
			<p>我们在提供服务过程中收集的个人信息</p>
			<p>为实现滳滴宠宠开放平台的基本服务功能，我们可能需要向开发者收集相关个人信息。以下将详细列出我们的基本服务功能及为实现该功能所需收集的个人信息类型以及与收集个人信息相关的权限，这些个人信息的收集仅会在开发者已获得终端设备系统权限允许的前提下进行：
			<p>· 1.日志信息：指您使用我们的服务时，系统可能通过Cookies或其他方式自动采集的技术信息，包括：设备或软件信息，例如您的移动设备、网页浏览器或用于接入我们服务的其他程序所提供的配置信息、您的IP地址和移动设备所用的版本和设备识别码、操作系统、分辨率、电信运营商、SIM卡归属地；在使用我们服务时搜索或浏览的信息，例如您使用的网页搜索词语、访问的社交媒体页面url地址，以及您在使用我们服务时浏览或要求提供的其他信息和内容详情；
			</p>
			<p>· 2.有关您曾使用的移动应用（软件平台)和其他软件的信息，以及您曾经使用该移动应用和软件的信息；</p>
			<p>· 3.您通过我们的服务进行通讯的信息，例如曾通讯的账号，以及通讯时间、数据和时长；您通过我们的服务分享的内容所包含的信息(元数据），例如拍摄或上传的共享照片或录像的日期、时间或地点。
			<p>· 4．位置信息，指您开启设备定位功能并使用我们基于位置提供的相关服务时，收集的有关您位置的信息，包括：您通过具有定位功能的移动设备使用我们的服务时，通过GPS或WiFi方式收集的您的地理位置信息；您或其他用户提供的包含您所处地理位置的实时信息，例如您提供的账户信息中包含的您所在地区信息，您或其他人上传的显示您当前或曾经所处地理位置的共享信息，您或其他人共享的照片包含的地理标记信息；您可以通过关闭定位功能，停止对您的地理位置信息的收集。
			</p>
			<p>· 5．设备信息：为了保障软件与服务的安全运行，我们会收集您的硬件型号、操作系统版本号、唯一设备识别码（IMEI/Android ID/IDFA/OPENUDID/GUID/OAID、SIM卡信息
				IMSI、MEID信息）、设备序列号、设备MAC地址、IP 地址、WLAN接入点、蓝牙、基站、传感器、软件版本号、网络接入方式、类型、操作、使用日志。</p>
			<p>使用您的个人信息</p>
			<p>为了使您更便捷的使用滳滴宠宠服务，我们的以下附加功能可能会使用您的个人信息。如果您不提供这些信息，您依然可以使用本平台的服务，但是您可能无法使用这些可以为您带来便捷的附加功能或者需要重复填写一些信息。这些附加功能包括：
			<p>1.基于位置信息的附加功能：我们将收集您的位置信息以便：1）为您匹配周边滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主情况并基于前述信息向您展示预计接单时长；2）您无需手动输入地理坐标即可定位到发件人地址或收件人地址；3）您使用滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主内置通讯工具向滳滴宠物合作商家以及宠物友好车主发送位置。如您使用该功能，我们需要收集您的地理位置信息，并需要您在您的设备中向我们开启地理位置（位置信息）的访问权限。
			</p>
			<p>· 2.基于摄像头（相机）的附加功能：您可使用此功能进行联系客服的时候发送照片、视频，或者拍照识别地址信息、或者使用首页二维码扫描入口参加活动、或者在和滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主进行沟通的时候拍照发送照片、或者参加活动的时候进行拍照上传照片，如您使用该功能，需要您在您的设备中向我们开启摄像头（相机）的访问权限。
			<p>· 3.基于通讯录信息的附加功能：您可选择您的通讯录信息以方便您在填写地址信息时无需再手动输入您通讯录中联系人的信息，如果您使用此功能，需要您在您的设备中向我们开启通讯录的访问权限。</p>
			<p>· 4.基于设备信息的功能：通过收集您的设备信息，我们可以判断您的账户是否存在风险，排查潜在问题，以及软件出现异常时，我们能准确的进行排查；如您使用 该功能，需要您在您的设备中向我们开启设备信息的访问权限；
			</p>
			<p>· 5.基于录音的附加功能：为了方便您和客服或滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主沟通，我们提供了发送语音消息的功能，如果您使用此功能，需要在您的设备中向我们开启录音的访问权限。</p>
			<p>· 6.拨打电话功能：为了方便您和滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主沟通，我们提供了拨打电话的功能，如果您使用此功能，需要您的拨打电话权限。</p>
			<p>· 7.基于相册的附加功能：为了方便您上传更换头像，或者联系客服的时候发送照片、视频，或者拍照识别地址信息，或者参加活动的时候上传照片，或者在和滳滴宠物车主沟通的时候发送照片。我们会收集您发送的图片或视频信息，如果您使用该功能，需要您的相册权限。
			</p>
			<p>· 8.帮助您参加抽奖活动：当您参与选择我们的抽奖及其他营销活动时，我们可能需要您提供您的姓名、照片、通讯地址及联系方式，这些信息可以帮助我们对活动结果进行公示并与您取得联系、配送礼品，经您同意，我们可以对活动进行宣传。如果您拒绝我们获取此类信息，可能导致无法参与相应活动。
			</p>
			<p>· 9.身份信息：为满足法律法规要求、更好保护用户人身财产安全以及满足平台风控要求，您使用即时生活服务功能必须用到身份信息的功能时，平台会提醒您使用前须提供身份信息，如普通用户发布订单前需提供姓名、身份证或其他身份证明。如您拒绝提供上述信息，滳滴宠宠平台将无法为您提供相应服务。
			</p>
			<p>· 10.间接获取、使用个人信息的情形：我们可能从第三方（微信、QQ、微博）获取您授权共享的账户信息（头像、昵称），并在您同意本政策后将您的第三方账户与您的滳滴宠宠账户绑定，使您可以通过第三方账户直接登录并使用滳滴宠宠的服务。
			<p>· 11.剪切板信息：为了方便您使用“地址智能识别”功能，我们可能需要获取您的剪切板信息，如果您不需要此功能，可以在设置-隐私设置-剪切板读取权限内关闭
			<p>· 12.设备存储权限：您可以使用此功能进行选择图片更换头像，或者联系客服的时候发送照片、视频、文件，或者拍照识别地址信息选择图片，或者参加活动的时候上传照片、文件，或者在和滳滴宠物车主沟通的时候发送照片文件，如您使用该功能，需要您在您的设备中向我们开启外置存储卡的访问权限；
			<p>· 13.自启动权限：为了确保软件可以在用户重启手机或者因为内存不足软件平台被杀死等极端情况下也可以正常运行，避免给用户使用软件造成困惑，造成订单状态变更通知遗漏，错漏重要消息等情况的发生，本软件需要自启动权限，由于原生安卓系统限制，本软件自启动只能默认设置，无法手动确认；
			<p>(三)来自第三方的信息
			<p>在您注册我们账户和使用服务过程中，经您授权我们可向关联方、合作伙伴及其他独立第三方来源获得关于您的个人信息。这些个人信息包括但不限于您的身份信息、行为信息、交易信息、设备信息等，我们会将此类信息汇总，用于帮助我们向您提供更好的服务或更好地预防互联网欺诈。
			<H4>二.我们如何使用您的个人信息 </H4>
			<p>为了实现我们产品与/或服务的核心功能，向您提供更好的用户体验，我们会在符合法律规定或根据您授权的情况下使用您的个人信息，并主要用于下列用途：
			<p>· 1.向您提供我们的产品与/或服务，并确保我们向您提供的产品与/或服务的安全性；
			<p>· 2.帮助我们维护、改进、设计、产品与/或服务，我们可能会将来自某项服务的个人信息、交易信息与来自其他服务所获得的信息结合起来，进行综合统计、分析或加工等处理，以便为您提供服务；
			<p>· 3.软件认证或管理软件升级；
			<p>· 4.让您参与有关我们产品及服务的调查。
			<p>· 5.经您同意或授权的其他用途
			<p>为了实现我们产品与/或服务的核心功能，向您提供更好的用户体验，改进和完善我们的服务，在符合相关法律法规的条件下，我们可能将通过某一项服务所收集的信息，以汇集信息的方式，用于我们的其他服务。如果我们在相关服务中提供了相应选项，您也可以授权我们将该服务所提供和储存的信息用于我们的其他服务。
			<H4>三.我们如何使用 Cookie 和同类技术</H4>
			<p>(一)Cookies的使用</p>
			<p>我们使用自己的cookies，目的是为您提供用户体验和服务，并用于以下用途：记住您的身份。例如：cookies有助于我们辨认您作为我们的注册用户的身份，或保存您向我们提供的有关您的喜好或其他信息；分析您使用我们服务的情况。例如，我们可利用cookies来了解您使用我们的服务进行什么活动，或哪些网页或服务最受您的欢迎；广告优化。Cookies有助于我们根据您的信息，向您提供与您相关的广告而非进行普遍的广告投放。我们为上述目的使用cookies的同时，可能将通过cookies收集的非个人身份信息，经统计加工后提供给广告商或其他合作伙伴，用于分析用户如何使用我们的服务，并用于广告服务。我们的产品和服务上可能会有广告商或其他合作方放置的cookies。这些cookies可能会收集与您相关的非个人身份信息，以用于分析用户如何使用该等服务，或用于评估广告服务的效果。这些第三方cookies收集和使用该等信息，不受本《隐私政策》约束，而是受相关使用者的隐私政策约束，我们不对第三方的cookies承担责任。您可以通过浏览器设置拒绝或管理cookies。但请注意，如果停用cookies，您有可能无法享受最佳的服务体验，某些服务也可能无法正常使用。同时，您还会收到同样数量的广告，但这些广告与您的相关性会降低。
			<p>· 1.为实现您联机体验的需求，使您获得更轻松的访问体验。我们会在您的计算机或移动设备上发送一个或多个名为Cookies的小数据文件，指定给您的Cookies
				是唯一的，它只能被将Cookies发布给您的域中的Web服务器读取。我们向您发送Cookies是为了简化您重复登录的步骤、存储您的购物偏好或您购物车中的商品等数据进而为您提供购物的偏好设置、帮助您优化对广告的选择与互动、帮助判断您的登录状态以及账户或数据安全。
			<p>· 2.我们不会将 Cookies 用于本隐私政策所述目的之外的任何用途。您可根据自己的偏好管理或删除
				Cookies。您可以清除计算机上保存的所Cookies，大部分网络浏览器会自动接受Cookies，但您通常可根据自己的需要来修改浏览器的设置以拒绝
				Cookies；另外，您也可以清除软件内保存的所有Cookies。但如果您这么做，您可能需要在每一次访问滳滴宠宠网站时亲自更改用户设置，而且您之前所记录的相应信息也均会被删除，并且可能会对您所使用服务的安全性有一定影响。
			<p>(二)网络Beacon和同类技术的使用</p>
			<p>除 Cookie 外，我们还会在网站上使用网络Beacon等其他同类技术。我们的网页上常会包含一些电子图像（称为"单像素" GIF 文件或 "网络 beacon"）。我们使用网络beacon的方式有：
			<p>· 1.通过在滳滴宠宠网站上使用网络beacon，计算用户访问数量，并通过访问 cookie 辨认注册的滳滴宠宠用户。</p>
			<p>· 2.通过得到的cookies信息，为您提供服务。</p>
			<H4>四.我们如何共享、转让、公开披露您的个人信息</H4>
			<p>(一)共享
			<p>您的个人信息是我们为您提供服务的重要部分，我们会遵循法律规定对您的信息承担保密义务。除以下情形外，我们不会将您的个人信息披露给第三方：
			<p>· 1.获得您的同意或授权;</p>
			<p>· 2.根据适用的法律法规、行政、司法机构等有权机关的要求所必须的情况下进行提供；</p>
			<p>· 3.实现“我们如何使用您的个人信息”部分所述目的；履行我们在《滳滴宠宠服务协议》或本《隐私政策》中的义务和行使我们的权利；</p>
			<p>· 4.只有共享您的信息，才能实现我们的产品与/或服务的核心功能或提供您需要的服务；</p>
			<p>· 5.应您需求为您处理您与他人的纠纷或争议；</p>
			<p>· 6.与商业合作伙伴的必要共享:您理解并知悉,为了向您提供更完善、优质的产品和服务,我们将授权商业合作伙伴为您提供部分服务。此种情形下,我们可能会与合作伙伴共享您的某些个人信息,以提供更好的客户服务和用户体验。请您注意,我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息,并且只会共享提供服务所必要的个人信息。我们将对信息数据的输出形式、流转、使用进行安全评估与处理,以保护数据安全。目前,我们的合作伙伴包括以下类型:
			<p>· A、平台的第三方商家:为帮助您实现产品或服务的购买或者为您提供售后服务,我们会与平台的第三方商家共享您的订单和交易相关信息。
			<p>· B、其他业务合作伙伴:例如:
				合作的第三方SDK服务商:当您使用滳滴宠宠软件平台中由第三方提供的功能时,我们可能会接入由第三方提供的软件开发包(SDK)以实现相关功能。此时,第三方SDK服务商可能会收集您相关的个人信息。但我们承诺:未经您的同意,我们不会与其共享可以识别您身份的个人信息。
			<p>· a.极光推送、极光认证、IM、UMS：我们的产品集成极光推送、极光认证、IM服务、UMS服务，需要收集您的设备标识符（IMEI、IDFA、Android
				ID、MAC、OAID、IMSI相关信息）、设备序列号，应用信息（应用崩溃信息、通知开关状态、软件列表相关信息）、设备参数及系统信息（设备类型、设备型号、操作系统及硬件相关信息）]、网络信息[
				网络信息包括：IP地址，WiFi信息，基站信息相关信息。
				]、地理位置信息以用于将实时聊天信息通过加密通道送达至终端用户；用于识别唯一用户，保证消息推送的精准送达；为开发者提供智能标签以及展示业务统计信息的服务；优化SDK与极光服务器的网络连接请求，保证服务的稳定性和连续性等。极光或及其关联公司可能会收集您的设备信息、网络相关信息、运营商信息。您可以登录：https://www.jiguang.cn/license/privacy
				了解【极光】隐私权政策。</p>
			<p>· b. 友盟+SDK服务：我们的产品集成友盟+SDK，友盟+SDK需要收集您的设备MAC地址、唯一设备识别码（IMEI、MAC、Android ID、IDFA、OAID、OPENUDID、
			<p>GUID、SIM 卡 IMSI
				、IMSI、ICCID）获取SD卡数据权限，以提供统计分析服务，并通过地理位置校准报表数据准确性，提供基础反作弊能力。您可以登录：https://www.umeng.com/page/policy 了解。
			<p> c.百度地图定位SDK,：为向您提供定位服务、地图服务，我们集成了百度地图定位SDK。在为您提供定位服务、地图服务时，需要收集、使用您的【设备信息(Android
				ID、IDFA、IDFV)、位置信息、WLAN及传感器信息（加速度、陀螺仪、方向、压力、旋转矢量、光照、磁力计）、系统信息（操作系统版本、设备品牌及型号、设备配置）和应用信息（应用名）】信息，需要获取您的设备存储权限：用于网络异常时向拓展卡写入和读取定位数据，向您提供离线定位功能，用于向您提供问题追踪、排查、诊断服务并进行数据统计，以保障产品和服务安全正常运行，用于向您提供问题追踪、排查、诊断服务并进行数据统计，以保障产品和服务安全正常运行。关于收集、使用的个人信息类型、目的及用途，以及将如何保护所收集、使用的个人信息，请您仔细阅读《百度地图开放平台产品和服务隐私政策》（https://lbsyun.baidu.com/index.php?title=open/privacy）了解。
			</p>
			<p>· d.网易七鱼：为向您提供客服服务，我们集成了网易七鱼SDK。在为您提供客服服务时，需要收集、使用您的设备MAC地址、唯一设备识别码（IMEI/Android
				ID）信息。关于收集、使用的个人信息类型、目的及用途，以及将如何保护所收集、使用的个人信息，您可以登录：http://help.qiyukf.com/?p=4556，了解【网易七鱼】Android
				端权限以及隐私相关。
			<p>· e.阿里云oss：为向您提供oss，我们集成了阿里云SDK。在为您提供oss时，需要收集、使用您必要的个人信息。关于收集、使用的个人信息类型、目的及用途，以及将如何保护所收集、使用的个人信息，您可以登录：http://terms.aliyun.com/legal-agreement/terms/suit_bu1_ali_cloud/suit_bu1_ali_cloud201902141711_54837.html?spm=5176.146391.J_6354807410.1.23755e3bViVzH4，了解【阿里云】隐私权政策。
			<p>· f.阿里云HTTPDNS：为了提高网络可靠性，我们集成了阿里云HTTPDNS SDK。在为您提供HTTPDNS时，需要收集、使用您必要的个人信息。关于收集、使用的个人信息类型、目的及用途请参考：
			<p>· 个人信息类型和字段 业务用途</p>
			<p>网络信息：运营商信息，网络类型 1. ip缓存功能使用，不同网络情况下的ip解析结果，分别缓存</p>
			<p>网络信息：WIFI名称、MAC地址； 1. ip解析和服务ip更新功能使用，标记不同的wifi网络</p>
			<p>设备标识符：IMEI、IDFA 1. httpdns统计功能使用，用于计算设备标识</p>
			<p>· ·
				关于将如何保护所收集、使用的个人信息，您可以登录：http://terms.aliyun.com/legal-agreement/terms/suit_bu1_ali_cloud/suit_bu1_ali_cloud201902141711_54837.html?spm=5176.146391.J_6354807410.1.23755e3bViVzH4，了解【阿里云】隐私权政策。
			<p>· g.360加固保：为向您提供加固服务，我们集成了360加固保SDK。在为您提供加固服务时，需要收集、使用您必要的个人信息。关于收集、使用的个人信息类型、目的及用途，以及将如何保护所收集、使用的个人信息，您可以登录：https://jiagu.360.cn/#/global/help/295，了解【360加固保】隐私权政策。
			<p>· i.
				高德地图：为了向您提供【基于位置的相关】功能/服务，我们的产品集成了【高德地图定位】SDK。在向您提供【定位】功能/服务时，【高德地图SDK】需要收集、使用您的【设备信息、位置信息、WLAN及其他传感器信息】，具体请您仔细阅读《高德地图开放平台隐私权政策》【https://lbs.amap.com/home/privacy】}进行了解。
			<p>· j.小米推送：为了实现【小米消息推送】服务，我们集成【小米推送SDK】，需要收集使用您的【IMEI/OAID（适用于Android Q以上系统）、IMEI MD5/MEIDMD5、Android
				ID、VAID、AAID，以及您的MID（适用于MIUI系统）、设备型号】信息。为便于您更好地理解【小米推送SDK】个人信息收集使用规则，您可以登录或访问https://dev.mi.com/console/doc/detail?pId=1822了解其《隐私政策》。
			<p>· k: OPPO推送：为了实现【OPPO推送】服务，我们集成【OPPO推送SDK】，需要收集使用您的【IMEI号，Serial Number，IMSI，User ID，Android ID，Google
				Advertising
				ID, 手机Region设置，设备型号，手机电量，手机操作系统版本及语言】信息。为便于您更好地理解【OPPO推送SDK】个人信息收集使用规则，您可以登录或访问https://open.oppomobile.com/wiki/doc#id=10288了解其《隐私政策》。
			<p>· l:
				vivo推送：为了实现【vivo推送】服务，我们集成【vivo推送SDK】，需要收集使用您的【设备及应用信息：包括您使用vivo设备及服务过程中的操作系统版本号、应用程序信息、设备标识符（如IMEI号、SIM
				和 IMSI、移动国家码和vivo
				Android设备的移动网号）、MAC地址、移动运营商、使用语言、系统设置、设备和应用程序数据】信息。为便于您更好地理解【vivo推送SDK】个人信息收集使用规则，您可以登录或访问https://www.vivo.com.cn/about-vivo/privacy-policy了解其《隐私政策》。
			<p>· m:华为推送：为了实现【华为推送】服务，我们集成【华为推送SDK】，需要收集使用您的【AAID（应用匿名标识）】信息。为便于您更好地理解【华为推送SDK】个人信息收集使用规则，您可以登录或访问https://developer.huawei.com/consumer/cn/doc/development/HMSCore-Guides/sdk-data-security-0000001050042177
				了解其《隐私政策》与《个人数据处理说明》。
			<p>· n.百度语音识别SDK：为向您提供语音识别功能，我们集成了百度语音识别SDK。为您提供语音识别服务时，需要收集、使用您的设备属性信息（操作系统版本、唯一设备标识符、国际移动设备身份码IMEI）
				信息。关于收集、使用的个人信息类型、目的及用途，以及将如何保护所收集、使用的个人信息，您可以登录：https://ai.baidu.com/ai-doc/REFERENCE/Qkdykq1r3
				了解【百度语音识别】隐私权政策。
			<p>· o:腾讯Bugly SDK:为了实现热修复，我们集成了【腾讯Bugly SDK】，需要收集使用您的必要信息。主要包括：日志信息（包括：第三方开发者自定义 日志、Logcat 日志以及 软件平台
				崩溃堆栈信息）、设备 ID（包括：Android ID 以及 idfv）、联网信息、系统名称、系统版本以及国家码。为便于您更好地理解【腾讯Bugly
				SDK】个人信息收集使用规则，您可以登录或访问https://static.bugly.qq.com/bugly-sdk-privacy-statement.pdf了解其《隐私政策》。
			<p>· p:支付宝SDK：为了提供支付宝支付功能，我们集成了【支付宝SDK】，需要收集您的常用设备信息（如IMEI/IMSI、SIM卡序列号/MAC地址、android_id）、网络信息以及地理位置信息。为便于您更好地理解【支付宝SDK】个人信息收集使用规则，您可以登录或访问
				https://opendocs.alipay.com/open/54 了解其《隐私政策》。
			<p>· q:微信支付&分享SDK：为了提供微信支付以及微信分享和微信授权登录功能，我们集成了【微信支付&分享SDK】，需要收集您的常用设备信息。为便于您更好地理解【微信支付&SDK】个人信息收集使用规则，您可以登录或访问https://pay.weixin.qq.com/index.php/public/软件平台ly_sign/protocol_v2了解其《隐私政策》。
			<p>· r:新浪微博SDK：为了提供新浪微博分享功能，我们集成了【新浪微博SDK】，需要收集您的常用设备信息，网络信息。为便于您更好地理解【新浪微博SDK】个人信息收集使用规则，您可以登录或访问https://weibo.com/signup/v5/privacy了解其《隐私政策》。
			<p>· s:
				腾讯开放平台SDK：为了提供QQ登录和分享功能，我们集成了【腾讯开放平台SDK】，需要收集您的常用设备信息，网络信息。为便于您更好地理解【腾讯开放平台SDK】个人信息收集使用规则，您可以登录或访问https://open.tencent.com/了解其《隐私政策》。
			<p>· t：百度更新SDK：为了提供软件平台更新功能，我们集成了【百度更新SDK】，此SDK不涉及用户隐私。</p>
			<p>· u:
				【巨量引擎转化SDK】：为了提供数据统计和分析服务，我们集成了【巨量引擎转化SDK】，需要收集您的设备品牌、型号、软件系统版本相关信息、手机系统重启时间、磁盘总空间、系统总内存空间、CPU数目、OAID基础信息，以及应用名、应用包名、版本号、运营商信息，设备时区信息。为便于您更好地理解【巨量引擎转化SDK】个人信息收集使用规则，您可以登录或访问https://event-manager.oceanengine.com/docs/8650/194615/了解其《隐私政策》。

			<p>· v: aa:设备标识生成库(TaobaoUtdid、阿里云Utdid)：</p>
			<p>第三方公司名称：支付宝（中国）网络技术有限公司</p>
			<p>· 共享类型：内嵌SDK</p>
			<p>· 共享信息： 设备信息（IMEI/MAC/Android ID/IDFA/OpenUDID/GUID/SIM卡IMSI/IP/地理位置）、当前运行应用进程及包名、完全的网络访问权限（包括在后台状态下收集）
			<p>· 使用目的：为设备生成唯一DeviceId的一个基础类库
			<p>· 使用场景：友盟+、支付宝SDK使用
			<p>· 可能调用的权限：读取外置存储卡；读取手机状态和身份；写入外部存储卡；</p>
			<p>· 共享方式：SDK本机采集</p>
			<p>· 第三方隐私链接：[链接]</p>
			<p>· ·
				ab:【增长营销套件SDK】：为了提供数据统计和分析服务，我们集成了【增长营销套件SDK】，需要收集您的设备品牌、型号、软件系统版本相关信息、手机系统重启时间、磁盘总空间、系统总内存空间、CPU信息、OAID、MAC地址、IP地址、序列号、GAID，以及应用名、应用包名、版本号、运营商信息，设备时区信息。为便于您更好地理解【增长营销套件SDK】个人信息收集使用规则，您可以登录或访问https://www.volcengine.com/docs/6285/72216了解其《隐私政策》。
			<p>· A.为了提升您的用户体验，我们与第三方平台进行联合营销活动。如您希望参与活动并获得第三方平台的奖品，则您在注册滳滴宠宠平台时向我们提供的个人手机号信息将提供和共享给第三方平台，以便您能参与活动，并领取奖品。您授权后，第三方平台将获得您的授权信息，为您发放活动奖品，您可以使用授权信息登录第三方平台。对上述信息进行必要的使用、处理以及共享、储存，我们与第三方平台均严格旅行保密义务并遵守《个人信息保护及隐私政策》的规定。
			<p>· 7.基于符合法律法规的社会公共利益而使用。</p>
			<p>· 8.为了向您提供一键分享服务，我们的产品集成友盟+ U-Share SDK，将收集您的设备标识信息（如IMEI/Android
				ID/IDFA）和您需要分享的社交账户公开信息，以便完成一键分享服务。为了您的信息安全，我们已与第三方SDK服务商进行数据安全保密约定，这些公司会严格遵守我们的数据隐私和安全要求。除非得到您的同意，我们不会与其共享您的个人身份信息。为便于您更好地了解【友盟+】采集的数据类型及用途，以及何保护您的个人信息，您可以登录https://www.umeng.com/policy了解【友盟+】隐私权政策。”
			<p>(二)转让</p>
			<p>我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：</p>
			<p>· 1.获得您的同意或授权；</p>
			<p>· 2.根据适用的法律法规、行政、司法机构有权机关的要求所必须的情况下进行提供；</p>
			<p>· 3.符合与您签署的相关协议（包括在线签署的电子协议以及相应的平台规则）或其他的法律文件约定所提供；</p>
			<p>· 4.在涉及合并、收购、资产转让或类似的交易时，如涉及到个人信息转让，我们会要求新的持有您个人信息的公司、组织继续受本隐私政策的约束，否则,我们将要求该公司、组织重新向您征求授权同意。
			<p>
			<p>(三)公开披露
			<p>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才会公开披露您的个人信息：</p>
			<p>· 1.根据您的明确授权或同意以特定方式披露您的约定信息；</p>
			<p>· 2.根据适用的法律法规、行政、司法机构有权机关的要求所必须的情况下进行披露，在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，并进行审慎的审查。
			<H4>五.我们如何保护和保存您的个人信息</H4>
			<p>我们仅在本《隐私政策》所述目的所必需的期间和法律法规要求的时限内保留您的个人信息。
				我们使用各种安全技术和程序，以防信息的丢失、不当使用、未经授权阅览或披露。例如，在某些服务中，我们将利用加密技术（例如SSL)来保护您提供的个人信息。但请您理解，由于技术的限制以及可能存在的各种恶意手段，在互联网行业，即便竭尽所能加强安全措施，也不可能始终保证信息百分之百的安全。您需要了解，您接入我们的服务所用的系统和通讯网络，有可能因我们可控范围外的因素而出现问题。
			<H4>六.您如何管理个人信息</H4>
			<p>(一)您对您向我们提供的信息可以进行访问、更新和管理，我们将尽可能采取技术手段保障您权利的实现。</p>
			<p>您可以通过如下方式行使您的访问权利： 账户信息——如果您希望访问或编辑您的账户中的个人资料信息和支付信息、更改您的密码、添加安全信息更改您的密码、添加安全信息，您可以在您使用的产品中执行此类操作。
				搜索信息——您可以在滳滴宠宠一站式宠物综合服务官网、公众号，客户端及相关网站中访问或清除您的搜索历史记录、查看和修改兴趣以及管理其他数据。 订单信息：您可以在我们系统中查阅或清除您的订单记录，交易记录。
			<p>(二)更正您的个人信息。</p>
			<p>当您发现我们处理的关于您的个人信息有错误时，您有权要求我们作出更正。您可以通过“（一）访问您的个人信息”中罗列的方式提出更正申请。</p>
			<p>(三)删除您的个人信息。</p>
			<p>您可以通过“（一）访问您的个人信息”中罗列的方式提出删除申请。在以下情形中，您可以向我们提出删除个人信息的请求：</p>
			<p>1.如果我们处理个人信息的行为违反法律法规；
			<p>2.如果我们收集、使用您的个人信息，却未征得您的同意；
			<p>3.如果我们处理个人信息的行为违反了与您的约定；</p>
			<p>4.如果您不再使用我们的产品或服务，或您注销了账号；</p>
			<p>5.如果我们不再为您提供产品或服务。</p>
			<p>若我们决定响应您的删除请求，我们还将同时通知从我们获得您的个人信息的实体，要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。
				当您从我们的服务中删除信息后，我们可能不会立即在备份系统中删除相应的信息，但会在备份更新时删除这些信息
			<p>(四)改变您授权同意的范围。</p>
			<p>您可以通过解除绑定、修改个人设置、删除相关信息方式修改、撤回部分授权，也可以通过关闭功能的方式撤销授权。</p>
			<p>如您发现我们采集、使用您个人信息的行为，违反了法律、行政法规规定或违反了与您的约定，您可联系我们的客服，要求删除该违反行为下采集的您的个人信息。尽管有上述约定，但按照法律法规要求，在以下情形下，我们可能无法响应您的请求：与国家安全、国防安全有关的；与公共安全、公共卫生、重大公共利益有关的；与犯罪侦查、起诉和审判有关的；有充分证据表明您存在主观恶意或滥用权利的；响应您的请求将导致其他个人、组织的合法权益受到严重损害的。
			<p>(五)注销账户。</p>
			<p>您有权注销您的滳滴宠宠账户，您可以通过以下方式自行操作：登录滳滴宠宠客户端，点击“设置”-“账户安全”-“注销账户”-“注销账号”（或点击“系统设置”-“安全中心”-“注销账号”）。完成相关验证后，您即可注销您的滳滴宠宠账户，在注销账户之后，我们将停止为您提供产品或服务，并依据您的要求，删除您的个人信息或对您的个人信息进行匿名化处理，法律法规另有规定的除外。
			<p>如果您无法通过上述方式访问、更正或删除您的个人信息以及注销账号，或者如果您认为滳滴宠宠存在违反法律的规定收集、使用您个人信息的情形，您可以通过我们的客服或通过本隐私政策提供的其他方式与我们取得联系。为了保障安全，我们可能需要您提供相应方式证明您的身份和请求的正当性，我们将在收到您反馈并验证您的身份后的15天内答复您的请求。对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际（例如，涉及备份磁带上存放的信息）的请求，我们可能会予以拒绝。
			<p>尽管有上述约定，但按照法律法规要求，在以下情形下，我们可能无法响应您的请求：与国家安全、国防安全有关的；与公共安全、公共卫生、重大公共利益有关的；与犯罪侦查、起诉和审判有关的；有充分证据表明您存在主观恶意或滥用权利的；响应您的请求将导致其他个人、组织的合法权益受到严重损害的。
			<H4>七.我们如何保护未成年人的信息</H4>
			我们非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用我们的产品与/或服务前，建议请您的父母或监护人阅读本政策，并在征得您父母或监护人同意的前提下使用我们的服务或向我们提供您的信息。
			如您的监护人不同意您按照本政策使用我们的服务或向我们提供信息，请您立即终止使用我们的服务并及时通知我们，以便我们采取相应的措施。我们将根据国家相关法律法规的规定保护未成年人的个人信息的保密性及安全性。
			<H4>八.本政策的修订和通知</H4>
			本政策的适用及修订滳滴宠宠所有服务均适用本政策。基于业务功能、使用规则、联络方式、保存地域变更或法律法规及监管要求，我们可能会适时对本政策进行修订。由于滳滴宠宠的用户较多，如本政策发生变更，我们将以推送通知或发送邮件或信函或电话或者在滳滴宠宠官方网站发布公告的方式来通知您。为了您能及时接收到通知，建议您在电子邮箱地址更新时及时通知我们。若您在本政策修订后继续使用滳滴宠宠服务，这表示您已充分阅读、理解并接受修订后的本政策并愿意受修订后的本政策约束。您可以在滳滴宠宠官方网站首页查看本政策，也可在滳滴宠宠客户端通过“我的-设置-隐私”中查看本政策。我们鼓励您在每次访问滳滴宠宠时都查阅我们的隐私政策。
			<H4>九.如何联系我们</H4>
			<p>1.您可以通过以下方式向我们反馈您的意见和建议，或提供您的投诉举报信息：</p>
			<p>1)客服电话：4008575880；</p>
			<p>2)违法和不良信息举报电话：4008575880；</p>
			<p>3)违法和不良信息举报邮箱：hididc@163.com；</p>
			<p>4)投诉/举报邮箱：hididc@163.com；</p>
			<p>5)滳滴宠宠监察中心违规违纪违法线索监督举报渠道：</p>
			<p>a)监督举报电话：4008575880；</p>
			<p>b)监督举报邮箱：hididc@163.com。</p>
			<p>6)个人信息保护机构及联系方式：</p>
			<p>a)个人信息保护机构：滳滴宠宠安全部门；</p>
			<p>b)联系方式：hididc@163.com。</p>
			<p>C)微信公众号:滳滴宠宠</p>
			<p>E)微信小程序：滳滴宠宠</p>
			<p>2.我们将在15日内核对并处理您反馈的信息，如果您对我们的回复不满意，特别是您认为我们的个人信息处理行为损害了您的合法权益，您可以通过向被告住所地有管辖权的法院提起诉讼来寻求解决方案。</p>




		</view>
	</view>
</template>


<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	::v-deep page,
	.containner {
		background-color: #fff !important;
	}

	.cnt-wrapper {
		padding: 0rpx 20rpx 20rpx;
		box-sizing: border-box;
		color: #333333;
		font-size: 30rpx;

		p {
			line-height: 48rpx;
		}

		h4 {
			margin: 30rpx 0rpx 10rpx;
		}
	}
</style>