<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				用户服务协议
			</template>
		</commonTop>
		<view class="cnt-wrapper">
			<h4>发布日期：2024年5月15日</h4>
			<h4>生效日期：2024年5月15日</h4>
			<h4>感谢您选择滳滴宠宠服务。滳滴宠宠服务用户协议（以下简称“本协议”）由浙淳（杭州千岛湖）文旅有限公司（以下或称“公司”或“我们”）和您签订。各条款标题仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。</h4>
			<h4> 第一条 滳滴宠宠服务的内容与方式</h4>
			<p>1.滳滴宠宠一站式宠物综合服务社区平台：指包括滳滴宠宠官网（域名为www.zecec.cn）等网站及名为“滳滴宠宠”、的移动应用程序客户端、小程序、微信公众号、微博以及将来可能新设立的其他运营方式的单称或合称。</p>
			<p>2.滳滴宠宠服务：指我们通过网站、移动应用程序客户端、小程序以及微信公众号等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项宠物综合服务。宠物综合服务具体包括我们为用户提供的宠物综合服务包含宠物接送、喂养以及全城跨城宠物配送托运服务，我们所提供服务内容可能因所在平台差异而有所不同，具体以不同平台具体提供的服务内容为准。</p>
			<p>3.滳滴宠宠仅提供宠物社区综合服务，除此之外与服务有关的上网所需设备（包括个人电脑、手机、其他与接入互联网或移动网有关的上网装置）及所需的费用（与此服务相关的电话费、上网费、为使用移动网而支付的手机费等）均应由用户自行承担。</p>
			<h4>第二条 协议的接受与变更</h4>
			<p>1.您在滳滴宠宠平台点击注册页面的同意注册按钮并完成注册程序后，视为您与浙淳（杭州千岛湖）文旅有限公司达成本协议。并自愿接受本协议全部条款的约束。本协议适用于浙淳（杭州千岛湖）文旅有限公司及其关联公司运营的滳滴宠宠平台为用户(以下或称“您”)提供的宠物综合社区服务。</p>
			<p>2. 在您使用滳滴宠宠服务之前，请认真阅读本协议内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以字体加粗的形式进行标识，您应重点阅读。如您对本协议内容或页面提示信息有疑问，请勿进行下一步操作。您可通过滳滴宠宠小程序或者App的在线客服或客服电话4008575880进行咨询，以便我们为您解释和说明。</p>
			<p>3.如我们对本协议进行修改，我们将通过弹窗、网页公示等方式予以公布，变更后的协议在公告发布起立即生效。若您无法同意变更修改后的协议内容，您有权停止使用相关服务；双方协商一致的，也可另行变更相关服务和对应协议内容。</p>
			<p>4.您与公司签署的本协议所列明的条款，并不能完全涵盖您与公司之间所有的权利和义务。您同意公司已公布的以及将来可能公布的其他协议、规则等（包括但不限于《滳滴宠宠隐私政策》）（以下简称“滳滴宠宠平台规则”）将视为本协议之补充协议，为本协议不可分割的组成部分，与本协议具有同等法律效力。</p>
			<p>5.如您为无民事行为能力人或为限制民事行为能力人，请告知您的监护人，并在您监护人的指导下阅读本协议和使用我们的服务。若您非中华人民共和国境内（为本协议之目的，不包括香港、澳门特别行政区及台湾地区）用户，您还需同时遵守您所属国家或地区的法律，且您确认，订立并履行本协议不违反您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规。</p>
			<h4>第三条 账户的取得、使用及注销</h4>
			<p>1.请您确认，在您开始注册滳滴宠宠平台用户前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，滳滴宠宠有权拒绝用户的注册或注销用户的账户，且因此造成的损失由您及您的监护人依照法律规定承担相应的法律后果。</p>
			<p>2.您在使用滳滴宠宠平台前，需在滳滴宠宠平台创建账号并完善个人资料，您有义务确保资料、信息的真实性、正确性及完整性。如果您的资料、信息发生变化，请您及时更改。
			<p>3.用户的用户名中不得包含违反国家法律法规、涉嫌侵犯他人权利或干扰滳滴宠宠平台正常运营秩序等的相关信息；同一个用户名只能注册一个账号，并且验证该账号有效的手机号未用于其它账号的验证。用户注册时的手机号码是用户身份的唯一标识，为保证用户账号安全，如手机号码发生变动，请及时修改，以免造成不必要的损失。</p>
			<p>4.用户注册成功时，您同时将创建一个账号和密码。您应采取合理措施维护账号和密码的安全，因用户原因导致账号或密码泄露而造成的法律后果由用户负责。用户对由此用户名和密码登入系统后所发生的所有活动和事件负责，并承担由此产生的直接或者间接法律责任，我们不承担任何责任。</p>
			<p>5.用户注册成为滳滴宠宠用户后，获取滳滴宠宠账户的使用权，有权使用滳滴宠宠产品和服务。用户理解并同意，用户将对利用该滳滴宠宠账户所进行的一切行动、言论，负完全的责任。
			<p>6.由于用户自己将验证码告知他人或验证码泄露、手机或其他设备被盗、与他人共享注册账户、转借或出让账户给他人使用、或因用户自身原因未及时修改手机号而造成的账号被盗等其他原因导致任何个人信息的泄露等损失由用户自行承担，我们无需承担任何责任。</p>
			<p>7.为满足法律法规等要求、更好保护用户人身财产安全以及满足风控要求，您在使用滳滴宠宠的部分功能前必须提供身份信息，如您拒绝提供上述信息，滳滴宠宠将无法为您提供相应的服务。用户还可选择向滳滴宠宠提供照片、性别、年龄、行业、公司、职业。</p>
			<p>8.您有权主动注销您的账户，当您需要注销账户时，请您通过滳滴宠宠平台的注销账户渠道或者联系客服帮您处理。您的账户一旦被注销后将造成您的账号所关联的所有用户信息均将被删除且无法找回，您知悉并同意自行承担因账户注销带来的全部后果。</p>
			<p>9.如用户连续一年未使用滳滴宠宠账户或密码登录滳滴宠宠，则滳滴宠宠有权注销该账户。账户被注销后，滳滴宠宠没有义务为其保留或向其披露其账户中的任何信息，也没有义务向用户或第三方转发任何用户未曾阅读或发送过的信息。</p>
			<h4>第四条 用户信息保护</h4>
			<p>1.公司高度重视保护您的个人信息，并采取合理措施保护用户个人信息安全。除法律法规规定的情形外，未经用户许可公司不会向第三方公开、披露用户个人信息。公司对相关信息采用行业通行的加密存储与传输方式，并将运用各种信息安全技术、完善的权限管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。更多关于您个人信息保护的内容，请参见《滳滴宠宠隐私政策》。</p>
			<p>2.公司亦非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用平台的服务前，应事先取得您的家长或法定监护人的同意。</p>
			<p>3.对于您在注册账号或使用滳滴宠宠服务过程中提供、形成的除个人信息外的文字、图片、视频、音频、数据等非个人信息，在法律规定的保护期限内您免费授予本公司及其关联公司获得全球排他的许可使用权利及再授权给其他第三方使用并可以自身名义对第三方侵权行为取证及提起诉讼的权利。您同意本公司及其关联公司存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其他作品内。</p>
			<h4>第五条 滳滴宠宠平台服务规则</h4>
			<p>1.用户在使用滳滴宠宠提供的服务的同时，承诺接受并遵守各类相关规则的规定，包括但不限于配送宠物收派流程及费用支付的相关规定。</p>
			<p>2.为保证宠物综合社区服务的质量和安全，用户同意按照滳滴宠宠的服务流程要求使用滳滴宠宠服务，并同意在使用滳滴宠宠服务时事先告知滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主的服务流程。对于用户、收件人或寄件人不能遵守滳滴宠宠服务流程导致纠纷或发生损害的，由用户、收件人或寄件人自行承担。</p>
			<p>3.为保证服务安全，滳滴宠宠采取密码换货的原则。用户在下单时，滳滴宠宠将提供收件密码给收件人。收件人应在确保见到配送宠物后向滳滴宠宠司机提供收件密码。若收件人未见到配送宠物，或下单人或寄件人未核实收件人身份或未确保配送宠物已递送至目的地而直接向滳滴宠宠司机提供收件密码，下单人、收件人或寄件人应自行承担由此产生的全部风险及损失。</p>
			<p>4.用户在使用滳滴宠宠服务过程中，必须遵循以下规定，否则我们有权做出独立判断，立即取消该用户资格并注销其用户账号：</p>
			<p>（1）遵守国家法律法规、当地法规及互联网相关规定；</p>
			<p>（2）遵守所有与运单及查询服务有关的协议、规定、程序以及本协议；</p>
			<p>（3）不使用网络服务作非法用途；</p>
			<p>（4）不得利用滳滴宠宠的服务系统进行任何可能对互联网或移动网络正常运转造成不利影响的行为；</p>
			<p>（5）不得利用滳滴宠宠提供的下单及查询服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
			<p>（6）用户在申请使用滳滴宠宠下单及查询服务时，必须提供准确的个人资料，如个人资料有任何变动，必须及时更新；</p>
			<p>（7）允许滳滴宠宠通过电子邮件或其他方式向用户发送相关商业信息；</p>
			<p>（8）不得进行有损滳滴宠宠利益的行为；</p>
			<p>（9）如需“一取多送”（即从一个用户处取货，配送至两个或者两个以上收货人处）服务，用户应当提前勾选相应选项，将由滳滴宠宠业务合作方提供相应配送服务；</p>
			<p>（10）不得通过盗取账号、诈骗等不正当手段获得用户信息；</p>
			<p>（11）不得出借（租）、转让用户账号给他人；</p>
			<p>（12）不得以用户账号当作商品进行交易（如出售、拍卖用户账号等）；</p>
			<p>5.滳滴宠宠配送司机有权在取件时开箱检查配送宠物，用户须予以配合。用户在下单后须对配送宠物进行拍照，并留存照片以便我们查验配送宠物的真实性。</p>
			<p>6.滳滴宠宠严禁递送违禁品，如发现疑似违禁品，我们和滳滴宠宠配送司机有向公安机关举报的权利。用户保证不递送违禁品，对于违禁品在滳滴宠宠服务过程中发生的扣押、盗抢、损毁、灭失等，我们不承担任何赔偿责任。违禁品包括：
			<p>（1）各类武器、弹药。如枪支、子弹、炮弹、手榴弹、地雷、炸弹等；</p>
			<p>（2）各类易爆炸性物品。如雷管、炸药、火药、鞭炮等；</p>
			<p>（3）各类易燃烧性物品，包括液体、气体和固体。如汽油、煤油、桐油、酒精、生漆、柴油、气雾剂、气体打火机、瓦斯气瓶、磷、硫磺、火柴等；</p>
			<p>（4）各类易腐蚀性物品。如火硫酸、盐酸、硝酸、有机溶剂、农药、双氧水、危险化学品等；
			<p>（5）各类放射性元素及容器。如铀、钴、镭、钚等；</p>
			<p>（6）各类烈性毒药。如铊、氰化物、砒霜等；</p>
			<p>（7）各类麻醉药物。如鸦片（包括罂粟壳、花、苞、叶）、吗啡、可卡因、海洛因、大麻、冰毒、麻黄素及其他制品等；</p>
			<p>（8）各类生化制品和传染性物品。如炭疽、危险性病菌、医药用废弃物等；</p>
			<p>（9）各种危害国家安全和社会政治稳定以及淫秽的出版物、宣传品、印刷品等。</p>
			<p>（10）各种妨害公共卫生的物品。如尸骨、动物器官、肢体、未经硝制的兽皮、未经药制的兽骨等；</p>
			<p>（11）中国法律、法规、行政规章明令禁止流通、寄递或进出境的物品，如国家秘密文件和资料、国家货币及伪造的货币和有价证券、仿真武器、管制刀具、珍贵文物、濒危野生动物及其制品等；
			<p>（12）包装不妥，可能危害人身安全、污染或者损毁其他寄递件、设备的物品等；</p>
			<p>（13）各寄达国（地区）禁止寄递进口的物品等；</p>
			<p>（14）其他适用法律禁止寄递的物品。</p>
			<p>用户还应当遵守中国法律关于下述限制收派的规定：寄递卷烟、雪茄烟每件以二条（400支）为限（二者合寄时亦限二条），寄递烟叶、烟丝每件以5公斤为限（二者合寄不得超过10公斤）。
			<h4>第六条 平台赔偿规则</h4>
			<p>1. 若配送宠物因我们的过错而损毁或丢失，我们将在配送宠物的实际价值(定义见下文)的范围内赔偿用户的实际损失，但在任何情况下，我们针对每个订单的最高赔偿额度不超过人民币2000元，且我们不承担任何其它损失或损害(包括但不限于利润、收入、利息及未来业务的损失)，无论这些其它损失和损害是特殊性或是间接性，无论是否在向用户提供服务之前或之后知晓有这些损失或损害的风险。
			<p>2. 我们仅对因滳滴宠宠过错导致的配送宠物的损害或丢失承担赔偿责任。为更明确之目的，因下列情形导致配送宠物延误、损毁或遗失，我们不承担任何赔偿责任:
			<p>（1）配送宠物本身的老弱病残自然性质或者严重体制虚弱等；</p>
			<p>（2）不可抗力；</p>
			<p>（3）下单人、寄件人或收件人过错；</p>
			<p>（4）用户或收件人已提交取收件密码，且在滳滴宠宠平台内形成交接记录。</p>
			<p>3.用户在向我们提出赔偿请求时，应如实告知配送宠物的类别及实际价值，并证明配送宠物的实际价值。配送宠物的“实际价值”应按如下规则确定：</p>
			<p>（1）若配送宠物为显著性品种，“实际价值”为用户提供的购买配送宠物或生产配送宠物所付出成本的购物小票、发票等价值证明文件(“价值证明文件”)中所显示的配送宠物的价格信息。若用户不能提供任何价值证明文件或价值证明文件中的价格信息明显高于市场公允价格，我们有权按照市场公允价格中的最低价格进行赔偿；</p>
			<p>（2）若配送宠物为非显著性品种各类杂交串种，“实际价值”为用户提供的购买配送宠物或生产配送宠物所付出成本的购物小票、发票等价值证明文件(“价值证明文件”)中所显示的配送宠物的价格信息，同时需考虑宠物的品种程度。若用户不能提供任何价值证明文件或价值证明文件中的价格信息明显高于市场公允价格，我们有权按照市场公允价格中的最低价格在考虑宠物串种程度的基础上进行赔偿；</p>
			<p>（3）我们有权在其认为需要的情况下要求用户提供由权威机构或价值鉴定机构出具的配送宠物的价值证明报告或其他报告。</p>
			<p>4.用户对每一次服务只能申请一次赔偿，任何申请必须在下单后三十(30)日内以书面方式向滳滴宠宠提出，否则我们将不再予以接受。用户在根据本协议向我们提出先予赔偿请求后的三十(30)日内，应当根据我们的要求出具用户有效的身份证明、配送宠物的照片、价值证明、鉴定证明及索赔函等，如用户为单位，应在上述文件上加盖公章，提交给我们审核确认。若收件人在接收配送宠物时没有说明配送宠物有任何伤残死亡，我们视为配送宠物被完好送达。</p>
			<p>5.如用户指定宠物配送纯正品种，用户可选择滳滴宠宠要求购买保价服务。如未购买，赔付上限为人民币500元。</p>
			<h4>第七条 免责声明</h4>
			<p>1. 用户没有通过滳滴宠宠正规预约渠道进行下单，私自下单要求司机提供服务的，由此产生的纠纷，用户应承担全部责任，并与实际使用人承担连带责任，我们不承担任何赔偿责任。
			<p>2.用户在配送宠物时应核实滳滴宠宠司机的身份信息及服务信息单号等，如因用户未经身份核实使用了未在滳滴宠宠注册的司机人司机，导致纠纷或损害的，我们不就此承担任何法律责任；若用户不主动告知或隐瞒以上状况导致纠纷或者损害的，由用户自行承担相关责任。
			<p>3.如配送宠物是动物(含宠物)、请自行施加保护措施；如因没有保护措施或措施不当导致递送动物、物品伤亡、损坏或产生不良结果，用户应承担责任；如遇自然天气、灾害等人力不可抗拒的情况，导致一系列不良结果，我们不承担责任。
			<p>4.因下列原因导致我们无法正常提供服务，我们免于承担责任：</p>
			<p>（1）我们的系统停机维护或升级；</p>
			<p>（2）因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；</p>
			<p>（3）您的电子设备软硬件和通信线路、供电线路出现故障的；</p>
			<p>（4）因您操作不当或通过非经我们授权或认可的方式使用我们服务的；</p>
			<p>（5）因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因、第三方服务瑕疵或政府行为等原因。</p>
			<p>尽管有前款约定，我们将采取合理行动积极促使服务恢复正常。</p>
			<h4>第八条 知识产权</h4>
			<p>1.滳滴宠宠所有内容，包括所有文字、图片、图形、音频、视频等都是滳滴宠宠财产，均受版权、商标和其它财产所有权法律的保护。未经滳滴宠宠同意，任何企业或个人均无权复制、下载、传输、再造滳滴宠宠任何内容，也不得提供给第三者使用，否则应负所有法律责任。违反上述声明而给本公司造成损失的，本公司将依法追究其法律责任。滳滴宠宠为提供下单及查询服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）等行为。
			<p>2.请您在任何情况下都不要私自使用公司的包括但不限于“滳滴宠宠”、“滳滴宠旅” 、“滈滴宠行”等在内的任何商标、服务标记、商号、域名、网站名称或其他显著品牌特征等（以下统称为“标识”）。未经公司事先书面同意，您不得将本条款前述标识以单独或结合任何方式展示、使用或申请注册商标、进行域名注册等，也不得实施向他人明示或暗示有权展示、使用、或其他有权处理该些标识的行为。由于您违反本协议使用公司上述商标、标识等给公司或他人造成损失的，由您承担全部法律责任。
			<h4>第九条 违约责任</h4>
			<p>1.针对您违反本协议或其他滳滴宠宠平台规则的行为，本公司有权独立判断并视情况采取屏蔽信息，中止向您提供部分或全部服务、注销账户等违约处理措施。本公司有权公告处理结果，且有权根据实际情况决定是否恢复您的使用，对涉嫌违反法律法规、涉嫌违法犯罪的行为将保存有关记录，并依法向有关主管部门报告、配合主管部门调查。
			<p>2.因您违反本协议或其他滳滴宠宠平台规则的规定，引起第三方投诉或诉讼索赔的，您应当自行承担全部法律责任。因您的违法或违约行为导致本公司及其关联公司被确认向第三方赔偿或遭受国家机关处罚的，您还应足额赔偿本公司及其关联公司因此遭受的全部损失。
			<p>3.用户承诺自己在使用滳滴宠宠服务时不会出现以下行为，如因用户以下行为而给滳滴宠宠或任何其他第三人造成损失，用户同意承担所有责任，包括但不限于赔偿滳滴宠宠并使其免于因此遭受所有直接和间接损失(包括任何直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费)：
			<p>（1）违反中国法律、法规要求以及各种社会公共利益或公共道德的行为；</p>
			<p>（2）违反滳滴宠宠相关规定的行为（包括但不限于制造虚假订单、利用系统漏洞获取利益、违规套现等）；</p>
			<p>（3）违反本协议约定的行为；
			<p>（4）其他损害滳滴宠物合作商家以及滳滴宠宠/滈滴宠行宠物友好车主和其他用户利益的行为。</p>
			<h4>第十条 服务的终止</h4>
			<p>1.您理解并同意，我们基于经营策略的调整，可能会对服务内容进行变更，也可能会中断、中止或终止服务。</p>
			<p>2.您理解并同意，如公司发生合并、分立、收购、资产转让时，公司可向第三方转让本服务下相关资产；公司亦可在单方通知您后，将本协议下部分或全部服务及相应的权利义务转交由第三方运营或履行。</p>
			<p>3.您理解并同意，如您在使用滳滴宠宠服务时存在违反法律法规、本协议及其他滳滴宠宠平台规则、社会公德、公序良俗和/或侵害他人合法权益等情形，我们有权不经通知而单方中断或终止向您提供全部或部分服务。</p>
			<p>4.对于用户在使用滳滴宠宠服务中出现包括但不限于与滳滴宠宠司机串通下假单、毁损货物等损害滳滴宠宠利益的行为，滳滴宠宠有权单方终止提供服务，并要求用户双倍返还因该等行为取得的不良利益，如不足以赔偿滳滴宠宠的实际损失(包括合理的律师费用)，我们有权进一步追偿。
			<p>5.您理解并同意，如您实施违反法律法规、社会公德、公序良俗和/或侵害他人合法权益等行为，并因此影响或可能影响我们和/或他人的名誉、声誉或其他合法权益，我们有权不经通知而单方中断或终止向您提供全部或部分服务。</p>
			<p>6.我们终止向您提供服务后，有权根据适用法律的要求删除您的个人信息，或使其匿名化处理，亦有权依照法律规定的期限和方式继续保存您留存于我方平台的其他内容和信息。</p>
			<h4>第十一条 法律适用与争议解决</h4>
			<p>1.本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律(仅为本协议之目的，不含香港、澳门和台湾地区法律)。</p>
			<p>2.如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均有权向公司住所地人民法院提起诉讼。</p>
			<h4>第十二条 其他</h4>
			<p>1.如果本协议中的任何条款由于对其适用的中国法律而无效或不可强制执行，则该条款应当视为可分的而不影响本协议其他条款的有效性。</p>
			<p>2.除非本协议另有规定，一方未行使或迟延行使本协议项下的权利、权力或特权并不构成放弃这些权利、权力和特权，而单一或部分行使这些权利、权力和特权并不排斥行使任何其他权利、权力和特权。</p>
			<p>3.如您对滳滴宠宠用户服务协议有任何疑问、意见或建议，您可以通过以下方式与我们联系，我们将在15个工作日内回复您的请求：</p>
			<p>联系方式：【4008575880】；</p>
			<p>联系邮箱：【hididc@163.com】</p>
			<p>微信公众号：滳滴宠宠</p>
			<p>微信小程序：滳滴宠宠</p>
			<p>官方网站：www.zecec.cn </p>



		</view>
	</view>
</template>


<script>
	import commonTop from '@/components/CommonTop'
	export default {
		components: {
			commonTop
		},
		data() {
			return {

			}
		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	::v-deep page,
	.containner {
		background-color: #fff !important;
	}

	.cnt-wrapper {
		padding: 0rpx 20rpx 20rpx;
		box-sizing: border-box;
		color: #333333;
		font-size: 30rpx;

		p {
			line-height: 48rpx;
		}

		h4 {
			margin: 30rpx 0rpx 10rpx;
		}
	}
</style>