<template>
	<view style="width: 100%;">
		<view class="screen-bar" :style="{'height':height + 'rpx',backgroundColor:bgcolor}">
			<!-- 一级菜单 -->
			<view class="screen-bar-item" @tap.stop="itemClick(index,item)" v-for="(item,index) in updateArr"
				:key="index"
				:style="{'width':(100/titleArr.length)+'%','fontSize':barFontSize+'rpx','color':(currentIndex==index&&show)?activeColor:barTextColor}">
				<view class="bar-item-text">
					{{item}}
				</view>
				<view class="dot"
					:style="{'transform': show?currentIndex==index? 'rotate(180deg)':'rotate(0)':'rotate(0)'}"
					:class="[{'ccolor' : currentIndex==index && show}]"></view>
			</view>


			<!-- 子菜单 -->
			<view class="dropdown-box" v-if="!subShowNear"
				:style="{'bottom':'-' + (itemHeight*maxDropdownLength) + 'rpx','height':(itemHeight*maxDropdownLength) + 'rpx',backgroundColor:bgcolor,'opacity':show?'1':'0','display':show?'block':'none'}">
				<scroll-view scroll-y="true" style="height: 100%;">
					<view class="reSet" @click.stop="reSet">重置</view>
					<view class="dropdown-item"
						:style="{'height':itemHeight+'rpx','paddingLeft':itemPadding+'rpx','fontSize':itemFontSize+'rpx','color':itemTextColor}"
						v-for="(item,index) in dropArr[currentIndex]" :key="index" @tap.stop="subItemClick(index)">
						{{item[showTag]}}
					</view>
				</scroll-view>
			</view>

			<view class="dropdown-box" v-else
				:style="{'bottom':'-800rpx','height':'800rpx','width':'100%', backgroundColor:bgcolor,'opacity':show?'1':'0','display':show?'block':'none'}">
				<scroll-view scroll-y="true" style="height: 100%;">
					<view class="reSet" @click.stop="reSet">重置</view>
					<view class="nearby dropdown-item"
						:style="{'paddingLeft':itemPadding+'rpx','fontSize':itemFontSize+'rpx','color':itemTextColor}">
						<view class="l-title">当前位置</view>
						<view class="current-location">
							<view class="l-item" :class="{'activeNear': lindex==nearbyindex}"
								@click='tapNaer(lindex,litem)' v-for="(litem,lindex) in nearbyData" v-bind:key="lindex">
								{{litem.text}}</view>
						</view>
						<view class="l-title">更多区域</view>
						<view class='adwid100'>
							<areaSelect @change="changeArea"></areaSelect>
						</view>
					</view>

				</scroll-view>
			</view>
		</view>
		<view class="bg-mask" :class="[show?'bg-mask-show':'']" @tap="maskClose" @touchmove="touchControl"></view>
	</view>

</template>

<script>
	/**
	 *  下拉组件
	 * @author xzj
	 * @create date 2021-4-3
	 * @update user xzj
	 * @update date 2021-4-3
	 * @note 遮罩层级98 筛选条&下拉层层级99
	 **/
	import AreaSelect from 'uni_modules/leo-area-select/components/leo-area-select/index.vue';

	export default {
		components: {
			AreaSelect
		},
		data() {
			return { //'附近', '500米', '1km', '3km', '5km'
				nearbyData: [{
					text: '附近',
					value: 500
				}, {
					text: '1km',
					value: 1000
				}, {
					text: '3km',
					value: 3000
				}, {
					text: '5km',
					value: 5000
				}],
				nearbyindex: '',
				// 主条目选择序列
				currentIndex: 0,
				// 下拉条目序列
				currentSubIndex: 0,
				show: false,
				// 更新数组
				updateArr: [],
				// 结果数组
				resultArr: [],
				subShowNear: false
			};
		},
		computed: {
			maxDropdownLength() {
				return this.dropArr[this.currentIndex].length > this.maxItemCount ? this.maxItemCount : this.dropArr[this
					.currentIndex].length + 1
			}
		},
		props: {
			// 筛选条高度 （rpx）
			height: {
				type: Number,
				default: 88
			},
			// 下拉单项高度
			itemHeight: {
				type: Number,
				default: 88
			},
			// 当前文字活跃颜色
			activeColor: {
				type: String,
				default: '#FD611E'
			},
			//背景颜色
			bgcolor: {
				type: String,
				default: '#fff'
			},
			//下拉标题数组
			titleArr: {
				type: Array,
				default: () => {
					return []
				}
			},
			// item数量超过多少开始滚动
			maxItemCount: {
				type: Number,
				default: 6
			},

			//下拉选项数组（二维数组）
			dropArr: {
				type: Array,
				default: () => {
					return []
				}
			},
			// 选项左偏移
			itemPadding: {
				type: Number,
				default: 24
			},
			// 能否遮罩关闭
			maskTouch: {
				type: Boolean,
				default: true
			},
			// 是否需要选择后替换标题
			isNeedChangeTitle: {
				type: Boolean,
				default: true
			},
			// 标题字号
			barFontSize: {
				type: Number,
				default: 26
			},
			//标题颜色
			barTextColor: {
				type: String,
				default: '#666'
			},
			//下拉字号
			itemFontSize: {
				type: Number,
				default: 26
			},
			// 下拉文字颜色
			itemTextColor: {
				type: String,
				default: '#666'
			},
			// 需要展示的字段，比如你的数据是item.name 这里填的就是name
			showTag: {
				type: String,
				default: 'text'
			},
			// 是否要滑动关闭
			isTouchPrevent: {
				type: Boolean,
				default: true
			},
			// 自定义事件的索引数组
			customIndexArr: {
				type: Array,
				default: () => {
					return []
				}
			}
		},

		// watch: {
		// 	titleArr: {
		// 		handler(newVal, oldVal) {
		// 			console.log(newVal, oldVal)
		// 			console.log('砸毁之')
		// 			this.updateArr = [...new Set(newVal)]
		// 			this.resultArr = new Array(newVal.length).fill('');
		// 		},
		// 		immediate: true,
		// 		deep: true
		// 	}
		// },
		mounted() {
			// 设置更新数组与列表数组同长度
			this.updateArr = [...new Set(this.titleArr)]
			// 设置结果数组与列表数组同长度
			this.resultArr = new Array(this.titleArr.length).fill('');


		},
		methods: {
			
			// 设置数据
			setData(titleArr) {
				// 设置更新数组与列表数组同长度
				this.updateArr = [...new Set(this.titleArr)]
				// 设置结果数组与列表数组同长度
				this.resultArr = new Array(this.titleArr.length).fill('');
			},
			// 重置
			reSet() {
				this.$emit('finishDropClick', [])
				this.$emit('reSet')
				this.nearbyindex = ''
				this.show = false
			},
			// 省市区地址回调
			changeArea(result) {
				console.log('area change', result);
				this.resultArr.splice(this.currentIndex, 1, {
					address: result
				});
				this.updateArr.splice(this.currentIndex, 1, result[1].name)
				this.$emit('finishDropClick', this.resultArr)
				this.show = false
			},

			// 选择附近位置
			tapNaer(index, item) {
				this.nearbyindex = index
				this.resultArr.splice(this.currentIndex, 1, {
					distance: item.value
				});
				console.log(this.updateArr)
				this.updateArr.splice(this.currentIndex, 1, item.text)
				this.$emit('finishDropClick', this.resultArr)
				this.show = false
			},


			itemClick(index, item) {
				this.subShowNear = index == 1 ? true : false
				if (this.customIndexArr.includes(index)) {
					this.show = false
					this.$emit('customClick', {
						'$index': index
					})
					return
				}
				if (this.currentIndex == index) {
					this.show = !this.show
				} else {
					this.currentIndex = index
					this.show = true
				}
				if (index == 1) {
					console.log(index, item)

				}
			},
			subItemClick(index) {
				this.currentSubIndex = index
				if (this.isNeedChangeTitle) {
					this.updateArr.splice(this.currentIndex, 1, this.dropArr[this.currentIndex][this.currentSubIndex][this
						.showTag
					])
				}

				this.resultArr.splice(this.currentIndex, 1, this.dropArr[this.currentIndex][this.currentSubIndex].value);

				this.$emit('finishDropClick', this.resultArr)


				this.show = false
			},
			maskClose() {
				if (!this.maskTouch) return
				this.show = false
			},
			//
			touchControl() {
				if (this.isTouchPrevent) {
					this.maskClose()
				}
			}
		}
	}
</script>

<style scoped lang="scss">
	.reSet {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding: 10rpx 50rpx;
		box-sizing: border-box;
		color: #FD611E;
		font-size: 28rpx;
	}

	.nearby {
		flex-direction: column;
		display: flex;
		align-items: flex-start !important;

		.activeNear {
			background-color: #FD611E;
			color: #FD611E;

		}

		.l-title {
			font-size: 28rpx;
			color: #333333;
			line-height: 40rpx;
			margin: 28rpx 0px;
		}

		.adwid100 {
			width: 100%;
		}

		.current-location {
			width: 100%;
			display: flex;
			justify-content: space-around;

			.l-item {
				width: 120rpx;
				height: 64rpx;
				background: #F0F0F0;
				border-radius: 12rpx 12rpx 12rpx 12rpx;
				text-align: center;
				line-height: 64rpx;
			}
		}
	}

	.screen-bar {
		width: 100%;
		display: flex;
		position: relative;
		z-index: 99;
	}

	.dot {
		width: 0px;
		height: 0px;
		border: 12rpx solid transparent;
		border-top-color: #999999;
		border-radius: 8rpx;
		margin-left: 4rpx;
		margin-top: 16rpx;

	}

	.ccolor {
		border-top-color: #FD611E !important;
		margin-top: -6rpx !important;
	}

	// .screen-bar::after {
	// 	position: absolute;
	// 	content: '';
	// 	width: 100%;
	// 	height: 1rpx;
	// 	background-color: #EEEEEE;
	// 	bottom: -1rpx;
	// 	left: 0;
	// 	z-index: 99;
	// }

	.screen-bar-item {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	.screen-bar-item image {
		width: 24rpx;
		height: 24rpx;
		display: block;
		margin-left: 12rpx;
		transition: all .3s;
		flex-shrink: 0;
	}

	.dropdown-box {
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 99;
		overflow: hidden;
	}

	.dropdown-item {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 30rpx;
		box-sizing: border-box;
		font-size: 26rpx;
		color: #111111;
		border-bottom: 1rpx solid #EEEEEE;
	}

	.bg-mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 1;
		transition: all 0.3s ease-in-out;
		opacity: 0;
		visibility: hidden;
	}

	.bg-mask-show {
		visibility: visible;
		opacity: 1;
	}

	.bar-item-text {
		max-width: 120rpx;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
</style>