<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				动态管理
			</template>
		</commonTop>

		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<EvaluateCard class="evaluateCard" :evaluateList='evaluateList1' :isEdite='true'>
			</EvaluateCard>
		</mescroll-body>

		<tabBar :currentIndex="2"></tabBar>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import PetList from '@/pagesB/components/petList.vue'
	import EvaluateCard from '@/pagesA/components/evaluateCard.vue'
	import tabBar from '@/pagesB/components/custom-tabbar.vue'

	import {
		purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			EvaluateCard,
			tabBar
		},
		data() {
			return {
				evaluateList1: [{}, {}]
			}
		},
		methods: {

			// 跳转发布
			gopage() {
				uni.navigateTo({
					url: '/pagesA/homeFeed/homeFeedRelease'
				})
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					queryType: this.queryType,
					keywords: this.keywords,
					sort: "bookTime,desc",
				};
				if (page.num == 1) this.evaluateList = [{}, {}]; //如果是第一页需手动置空列表
				purchaseOrderList(param).then((res) => {
					if (res) {
						let curPageData = res.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数

						this.evaluateList = this.evaluateList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding-bottom: 150rpx;
		box-sizing: border-box;
	}

	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
	}
</style>