<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				动态发布
			</template>
		</commonTop>
		<view class="up-pics">
			<uploadImg v-model="model.realphotos" width='104' height="104"></uploadImg>
		</view>
		<view class="pets-card">
			<view class="pingjia">
				<uv-textarea v-model="model.cnt" border='none' height='100' placeholder="请输入输入正文" maxlength="1000"></uv-textarea>
			</view>
		</view>

		<view class="submit">发布</view>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'

	export default {
		components: {
			commonTop,
			uploadImg
		},
		data() {
			return {
				model: {
					sex: '男',
					year: '',
					name: '',
					realphotos: '',
					adr: '',
					time: ''
				},
				fileList1: []
			}
		},
		onLoad(options) {
			console.log(options)
		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	

	::v-deep page {
		background-color: #fff !important;
		
	}


	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		background-color: #fff !important;
		height: 100vh;
		.submit {
			position: fixed;
			left: 0px;
			bottom: 14rpx;
			width: 92%;
			left: 4%;
			text-align: center;
			color: #fff;
			margin-top: 40rpx;
			font-size: 28rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-bottom: 180rpx;
		border-radius: 20rpx;

		.pingjia {
			display: flex;
			flex-direction: column;

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
			}
		}

	}
</style>