<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				编辑资料
			</template>
		</commonTop>
		<view class="pets-card">
			<uv-form labelPosition="left" :model="info" :rules="rules" ref="form">
				<uv-form-item label="机构logo" labelWidth='140' prop="">
					<template v-slot:right>
						<view class="avator-flex">
							<image src="../static/dynamic_management1@2x.png" class="avator"></image>
							<uv-icon name="arrow-right"></uv-icon>
						</view>
					</template>
				</uv-form-item>
				<uv-form-item label="机构名称" labelWidth='140' prop="" @click="openTime">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="info.name" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="机构简介" labelWidth='140' prop="" @click="openTime">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="info.name" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="联系电话" labelWidth='140' prop="" @click="openTime">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="info.name" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="请选择" border="none" type='number'>
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
				<uv-form-item label="地址" labelWidth='140' prop="" @click="chooseLocation">
					<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="info.name" inputAlign='right'
						disabled disabledColor="#ffffff" placeholder="请选择" border="none">
					</uv-input>
					<template v-slot:right>
						<uv-icon name="arrow-right"></uv-icon>
					</template>
				</uv-form-item>
			</uv-form>
		</view>
		
		<view class="pets-card">
			<view class="up-pics">
				<view class="title">商户照片 <span>建议尺寸为750*750</span></view>
				<uploadImg v-model="info.realphotos" width='104' height="104"></uploadImg>
			</view>
		</view>
		
		<view class="pets-card">
			<uv-form-item label="实名认证" labelWidth='140' prop="">
				<uv-input placeholderStyle='font-size:34rpx;color:#666666' v-model="info.isrz" inputAlign='right'
					disabled disabledColor="#ffffff" placeholder="请选择" border="none">
				</uv-input>
				<template v-slot:right>
					<uv-icon name="arrow-right"></uv-icon>
				</template>
			</uv-form-item>
		</view>
		
		<view class="pets-card">
			<uv-form-item label="自动回复设置" labelWidth='140' prop="">
				<template v-slot:right>
					<uv-icon name="arrow-right"></uv-icon>
				</template>
			</uv-form-item>
		</view>
		
		<view class="cancel-account">注销账号</view>
		

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'
	import {
		formatTime
	} from '../../utils/util.js'
	export default {
		components: {
			commonTop,
			uploadImg
		},
		data() {
			return {
				
				info: {
					name:'名称名称名称名称名称名称名称名称名称名称名称名称名称名称名称名称名称名称',
					adr: '',
					time: '',
					isrz: '已认证'
				},
				fileList1: [],
				rules: {},
			}
		},
		onLoad(options) {
			console.log(options)
		},
		methods: {
			
			// 选择位置
			chooseLocation() {
				uni.chooseLocation({
					success: (res) => {
						console.log('选择的位置：', res.address);
						// 处理选择的位置信息
					},
					fail: (err) => {
						console.error('选择位置失败：', err);
					}
				});
			},
			
		}
	}
</script>

<style scoped lang="scss">
	.cancel-account {
		margin: 144rpx 0px 40rpx;
		width: 100%;
		text-align: center;
		font-size: 28rpx;
		color: #999999;
	}
	.avator-flex {
		display: flex;
		align-items: center;
		.avator {
			width: 72rpx;
			height: 72rpx;
			border-radius: 16rpx 16rpx 16rpx 16rpx;
			margin-right: 16rpx;
		}
	}

	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 120rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}
	::v-deep .uv-input__content__field-wrapper__field {
		color: #666666;
		font-size: 32rpx !important;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		background-color: #F8F8F8 !important;

		.up-pics {
			padding: 28rpx 0px;
			box-sizing: border-box;

			.title {
				color: #333333;
				font-size: 32rpx;
				margin-bottom: 28rpx;
				font-weight: 500;

				span {
					color: #999999;
					font-size: 24rpx;
					margin-left: 8rpx;
				}

			}
		}
	}

	:v-deep page {
		background-color: #F9F9F9;
	}

	.pets-card {
		background-color: #fff;
		padding: 0rpx 20rpx 0rpx;
		box-sizing: border-box;
		margin-bottom: 28rpx;
		border-radius: 20rpx;

	}
</style>