<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				机构管理
			</template>
		</commonTop>
		<view class="top">
			<view class="userinfo">
				<image class="avator" src="../../static/avatar@2x.png" mode="widthFix"></image>
				<view class="name-rz">
					<view class="nick f32C3">名称名称名称名称</view>
					<image class="rz" src="../static/icon_mechanism@2x.png" mode="widthFix"></image>
				</view>
				<view class="user-home" @click.stop="goPage('/pagesB/reliefagency/editeInfor')">
					编辑 <image class="src" src="../../static/icon_arrow_right14.png" mode="widthFix"></image>
				</view>
			</view>
		</view>
		<view class="card">
			<view class="dateSelect" @click.stop="openDate">
				<image src="../static/date.png" class="date-img" mode="widthFix"></image>
				<span>{{date}}</span>
				<image class="date-right" src="../../static/icon_More24@2x.png" mode="widthFix"></image>
			</view>
			<view class="data-list">
				<view class="item columnCenter" v-for="(item, index) in dataList" :key="index" @click.stop="goPage(item.name === '被喂养数' ? '/pagesB/reliefagency/numberFeeds':'')">
					<view class="count f32C3">{{item.count < 10000 ? item.count: '9999+'}}</view>
					<view class="name f24C9">{{item.name}}</view>
				</view>
			</view>
			<!-- 日期控件 -->
			<uv-datetime-picker :formatter="formatter" ref="datePicker" mode="year-month" @confirm="confirmDate">
			</uv-datetime-picker>
		</view>

		<view class="card">
			<view class="money-wraaper">
				<view class="money-title ajbetween f32C3">
					<view class="title">钱包
					   <image class="eys" v-if="eyes.showWallet" src="../static/open.png" mode="widthFix" @click="eyes.showWallet=false"></image>
					   <image class="eys" v-else src="../static/close.png" mode="widthFix"  @click="eyes.showWallet=true"></image>
					</view>
					<image class="right-icon" src="../../static/icon_More24@2x.png" mode="widthFix"></image>
				</view>
				<view class="money" v-if="eyes.showWallet"><span>￥</span>9999</view>
				<view class="money" v-else>******</view>
				<view class="withdrawn f28C9"><span>已提现：</span>{{eyes.showWallet ? 9999: '******'}}</view>
			</view>
		</view>
		
		<view class="card">
			<view class="money-wraaper">
				<view class="money-title ajbetween f32C3">
					<view class="title">保证金
					   <image class="eys" v-if="eyes.showMargin" src="../static/open.png" mode="widthFix" @click="eyes.showMargin=false"></image>
					   <image class="eys" v-else src="../static/close.png" mode="widthFix"  @click="eyes.showMargin=true"></image>
					</view>
					<image class="right-icon" src="../../static/icon_More24@2x.png" mode="widthFix"></image>
				</view>
				<view class="money" v-if="eyes.showMargin"><span>￥</span>9999</view>
				<view class="money" v-else>******</view>
				<view class="withdrawn f28C9"><span>需缴保证金：</span>{{eyes.showMargin ? 9999: '******'}}</view>
			</view>
		</view>
		<tabBar  :currentIndex="0"></tabBar>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop';
	import tabBar from '@/pagesB/components/custom-tabbar.vue'
	
	import {
		formatter,
		formatTime
	} from '@/utils/util.js'
	export default {
		components: {
			commonTop,
			tabBar
		},
		data() {
			return {
				formatter: formatter,
				dataList: [{
					count: 99999,
					name: '成交额'
				}, {
					count: 0,
					name: '被喂养数'
				}, {
					count: 0,
					name: '宠物数量'
				}, {
					count: 0,
					name: '访客数'
				}, {
					count: 0,
					name: '浏览量'
				}, {
					count: 0,
					name: '收藏量'
				}, {
					count: 0,
					name: '评论量'
				}, {
					count: 0,
					name: '机构违规'
				}],
				date: formatTime(new Date(), 'year-month'),
				eyes: {
					showWallet: false,
					showMargin: false
				}
			}
		},
		methods: {
			
			goPage(url) {
				uni.navigateTo({
					url: url
				})
			},
			// 打开时间搜索
			openDate() {
				this.$refs.datePicker.open();
			},
			confirmDate(e) {
				this.date = formatTime(e.value, 'year-month')
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding: 0px 28rpx 160rpx;
		box-sizing: border-box;
	}

	.money-wraaper {
		display: flex;
		flex-direction: column;
		padding: 28rpx 0px;
		box-sizing: border-box;
		.money-title {
			.title {
				display: flex;
				align-items: center;
				font-weight: 500;

				.eys {
					width: 48rpx;
					margin-left: 16rpx;
				}
			}

			.right-icon {
				width: 48rpx;
				height: 48rpx;
			}
		}
		.money {
			color: #1C92FF;
			font-size: 48rpx;
			margin: 16rpx 0px;
			span {
				font-size: 32rpx;
			}
		}
	}

	.card {
		padding: 0px 20rpx;
		box-sizing: border-box;
		background-color: #FFFFFF;
		margin-bottom: 28rpx;
		border-radius: 20rpx;
	}

	.dateSelect {
		display: flex;
		align-items: center;
		color: #666666;
		font-size: 28rpx;
		height: 96rpx;
		display: flex;
		align-items: center;
		border-bottom: 1rpx solid #EEEEEE;

		.date-img {
			width: 34rpx;
			height: auto;
		}

		.date-right {
			width: 28rpx;
			height: 28rpx;
		}

		span {
			margin: 0px 16rpx;
		}
	}

	.data-list {
		display: flex;
		flex-wrap: wrap;
		padding-top: 28rpx;
		box-sizing: border-box;

		.item {
			width: 25%;
			margin-bottom: 28rpx;

			.count {}

			.name {
				margin-top: 12rpx;
			}
		}
	}


	.top {
		padding: 0px 28rpx;
		box-sizing: border-box;

		.userinfo {
			display: flex;
			align-items: center;
			padding: 40rpx 0rpx;
			box-sizing: border-box;
			position: relative;

			.avator {
				width: 136rpx;
				height: 136rpx;
				border-radius: 28rpx;
				margin-right: 28rpx;
			}

			.name-rz {
				.nick {
					font-weight: 500;
				}

				.rz {
					height: 40rpx;
					width: 152rpx;
					margin-top: 14rpx;
				}
			}

			.user-home {
				width: 120rpx;
				height: 48rpx;
				background: #FFFFFF;
				border-radius: 24rpx 24rpx 24rpx 24rpx;
				opacity: 0.8;
				color: #666666;
				font-size: 24rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 54rpx;
				right: 0rpx;

				image {
					width: 22rpx;
					height: 22rpx;
				}
			}
		}
	}
</style>