<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				被喂养数
			</template>
		</commonTop>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<view class="dateSelect ajbetween" @click.stop="openDate">
				<view class="left">
					<image src="../static/date.png" class="date-img" mode="widthFix"></image>
					<span>{{date}}</span>
				</view>
			
				<span>2323 次喂养</span>
			</view>
			<NumberFeedsList class="evaluateCard" :numberFeeds='numberFeeds1' :isEdite='true'>
			</NumberFeedsList>
		</mescroll-body>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import PetList from '@/pagesB/components/petList.vue'
	import NumberFeedsList from '@/pagesB/components/numberFeedsList.vue'
	import {
		formatter,
		formatTime
	} from '@/utils/util.js'
	import {
		purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			NumberFeedsList
		},
		data() {
			return {
				date: formatTime(new Date(), 'year-month'),
				numberFeeds1: [{}, {}]
			}
		},
		methods: {

			// 打开时间搜索
			openDate() {
				this.$refs.datePicker.open();
			},
			confirmDate(e) {
				this.date = formatTime(e.value, 'year-month')
			},

			// 跳转发布
			gopage() {
				uni.navigateTo({
					url: '/pagesA/homeFeed/homeFeedRelease'
				})
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					queryType: this.queryType,
					keywords: this.keywords,
					sort: "bookTime,desc",
				};
				if (page.num == 1) this.numberFeeds = [{}, {}]; //如果是第一页需手动置空列表
				purchaseOrderList(param).then((res) => {
					if (res) {
						let curPageData = res.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数

						this.numberFeeds = this.numberFeeds.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding-bottom: 150rpx;
		box-sizing: border-box;

		.dateSelect {
			display: flex;
			align-items: center;
			color: #666666;
			font-size: 28rpx;
			height: 96rpx;
			display: flex;
			align-items: center;
			padding: 0px 28rpx;
			box-sizing: border-box;
			margin-bottom: -20rpx;
			.left {
				display: flex;
				align-items: center;
			}

			.date-img {
				width: 34rpx;
				height: auto;
			}

			.date-right {
				width: 28rpx;
				height: 28rpx;
			}

			span {
				margin: 0px 16rpx;
				font-size: 28rpx;
				color: #666666;
			}
		}

	}

	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
	}
</style>