<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' bgColor='#F9F9F9'>
			<template slot="left">
				宠物管理
			</template>
		</commonTop>
		<view class="search-wrapper">
			<uv-input customStyle="background-color:#fff;border-radius:20rpx;" placeholder="搜索" prefixIcon="search"
				prefixIconStyle="font-size: 22px;color: #909399"></uv-input>
		</view>
		<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
			<PetList :petList='petList'></PetList>
		</mescroll-body>
		<tabBar :currentIndex="1"></tabBar>
		<image class="addBtn" mode="widthFix" src="../static/icon_add_red@2x.png" @click.stop="go"></image>
	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import PetList from '@/pagesB/components/petList.vue'
	import tabBar from '@/pagesB/components/custom-tabbar.vue'

	import {
		purchaseOrderList
	} from "@/config/vmeitime-http/index.js";
	export default {
		mixins: [MescrollMixin],
		components: {
			commonTop,
			uvTabs,
			PetList,
			tabBar
		},
		data() {
			return {
				petList: [{}, {},{}, {},{}, {}]
			}
		},
		methods: {

			// 跳转发布
			go() {
				uni.navigateTo({
					url: '/pagesA/homeFeed/homeFeedRelease'
				})
			},
			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					queryType: this.queryType,
					keywords: this.keywords,
					sort: "bookTime,desc",
				};
				if (page.num == 1) this.petsList = [{}, {}]; //如果是第一页需手动置空列表
				purchaseOrderList(param).then((res) => {
					if (res) {
						let curPageData = res.content;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数

						this.petsList = this.petsList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
		}
	}
</script>

<style scoped lang="scss">
	.containner {
		padding-bottom: 150rpx;
		box-sizing: border-box;
		
		.addBtn {
			width: 108rpx;
			height: 108rpx;
			position: fixed;
			right: 0px;
			bottom: 172rpx;
		}

		.search-wrapper {
			padding: 28rpx 28rpx 0px;
			box-sizing: border-box;
		}
	}

	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
	}
</style>