<template>
	<view class="containner">
		<commonTop :show='true' :isBack='true' :isFixed='true' :onlyCenter='true' bgColor='#F9F9F9'>
			<template slot="left">
				宠物发布
			</template>
		</commonTop>
		<view class="up-pics">
			<uploadImg v-model="model.realphotos" width='104' height="104"></uploadImg>
		</view>
		<uv-input placeholder="输入名称" customStyle='padding-left:10rpx' fontSize='16' class="insert-content"
			v-model="model.name" border="none"></uv-input>
		<view class="ms-title">
			它的故事
		</view>
		<view class="pets-card">
			<view class="pingjia">
				<uv-textarea v-model="model.cnt" border='none' height='100' placeholder="请输入（最多500字）"></uv-textarea>
			</view>

			<uv-form labelPosition="left" :model="model"  ref="form">
				<uv-form-item label="年龄" labelWidth='200' required>
					<uv-input v-model="model.year" placeholder="请输入" fontSize='14px' inputAlign='right' border="none">
					</uv-input>
				</uv-form-item>
				<uv-form-item label="性别" labelWidth='140' required>
					<template v-slot:right>
						<uv-radio-group v-model="model.sex">
							<uv-radio activeColor="#FD611E" shape="square" :customStyle="{margin: '8px'}" label="男"
								name="男">
							</uv-radio>
							<uv-radio activeColor="#FD611E" shape="square" :customStyle="{margin: '8px'}" label="女"
								name="女">
							</uv-radio>
						</uv-radio-group>
					</template>
				</uv-form-item>
				<uv-form-item label="设置喂养金额" labelWidth='140'>
					<uv-input placeholderStyle='font-size:32rpx;color:#CCCCCC' v-model="model.mianyi" inputAlign='right'
						placeholder="请输入" border="none">
						<template v-slot:suffix><span style="margin-right: 40rpx;">元/1天</span></template>
					</uv-input>
				</uv-form-item>
				<view class="setfeedPackge">
					<view class="title">设置喂养套餐 <span>设置优惠金额</span> </view>
				</view>
				<view class="taocan">
					<view class="taocan-item" v-for="(item,index) in package" v-bind:key="index">
						<uv-input placeholder="请输入" customStyle='font-size:32rpx;margin-right:10rpx'
							placeholderStyle='font-size:32rpx;color:#CCCCCC' border="none" v-model="item.days">
							<template v-slot:suffix>
								<span class="tc-unit">天</span>
							</template>
						</uv-input>
						<uv-input placeholder="请输入" customStyle='font-size:32rpx;'
							placeholderStyle='font-size:32rpx;color:#CCCCCC' border="none" v-model="item.money">
							<template v-slot:suffix>
								<span class="tc-unit">元</span>
							</template>
						</uv-input>
					</view>
				</view>


			</uv-form>
		</view>

		<view class="submit">发布</view>

	</view>
</template>

<script>
	import commonTop from '@/components/CommonTop'
	import uploadImg from '@/components/uploadImg.vue'

	export default {
		components: {
			commonTop,
			uploadImg
		},
		data() {
			return {
				model: {
					sex: '男',
					year: '',
					name: '',
					realphotos: '',
					adr: '',
					time: ''
				},
				fileList1: [],
				package: [{
					days: '',
					money: ''
				}, {
					days: '',
					money: ''
				}, {
					days: '',
					money: ''
				}]
			}
		},
		onLoad(options) {
			console.log(options)
		},
		methods: {

		}
	}
</script>

<style scoped lang="scss">
	.taocan {
		display: flex;
		flex-direction: column;

		.taocan-item {
			display: flex;
			align-items: center;
			margin: 20rpx 0px;

			.tc-unit {
				color: #666666;
				font-size: 32rpx;
			}
		}
	}

	.setfeedPackge {
		display: flex;
		align-items: baseline;
		margin: 32rpx 0px 20rpx;

		.title {
			font-size: 32rpx;
			color: #333333;

			span {
				color: #999999;
				font-size: 24rpx;
				margin-left: 16rpx;
			}
		}
	}

	::v-deep page {
		background-color: #fff !important;
	}

	::v-deep .uv-form-item {
		height: 90rpx;
	}

	::v-deep .uv-textarea {
		padding: 0px !important;
	}

	::v-deep .uv-form-item__body__left__content__label {
		color: #333333;
		font-size: 32rpx !important;
	}

	.insert-content {
		margin-top: 20rpx;
	}

	.containner {
		padding: 28rpx;
		box-sizing: border-box;
		background-color: #fff !important;

		.ms-title {
			color: #333333;
			font-size: 28rpx;
			font-weight: 500;
			padding-left: 18rpx;
			box-sizing: border-box;
			position: relative;
			margin: 40rpx 0px 10rpx;
		}


		.submit {
			width: 100%;
			text-align: center;
			color: #fff;
			margin-top: 40rpx;
			font-size: 28rpx;
			height: 80rpx;
			line-height: 80rpx;
			background: linear-gradient(96deg, #FD611E 0%, #FF3F33 100%);
			border-radius: 12rpx 12rpx 12rpx 12rpx;
		}

	}

	:v-deep page {
		background-color: #F9F9F9;
	}

	.pets-card {
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		margin-bottom: 180rpx;
		border-radius: 20rpx;

		.pingjia {
			display: flex;
			flex-direction: column;

			.title {
				color: #333333;
				font-size: 32rpx;
				position: relative;
				padding: 20rpx;
				box-sizing: border-box;
			}
		}

	}
</style>