<template>
	<view class="tabbar">
		<view v-for="(item, index) in tabbarList" v-bind:key="index" class="tabbar-item" @click="switchTab(index, item.url)">
			<image :src="index === currentIndex ? item.aimg : item.img" class="img"></image>
			<text :class="{ 'active': index === currentIndex}">{{item.text}}</text>
		</view>
	</view>
</template>

<script>
	import tab1img from '../static/icon_Orders2@2x.png';
	import atab1img from '../static/icon_Orders1@2x.png';
	import tab2img from '../static/icon_Orderreceived2@2x.png';
	import atab2img from '../static/icon_Orderreceived1@2x.png';
	export default {
		data() {
			return {
				currentIndex: 0,
				tabbarList: [{
					url: '/pagesC/driverEnd/index',
					text: '接单大厅',
					img: tab1img,
					aimg: atab1img
				},{
					url: '/pagesC/driverEnd/index',
					text: '已接单',
					img: tab2img,
					aimg: atab2img
				}]
			}
		},

		methods: {
			switchTab(index) {
				console.log(index + '索引')
				this.currentIndex = index
				this.$emit('tabChange', index)
			}
		}
	}
</script>

<style scoped lang="scss">
	.tabbar {
		padding: 10rpx 0px;
		box-sizing: border-box;
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
	}

	.tabbar-item {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-direction: column;

		.img {
			width: 56rpx;
			height: 56rpx;
		}
	}

	.tabbar-item text {
		padding: 5px;
		font-size: 20rpx;
		color: #333;
	}

	.tabbar-item text.active {
		color: #333;
	}
</style>