<template>
	<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
		<view class="pets-card">
			<view class="pets-item" v-for="(item, index) in travelOrderData" :key="index">
				<view class="shop-title ajbetween borderBtm">
					<view class="s-left"> {{ item.serviceType }} <span>{{statusMap[item.state || '']}}</span> </view>
					<view class="s-right">¥{{item.money || 0}}</view>
				</view>
				<view class="top">
					<view class="ms ajbetween">
						<view class="row">
							<view class="title">服务时间：</view>
							<view class="text"> {{item.serviceTime}}</view>
						</view>
						<view class="row">
							<view class="title">服务地点：</view>
							<view class="text line1Es">
								{{item.address}}
							</view>
						</view>
					</view>
				</view>

				<view class="bottom" @click="goDetail(item.id)">
					<view class="distance">{{item.distance || '-'}}km</view>
					<div class="btn">查看订单</div>
				</view>
			</view>
		</view>
	</mescroll-body>
</template>

<script>
	import {
		feedStatusMap
	} from "../../utils/util";
	import storage from "../../utils/storage";
	import {
		driverHomeFeedPage
	} from "@/config/vmeitime-http/feed.js";
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";

	export default {
		mixins: [MescrollMixin],
		props: {
			tabCurrentIndex: {
				type: Number,
				default: 0
			},
		},

		watch: {
			tabCurrentIndex(newTotal, oldTotal) {
				this.mescroll.resetUpScroll();
			},
		},
		data() {
			return {
				travelOrderData: [],
				currentAdr: storage.get('currentAdr')?.location,
				statusMap: feedStatusMap
			};
		},
		onLoad() {},
		methods: {

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					isAsc: 'desc',
					receivedOrder: 0,
					currentLongitude: this.currentAdr.lon,
					currentLatitude: this.currentAdr.lat,
					receivedOrder: this.tabCurrentIndex == 0 ? 2 : 1
				};
				if (page.num == 1) this.travelOrderData = []; //如果是第一页需手动置空列表
				driverHomeFeedPage(param).then((res) => {
					if (res) {
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数
						curPageData.map((item) => {
							item.distance = item.distance.toFixed(2)

						})


						this.travelOrderData = this.travelOrderData.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},

			goPage(url) {
				uni.navigateTo({
					url: url,
				});
			},
			// 跳转详情
			goDetail(id) {
				uni.navigateTo({
					url: `/pagesC/driverEnd/feedorderDetail?id=${id}&type=driver`
				})
			},
		},
	};
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 0px 20rpx 32rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;

			.shop-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 108rpx;

				.s-left {
					display: flex;
					align-items: center;
					color: #333333;
					font-size: 32rpx;

					span {
						color: #999;
						font-size: 32rpx;
						margin-left: 16rpx;
					}
				}

				.s-right {
					color: #1c92ff;
					font-size: 32rpx;
				}
			}

			.top {
				display: flex;
				padding-top: 32rpx;
				box-sizing: border-box;
				flex-direction: column;
			}

			.bottom {
				display: flex;
				justify-content: space-between;
				margin-top: 16rpx;
				color: #333333;
				font-size: 28rpx;
				align-items: center;

				.btn {
					margin-left: 16rpx;
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					line-height: 64rpx;
					background: #ffffff;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #eeeeee;
				}
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;
			}

			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				font-size: 32rpx;
				display: flex;
				flex-direction: column;

				.row {
					display: flex;
					width: 100%;
					font-size: 28rpx;
					margin-bottom: 16rpx;

					span {
						flex: 1;
						text-align: right;
					}

					.title {
						color: #999999;
					}

					.text {
						flex: 1;
						width: 500rpx;
						color: #666;
					}
				}
			}
		}
	}
</style>