<template>
	<mescroll-body class="mescrollBox" @init="mescrollInit" @down="downCallback" @up="upCallback">
		<view class="pets-card">
			<view class="pets-item" v-for="(item, index) in orderList" :key="index">
				<view class="shop-title ajbetween borderBtm" @click="goDetail(item.id)">
					<view class="s-left">
						{{item.orderType==9 ? '宠物顺风车': '宠物专车'}} <span>{{orderStatusMap[item.orderStatus]}}</span>
					</view>
					<view class="s-right">￥{{item.orderMoney || '-'}}</view>
				</view>
				<view class="top">
					<view class="ms ajbetween">
						<view class="row">
							<view class="title">下单时间：</view>
							<view class="text"> {{item.payTime}}</view>
						</view>
						<view class="row">
							<view class="title">接送起始点：</view>
							<view class="text line1Es"> {{item.sendAddress}}</view>
						</view>

						<view class="row">
							<view class="title">接送目的地：</view>
							<view class="text line1Es">{{item.recipientAddress}}</view>
						</view>
					</view>
				</view>
				<view class="bottom">
					<view class="distance">距您{{item.orderDistance}}km</view>
					<div class="btn" @click.stop="goDetail(item)">查看订单</div>
				</view>
			</view>
		</view>
	</mescroll-body>
</template>

<script>
	import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js";
	import {
		queryNearOrder,
		queryOrdersByReceiveId
	} from "@/config/vmeitime-http/feed.js";
	import storage from "../../utils/storage";
	export default {
		mixins: [MescrollMixin],
		props: {
			tabCurrentIndex: {
				type: Number,
				default: 0
			},
		},
		data() {
			return {
				currentAdr: storage.get('currentAdr')?.location,
				orderList: [],
				orderStatusMap: {
					0: '进行中',
					1: '已完成',
					2: '已取消',
					3: '待接单'
				}
			}
		},
		watch: {
			tabCurrentIndex(newTotal, oldTotal) {
				this.mescroll.resetUpScroll();
			},
		},
		methods: {
			
			// 跳转详情
			goDetail(item) {
				uni.navigateTo({
					url: `/pagesC/driverEnd/orderDetails?orderNo=${item.orderNo}&type=driver`
				})
			},

			// 上拉加载的回调
			upCallback(page) {
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					page: pageNum,
					size: pageSize,
					isAsc: 'desc',
					lat: this.currentAdr.lat,
					lng: this.currentAdr.lon,
					type: 0
				};
				let Fn = this.tabCurrentIndex == 0 ? queryNearOrder : queryOrdersByReceiveId
				if (page.num == 1) this.orderList = []; //如果是第一页需手动置空列表
				Fn(param).then((res) => {
					if (res) {
						let curPageData = res.records || res;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.totalPages; // 接口返回的总页数
						curPageData.map((item) => {
							item.distance = parseFloat(item.distance).toFixed(2)
							item.orderStatus = (item.orderStatus == 0 && item.receiveId == null) ? 3 : item.orderStatus
						})


						this.orderList = this.orderList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},


			goPage(url) {
				uni.navigateTo({
					url: url
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.pets-card {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 16rpx 0px;
		padding: 0px 28rpx;
		box-sizing: border-box;

		.pets-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			background-color: #fff;
			padding: 0px 20rpx 32rpx;
			box-sizing: border-box;
			border-radius: 20rpx;
			flex-direction: column;

			.shop-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 108rpx;

				.s-left {
					display: flex;
					align-items: center;
					color: #333333;
					font-size: 32rpx;

					span {
						color: #999;
						font-size: 32rpx;
						margin-left: 16rpx;
					}

				}

				.s-right {
					color: #1C92FF;
					font-size: 32rpx;
				}
			}

			.top {
				display: flex;
				padding-top: 32rpx;
				box-sizing: border-box;
				flex-direction: column;
			}

			.bottom {
				display: flex;
				justify-content: space-between;
				margin-top: 16rpx;
				color: #333333;
				font-size: 28rpx;
				align-items: center;

				.btn {
					margin-left: 16rpx;
					padding: 0px 24rpx;
					box-sizing: border-box;
					height: 64rpx;
					line-height: 64rpx;
					background: #FFFFFF;
					border-radius: 12rpx 12rpx 12rpx 12rpx;
					border: 2rpx solid #EEEEEE;
				}
			}

			&:not(:last-child) {
				margin-bottom: 28rpx;
			}

			.pet-img {
				width: 180rpx;
				height: 180rpx;
				margin-right: 20rpx;

			}



			.ms {
				width: 100%;
				border-radius: 16rpx;
				color: #333333;
				font-size: 32rpx;
				display: flex;
				flex-direction: column;

				.row {
					display: flex;
					width: 100%;
					font-size: 28rpx;
					margin-bottom: 16rpx;

					span {
						flex: 1;
						text-align: right;
					}

					.title {
						color: #999999;

					}

					.text {
						flex: 1;
						width: 500rpx;
						color: #666;
					}
				}
			}
		}
	}
</style>