<template>
	<view class="upimg-warper">
		<uni-file-picker v-model="imgPath" :readonly='readonly'  :limit="maxCount" fileMediatype="image" mode="grid" :auto-upload="false"
			@select="selectGoodsImg" :imageStyles="{width: width,height: height}">
		</uni-file-picker>
	</view>
</template>
<script>
	import http from '@/config/vmeitime-http/interface'
	import store from '@/store/index.js'
	export default {
		props: {
			value: {
				type: String
			},
			maxCount: {
				type: Number,
				default: '1'
			},

			width: {
				type: String || Number,
				default: '100'

			},
			height: {
				type: String || Number,
				default: '100'
			},
			
			readonly: {
				type: Boolean,
				default: false
			}
			

		},
		data() {
			return {
				imgPath: [],
				imgfont: 'http://biaodi.oss-cn-beijing.aliyuncs.com/image/bdsy/',
			}
		},
		watch: {
			value: { //这里是要监听的变量名
				handler(newValue, oldValue) {
					if (newValue) {
						console.log(newValue)
						this.imgPath =[{
							url: this.imgfont + newValue
						}]
					} else {
						this.imgPath = []
					}
		
				},
				immediate: true
			}
		},

		methods: {
			selectGoodsImg(e) {
				// 根据所选图片的个数，多次调用上传函数
				for (let i = 0; i < e.tempFilePaths.length; i++) {
					this.uploadGoodsImg(e.tempFilePaths, i)
				}
			},
			uploadGoodsImg(tempFilePaths, i) {
				let that = this
				console.log(tempFilePaths[i])
				let token = store.state.loginInfo.loginToken.access_token || store.getters.loginToken
				uni.uploadFile({
					url: http.config.baseUrl + '/haodi/driver/uploadDriverImg',
					filePath: tempFilePaths[i],
					name: 'file',
					header: {
						'content-type': 'multipart/form-data',
						"Authorization": `Bearer ${token}`,
						"Clientid": 'df1e3a0ca7b1f9b809eebcb01a9c6003'
					},
					success: res => {
						let data = JSON.parse(res.data)
						if (data.code==200) {
							
							that.$emit('updateImg', data.data)
						}
						console.log(res)
					},
					fail: () => {
						uni.showToast({
							title: '上传失败',
							icon: 'error'
						})
					}
				})
			},

		}
	}
</script>

<style scoped lang="scss">
	.upimg-warper {
		margin: 20rpx 0px;

	}
</style>