<template>
	<view class="home-top">
		<view v-if="isStatusBar" class="status-bar"
			:style="{'backgroundColor': bgColor, 'height': statusBarHeight+'px'}">
			<!-- 状态栏背景,设置为不透明 -->
		</view>
		<view v-if="isFixed && isOccupy" class="top-header" :style="'height:' + topHeight + 'px'">
			<!-- 头部占位 -->
		</view>
		<view v-else-if="isStatusBar" class="top-header" :style="'height:' + statusBarHeight + 'px'">
			<!-- 状态栏占位 -->
		</view>
		<!-- 头部-->

		<!-- 萌宠笔记 -->
		<view class="nav-bar flex notes-wrapper" :class="{ 'activeIsFixed': isFixed }" :style="getNavBarStyle"
			v-if="pageName=='cutePetNotes'">
			<uv-tabs :list="notesTablist" lineWidth="28" lineHeight='2' lineColor="#FFC93F" @change='notesChangeTab'
				:activeStyle="{
						color: '#333333',
						fontWeight: 'bold',
						transform: 'scale(1)'
			    	}" :inactiveStyle="{
						color: '#999999',
						transform: 'scale(1)'
					}" itemStyle=" padding-right: 15px; height: 88rpx;fontSize:36rpx"></uv-tabs>
			<image src='@/static/icon_search20_1@2x.png' mode="widthFix" class="notes-right" @click.stop="goPage">
			</image>
		</view>
		<view class="nav-bar flex" :class="{ 'activeIsFixed': isFixed }"
			:style="{'backgroundColor': bgColor, getNavBarStyle}" v-else>
			<view class="point flex" @click.stop="goSelectCity">
				<image src='../../static/icon_position.png' mode="widthFix" class="point-img"></image>
				<view class="span">{{adressData.city || '定位中'}}</view>
				<image src='../../static/icon_More24@2x.png' mode="widthFix" class="point-right"></image>
			</view>
			<view class="ipt-search">
				<image src='../../static/icon_search.png' mode="widthFix" class="search-img" @click.stop="goPage">
				</image>
				<view  class="search" @click.stop="goPage">搜索关键词</view>
				<view class="scan-wrapper" @click.stop="scanIt">
					<image src='../../static/icon_code.png' mode="widthFix" class="search-scal">
					</image>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	/**
	 * NavBar 自定义头部
	 * @description 头部组件，主要用于头部导航
	 * @property {Number, String} color 图标和文字颜色
	 * @property {String} isBack 是否显示返回按钮
	 * @property {Boolean} isFixed  是否固定顶部
	 * @property {Boolean} onlyCenter  是否只显示中间部分
	 * @property {String} bgColor  背景颜色
	 * @property {Number} opacity 背景透明度
	 * @property {Boolean} isOccupy 固定时默认占位
	 * @property {Boolean} isStatusBar 默认包含系统状态栏
	 * @property {Boolean} isSplitLine 头部分割线
	 * @property {String} splitLineColor 头部分割线颜色
	 * @property {Number} splitLineHeight 头部分割线高度
	 * @property {String} styleSelf 自定义样式
	 * @event {Function} back 返回
	 * @event {Function} leftClick 左侧点击事件
	 * @event {Function} rightClick 右侧点击事件
	 */
	import uvTabs from '@/uni_modules/uv-tabs/components/uv-tabs/uv-tabs.vue'
	import storage from '../../utils/storage.js'
	import {
		currentLocation
	} from '@/utils/util.js'

	export default {
		components: {
			uvTabs
		},
		data() {
			return {
				notesTablist: [{
					name: '萌宠笔记'
				}, {
					name: '同城',
				}, {
					name: '收藏',
				}],

				// 状态栏高度
				statusBarHeight: 0,
				// 状态栏加头部高度
				topHeight: 0,
				keys: '',
				adressData: {
					province: '',
					city: '',

				},
				pageName1: ''
			};
		},
		props: {
			// 头部高度
			navbarHeight: {
				type: [Number, String],
				default: 42
			},
			// 显示返回按钮
			isBack: {
				type: [Boolean, String],
				default: false
			},
			// 是否固定定位
			isFixed: {
				type: [Boolean, String],
				default: false
			},
			// 是否只显示中间部分
			onlyCenter: {
				type: [Boolean, String],
				default: false
			},
			// 背景颜色
			bgColor: {
				type: String,
				default: "rgb(246, 246, 246)"
			},
			// 背景透明度
			opacity: {
				type: [Number, String],
				default: 1
			},
			// 固定时默认占位
			isOccupy: {
				type: [Boolean, String],
				default: true
			},
			// 默认包含系统状态栏
			isStatusBar: {
				type: [Boolean, String],
				default: true
			},
			// 头部分割线 
			isSplitLine: {
				type: [Boolean, String],
				default: false
			},
			// 头部分割线颜色
			splitLineColor: {
				type: String,
				default: "#CCCCCC"
			},
			// 头部分割线高度
			splitLineHeight: {
				type: [Number, String],
				default: 1
			},
			// 字体颜色
			color: {
				type: String,
				default: ""
			},
			// 自定义样式
			styleSelf: {
				type: String,
				default: () => {
					return ""
				}
			},

			pageName: {
				type: [Boolean, String],
				default: null
			},

		},

		mounted() {
			this.getSystemInfo()
			this.getAdr()
		},
		created() {
			uni.$on('chageAdressData', (data) => {
				this.adressData = data;
				this.$emit('reloadAdr', this.adressData)
			});
		},

		watch: {
			pageName: {
				handler(newValue, oldValue) {
					this.pageName1 = newValue
					console.log(newValue)
					console.log('++++++++++++++++++')
				},
				deep: true,
				immediate: true
			}
		},
		computed: {
			// 中间部分样式
			isOnlyCenter() {
				return this.onlyCenter ? 'onlyCenter' : ''
			},
			// 头部样式
			getNavBarStyle() {
				let splitLine = this.isSplitLine ?
					`border-bottom: ${Number(this.splitLineHeight)}px solid ${this.splitLineColor};` : "";
				let top = this.isFixed ? `top:${Number(this.statusBarHeight)}px;` : "";
				let bgColor = Number(this.opacity) === 0 ? "" : `background-color:${this.bgColor};`;

				return `height:${Number(this.navbarHeight)}px;
				line-height:${Number(this.navbarHeight)}px;
				color:${this.color};
				${top}${splitLine}${this.styleSelf}`
			},
			iconWH() {
				return `width: ${this.navbarHeight}px;height: ${this.navbarHeight}px;`
			}
		},
		methods: {

			// 获取当前地址
			async getAdr() {
				let that = this
				let adr = await currentLocation()
				if (adr) {
					console.log(adr)
					console.log('当前位置的经度');
					console.log('当前位置的纬度');
					storage.set('currentAdr', adr)
					that.adressData = {
						province: adr.addressComponent.province,
						city: adr.addressComponent.city,
						//county: adr.addressComponent.county
					}
					that.$emit('reloadAdr', this.adressData)
				}
			},

			goSelectCity() {
				uni.navigateTo({
					url: '/pagesC/citySelect/cityList'
				})
			},

			// 跳转
			goPage(url) {
				
				let type = this.pageName1 == 'home' ? 0 : this.pageName1 == 'cutePetNotes' ? 1 : ''
				console.log(type + this.pageName1 )
				// return false
				uni.navigateTo({
					url: `/pagesA/public/homeSearch?type=${type}`
				})
			},

			// 扫一扫
			scanIt() {
				console.log('扫一扫')
				let uniPlatform = uni.getSystemInfoSync().uniPlatform
				uni.scanCode({
					success: (res) => {
						uni.navigateTo({
							url: `/pagesA/public/verificationDetails?id=${res.result}`
						})
					},
					fail: (err) => {
						console.error('扫码失败：' + err);
						uni.showToast({
							title: '扫码失败',
							icon: 'none'
						});
					}
				});
			},

			// 萌宠笔记tab切换
			notesChangeTab(e) {
				console.log(e.name)
				this.$emit('notesChangeTab', e.name)
			},
			// 返回
			back() {
				const pages = getCurrentPages();
				const currentPage = pages[pages.length - 1];
				const currentRoute = currentPage.route;
				uni.navigateBack({
					delta: 1,
					success: () => {
						if (currentRoute === 'pages/user/setting') {
							uni.$emit('updateEquipmentList')
						}

					}
				})

			},
			rightClick() {
				this.$emit("rightClick")
			},
			leftClick() {
				this.$emit("leftClick")
			},
			//获取状态栏高度
			getSystemInfo() {
				uni.getSystemInfo({
					success: res => {
						this.statusBarHeight = res.statusBarHeight
						let navbar = this.navbarHeight
						// #ifdef MP-WEIXIN 
						// 胶囊居中
						const custom = wx.getMenuButtonBoundingClientRect()
						navbar = custom.height + (custom.top - res.statusBarHeight) * 2
						// #endif
						if (!this.isStatusBar) this.statusBarHeight = 0
						this.topHeight = this.statusBarHeight + navbar
					}
				})
			}
		}
	}
</script>

<style scoped lang="scss">
	.home-top {
		// background-image: url('@/pagesA/static/img/home_background.png');
		// background-size: 100% 100%;
		// background-repeat: no-repeat;
		background-color: #FCF4A9;

	}

	.notes-wrapper {
		display: flex;
		align-items: center;
		background-color: #FCF4A9;

		.notes-right {
			margin-left: 30rpx;
			width: 36rpx;
			height: 36rpx;
		}
	}

	.ipt-search {
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;
		.search {
			color: #888;
			display: flex;
			align-items: center;
		}

		.search {
			margin-left: 24rpx;
			padding-left: 64rpx;
			box-sizing: border-box;
			font-size: 28rpx;
			width: 320rpx;
			height: 68rpx;
			background: #FFFFFF;
			border-radius: 20rpx;
			border: 2rpx solid #EEEEEE;

		}

		.search-img {
			position: absolute;
			width: 34rpx;
			height: 34rpx;
			left: 42rpx;
			top: 0px;
			bottom: 0px;
			margin: auto;
		}

		.scan-wrapper {
			position: absolute;
			width: 60rpx;
			height: 100%;
			left: 280rpx;
			top: 0px;
			bottom: 0px;
			margin: auto;
			display: flex;
			justify-content: center;
             align-items: center;
			.search-scal {
				
				width: 38rpx;
				height: 38rpx;
			}
		}
	}

	.flex {
		display: flex;
	}

	.status-bar {
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		opacity: 1
	}

	.nav-bar {
		font-size: 16px;
		width: 100vw;
		padding: 0px 28rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;

	}

	.point {
		display: flex;
		align-items: center;

		.point-img {
			width: 32rpx;
			height: 32rpx;
			margin-right: 8rpx;
		}

		.point-right {
			width: 28rpx;
			height: 28rpx;
		}

		.span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 90rpx;
			color: rgba(0, 0, 0, 1);
			font-size: 28rpx;
		}
	}

	.back {
		align-items: center;
		justify-content: center;
	}



	.top-header {

		top: 0;
		width: 100%;
	}

	.activeIsFixed {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 9999;

	}

	.activeBgColor {
		border: solid 1px transparent;
		border-radius: 25px;
		background-clip: content-box, border-box;
		background-origin: border-box;
	}

	.onlyCenter {
		margin: 0 10px;
	}
</style>