<template>
	<view class="evaluateCard">
		<view class="evaluate-item" v-for="(item, index) in evaluateList" :key="index">
			<view class="top">
				<view class="left">
					<image :src="item.userInfo.avatar ? item.userInfo.avatar:  '../../static/avatar@2x.png'" mode=""
						class="avator"></image>
					<view class="name">{{item.userInfo.nickName}}</view>
					<!-- <image src="../static/img/rz.png" mode="widthFix" class="certification"></image> -->
				</view>
				<view class="right">{{item.createTime}} {{item.city}} </view>
			</view>
			<view class="bottom">
				<view class="cnt">{{item.content}}</view>
				<view class="imgs">
					<image v-for="(imgItem,imgindex) in item.picture" :src="imgItem" mode="aspectFill" v-bind:key="imgindex"></image>
				</view>
			</view>
			<view class="caozuo">
				<view class="c-left" @click.stop="evaluateLike(item,index)">
					<image :src="item.hasLike ? '../../pagesA/static/img/icon_like2.png':'../../pagesA/static/img/icon_like1.png'" mode="">
					</image> {{item.likeTotal || 0}}
				</view>
				<view class="c-left" @click.stop="openEvaluate(item.id)">
					<image src='../../pagesA/static/img/icon_Comment@2x.png' mode=""></image> {{item.numberComments}}
				</view>
			</view>
		</view>


		<uv-popup ref="popup" :round='40' mode="bottom">
			<view class="pop-wrapper">
				<view class="pop-title">
					评价
					<view class="close" @click.stop="closeEvaluate">
						<image src="../../pagesA/static/img/icon_closure@2x.png" mode="widthFix"></image>
					</view>

				</view>
				<view class="question-wrapper">
					<mescroll-body class="mescrollBox"  @up="upCallback"  @init="mescrollInit" @down="downCallback">
						<view class="evaluate-item" style="background-color: #f9f9f9;" v-for="(item, index) in replyEvaluateList" :key="index">
							<view class="top">
								<view class="left">
									<image :src="item.avatar ? item.avatar:  '../../static/avatar@2x.png'" mode=""
										class="avator"></image>
									<view class="name">{{item.nickName}}</view>
								</view>
								<view class="right">{{item.createTime}}</view>
							</view>
							<view class="bottom">
								<view class="cnt">{{item.content}}</view>
							</view>
							<view class="caozuo">
								<view class="c-left" @click.stop="evaluateLike(item,index)">
									<image :src="item.hasLike ? '../../pagesA/static/img/icon_like2.png':'../../pagesA/static/img/icon_like1.png'" mode=""> {{item.likeTotal}}
								</view>
							</view>
						</view>
					</mescroll-body>
				</view>

				<view class="btn-wrpper">
					<input placeholder="说点什么吧～" border="surround" class="send-ipt" v-model="sendContent"></input>
					<image src="../../pagesA/static/img/icon_send@2x.png" mode="widthFix" class="send-img" @click="changeSend">
					</image>
				</view>
			</view>

		</uv-popup>

	</view>
</template>

<script>
	
	
	import {
		commentLike,
		commentLikeCancel,
		noteEvaluate,
		childrenEvaluatePage
	} from "@/config/vmeitime-http/cutePetNotes.js";
    import MescrollMixin from "@/uni_modules/mescroll-uni/components/mescroll-uni/mescroll-mixins.js"
	import {
		showToast,
		formatTime,
		currentLocation
	} from '@/utils/util.js'

	export default {
		mixins: [MescrollMixin],
		props: {
			evaluateList: {
				type: Array,
				default: []
			},
			isEdite: {
				type: Boolean,
				default: false
			},
			noteId: {
				type: String || Number,
				default: null
			}
		},
		components: {

		},
		data() {
			return {
				sendContent: '',
				parentId: '',
				// 回复评价列表
				replyEvaluateList: []
			}
		},
		created() {
			console.log('商品id' + this.noteId)
			console.log(this.evaluateList)
		},
		methods: {
			
			// 上拉加载的回调
			upCallback(page) {
				if(!this.parentId) {
					return false
				}
				let pageNum = page.num; // 页码, 默认从0开始
				let pageSize = page.size; // 页长, 默认每页10条
				let param = {
					pageNum: pageNum,
					pageSize: pageSize,
					isAsc: "desc",
					id: this.parentId
				};
				if (page.num == 1) this.replyEvaluateList = []; //如果是第一页需手动置空列表
				childrenEvaluatePage(param).then((res) => {
					if (res.records.length > 0) {
						console.log(res)
						let curPageData = res.records;
						let curPageLen = curPageData.length; // 接口返回的当前页数据长度
						let totalPage = res.total; // 接口返回的总页数
						curPageData.map((item)=> {
							item.avator = item.userInfo.avator
							item.nickName = item.userInfo.nickName,
							item.createTime = formatTime(item.createTime, 'date')
						})
			
						this.replyEvaluateList = this.replyEvaluateList.concat(curPageData); //追加新数据
						//方法一(推荐): 后台接口有返回列表的总页数 totalPage
						this.mescroll.endByPage(curPageLen, totalPage);
					} else {
						this.mescroll.endErr();
					}
				});
			},
			

			// 发布回复
			async changeSend() {
				if (!this.sendContent) {
					showToast('说点什么吧！')
					return false
				}

				let adr = await currentLocation()
				let addressData = {
					province: adr.addressComponent.province,
					city: adr.addressComponent.city,
					county: adr.addressComponent.county,
					lon: adr.location.lon,
					lat: adr.location.lat
				}

				noteEvaluate({
					noteId: this.noteId,
					content: this.sendContent,
					parentId: this.parentId,
					...addressData
				}).then((res) => {
					this.sendContent = ''
					this.mescroll.resetUpScroll();	
				})

			},
			// 点赞
			evaluateLike(item, index) {
				if (this.noteId) {
					let Fn = item.hasLike ? commentLikeCancel : commentLike
					Fn({
						id: item.id
					}).then((res) => {
						item.hasLike = !item.hasLike
						item.hasLike ? item.likeTotal++ : item.likeTotal--
					})
				}
			},

			openEvaluate(id) {
				this.parentId = id
				this.$refs.popup.open();
			},
			closeEvaluate() {
				this.$refs.popup.close();
			},
		}
	}
</script>

<style scoped lang="scss">
	.question-wrapper {
		margin-top: -28rpx;
		display: flex;
		flex-direction: column;
		background-color: #F9F9F9;
		padding: 0rpx 28rpx 188rpx;
		box-sizing: border-box;
	}

	.btn-wrpper {
		width: 100%;
		height: 120rpx;
		background: #FFFFFF;
		border-radius: 0rpx 0rpx 0rpx 0rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0px;

		.send-ipt {
			width: 80% !important;
			height: 92rpx;
			background: #F5F5F5;
			border-radius: 20rpx 20rpx 20rpx 20rpx;
			background-color: #F5F5F5;
			font-size: 28rpx;
			padding-left: 28rpx;
			box-sizing: border-box;
		}

		.send-img {
			width: 49rpx;
			height: 41rpx;
			margin-left: 40rpx;
		}
	}

	.pop-wrapper {
		background-color: #F9F9F9;
		max-height: 900rpx;
		border-top-left-radius: 40rpx;
		border-top-right-radius: 40rpx;
		overflow-y: scroll;
		padding-top: 120rpx;
		box-sizing: border-box;
		padding-bottom: 100rpx;

		.pop-title {
			border-top-left-radius: 40rpx;
			border-top-right-radius: 40rpx;
			width: 100%;
			height: 116rpx;
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
			color: #333333;
			font-size: 32rpx;
			position: relative;
			background-color: #F9F9F9;
			position: fixed;
			top: 0px;
			z-index: 99;

			image {
				width: 48rpx;
				height: 48rpx;
			}

			.close {
				position: absolute;
				right: 28rpx;
				top: 0rpx;
				bottom: 0px;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.ask-question {
		width: 280rpx;
		height: 88rpx;
		background: linear-gradient(180deg, #3FA3FF 0%, #3F69FF 100%);
		border-radius: 76rpx 76rpx 76rpx 76rpx;
		position: fixed;
		bottom: 40rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 50%;
		margin-left: -140rpx;
		color: #fff;

		image {
			width: 40rpx;
			height: 40rpx;
			margin-right: 8rpx;
			border-radius: 10rpx;
		}
	}



	.evaluateCard {
		background-color: #fff;
		padding: 28rpx 28rpx 0px;
		box-sizing: border-box;

		.caozuo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 12rpx 0px 28rpx;

			.c-left {
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 28rpx;
				padding-left: 74rpx;

				image {
					width: 48rpx;
					height: 48rpx;
					margin-right: 8;
				}
			}

		}

		.evaluate-item {
			border-bottom: 1rpx solid #EEEEEE;
			padding-bottom: 12rpx;
			box-sizing: border-box;
			padding-top: 28rpx;

			&:last-child {
				border-bottom: none !important;
			}

			.bottom {
				padding-left: 80rpx;
				box-sizing: border-box;
			}

			.top {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.left {
					display: flex;
					align-items: center;

					.avator {
						width: 76rpx;
						height: 76rpx;
						border-radius: 50%;
					}

					.name {
						color: #666666;
						font-size: 28rpx;
						margin: 0px 24rpx 0px 16rpx;
					}

					.certification {
						width: 127rpx;
						height: 40rpx;
					}
				}

				.right {
					font-size: 24rpx;
					color: #999999;

					span {
						color: #1C92FF;
						margin-left: 8rpx;
					}
				}
			}

			.rate-wrap {
				margin: 18rpx 0px 20rpx;
				display: flex;
				align-items: center;
				color: #999999;
				font-size: 24rpx;

				.rate {
					color: #FD611E;
				}
			}

			.cnt {
				font-size: 28rpx;
				color: #333333;
				margin-bottom: 16rpx;
			}

			.imgs {
				display: flex;
				flex-wrap: wrap;

				image {
					margin-right: 2%;
					width: 32%;
					height: 188rpx;
					border-radius: 16rpx;
					margin-bottom: 16rpx;

					&:nth-child(3n) {
						margin-right: 0px !important;
					}
				}
			}
		}
	}
</style>